[2015-08-27 19:39] Dude-X commented on #906
Here's a simple test case, using the latest stable release of py.test (2.7.2)
Directory structure:
[code]
Content of conftest.py
[code]
Command line at /Users/dude-x/development/test-case
[code]
Output:
[code]

The thing to notice is that the rootdir is wrong, it should be /test-case, and not my parent.

Here's one where it fails to parse:
[code]

[2015-08-27 22:05] nicoddemus commented on #906
Hi @Dude-X, thanks for posting the example. :smile:

I think I know what's going on. During initialization, pytest tries to parse the arguments from the command-line. At this stage only builtin and plugin options are known, so the unknown args are kept aside for later inspection. After this, it tries to determine the `rootdir` by looking at all unknown arguments which are clearly not options (don'

[2015-08-27 22:09] nicoddemus commented on #906
I went to update `pytest_addoption` and noticed that it already mentions something to this effect:

[code]

`<pluginorder>` points to the [aforementioned docs](http://pytest.org/latest/plugins.html?highlight=initialization#plugin-discovery-order-at-tool-startup).

I will add a warning to not use that from `conftest` files.

[2015-08-27 22:17] flub commented on #906
On 27 Aug 2015 23:09, "Bruno Oliveira" <notifications@github.com> wrote:

something to this effect:

called once at the beginning of a test run.

That's a bit general, no? Using it in the top-level contest.py is generally
fine IIRC.

[2015-08-27 22:19] nicoddemus commented on #906
I had trouble with this until recently at work, because we had a top-level `conftest.py` which defined a few options, but if a user was in a different directory other than the root directory the options would not be available from the command-line (this with `pytest-2.7.0`, not sure if this has changed since then).

[2015-08-28 00:51] nicoddemus commented on #668
Hi @tgoodlet,

Trying your example with `2.7.2` works as expected now:

[code]

So I'm closing this. Thanks! :smile:

[2015-08-28 00:51] #668 closed

[2015-08-28 04:16] #964 closed

[2015-08-28 05:17] The-Compiler opened #979 "Regression: duplicate 'fixt' when overriding parametrized fixture with parametrize"
This test:

[code]

works with 2.7.2 but fails since #926 / 41cef6f5f2a20b918bb9b9204ca6c91b47442d15:

[code]

It only seems to fail if:

* The fixture is parametrized
* It's overridden by a parametrized argument
* There is at least one other parametrized argument.

I agree overriding a fixture this way is a bit weird, but I think it should still work.

/cc @untitaker @bubenkoff

by the way - than

[2015-08-28 08:04] #934 closed

[2015-08-28 08:20] bubenkoff commented on #979
can you please check if it matters that the fixture is defined in same module?

[2015-08-28 08:30] The-Compiler commented on #979
If I have a `test_foo.py` with:

[code]

and a `test_bar.py` with:

[code]

that seems to work:

[code]

When I have the fixture in `conftest.py`, it fails. So it seems to fail whenever the `fixt` fixture is available in `test_foo.py`.

[2015-08-28 11:27] bubenkoff commented on #979
does the test folder have __init__.py?

[2015-08-28 11:37] The-Compiler commented on #979
no:

[code]

[2015-08-28 11:43] bubenkoff commented on #979
try to add __init__.py, sorry being boring :)

[2015-08-28 11:51] The-Compiler commented on #979
Adding an `__init__.py` doesn't change anything.

--
http://www.the-compiler.org | me@the-compiler.org (Mail/XMPP)
   GPG: 916E B0C8 FD55 A072 | http://the-compiler.org/pubkey.asc
         I love long mails! | http://email.is-not-s.ms/

[2015-08-28 12:01] bubenkoff commented on #979
you're right - checked the https://github.com/pytest-dev/pytest/blob/73fdda0e4589b8c67d3b966aba8405e9acd8bdba/testing/python/fixture.py#L227 and lower, there's no such test
would you mind to add such?
and probably work on a fix?

[2015-08-28 12:09] The-Compiler commented on #979
I can add a test, but that probably won't help much without a fix seeing that I already have a minimal testcase above.

As for the fix, I don't really understand the fixture code and I'm quite busy with my own project - so I'd really appreciate if @untitaker or someone else could take a look!

[2015-08-28 12:14] bubenkoff commented on #979
well, making test fail is a big first step anyway!

[2015-08-28 13:01] nicoddemus commented on #979
@The-Compiler I think @bubenkoff is asking for you to write a test for it and mark it as `xfail`, preferably adding this issue number as `reason`.

But of course, if you don't have the time that's understandable! :smile:

[2015-08-28 14:54] bubenkoff commented on #979
thanks @nicoddemus :)

[2015-08-28 15:18] bubenkoff opened #980 "locals' values are still truncated even if -vv is in adopts in pytest.ini?"
Not sure how it's supposed to work exactly, but at the moment it looks like there's no way to see full values of locals even though -vvl argument is passed.
Am i missing something?

[2015-08-28 15:52] pjotal commented on #965
sure, i thought we're supposed to open them here since pytest-timeout was recently moved to pytest-dev as per this: https://bitbucket.org/pytest-dev/pytest-timeout/issues/9/move-under-pytest-dev-team
but alright. i created: https://bitbucket.org/pytest-dev/pytest-timeout/issues/11/improvement-make-pytest-timeout-failure
let me know if the ticket is really supposed to be only there. if so, i'll pas

[2015-08-28 16:01] nicoddemus commented on #965
Thanks @pjotal!

The repository moved from @flub's account to [pytest-dev@bitbucket](https://bitbucket.org/pytest-dev), so I'm sure that's the appropriate place. :smile:

I'm closing this myself, thanks again.

(Btw, I noticed you posted the issue as anonymous).

[2015-08-28 16:01] #965 closed

[2015-08-28 18:25] untitaker commented on #972
Not sure on which commit you would set such a tag until 2.8.0 is out.

On 27 August 2015 20:16:33 CEST, Ronny Pfannschmidt <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-08-28 18:25] untitaker commented on #979
I currently don't have the time for this, but I suspect that in my commit, the condition should've been refined instead of removed (as discussed with @RonnyPfannschmidt in the PR).

On 28 August 2015 15:01:04 CEST, Bruno Oliveira <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-08-28 18:44] untitaker commented on #979
This is the one: https://github.com/pytest-dev/pytest/pull/926

[2015-08-28 19:09] flub commented on #965
Yep, that's the right place to report it. Thanks

[2015-08-29 03:31] codewarrior0 opened #981 "`monkeypatch` fixture shared between testfunc and fixture func"
Occurs with py.test 2.7.2 on multiple platforms and Python versions.

I have a fixture function that uses monkeypatch to modify sys.path, and a test function that also uses monkeypatch to modify the cwd and then restore it to its old value. When `monkeypatch.undo()` is called in the test function, it undoes the changes done in the fixture function:

[code]

Is there a way to get a different `monke

[2015-08-29 03:35] codewarrior0 commented on #981
The problem persists on `master` as of commit 553aef57aa6a90b9282355179502ad209184f269

[2015-08-29 03:38] codewarrior0 commented on #981
As a workaround, I think I will create a new fixture called `builder_monkeypatch` that returns a `_pytest.monkeypatch.monkeypatch` object and use that fixture only for `builder`. I'm a bit leery about importing anything from `_pytest`, though.

[2015-08-29 17:49] The-Compiler commented on #981
The current behaviour is definitely unfortunate in this case, but intended - fixtures have a given scope (`function`/`class`/`module` or `session`), and their return value is cached in the given scope. The default (and smallest) scope is `function`, i.e. a fixture will be called at most once for each test.

I'm not sure what a good solution would be for this kind of thing - maybe having a new `uni

[2015-08-29 20:04] flub commented on #981
While a unique scope might be a nice idea, I do not think calling monkeypatch.undo() manually is something that should be done. The whole purpose of the monkeypatch fixture is so that undo gets called automatically.  It seems what this usecase wants is a context manager for the cwd (which pathlib in py3 might provide?).

I'd rather close this issue as I don't think its a use case for a unique scop

[2015-08-29 20:04] #981 closed

[2015-08-29 22:24] RonnyPfannschmidt commented on #980
-l perhaps?

[2015-08-30 02:02] codewarrior0 commented on #981
I found it surprising that calling `undo()` in one function undoes monkeypatches done in another function. I also find it surprising that I shouldn't call `undo()` even though [it is a public API](https://pytest.org/latest/monkeypatch.html#_pytest.monkeypatch.monkeypatch.undo). On the other hand, `_pytest.monkeypatch.monkeypatch` is not a public API, and I'm apparently forced to use that if I  can

[2015-08-30 02:44] #973 closed

[2015-08-30 04:53] RonnyPfannschmidt commented on #981
@codewarior0 we once did brainstorming on more granular monkeypatch, it quickly turned into something incomprehensible due to more and more edge cases

We want to retry in future, the main problem is finding a way to support their surroundings

[2015-08-30 05:08] codewarrior0 commented on #981
I wonder if the granularity could be done by making `monkeypatch` itself into a context manager? A la:

[code]

[2015-08-30 05:15] RonnyPfannschmidt commented on #981
Yes, the details are at stuff like yield fixtures

I think we need a monkey patch manager fixture and a sub request scope,

[2015-08-30 10:29] bubenkoff commented on #980
sorry forgot to add l to what i pass already - just did
still the question remains

[2015-08-31 12:42] The-Compiler commented on #979
I took a look at what's going on and submitted a fix in #983 :smile:

[2015-08-31 13:21] #979 closed

[2015-08-31 14:24] RonnyPfannschmidt commented on #980
Then its a py.code issue and we should fix it after the move

[2015-08-31 14:40] bubenkoff commented on #980
thanks

[2015-08-31 19:49] RonnyPfannschmidt opened #984 "use more unittesting techniques for py.tests own testsuite"
we use acceptance tests very dominantly, and the larger the feature set gets the more it's apparent,
that bits are harder than necessary to test in isolation

i stranded on parts of this, when i tried to switch a part of the cache testsuite to unit-testing and ran into the need for lots of relatively senseless mocking that would directly de-value the tests compared to a acceptance test

[2015-08-31 20:05] nicoddemus commented on #984
I agree with that sentiment.

Wouldn't be better to send an email to the mailing list instead of creating an issue though? I mean, I don't see any PR being opened that would effectively close this issue and mark it as "done". IMHO, it feels more like a guideline for core developers to agree on and keep in mind for future tests.

[2015-08-31 21:06] jaraco opened #985 "pdb prompt unusable if doctests ran first (macOS and Python 3)"
Consider this simple test:

[code]

Create a virtualenv on Python 3.4.3, install pytest 2.7.2 and py 1.4.30 and run py.test:

[code]

Everything's fine - the pdb prompt is displayed and works as expected. However, invoke pytest with `--doctest-modules`, and the story is different.

[code]

Although the code stops in the right place, the pdb prompt does not appear. Keystrokes appear to be ignored.

[2015-08-31 21:29] RonnyPfannschmidt commented on #985
for testing purposes i'd suggest to write s small script using python pexpect that then can be used to test against different versions an potentially for bisecting the responsible change

do you have a rough set of known good/bad releases

[2015-08-31 21:34] jaraco commented on #985
I rolled back to pytest 2.6.x and 2.7.0, but the issue remained. I'll try some older versions. I bet there's something else in my environment causing the issue but I can't imagine what. I'll try even older versions. Good idea.

[2015-08-31 23:51] jaraco commented on #985
I can reproduce the issue back to pytest 2.4 or py 1.4.24 on Python 2.7 or Python 3, but only on OS X. I've been unable to reproduce the issue on Ubuntu.

[2015-09-01 00:11] nicoddemus commented on #985
FWIW I can't reproduce the problem on Windows either. :confused:

[2015-09-01 05:56] #970 closed

[2015-09-01 10:31] #957 closed

[2015-09-05 18:11] alex opened #988 "With py.test raises on python2.6, weird exception instances"
I don't know how to describe this, so here's a minimal test case:

[code]

and this fails with:

[code]

if you just use a normal `try` / `except` you get an exception with a correct `errno`

[2015-09-05 18:14] alex commented on #988
`--assert=plain` does not fix the bug

[2015-09-05 18:16] alex commented on #988
here is an expanded test which shows that the try/except works fine.

[code]

[2015-09-05 18:36] RonnyPfannschmidt commented on #988
how is the behavior with `cm = pytest.raises(socket.error, s.connect, ("127.0.0.1", 1))`

[2015-09-05 18:39] alex commented on #988
@RonnyPfannschmidt passes:

[code]

[2015-09-05 19:26] nicoddemus commented on #988
Hmm this might be related or similar to #767.

I can reproduce this problem on master.

[2015-09-05 20:09] RonnyPfannschmidt commented on #988
i suspect the ExceptionInfo initialization hack is bogous and it shows on python2.6

its reasonably easy to fix after moving py.code into py.test (however moving py.code into py.test is a major undertaking)

[2015-09-05 20:11] RonnyPfannschmidt commented on #988
as a workaround we could perhaps use a new DeferedExceptionInfo class which shares the api with exceptioninfo, but is initialized without a exception, and adds the exception details later

[2015-09-06 06:54] thmo commented on #944
Please don't bundle pluggy. Fedora packaging guidelines in general forbid bundling (there are reasons for doing so). Exceptions are possible in principle, but need to be justified, and the process puts extra burden upon packagers,

[2015-09-06 11:18] RonnyPfannschmidt commented on #944
distributions have a history of breaking pip all the time by de-bundling

the bundling is done specifically to ensure function in face of different installed versions of that library, since python is limited

@thmo why is ensure function in face of different unsupported versions of that library not a sufficient reason?

also history shows that distributions pretty much fail to propperly do the deb

[2015-09-07 19:26] RobinLRandall opened #989 "Add color in results of documentation"
In results, add red for Error conditions to match actual results.

[2015-09-07 19:30] RonnyPfannschmidt commented on #989
duplicate of #62

[2015-09-07 19:30] #989 closed

[2015-09-08 15:06] pmdarrow commented on #608
I'm able to reproduce this on 3.4.

[2015-09-08 16:52] RonnyPfannschmidt commented on #608
@gutworth uppon taking a  close this seems like the assertion handler will assume python 2 behavior wrt locals/globals for generator expressions

[2015-09-09 03:18] gutworth commented on #608
The problem is assertion reinterpretation, which is why moving the problematic function into the test file "fixes" it.

[2015-09-09 05:09] RonnyPfannschmidt commented on #608
@hpk42 would it be sensible to just completely remove the non ast reinterpretation?

[2015-09-10 11:20] ionelmc opened #991 "Document py.convert_unittest/pycmd in the unittest section"
This tool should be in core no?

Is there any reason it shouldn't be provided by pytest?

[2015-09-10 11:26] The-Compiler commented on #991
I'm guessing mainly for historical reasons - :+1: from me, especially because it's nearly impossible to find otherwise :wink:

Scripts:

* [convert_unittest.py](https://bitbucket.org/hpk42/pycmd/src/bf134aede218847720dd78facde72bbd55e48720/pycmd/pyconvert_unittest.py?at=default&fileviewer=file-view-default)
* [test_convert_unittest.py](https://bitbucket.org/hpk42/pycmd/src/bf134aede218847720dd78fa

[2015-09-10 12:52] RonnyPfannschmidt commented on #991
its a completely separate command, and personally i'd like to keep it outside of pytest

[2015-09-10 13:43] nicoddemus commented on #991
I'm leaning with @RonnyPfannschmidt on this one, seems to me more like a separate tool than being bundled and maintained inside pytest.

But I do agree that it is hard to find. How about we make it a separate project (pytest-dev/unittest2pytest), and explicitly mention it in the official docs?

[2015-09-10 13:47] ionelmc commented on #991
What's the worst that could happen if pytest provides this bin? Seems harmless to me.

The benefit of it being in the core is clear is it not? Users would have a straightforward way to convert those tests. Maybe one day pytest doesn't need to support TestCase tests anymore - you never know ;)

[2015-09-10 13:55] RonnyPfannschmidt commented on #991
its a maintenance burden and its easier to have it in a separate release cycle
i'd rather put it together into a pytest plugin for unittest/nose compat than the other way around

[2015-09-10 13:57] nicoddemus commented on #991
I'm thinking it is a matter of maintainability and release cycles. For example, if it is a separate tool it can support different pytest versions (for example, being able to generate for different pytest versions) and test against each version separately. Bug fixes could be released in a different timeframe as well.

I agree, but you get the same benefits if we move it to a separate tool in the py

[2015-09-10 13:57] nicoddemus commented on #991
@RonnyPfannschmidt beat me to it. :smile:

[2015-09-10 14:07] ionelmc commented on #991
The scenario I had in mind was something like:

* User installs pytest
* Types `py<TAB>` - "oh, look, there's a thing to covert those goddamn unittests, how did I not see this in the docs?!"

My main concern is that this tool won't have enough visibility if it's outside of core, even if documented. I mean, it's outside of core right now and no one knows about it.

[2015-09-10 14:20] RonnyPfannschmidt commented on #991
we should introdice a pytest extra called `recommended` and instruct people to install `pytest[recommended]` and include things like xdist, cov (ipython does it that way as well)

[2015-09-10 14:30] nicoddemus commented on #991
I agree that right now it is relatively unknown, but I think mentioning it in http://pytest.org/latest/unittest.html would be enough to raise awareness about it, don't you think?

[2015-09-10 14:31] RonnyPfannschmidt commented on #991
never underestimate the stumbled uppon factor

[2015-09-10 14:32] ionelmc commented on #991
Ok, I admit defeat :)

[2015-09-10 15:21] nicoddemus commented on #991
Anyone interested in adopting the script and create a proper pytest-dev project for it? :smile:

[2015-09-10 15:24] ionelmc commented on #991
I can do it if no one wants it. Shall we do some renaming? `py.convert-unittest` or `py.convertunittest`? How about `pytest-convert`?

Distribution/project name `pytest-convert-unittest`?

[2015-09-10 15:43] nicoddemus commented on #991
Nice @ionelmc! :sunglasses:

I think we should reserve `pytest-` prefix for actual pytest plugins (I was asked by @hpk42 to rename `pytest-plugs` to `plugincompat` for this reason).

I personally liked `convertunittest` for project name and `py.convertunittest` for the command (although one might argue that having the same name for both would be better to avoid confusion, in which case I would vot

[2015-09-10 16:34] soltanmm opened #992 "Support load_tests protocol"
The [load_tests protocol](https://docs.python.org/2/library/unittest.html#load-tests-protocol) is in the standard library but does not appear to be supported out of the box in `py.test`.

cc @nathanielmanistaatgoogle

[2015-09-10 16:52] ionelmc commented on #991
How about `unittest-to-pytest`? @RonnyPfannschmidt opinion?

[2015-09-10 18:05] nicoddemus commented on #991
@ionelmc  :+1: to `unittest-to-pytest`

[2015-09-10 19:19] nicoddemus opened #993 "ImportError raised by plugins make pytest return EXIT_TESTSFAILED"
Currently there's some inconsistency on which exit code is returned by pytest when import errors happen during startup.

**example 1**

[code]

Running `py.test` in this directory produces error code `4 - EXIT_USAGEERROR`.

**example 2**

[code]

Here `py.test` produces error code `1 - EXIT_TESTSFAILED`.

Shouldn't they all return the same error code? Furthermore, shouldn't the error code be `3 -

[2015-09-10 19:21] nicoddemus commented on #993
cc @edisongustavo @campos-ddc

[2015-09-10 19:46] tomspur commented on #944
Because security is valued more than making sure that anything "functions in face of different unsupported versions" at least in the case of [Fedora](https://fedoraproject.org/wiki/Packaging:No_Bundled_Libraries#Why_no_Bundled_Libraries). The latter is a manual step, e.g. in the `%check` phase in the case of rpms. As soon as a security flaw is found there is only one place to change and make sure

[2015-09-10 20:25] RonnyPfannschmidt commented on #944
We picked a RM based scheme, I expect distros to horribly break things lust like they do on regular basis for pip and requests

[2015-09-10 20:31] RonnyPfannschmidt commented on #991
:+1:

[2015-09-10 20:32] RonnyPfannschmidt commented on #992
And it will stay that way unless someone provides a very compelling reason to support those pretty limiting APIs directly

[2015-09-10 20:37] nathanielmanistaatgoogle commented on #992
Please elaborate? What's limiting about them, and why wouldn't pytest want to be compatible with all aspects of the standard library's unittest module?

[2015-09-10 21:01] tomspur commented on #944
I see. It seems at least pip is not yet unbundled because of [various reasons](https://bugzilla.redhat.com/show_bug.cgi?id=1096912).

Sounds like you anticipate certain breakages, maybe they can be an `TESTENV=unbundled` (At least it is then ran by the packager on the import into the distro)?

[2015-09-11 01:27] nathanielmanistaatgoogle commented on #992
Also @RonnyPfannschmidt your expression "support those [...] APIs directly" suggests that there might be indirect support - is there a workaround we should be using?

[2015-09-11 02:12] nicoddemus commented on #992
Hi @soltanmm, it might be possible to support `load_tests` protocol in `pytest`, although there might be added complexity and backward compatibility concerns.

Currently pytest will collect test methods from classes which subclass `unittest.TestCase` only, but if `pytest` starts calling any `load_tests` functions it finds in modules might break things for existing test suites which don't use `unit

[2015-09-11 03:01] nicoddemus commented on #948
@mrniranjan any news?

[2015-09-11 05:51] RonnyPfannschmidt commented on #944
thats up for later, there are some ideas to solve bundle/debundle properly in pypa, but that needs changes of setuptools and pip and distro policies for debundled multi-versioned libraries

basically just debundleing things without having a multiversion import system in place is just naive tinkering on the side of the distros - its impossible not to expect strange failures from such behavior - bec

[2015-09-11 05:58] RonnyPfannschmidt commented on #992
the collection and runner/execution concept is very different from pytest - bascially i never want to support that as it would cripple the ways in which py.test can be extended and evolved

i wouldn't mind if someone *else* made a *external* *non-core* plugin - but i expect it to be a chain of compat details - and i certainly don't want to support it

[2015-09-11 07:56] ctheune opened #994 "Reversing +/- in diffs?"
Hi,

is it possible to reverse the +/- meaning of diffs in the report?

I notice that I usually write my assumptions in this style:

[code]

This causes the following output if something doesn't fit:

[code]

Interestingly the '-' is the stuff that was actually encountered in the output and the '+' is the stuff that is missing from the actual output.

Looking at the documentation examples I see th

[2015-09-11 11:30] RonnyPfannschmidt commented on #994
switch the order operands in the == expression?

[2015-09-11 12:11] ctheune commented on #994
Uhm. Are you asking me to switch my statements around? That would result in exactly those "yoda" expressions that I wanted to avoid.

I was also asking whether the current order was intentional or accidental. :)

[2015-09-11 12:29] untitaker commented on #994
There is no way to reverse the diff without reversing the operands. The current order kind of makes sense if you imagine that the diff for `a == b` gets produced as `diff a b`, i.e. no change takes place. I kind of understand where you're coming from but I don't see it as big as a deal.

[2015-09-11 13:31] ctheune commented on #994
It's not a big deal in itself. It's more of a "thousand paper cuts" thing. I wondered for a long time why I used to write Yoda conditions in the old unittest structures and noticed it was because it made the comparisons more readable. But then again Yoda conditions are harder to read and write, as you pretty much _never_ get to fit the first item on a single line and then have to put everything in

[2015-09-11 14:02] The-Compiler commented on #994
I think "how do I get from the left to the right" also is a logical way to think about the diff, but I also see how "how do I get from what I have to what I expected" with the normal `assert actual == expected` being easier to understand...

Either way I think it'd be a very bad idea to change this now, or even to make it configurable - if you have to check the pytest version/config each time you

[2015-09-11 17:06] kevincox commented on #950
Note, this also happens with multiple doctest files. Once another test starts running in between they start failing.

[code]

[2015-09-11 20:41] RonnyPfannschmidt commented on #994
Sounds like a job for a plugin or a pytest INI option

[2015-09-11 20:59] nicoddemus commented on #994
I would rather a plugin then; I agree with @The-Compiler that an option would complicate matters

[2015-09-12 01:14] scottpurdy commented on #478
The relevant code is [here](https://github.com/pytest-dev/pytest/blob/e622975ffd918305fd0038cb1f18067b19dac265/_pytest/main.py#L652-L675).

Instead of iteratively importing from the top level package, could it try importing from the full path first and, if it fails, iteratively pop the rightmost element off until it succeeds in importing and then do the file lookup from there?

I'm happy to implem

[2015-09-12 05:06] RonnyPfannschmidt commented on #478
Since this is a setuptools mess, how about supporting `module.path:object.path` just like entry points of setuptools?

[2015-09-12 11:25] blueyed opened #995 "[master] AttributeError in `filter_traceback`: 'str' object has no attribute 'relto'"
I am seeing the following error suddenly:

    INTERNALERROR>   File "…/pytest/_pytest/python.py", line 36, in filter_traceback
    INTERNALERROR>     return entry.path != cutdir1 and not entry.path.relto(cutdir2)
    INTERNALERROR> AttributeError: 'str' object has no attribute 'relto'

Normally `entry.path` is of type `<class 'py._path.local.LocalPath'>`, but in this case it is not.

         38

[2015-09-12 11:36] blueyed commented on #995
With pytest 2.7.2 (instead of master), I see this error during setup of tests,
which seems to be what pytest-master fails to handle:

    Traceback (most recent call last):
      File "…/pyenv/project/lib/python3.4/site-packages/pytest_django/plugin.py", line 284, in _django_db_marker
        request.getfuncargvalue('db')
      File "…/pyenv/project/lib/python3.4/site-packages/_pytest/python.py",

[2015-09-12 14:19] #960 closed

[2015-09-12 14:28] nicoddemus commented on #995
Hi @blueyed,

Could you try the patch at https://bitbucket.org/pytest-dev/py/pull-requests/31? Seems related.

[2015-09-13 02:33] alvinchow86 commented on #877
i'm seeing this issue too. FYI this is a duplicate of https://github.com/pytest-dev/pytest/issues/678

[2015-09-13 14:53] alex commented on #744
Now that Python 3.5 is out for real, what do you think about issuing a release with this fix?

[2015-09-13 15:48] llllllllll opened #996 "assertion rewrite broken in 3.5"
Tried using the pytest runner with 3.5 and it looks like the `ast.Call` constructor changed
[code]

[2015-09-13 15:57] The-Compiler commented on #996
This was already fixed in #801 - there hopefully will be a 2.8 release with that in soon. As a workaround, you can use `--assert=plain`.

[2015-09-13 15:57] #996 closed

[2015-09-13 15:59] llllllllll commented on #996
sorry about this.

[2015-09-13 18:14] RonnyPfannschmidt commented on #941
closing due to lack of feedback

[2015-09-13 18:14] #941 closed

[2015-09-13 18:15] RonnyPfannschmidt commented on #940
closing due to lack of feedback

[2015-09-13 18:15] #940 closed

[2015-09-13 18:17] #919 closed

[2015-09-13 18:18] RonnyPfannschmidt commented on #911
@sils1297 this is a artifact of the new style namespaces

[2015-09-13 18:24] RonnyPfannschmidt commented on #896
@philpep does this also happen when using indirect=True?

[2015-09-13 18:42] #703 closed

[2015-09-13 18:43] #689 closed

[2015-09-13 18:48] #116 closed

[2015-09-13 18:53] RonnyPfannschmidt commented on #658
the original patch is out of scope, closing this for now

[2015-09-13 18:53] #658 closed

[2015-09-13 19:07] RonnyPfannschmidt commented on #580
@flub
its sensible to use `BaseException` to help people

we don't need to protect about the diaper antipattern

[2015-09-13 19:11] RonnyPfannschmidt commented on #551
@dustinfarris can we get some more information on your env?

[2015-09-13 19:22] ctolsen commented on #744
:+1: for a release with this fix

[2015-09-13 19:38] RonnyPfannschmidt commented on #744
@alex we are on it, but since we are currently entirely on volunteer time it wont happen overnight

[2015-09-14 07:13] anthrotype commented on #744
:+1 looking forward to Python 3.5.0 support on Travis. Thanks for working on this!

[2015-09-14 12:09] brunsgaard commented on #744
+1, We need a fix for this soon

[2015-09-14 13:32] BanzaiMan commented on #744
FYI, you can use `python: '3.5'` (or `'3.5.0'`) to test against 3.5.0 now. https://twitter.com/travisci/status/643405608620814336

[2015-09-14 13:37] nicoddemus commented on #744
@BanzaiMan thanks: #998

[2015-09-14 14:20] RonnyPfannschmidt opened #1000 "use travis and appvoyer caching feature to keep pip cache around"
this helps speed up the builds

[2015-09-14 14:26] nicoddemus commented on #1000
I'm not sure this would improve build speeds much, as all pytest dependencies are small `wheel` packages...

On the other hand, I think we could easily drop `x64` builds, because pytest is pure python and I would be really surprised if a regression difference happened in 64 versus 32-bits build.

[2015-09-14 14:30] nicoddemus commented on #1000
Hmm now that I think about it, I don't think `tox` is using the `64` bits interpreters to run the tests. The `64` bits interpreters are being used only to install tox itself, which is not very useful to pytest.

@bubenkoff, if I remember correctly you added the appveyor scripts, to you know if the `64` bits interpreters are being used?

[2015-09-14 14:33] bubenkoff commented on #1000
It runs for both 32 and 64
and for 64 it sets env variables:

[code]

so it should pick up the correct ones

[2015-09-14 14:40] nicoddemus commented on #1000
I mean if `tox` itself is using the `64` bits interpreters. For example, take this output from a `x64` build:

[code]

I might be wrong, but I think tox is using the python installed at `C:\Python33` instead of `C:\Python33-x64`. This is what `tox`'s documentation say about it:

[2015-09-14 14:45] nicoddemus commented on #1000
Hmm looking at the code, I think you're right, it will find the first `python` available in the `PATH`:

[code]

Sorry for the noise! :sweat_smile:

[2015-09-14 16:37] #944 closed

[2015-09-14 16:39] RonnyPfannschmidt commented on #1000
for my testing of even a small project using tox + pytest + things, keeping the caches around resulted in a nie speedup,

it might be less noticable on py.test tho

[2015-09-14 16:52] scottpurdy commented on #478
That seems fine to me. Does it work for packages though? I don't have a strong opinion on the discovery mechanism as long as it supports namespace packages.

[2015-09-14 17:13] RonnyPfannschmidt commented on #478
not sure off-hand, i'll probably need a while before i can touch it due to volunteering time constraints

[2015-09-14 17:58] RonnyPfannschmidt opened #1002 "remove initial conftests feature"
addopts can be put into local plugin and initial conftest loading is getting more and more complex just as the bugs around it get more complex

[2015-09-15 02:18] mrniranjan commented on #948
I apologise for the delay,

I tested again in both rhel7.2(beta) and Fedora-21 to see if i can reproduce again,(without virtualenv, as my original reported issue was without virtualenv)
On RHEL7.2
pytest-2.6.4-1.el7ost.noarch

    platform linux2 -- Python 2.7.5 -- py-1.4.27 -- pytest-2.6.4
    collected 3 items

    test1.py callattr_ahead_of_alltests called
    callme called!
    callme other ca

[2015-09-15 04:18] #948 closed

[2015-09-15 05:45] The-Compiler opened #1004 "Test listed twice when there's an error during teardown"
With this code:

[code]

We get this output:

[code]

The test obviously only should be listed once, and no passed tests should be listed.

[2015-09-15 05:48] RonnyPfannschmidt commented on #1002
cc @hpk42 @nicoddemus

[2015-09-15 06:40] lyapun opened #1005 "Error in Python 3.5.0"
Hello!

I tried to upgrade one of my project to use Python 3.5.0, and tried to execute my tests, using py.test, but I got such error, which is not reproducable with Python 3.4.3:

[code]

[2015-09-15 06:44] The-Compiler commented on #1005
This was already fixed in #801 - there should be a new release somewhen this week.

As a workaround, you can use `--assert=plain`.

[2015-09-15 06:44] #1005 closed

[2015-09-15 06:45] lyapun commented on #1005
Thanks, and sorry for create duplicate

[2015-09-15 12:01] hpk42 commented on #1005
2.7.3 is released now which works with py35.

[2015-09-15 12:04] hpk42 commented on #1004
it's actually intentional -- each phase out of setup/call/teardown gets its own report (so each test item has three reports) but passed setup/teardown reports are surpressed usually.

[2015-09-15 13:17] RonnyPfannschmidt commented on #1004
the ux is confusing that way, can we have one printed report per item
so bascially print the call report when teardown passes, not when call passes?

[2015-09-15 13:32] Lukasa opened #1007 "pytest-xdist appears to fail on Python 3.5"
**OS**: Mac OS X 10.11 El Capitan GM
**Python**: 3.5.0, from pyenv
**py.test version**: 2.7.3

I'm testing a project on Python 3.5 with pytest-xdist, pytest-cov, and hypothesis-pytest. Using pytest-xdist is causing unexpected breakages on Python 3.5 only: no problems are encountered in other pythons, or if I disable pytest-xdist.

Below is the successful output from running `py.test test/`:

[code

[2015-09-15 13:38] RonnyPfannschmidt commented on #1007
please uninstall the enum34 pacakge, which breaks any python that has enum and try again

[2015-09-15 13:41] Lukasa commented on #1007
@RonnyPfannschmidt Hmm. That does appear to be the problem. Thanks!

Out of curiosity, why doesn't it affect Python 3.4?

[code]

[2015-09-15 13:42] #1007 closed

[2015-09-15 13:42] RonnyPfannschmidt commented on #1007
most likely because its the same code

[2015-09-15 13:42] Lukasa commented on #1007
@RonnyPfannschmidt Seems like a compelling theory. Thanks again, sorry for taking up your time!

[2015-09-15 14:57] sebastianneubauer opened #1008 "ImportError: No module named cov since 2.7.3"
I get an error since update to 2.7.3, pytest-cov is installed in the virtualenvironment:

[code]

any ideas? by downgrading to 2.7.2 it works again...

[2015-09-15 15:02] The-Compiler commented on #1008
Hm, odd - 2.7.3 works with pytest-cov in a virtualenv just fine for me.

Can you show the output of `pip freeze` in the virtualenv?

[2015-09-15 15:03] sebastianneubauer commented on #1008
I call pytest through setup.py, it seems to work if I call it directly via `py.test --cov package --cov-report term-missing`...that might be a hint...

[2015-09-15 15:04] The-Compiler commented on #1008
Any chance you could do a minimal example, or is the project you're having trouble with available somewhere? Being able to reproduce this will likely make it much easier to find out what's going on.

[2015-09-15 15:41] sebastianneubauer commented on #1008
here is a minimal setup.py that reproduces this bug:
[code]
more specifically it is the line `params["plugins"] = ["cov"]` which worked before just fine but now fails...

[2015-09-15 15:52] sebastianneubauer commented on #1008
removing that line fixed the problem...and as it is legacy code, I also don't know why it was there...still might be interesting what change lead to the failure...

[2015-09-15 16:48] The-Compiler commented on #1008
I bisected this to 35bbcc39a28b3464612f1b4060b05877290794ff

Before, the argument was silently ignored - now, it actually works, so that's why you didn't see the error before.

So I think this can be closed.

/cc @nicoddemus

[2015-09-15 16:48] #1008 closed

[2015-09-15 16:58] nicoddemus commented on #1008
Thanks for tracking it down @The-Compiler! :smile:

[2015-09-15 19:13] ByteCommander commented on #744
I'm sorry, but this whole issue became really big and confusing. I see that `pytest` is actively developed and that you guys are really trying to fix the Python 3.5 incompatibility soon, but is there any workaround available at the moment? I was not able to find one, but maybe I missed the right link? Thanks for replies.

[2015-09-15 19:53] warsaw commented on #744
Here's the patch currently applied to the Debian version.  I don't know if this is what upstream will commit, but it works for us in the meantime: https://alioth.debian.org/scm/viewvc.php/packages/pytest/trunk/debian/patches/issue744-py35-compat?view=markup&revision=33376&root=python-modules

[2015-09-15 19:53] The-Compiler commented on #744
@ByteCommander it was already fixed in July in #801, and a new pytest version (2.7.3) with the fix was released today.

So your best bet would be to update :wink: As a workaround, as mentioned earlier in this thread, you can use `--assert=plain`

[2015-09-15 23:29] alex opened #1010 "[2.7.3] tmpdir doesn't work on Windows under tox"
py.test 2.7.3 changed it so that `tmpdir` ends up in a folder named `pytest-{user}` (https://github.com/pytest-dev/pytest/compare/2.7.2...2.7.3#diff-88a6976d3a46c4b9625271f78ccde817L46)

On Windows the only way to get the username is the environment variable `USERNAME`, whereas on UNIX there is the `pwd` module. By default, `tox` does not allow environment variables to passthrough.

The result is

[2015-09-15 23:31] alex commented on #1010
This could be fixed by `py.test` catching that exception and having some fallback (I don't know what), or by `tox` adding `USERNAME` to the default `passenv`, or something else I haven't thought of.

[2015-09-16 01:15] untitaker commented on #1010
@alex I don't think you intended to close this.

[2015-09-16 01:18] alex commented on #1010
I really did not. I don't even know how I did.

[2015-09-16 04:21] The-Compiler commented on #1010
A possible alternative would perhaps be to generate a random suffix with each invocation, or to just use `pytest` without username as basedir.

I think it'd be better to fix this in pytest itself - requiring the newest version of tox so pytest works on Windows is somewhat unfortunate.

@alex it was closed because of the "resolves pytest-dev/pytest#1010" in the commit message, which is one of the p

[2015-09-16 10:47] flub commented on #744
py.test 2.7.3 has been released with support for Python 3.5
On 15 Sep 2015 21:53, "Barry Warsaw" <notifications@github.com> wrote:

[2015-09-16 13:18] warsaw commented on #744
On Sep 16, 2015, at 03:47 AM, Floris Bruynooghe wrote:

Thanks for that!  Debian now has this version without the custom patch. :)

[2015-09-16 16:45] ulope opened #1014 "Document that `mark.usefixtures` does not work on fixtures"
I just ran into #378 in a test suite with complex fixture dependencies and it took me quite a while to figure out that `usefixtures` had no effect when used on fixtures themselves. It would be great if this fact was mentioned in the docs.

[2015-09-16 16:53] The-Compiler commented on #1014
This was already documented in #977 - where would you have expected the documentation?

[2015-09-16 17:01] ulope commented on #1014
Ah, the problem I see with that is that people probably don't search for `mark` when they want information on a specific one.

The first hit on google when searching for "pytest usefixtures" leads to https://pytest.org/latest/fixture.html#using-fixtures-from-classes-modules-or-projects. Maybe adding a link to the mark documentation (e.g. "more information on marks and where they're applicable" or

[2015-09-16 17:06] acloyd commented on #896
I've run into the same issue. I've found that it doesn't have to use both `pytest_generate_tests` and `pytest.mark.parametrize`. The issue comes about with any fixture that uses a parametrized parameter, along with another parametrized parameter being used in the same test function.
The following reproduces the above example but with using only `pytest_generate_tests`:

[code]

[2015-09-16 19:57] #1010 closed

[2015-09-17 06:36] RonnyPfannschmidt opened #1017 "lastfailed - have a option to keep parts of the last failed sets that pass"
it occurred to me that while doing red-green refactoring,
the likelihood of breaking tests in the same failure set is high,
it might be helpful to have an option to keep them around

i propose adding a `--lf-keep` option that would simply skip writing the new last-failed if there are leftover failures

[2015-09-17 08:57] RonnyPfannschmidt commented on #972
@untitaker the .dev signifies that its not a final release, but leading up to a release instad

[2015-09-17 09:19] hpk42 commented on #972
i did ``git tag -a -m "2.8.0.dev" 2.8.0.dev 74019025b96502e16ce552b48b81a21fda976f58`` but it doesn't cause master to have a 2.8.0.devX tag.  probably doing something wrong?

[2015-09-17 10:45] RonnyPfannschmidt commented on #972
@hpk42 afterwards you need to push the tag as well, git tags are detached from history and need to be communicated explicitly

[2015-09-17 13:07] RonnyPfannschmidt commented on #972
this one no longer applies

[2015-09-17 13:07] #972 closed

[2015-09-17 13:20] The-Compiler opened #1021 "test_pdb_interaction with py34-pexpect is flaky"
I think I've seen this failure on Travis a few times now:

[code]

Rebuilding makes it go away - so maybe the timeout just has to be bigger?

[2015-09-17 13:31] RonnyPfannschmidt commented on #1021
the travis systems generally run at a lower speed, i'd say double the timeout, see if it can happen again

[2015-09-17 15:17] nicoddemus commented on #1021
Could you open a PR with that change @The-Compiler? :smile:

[2015-09-17 23:08] dustinfarris commented on #551
Yes.  It's been a while since I've tried using this feature.  Will try to throw something together and report back.

-Dustin

Sent from my iPhone

[2015-09-18 07:17] RonnyPfannschmidt commented on #551
btw, do you perhaps have a virtualenv inside of your working directory

[2015-09-18 13:20] astraw38 commented on #814
@RonnyPfannschmidt @schettino72

There already exists multiple plugins with support for re-running flaky tests: https://github.com/gocept/pytest-rerunfailures is one.

As someone who has to deal with a flaky product, flaky tests should be avoided at all costs. It only provides misinformation, and leads to devs & testers ignoring actual failures. I would have to go in on the side of 'XPASS = FAIL',

[2015-09-18 13:31] codewarrior0 commented on #814
These are my thoughts exactly.

I like the idea of a `strict` parameter to `xfail`, though. I like finding out when I accidentally fixed an xfailing test, so I can take off the `xfail` marker for the next time I break it.

[2015-09-18 15:13] Toilal commented on #744
For people using travis CI, use this command in travis.yml

[code]

[2015-09-19 13:22] alex opened #1026 "pytest.warn doesn't appear to be working for deprecation warnings"
I'm not sure what to make of this, but it appears to be failing on a very simple test:

[code]

[2015-09-20 07:32] bazabaza opened #1027 "[Docs] "simple values" term"
https://github.com/pytest-dev/pytest/blob/3bcda48ba4a1305a15c4e7dc9b1f12536566ecee/_pytest/python.py#L915
"Simple values" is something not very clear
In that context "simple" is understood as  oposition to tuple
But it's not right. Tuple of course can be used even if number argnames is 1.

[2015-09-20 07:33] bazabaza commented on #1027
Let's just remove the word "simple"

[2015-09-20 14:57] nicoddemus commented on #1027
Would you care to provide a PR with the wording you find more adequate? :smile:

[2015-09-20 21:55] DRMacIver opened #1028 "pytester inline runs pollute global test namespace and create collisions"
This is an error I encountered when trying to make the Hypothesis build work on 2.8.0. It's easy to work around but I thought you might want to know.

If I put the following code in a file named test_mark.py then I get an error on trying to run it. If I rename the file (e.g. to test_mark2.py), it passes:

[code]

The error I get is:

[code]

Note: I have tried deleting the __pycache__ directory, a

[2015-09-20 23:45] nicoddemus commented on #1028
Hi @DRMacIver,

I guess the problem is that your file is named `test_mark.py`, which is importable because it is in the current directory: `testdir` will use the name of the test function to generate a python file to run your code in a temporary directory (`/tmp/pytest-of-david/pytest-22/testdir/test_mark0`), but here you also used `test_mark` for the function name so it generates the file `/tmp/p

[2015-09-21 00:09] asottile opened #1029 "pytest2.8 invariantly writes to working directory + fails on readonly filesystem"
I believe these to be the same issue so I'm only making a single report.

[code]

And the error from our CI server (which is running a repo inside docker)

[code]

[2015-09-21 00:31] rouge8 opened #1030 "Reconsider JSON serialization in merged pytest-cache?"
The new requirement with the merged pytest-cache that "you can only store/receive data between test runs that is json-serializable" has broken most of our test suites. We use `pytest.mark.parametrize` a lot with non-JSON types, like sets, bytestrings, `datetime`s, non-standard library classes, etc.

With pytest 2.8, whenever any one of these tests fails, all of the tests are marked as failed and I

[2015-09-21 01:59] ColtonProvias commented on #995
I'm having the exact same error and the patch did not work.

Python 3.5.0 running in virtualenv, on Mac OS X 10.11 Beta 6

[code]

[2015-09-21 04:22] The-Compiler commented on #995
@blueyed @ColtonProvias Do you have a minimal example or a public project where this happens?

[2015-09-21 04:22] nicoddemus commented on #1030
I think this is actually a problem with the `lastfailed` feature, it should be more resilient and mind what it can safely save into the cache.

The serialization code of the original pytest-cache plugin came from [execnet](http://codespeak.net/execnet/), and we didn't want to add that dependency to pytest. But of course, parametrization should work with the `--lf` option exactly as before.

[2015-09-21 04:29] nicoddemus commented on #1030
Looking at the code I don't see how `self.lastfailed` could contain anything else besides strings (test node ids) and `True` values. Are you using the cache feature yourself, or only with the `--lf` option? Could you provide more info perhaps? If you can find out the actual value of `self.lastvalue` during failure it might give a clue.

[2015-09-21 04:38] nicoddemus commented on #995
Perhaps it would be best for pytest to be on the safe side in this situation and guarantee that entry.path is always a `py.path.local` object:

[code]

Either way, it would be nice to get a minimal example, or at least a public project where the error is easily reproducible. :sweat_smile:

[2015-09-21 04:39] rouge8 commented on #1030
Neither actually. I was just running `py.test -v --strict` and a test containing a non-UTF-8 parameter failed.

[2015-09-21 04:48] nicoddemus commented on #1029
Thanks for the report! :smile:

Hmmm I see two possibilities:

1. Every call to `config.cache.set` will internally catch read-only errors, and **silently** fail in this case.
2. The internal cache plugin will explicitly capture errors during write, and print a pytest warning.
3. Add an option to disable `lf-plugin`.

I think **1** is too error prone, and **3** will remove much of the usefulness of

[2015-09-21 04:51] The-Compiler commented on #1030
I can't reproduce this with my testsuite, which parametrizes tests with various funny stuff like non-UTF8 strings or classes. I also can't with this test:

[code]

Do you have a minimal example or public project where this happens?

[2015-09-21 04:59] rouge8 commented on #1030
Here's a gist: https://gist.github.com/rouge8/8f6e120c3edee4ab115b

Right now it's only failing on Python 2, not Python 3. I thought I had it failing on both earlier, but I might be misremembering.

[2015-09-21 05:03] nicoddemus commented on #1030
Nice, thank you, I can reproduce it now! :smile:

I will take a look at this, thanks for reporting and working to obtain an example!

[2015-09-21 05:46] nicoddemus commented on #1030
@rouge8 do you know if all your cases the failure is related to **bytestrings**, or do you have failing tests with other types of objects as well? I ask because this would be a valuable information on proving a proper fix. If you could, please post another traceback of such a case.

Thanks!

[2015-09-21 08:11] DRMacIver commented on #1028
Oh yes, of course. It didn't occur to me that it could just be the name of the function.

I was planning to work around it by just renaming the file, but I might rename the function instead. Thanks.

[2015-09-21 09:13] The-Compiler commented on #1026
This is because Python ignores `DeprecationWarning` and `PendingDeprecationWarning` by default, so in fact there *is no* warning above.

Your above snippet works fine when using `warnings.simplefilter("always")`, so I think everything works like it should.

[2015-09-21 09:28] RonnyPfannschmidt opened #1032 "provide pytest.deprecated_call as context manager"
same as pytest.warns

relates to #1026

[2015-09-21 09:29] RonnyPfannschmidt commented on #1026
after reconsidering, its not a bug on our side, see #1032 for a potential help

we should document that detail

[2015-09-21 10:07] Bjwebb commented on #520
This seems to work as expected under Python 3 (with the addition of parentheses for exec).

Input:
[code]

Output:
[code]

Under Python 2, I get the crash, but it's not quiet as I get `INTERNALERROR` output.
Input:
[code]

Output:
[code]

[2015-09-21 10:22] logicabrity opened #1034 "Internalerror KeyError: 'nodeid'"
When I try running tests with py.test version 2.8.0 on my Ubuntu 14.04 LTS machine, I get the following internal error:

$ py.test

INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "/usr/local/lib/python2.7/dist-packages/_pytest/main.py", line 86, in wrap_session
INTERNALERROR>     config._do_configure()
INTERNALERROR>   File "/usr/local/lib/python2.7/dist-packages/_pytest/c

[2015-09-21 10:23] Suor opened #1035 "Fails collecting tests if test module level obj has __getattr__()"
The issue is in [this line](https://github.com/pytest-dev/pytest/blob/dfd83b59f86ae49abe786deed5c97df00294bea1/_pytest/python.py#L362). Object returns something arbitrary and then it's required to be int lineno.

Breaks [this](https://travis-ci.org/Suor/funcy/jobs/81358215) for example.

[2015-09-21 10:32] RonnyPfannschmidt commented on #1034
at first glance it seems like a hook is expecting an argument that is not given at hook invocation

@hpk42 @flub - please take a deeper look

[2015-09-21 10:42] logicabrity commented on #1034
@flub assisted on IRC and I removed and reinstalled pytest-xdist using pip and that solved the issue.

$ py.test --version
This is pytest version 2.8.0, imported from /usr/local/lib/python2.7/dist-packages/pytest.pyc
setuptools registered plugins:
  pytest-xdist-1.13.1 at /usr/local/lib/python2.7/dist-packages/xdist/boxed.pyc
  pytest-xdist-1.13.1 at /usr/local/lib/python2.7/dist-packages/xdist/lo

[2015-09-21 11:15] nicoddemus commented on #1034
If you don't have any more questions, please do. :smile:

[2015-09-21 11:16] alex opened #1037 "pytest.deprecated_call doesn't catch PendingDeprecationWarnings"
In 2.7.3 it did, but now it doesn't.

[2015-09-21 11:20] RonnyPfannschmidt commented on #1034
we should still report a bug to pluggy, since the error messages it gives are subpar atm

[2015-09-21 11:20] Bjwebb commented on #520
The problem seems to be in py.code:

Input:
[code]

Output:
[code]

The issue seems to be that py.code has its own copy of format_exception_only that tries to return unicode (which fails when code.py tries to join them).
Input:
[code]

Output:
[code]

However, in this case we get a mixture of unicode and utf-8 encoded strings. This is because `badline` is a utf-8 encoded string - https://bitbucket

[2015-09-21 11:24] flub commented on #766
Thanks

[2015-09-21 11:24] #766 closed

[2015-09-21 12:03] nicoddemus commented on #1034
Thanks Ronny!

[2015-09-21 12:09] RonnyPfannschmidt opened #1039 "tox -e regen is broken"
.

[2015-09-21 12:39] chiller commented on #1032
isn't this a duplicate of #653 ?

[2015-09-21 12:42] RonnyPfannschmidt commented on #1032
it certainly is, thanks for pointing out my error

[2015-09-21 12:42] #1032 closed

[2015-09-21 12:42] Bjwebb commented on #520
Exec is not the only way to get this error. Importing a non-ascii file with a syntax error has the same result:

Input:
[code]

bad.py
[code]

Output
[code]

[2015-09-21 12:54] RonnyPfannschmidt commented on #1029
**2** is how it should work, since we already made the warning recording a historic hook call, we can propperly issue a config.warn in such cases

[2015-09-21 13:27] mbirtwell commented on #759
I started looking at this and got to the stage where it worked in really simple cases, but was unable to deal with the problem that @RonnyPfannschmidt mentions above.

The problem is that all ```MarkDecorator```s are MarkDecorator factories so someone could do some thing like:
[code]

At which point it is incredibly difficult to track the generator and ensure that it is only evaluated once.

My pr

[2015-09-21 13:51] Bjwebb commented on #103
After poking around in py.code during the PyConUK sprint, I'm going to take a look at making this move.

[2015-09-21 13:54] RonnyPfannschmidt commented on #103
its rather tricky, i treif before but abadonded due to py.code having a lot of interaction via py.code usage internally - be carefull

[2015-09-21 13:57] #411 closed

[2015-09-21 14:19] russel commented on #753
The reason for the FileExistsError in the case of nonpython is that, for some reason, the shell function in the actions module of regendoc is being called twice or more. Patching this function allows for a completion of "make regen", but does not explain why multiple calls are being made.

[2015-09-21 15:36] woodscn opened #1043 "py.test ignores warnings.simplefilter"
I have a parametrized test that should emit a warning under certain conditions. After setting simplefilter('always'), py.test still only sees the first instance of the warning. Executing the same test in the interactive interpreter (as part of a for loop) correctly warns the user each time.

[2015-09-21 15:48] rouge8 commented on #1030
Looks like it's just bytestrings. I got the error, read the changelog, and assumed it was a larger problem. :disappointed_relieved:

[2015-09-21 16:55] nicoddemus commented on #1030
Not a problem at all, it was a good bet. Thanks again.

[2015-09-21 17:36] RonnyPfannschmidt commented on #1043
you are not at all using the pytest integration

did ypu perhaps mean to do a:

[code]

note that we discovered a bug in 2.8.0 wrt warnings, so you might need to try the 2.7 series until 2.8.1 is released
however since you use a custom warnings class it might be alright,
however you might need to still add in the simplefilter line

see #1041 for details

[2015-09-21 19:10] woodscn commented on #1043
I'm more concerned that pytest seems to be overriding my simplefilter. Does pytest ignore the usual Python warnings.warn function by default?
I'm using 2.7.2, and pytest.warns does not seem to be present.

[2015-09-21 19:15] renstrom opened #1044 "`from mock import call` breaks test collector"
To reproduce:

[code]

[2015-09-21 19:16] renstrom commented on #1044
Also, just importing `mock` and running `mock.call(...)` works. And importing as an alias doesn't work either `from mock import call as _call`.

[2015-09-21 20:17] Bjwebb commented on #103
I've made an attempt of this at https://github.com/pytest-dev/pytest/compare/master...Bjwebb:issue-103-move-py-code This now successfully runs the test suite on Python2.7 and 3.4, but there are still flakes errors. In order to get `pytest.code` I also moved `pytest.py` to `pytest/__init__.py` which is still causing problems for some of the other versions. Is there a better way to handle this?

[2015-09-21 20:45] The-Compiler commented on #1044
Probably a duplicate of #1035

[2015-09-21 20:57] muikrad opened #1045 "pytest-warnings fails tests since 2.8"
Something changed in 2.8 that makes all my test runs fail with "2 pytest-warnings". I had to use a simplefilter to even be able to view what the warnings were about.

One of the failure is a simple deprecationwarning that I can live with for the time being. It's not clear how we're supposed to disable this functionality - tried all possible warnings.simplefilter values and the only useful one seem

[2015-09-21 21:29] jerel commented on #1034
My project just started throwing this error today on TravisCI. Pinning to pytest 2.7.2 solves the issue for now.

[2015-09-21 21:54] nicoddemus commented on #1028
If you don't have more questions, would you mind closing this then? :smile:

[2015-09-21 21:57] nicoddemus commented on #1045
You mean the test suite is failing (returning != 0 to the system)? This shouldn't happen and is certainly a bug if it is.

`pytest-warnings` are warnings emitted by `py.test` to warn about causes related to the test suite itself, not your code (for example, pytest won't collect a class with name starting as `Test` with an `__init__` method). They have nothing to do with the `warnings` module, and

[2015-09-21 22:00] nicoddemus commented on #1034
Can you share the project? Or at least which plugins it uses?

[2015-09-21 22:03] jerel commented on #1034
Sure, here's the exact error: https://travis-ci.org/django-json-api/django-rest-framework-json-api/jobs/81470678

[2015-09-21 22:09] nicoddemus commented on #1034
Thanks!

[2015-09-21 22:12] nicoddemus commented on #1034
I'm reopening this... I think there's a deeper problem here, because @jerel's project uses pure pytest. Looking at the traceback, perhaps it has something to do with `pytest_cache` and the fact that it is a `historic` hook being called?

@RonnyPfannschmidt what do you think?

[2015-09-21 22:17] habnabit commented on #1034
:+1: having this issue internally too. I can't share logs, but I can try to make a test-case if it's not obvious from the above error. The build fails with this requirements.txt:
[code]
and passes with this:
[code]

[2015-09-22 00:30] muikrad commented on #1045
My bad, I just checked the exit codes and they're fine (win/linux). My specific problem was actually caused by the exit code being 5 when no tests are found. Coincidentally, it was the first time I saw the pytest-warnings message and assumed it was failing the exit code check.

Adding the -rx switch doesn't show any additional information to the run, although pytest still mentions the 2 pytest-war

[2015-09-22 00:31] nicoddemus commented on #1045
Oh sorry, I meant `-rw` (of "warning"), my bad! :sweat_smile:

[2015-09-22 00:32] nicoddemus commented on #1045
Oh I see. There was a debate over this, but the vast majority of people voted on having this behavior, as many felt they should get a failure if no tests were even collected (not that it is OK to collect tests but skip them all though).

[2015-09-22 00:46] muikrad commented on #1045
It's a nice behavior ;) Although. if it's returning anything else than 0, it should probably state it clearly a the end of the run?

Thanks for the -rw trick, wish that was easier to google.

[code]

[2015-09-22 07:26] DRMacIver commented on #1028
Why? It seems pretty clearly a bug even if it's an easy to work around one.

[2015-09-22 09:17] #877 closed

[2015-09-22 10:02] RonnyPfannschmidt commented on #1034
@habnabit can you share the exact versions of the libraries as well?

[2015-09-22 10:07] RonnyPfannschmidt commented on #103
there should be no pytest.code for now,

its preferable that we have _pytest.code for now as a internal API thats allowed to change

[2015-09-22 10:26] RonnyPfannschmidt commented on #1028
we should error out with a more helpful message or ensure pytester no longer pollutes

[2015-09-22 10:37] RonnyPfannschmidt commented on #1044
closing as duplicate

[2015-09-22 10:37] #1044 closed

[2015-09-22 12:47] bh commented on #1034
Same behavior with the following versions:
[code]

[code]

[2015-09-22 13:21] RonnyPfannschmidt commented on #1039
fixed in #1046

[2015-09-22 13:21] #1039 closed

[2015-09-22 14:20] mattip opened #1047 "adjusting globals before doctests"
numpy doctests sometimes use np i.e. they assume ``import numpy as np`` was run before the tests How can this be done in pytest?

[2015-09-22 14:35] RonnyPfannschmidt opened #1049 "the cache fixture needs a docstring"

[2015-09-22 14:44] RonnyPfannschmidt commented on #1047
currently there is no builtin support, the "easy" way is to just copy the plugin

i propose adding a doctestrunner fxture thats module scoped and can be modified by autouse fixtures

[2015-09-22 14:45] RonnyPfannschmidt opened #1050 "provide dependency-tested autouse fixtures"
autouse fixures should have a mode of operation that triggers them only if the fixtures they need are used by the current test to begin with

[2015-09-22 15:02] nicoddemus commented on #1050
Can you clarify a bit @RonnyPfannschmidt? Perhaps with an example.

[2015-09-22 15:08] hpk42 commented on #1050
i have a vague idea what you mean but would like to see a clearer problem statement and an example as well.

[2015-09-22 15:09] #1027 closed

[2015-09-22 16:59] habnabit commented on #1034
@RonnyPfannschmidt
no error:
[code]
error:
[code]

[2015-09-22 17:38] astraw38 commented on #995
I'm starting to see this now as well, I'll try to get some more debug info:

[code]

Where installed_client is a fixture in which the exception was raised.

And here is some of the stack:

[code]

[2015-09-22 18:48] astraw38 commented on #995
I believe the issue is using the decorator package (https://pypi.python.org/pypi/decorator).

I am using it to preserve certain fixtures signatures while attaching an additional decorator to it. From the documentation of decorator:

[code]

[2015-09-22 18:50] alvinchow86 commented on #877
@RonnyPfannschmidt I did a similar fix here https://github.com/pytest-dev/pytest/compare/master...doordash:unicode-fix?expand=1, but I recall having to also fix some things in `_format_lines()` as well.

[2015-09-22 20:27] hpk42 commented on #167
why would the ``disabled()`` call send things to the users stdout instead of it going to normal pytest capturing?   i am kind of missing the problem statement and why it would help with debuggers.

[2015-09-22 21:18] RonnyPfannschmidt commented on #167
basically all debuggers currently break due to missing integration (with the notable exception of pdbpp)

[2015-09-23 01:40] #714 closed

[2015-09-23 03:51] nicoddemus commented on #1045
No problem, I'm closing this then. :smile:

[2015-09-23 03:51] #1045 closed

[2015-09-23 05:48] Akasurde commented on #1026
@RonnyPfannschmidt  I would like to help in this.

[2015-09-23 06:22] nicoddemus commented on #1026
@Akasurde on documenting the detail about `DeprecationWarning`?

[2015-09-23 07:00] #1049 closed

[2015-09-23 07:07] Akasurde commented on #1026
@RonnyPfannschmidt Yes, I would like to help on documenting. Let me know details about this.

[2015-09-23 07:58] nicoddemus commented on #656
#1031 probably is a good enough solution here, so I'm closing this for now.

[2015-09-23 07:58] #656 closed

[2015-09-23 08:45] drcongo commented on #1034
Also just run into this, was running fine until I added pytest-factoryboy. Downgrading to 2.7.2 "fixes" it for me.

[2015-09-23 09:11] RonnyPfannschmidt commented on #1034
recent pluggy made a better exception handler

for anyone testing this, can you install pluggy from git and remove the vendored one in the pytest install

[2015-09-23 11:47] asfaltboy commented on #995
In my case, running on python 3.4, the `AttributeError` above was hiding another issue (discovered by using `pytest==2.7.3`); a [mock/six.wraps  discrepancy](https://github.com/testing-cabal/mock/issues/257), which was [fixed in mock 1.1](https://github.com/testing-cabal/mock/commit/4f0b5d3e4eea1a7f108ac810af9ff93a5f1e157b).

After upgrading the built-in mock to ver 1.3 I was able to use `pytest==

[2015-09-23 12:01] vitalk opened #1057 "Pytest fail when autouse fixture is applied and --doctest-modules is set"
When `--doctest-modules` option is set but module has no doctests available, then pytest raises `AssertionError`. This issue occurs only if autouse fixture is applied.

[code]

[code]

[code]

[code]

[code]

[code]

[2015-09-23 21:04] asottile commented on #1029
The fix only addresses half of the problem.  How do I get pytest to stop writing to my working directory and why did this change happen?

[2015-09-23 21:09] bukzor commented on #1029
The [standard](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html#variables) place to put this is `~/.cache`.
To easily disambiguate caches against various $PWD's, you can `mkdir -p ~/.cache/pytest/$PWD'.
Even better would be to use `$XDG_CACHE_HOME` with a default value of '$HOME/.cache'.

[2015-09-23 22:06] nicoddemus commented on #1029
@asottile

I think the only way to prevent that currently is by passing `-p no:cacheprovider` in the command line, or by modifying your `pytest.ini`:

[code]

(*In fact I will add this to the docs*)

This change happened because in `2.8` [pytest-cache](https://pypi.python.org/pypi/pytest-cache) has been merged into the core. It brings with two important functionalities: [re-run last failures or fa

[2015-09-23 22:21] nicoddemus commented on #1029
@bukzor

That's an excellent suggestion I think. Would you mind opening a new issue with it? Thanks! :smile:

[2015-09-23 22:26] RonnyPfannschmidt commented on #1029
we could probably use a hash + use a symlink back - using full paths is a huge error source due to path length limits on various platforms

[2015-09-24 03:22] nicoddemus commented on #1029
That's a good point! I know I've had my problems with this on Windows. :sweat_smile:

But I fear adding another layer of complexity to the system might bring more trouble than it is worth, to be honest. :grimacing:

[2015-09-24 07:05] RonnyPfannschmidt commented on #1029
i feel the need to make basetmp as well as cache locations configurable
we should brainstorm that in some way (since it also makes sense to put the cache + basetmp into something a CI system can easyly pick up for example

plus XDG_CONFIG_DIRS is the absolutely wrong thing to use in many non-containered ci situations

[2015-09-24 13:58] alfredodeza commented on #1035
This only happens for me on Python 2.6. Python 2.7 is unaffected.

[2015-09-24 19:26] kottenator opened #1059 "Problem with Pytest 2.8 and Django settings"
I have this problem: https://github.com/pytest-dev/pytest-django/issues/272

But it's not a bug of `pytest-django`, it caused by new Pytest 2.8 behaviour. I have `conftest.py`:

[code]

Pytest 2.8 is trying to read properties of `settings` variable before Django is configured. This causes an error. I can do some workaround, but is it the correct way to solve it?

[2015-09-24 20:22] blueyed commented on #1059
I think it's a bug with pytest-django - see my latest comment: https://github.com/pytest-dev/pytest-django/issues/272#issuecomment-143040650.

Sorry for asking to report it against pytest in the beginning - it was not clear to me.

[2015-09-24 21:58] nicoddemus commented on #1035
Thanks for the report! :smile:

[2015-09-24 21:59] nicoddemus commented on #1059
@blueyed no problem!

This can be closed here then?

[2015-09-24 22:17] kottenator commented on #1059
I don't mind if you close this one.

BTW, could you tell what's `pytest` trying to get from the `settings` variable?

[2015-09-24 23:13] blueyed commented on #1059
@kottenator
It's not pytest doing something special with it, but accessing it in general will trigger the Django settings machinery / setup.
pytest-django's job is it to call e.g. `django.setup()` before that and/or prepare everything.
I am closing this issue here - I think the proper workaround for now would be to call `django.setup()`, instead of importing/using `settings` via `conf.settings`.

[2015-09-24 23:13] #1059 closed

[2015-09-25 04:58] RonnyPfannschmidt commented on #1059
I suspect fixture/hook discovery is involved

[2015-09-25 04:59] RonnyPfannschmidt commented on #1035
Since its only a proble!m on python 2.6 I'm considering leaving it be

[2015-09-25 06:34] The-Compiler opened #1061 "Documentation improvements (related to regendoc)"
As discussed in IRC with @RonnyPfannschmidt I'll list some stuff from #1046 here as the PR is clearly an improvement over the current state, so I want to merge it.

* [ ] `test_time.py` in `doc/en/example/parametrize.rst` seems to be broken:

[code]

(running the code by hand works though)

* [ ] There's an example in `doc/en/example/pythoncollection.rst` which demonstrates having a test which run

[2015-09-25 07:26] Suor commented on #1035
So pytest no longer supports Python 2.6?

[2015-09-25 08:43] RonnyPfannschmidt commented on #1035
its still supported, but since python 2.6 is eol'd since years we should think about how much code and maintenance burdens we invest in it as volunteer work, in particular with libs that are somehow broken only on it

@hpk42 whats  your oppinion on that matter

[2015-09-25 08:46] RonnyPfannschmidt commented on #1035
just discussed with @hpk42 on irc

result: since we officially support it we should fix it

[2015-09-25 09:13] bubenkoff opened #1062 "hook specs are not set for other plugin hooks"
In pytest-bdd we have custom hooks, and they are regstered via:

[code]

this works fine for non-xdist runs
but with xdist we get this:

[code]

so looks like hook specs are not parsed and set when xdist's remote run happens

[2015-09-25 09:20] RonnyPfannschmidt commented on #1062
as far as i can tell we need a way to propperly install dependencies into pytest on remotes
it might be easier to provide a remote python with all needed plugins installed for the short term

[2015-09-25 09:31] bubenkoff commented on #1062
how exactly?

[2015-09-25 09:33] RonnyPfannschmidt commented on #1062
for example creating a virtualenv with the correct python + dependencies and then providing that as the python argument to the xspec

propper remote virtualenv orchestration is a __hard__ topic that we dont want to solve prematurely/broken if possible

[2015-09-25 09:34] bubenkoff commented on #1062
im about running pytest with xdist with just -n (so popen, no need of the dependencies)
this is a bug on a different level

[2015-09-25 09:38] RonnyPfannschmidt commented on #1062
that means we changed the pluginmanager construction sequence and it leaves out setuptools, thats a hard one , will take a look this afternoon

[2015-09-25 11:43] nicoddemus commented on #1030
@rouge8 while `2.8.1` doesn't come out with a fix, you can disable the internal cache plugin by adding this to your `pytest.ini`:

[code]

[2015-09-25 14:00] nitishr commented on #1045
The non-zero exit code is causing pytest-watch to indicate spurious failure when used with pytest-testmon or pytest-incremental. When either of those tools determines there're no tests to be run, pytest-watch reports a failure.

[2015-09-25 15:38] nicoddemus commented on #1045
By "non-zero" you mean `5` for no tests executed? Perhaps those tools should be updated to know about the new status code and act accordingly?

[2015-09-25 16:02] dgrunwald opened #1064 "pytest 2.8.0 + xdist-1.13.1 writes incorrect junit-xml"
Using python 2.7.10, pytest 2.8.0 and pytest-xdist 1.13.1.

Testcase:
[code]

Run with `pytest -n 8 --junit-xml=junit.xml`.
The output on the command line looks fine, showing the `test_x[42]` failure.
But look at the resulting `junit.xml` file: the failure appears in the wrong `<testcase>` node:
[code]
This causes test failures to be listed incorrectly in our Jenkins CI.
The other `<system-out>` n

[2015-09-25 18:23] deuxpi commented on #995
Recently we had a session level fixture that started failing. The error message in 2.7.3 was correct and helpful (with the complete description "ERROR as setup of ...."), but in 2.8.0 we just had a stack trace ending with

[code]

Simply correcting the external condition that was causing the fixture to fail (which is actually to create some particular directory) fixes the problem. That fixture use

[2015-09-25 19:55] jantman commented on #1035
FWIW, I can confirm what @alfredodeza said - https://travis-ci.org/jantman/awslimitchecker/builds/82210772 tests against 26, 27, 32, 33, 34, pypy and pypy3; only 2.6 breaks.

[2015-09-25 20:32] acloyd opened #1066 "Junit output is incorrect when run with xdist plugin"
When running a set of tests using xdist, the junit output file is not correct. Sometimes failures are printed in the wrong test. The times for how long the tests take also get messed up. This does not happen using pytest-2.7.3

Installed python modules:
[code]

Example test file that causes the failure. In this example, the output junit file shows that test_B_1 fails even though it as A_1 that fai

[2015-09-25 21:12] nicoddemus commented on #1066
Thanks for the report! I'm closing this though as it is the same as #1064.

[2015-09-25 21:12] #1066 closed

[2015-09-25 21:13] nicoddemus commented on #1064
Thanks for the reproducible example, seems it can easily become a functional test! :smile:

[2015-09-25 21:21] nicoddemus commented on #580
Shouldn't this be in `2.9.0`? It's not a bug per-se, but an improvement that might break current test suites, IMO.

[2015-09-25 21:21] acloyd commented on #1066
Ya, sorry. I searched yesterday, but wrote it today.

[2015-09-25 21:23] nicoddemus commented on #1066
No worries, thanks for taking the time to write an come up with an example!

[2015-09-25 22:58] oleg-alexandrov opened #1067 "Broken link"
The link http://pytest.org/latest/pytest.pdf mentioned at http://pytest.org/latest/example/ is broken.

[2015-09-25 23:05] oleg-alexandrov opened #1068 "Wrong documentation"
I installed pytest and xdist. Latest version apparently:

py.test --version

This is pytest version 2.8.0,

Following http://pytest.org/latest/xdist.html?highlight=xdist I run:

py.test -n 4

py.test: error: unrecognized arguments: -n

Also for:

 py.test -d

usage: py.test [options] [file_or_dir] [file_or_dir] [...]
py.test: error: unrecognized arguments: -d

[2015-09-26 02:02] nicoddemus commented on #1068
Hi,

I just installed it into a fresh pytest environment and everything seems to be working. How did you install it? What's the output when you run `py.test`? You should see installed plugins right in the header:

[code]

[2015-09-26 02:06] nicoddemus commented on #1067
Thanks for the heads-up! :smile:

Could someone else push the the PDF documentation? I'm on Windows, and installing LaTeX is not that trivial... :grin:

[2015-09-26 04:48] oleg-alexandrov commented on #1068
I figured out the problem. pytest could not find xdist. It would have been nice to have some kind of informative error message. It is overall confusing that xdist is a separate package.

[2015-09-26 04:48] #1068 closed

[2015-09-26 07:05] #1064 closed

[2015-09-26 07:17] RonnyPfannschmidt commented on #1068
@oleg-alexandrov the documentation you referred to has nice big sections about first installing it links to its package and so on, i don't see how we can really improve on that

also having py.tests own code keep track of options of external plugins or 3rd party plugins add is counterproductive in various ways

[2015-09-26 09:35] RonnyPfannschmidt commented on #1030
@nicoddemus can this be closed?

[2015-09-26 13:16] pelme opened #1073 "Crash with special objects in plugins"
Having objects in conftest that cannot have getattr called causes pytest to crash.

Here is a small example that shows this:

conftest.py:
[code]

[code]

This happens in practice with django settings (`django.conf.settings`) that must not be touched until Django is properly configured: https://github.com/pytest-dev/pytest-django/issues/272

[2015-09-26 14:23] nicoddemus opened #1074 "Discard in memory XML representation after done with a node (junitxml)"
As commented in #1071, see if it is possible to serialize and discard the xml representation of a node after `teardown` report is processed, in order to conserve memory.

[2015-09-26 14:28] nicoddemus commented on #1030
Yep, forgot to add a "Fix" comment on the final version of the PR, thanks for the reminder @RonnyPfannschmidt

[2015-09-26 14:28] #1030 closed

[2015-09-26 14:44] nicoddemus commented on #1026
Opening a PR with the appropriate changes in the docs is the way to go (you can even do this directly from the GitHub interface). We are planning on a `2.8.1` release real soon (probably Monday), so now would be a good time to get this in. :smile:

[2015-09-26 14:45] #906 closed

[2015-09-26 14:46] nicoddemus commented on #830
Should this be updated to `2.9` now that `2.8` is out already?

[2015-09-26 14:48] nicoddemus commented on #678
@RonnyPfannschmidt is this fixed? Can we close this?

[2015-09-26 14:53] nicoddemus commented on #605
I think the question here is if `LocalPath.write` should receive an `encoding` parameter which is mandatory when writing `unicode` strings.

[2015-09-26 14:54] nicoddemus commented on #605
Seems more like a `py` issue rather than `pytest`'s... perhaps we should open an issue in there instead and close this one?

(cc'ing people that were originally part of the conversation)
@bubenkoff @thebjorn

[2015-09-26 14:55] nicoddemus commented on #704
Is this still an issue?

[2015-09-26 16:26] jonathanjfshaw commented on #995
I got the same as @deuxpi, an error from code being called inside a fixture is hidden by this "AttributeError: 'str' object has no attribute 'relto'" error.

Sorry nothing reproducible, but FWIW my structure is:
[code]

The triggering error in my app (discovered when examining outside of pytest) is:
    oid = h5o.open(self.id, self._e(name), lapl=self._lapl)
  File "h5o.pyx", line 183, in h5py.h5o

[2015-09-26 20:29] thebjorn commented on #605
I think the most useful solution is to make `.write()` take a byte string (and leave it up to the user to encode data before passing it).  With such an implementation you could always write byte-strings (without knowing their encoding). A wrapper that takes a unicode string and an encoding is easy to write on top of a byte-string implementation.  If you only have a unicode/encoding implementation

[2015-09-26 22:06] mhils opened #1075 "xdist: Different tests were collected"
##### Steps to reproduce the problem:
1. Create some test cases that look as follows:
[code]
2. Run `py.test -n 4`

##### What is the expected behavior?

The tests should pass.

##### What went wrong?
[code]

This is the minimal test case I could break it down to. Looks like there's an issue if we're not `def`ing functions. Any help would be appreciated! :smiley:

[2015-09-27 07:24] RonnyPfannschmidt commented on #1075
the easy way could be, to declare the python hash seed, so the unordered parts of the collection have a high chance for having the same order

the problem is, that when you use test items that have a indistinguishable source code location, order is left to mappings, and mapping order is undefined

alternatively you could use a type whose items are put into a ordereddict

[2015-09-27 07:56] RonnyPfannschmidt commented on #605
In the long term wed like to replace the py.path internals with pathlib

[2015-09-27 07:59] RonnyPfannschmidt commented on #704
I think pluggy has a better handling now, wed need to vendor and test

[2015-09-27 08:20] RonnyPfannschmidt commented on #1074
this could also fix #641

[2015-09-27 08:22] RonnyPfannschmidt commented on #678
not yet, git destroyed my updated pr, its on my agenda for today

[2015-09-27 08:30] pelme commented on #1073
Is this a bug in pluggy?

[2015-09-27 08:47] RonnyPfannschmidt commented on #1073
@pelme yes, the workflow for fixing is fixing in pluggy, doing a pluggy release and then vendoring that pluggy release into pytest

[2015-09-27 08:56] #678 closed

[2015-09-27 08:56] RonnyPfannschmidt commented on #678
the merge was done before

[2015-09-27 09:10] RonnyPfannschmidt commented on #645
[pytest-output.txt](https://github.com/pytest-dev/pytest/files/3108/pytest-output.txt)
[test_assertion.py.txt](https://github.com/pytest-dev/pytest/files/3109/test_assertion.py.txt)
[assert_helper.py.txt](https://github.com/pytest-dev/pytest/files/3110/assert_helper.py.txt)

synced the attachements
@sroecker anything you can tell on cython, we already have some code in place to handle it but that

[2015-09-27 11:14] RonnyPfannschmidt commented on #1035
at unit-test level all python packages seem to be required

[2015-09-27 13:38] blueyed commented on #1059
JFI: turns out to be a problem with pytest indeed: https://github.com/pytest-dev/pytest/issues/1073

[2015-09-27 15:33] kottenator commented on #1059
@RonnyPfannschmidt - for example in Fabric, they were considering each Python function inside `fabfile.py` as a Fabric task. But then they have added `@task` decorator to distinguish utility functionas and Fabric tasks

[2015-09-27 15:46] RonnyPfannschmidt commented on #1035
i finished a first attempt to solving it, resulting in the python interpreter oom-ing my machine,

[2015-09-27 15:49] RonnyPfannschmidt commented on #1059
@kottenator @hpk42 i suppose we could make pluggy consider inly decorated hook implementations if all of them are marked

@hpk any oppinion wrt intoducing a spec object in pluggy that could be used in each plugin to declare the actual plugin (then we could also use spec objects instead of classes to configure aspects of a plugin)

[2015-09-28 01:14] nicoddemus commented on #1059
Duplicate of #1073

[2015-09-28 01:34] nicoddemus commented on #1059
Created a PR at hpk42/pluggy#12. Once that is merged and a new `pluggy` is released, we must vendor it back into `pytest` before closing this.

[2015-09-28 01:39] nicoddemus commented on #1073
Created a PR at hpk42/pluggy#12. As @RonnyPfannschmidt  said, oOnce that is merged and a new `pluggy` is released, we must vendor it back into `pytest` before closing this.

[2015-09-28 05:34] RonnyPfannschmidt opened #1078 "pytester: add a concenience method to test of availiability of plugins in the host/subprocess"
with regressions and acceptance tests pytest tests as well as pytest plugin tests have needs for different sets of plugins

there should be helpers to warn/skip/document those needs in tests

[2015-09-28 14:15] #1073 closed

[2015-09-28 14:43] astraw38 commented on #995
Here is a simple gist that will trigger the error:

https://gist.github.com/astraw38/e485eb89cf6cf61c7be9

The 'traceback.cut()' method does not filter out the _pytest internal code if you have an anonymous function in a different file.

[2015-09-28 15:26] hpk42 commented on #1037
i tried for 5 minutes or so to reproduce the failing test suite but ran into problems.  Could you provide an example of what goes wrong, at the least provide a link to a failed test run with 2.8 that worked with 2.7.3?

[2015-09-28 15:28] alex commented on #1037
[code]

[2015-09-28 15:47] hpk42 commented on #1037
thanks. the offending commit seems to be 52b4eb6c46e6b8b3f4be6163198f34aef5a30366 -- maybe @hunse can take a look?

[2015-09-28 16:12] vodik commented on #1034
Assuming the commit above does the trick, pytest is bailing trying to print the following warning message when using `addhooks`:

[2015-09-28 16:36] hunse commented on #1037
Okay, I've got a fix.

[2015-09-28 17:05] #1037 closed

[2015-09-28 19:05] hunse opened #1082 "Duplicate fixtures in complex projects"
Related to #979, I think, or at least a similar error.

I have the following directory structure:

[code]

where both the conftest files contain

[code]

and both the `test_*.py` files contain

[code]

When I run all the tests with `py.test project` from the root directory (the parent of `project`), I get the following error

[code]

However, if I delete **both** the `tests` subdirectories so ever

[2015-09-28 19:19] hunse commented on #1082
By the way, this is a regression, which according to `git bisect` was caused by 32165d8.

[2015-09-28 21:07] nicoddemus commented on #1082
Thanks @hunse! :smile:

[2015-09-29 06:29] vodik commented on #1034
Looks like [addhooks may indeed be the problem](https://github.com/pytest-dev/pytest-factoryboy/blob/ab0c73/pytest_factoryboy/plugin.py#L61)

[2015-09-29 07:07] #1034 closed

[2015-09-29 12:13] xavfernandez opened #1083 "Regression with parallel tests on 2.7.3 and 2.8"
Hello,
Some tests in pip test suite started failing with latest pytest releases:
- https://travis-ci.org/pypa/pip/builds/82695909 is develop with parallel testing and pytest==2.8 (2 tests failing)
- https://travis-ci.org/pypa/pip/builds/82716794 is develop but no parallel testing and pytest==2.8 (all green)
- https://travis-ci.org/pypa/pip/builds/82720894 is develop, parallel testing and pytest==2

[2015-09-29 15:14] Themanwithoutaplan opened #1085 "pytest raises an invalid UnicodeEncodeError in Python 2.7"
This looks like it has just crept into pytest 2.8.1.

I have a parametrised test where I'm passing in unicode, decoded from bytes. Pytest fails to even collect the test. This didn't used to happen (env's with 2.7.2 are running fine) and I'm pretty sure the code is legitimate across Python 2/3

[code]

[2015-09-29 15:16] sloria opened #1086 "Regression: UnicodeEncodeError with non-ascii characters in parametrized tests"
On pytest 2.8.1 on Python 2.7.10, a `UnicodeEncodeError` is raised .

Code to reproduce:

[code]

This did not occur with pytest 2.8.0

[2015-09-29 15:49] reaperhulk opened #1087 "SystemError when passing an empty byte string in Python 3.x"
Under Python 3.x with pytest 2.8.1

[code]

causes a SystemError during the call to `codecs.escape_encode` inside `_escape_bytes`. This was introduced in commit https://github.com/pytest-dev/pytest/commit/e1063678f10b48c5872f6e9d829c21be9097748b, but is really a CPython bug as `codecs.escape_encode(b'')` should not cause a SystemError. That said, pytest probably needs to work around the bug for no

[2015-09-29 16:22] nicoddemus commented on #1086
Thanks for the report! I will take a look as soon as possible.

[2015-09-29 16:23] nicoddemus commented on #1086
Hmm closing as duplicate of #1085, both reported nearly at the same time. :smile:

[2015-09-29 16:23] #1086 closed

[2015-09-29 16:24] The-Compiler commented on #1087
I reported the bug upstream as [issue25271](http://bugs.python.org/issue25271).

[2015-09-29 16:24] nicoddemus commented on #1085
Thanks for the report! I will take a look as soon as possible, it is clearly related to the fix done for  #1030.

[2015-09-29 16:55] bukzor commented on #1029
@RonnyPfannschmidt That's wrongheaded on several counts.

a) A very convenient, and standard, way to configure tools' cache location is to set $XDG_CACHE_DIR. Many of my project's fixtures do this for other reasons already. Similarly, the most convenient, and standard, way to set "basetmp" would be $TMPDIR.

b) "something a CI system can easily pick up" is exactly these environment variables. Many

[2015-09-29 16:58] bukzor opened #1089 "configure .cache via $XDG_CONFIG_DIR"
Forked from #1029

---

a) A very convenient, and standard, way to configure tools' cache location is to set $XDG_CACHE_DIR. Many of my project's fixtures do this for other reasons already. Similarly, the most convenient, and standard, way to set "basetmp" would be $TMPDIR.

b) "something a CI system can easily pick up" is exactly these environment variables. Many systems will already support this

[2015-09-29 16:58] bukzor commented on #1029
moved to #1089

[2015-09-29 18:29] RonnyPfannschmidt commented on #1089
is there a good package that helps finding those paths and helps clearing unused caches

after all if the cache folder is outside of the working directory,
its lifetime is unrelated to the working directory

imagine for example a unaware ci system that makes one folder per build could easily DOS the ci server due to filling up ~/.cache of the ci user

with the current mode of operation, cache and

[2015-09-30 00:13] #1067 closed

[2015-09-30 00:13] nicoddemus commented on #1067
Fixed in `2.8.1`

[2015-09-30 01:32] nicoddemus commented on #995
Thanks @astraw38, that helped me narrow down a simple test case and fix the issue. :smile:

[2015-09-30 01:46] nicoddemus commented on #1085
@sloria and @Themanwithoutaplan, could you please verify if the branch #1092 solves this problem in your test suites? Thanks!

You can install it directly into your environment:

[code]

[2015-09-30 01:47] nicoddemus commented on #1086
PR open at #1092

[2015-09-30 02:31] sloria commented on #1085
Confirmed--that branch fixes the problem on my test suite. Thanks for the quick response!

[2015-09-30 03:32] nicoddemus commented on #958
Is there anything that can be done by `py.test` at all here? From @RonnyPfannschmidt's, explanation I gather that nothing can be done and we should close this. Is this correct?

[2015-09-30 05:17] RonnyPfannschmidt commented on #958
Workaround might be something like `pyhon -m pytest`

[2015-09-30 05:17] #958 closed

[2015-09-30 07:27] Themanwithoutaplan commented on #1085
Not sure how to run tox against this branch,

[2015-09-30 07:35] RonnyPfannschmidt commented on #1085
@Themanwithoutaplan you can probably just copy the git url @nicoddemus posted into the deps section

[2015-09-30 08:15] Themanwithoutaplan commented on #1085
What deps section? I don't see one in the PR.

[2015-09-30 08:35] The-Compiler commented on #1085
@Themanwithoutaplan the deps section in your project's `tox.ini` - you should be able to simply replace `pytest` with `git+https://github.com/nicoddemus/pytest@param-ids-fix` there.

[2015-09-30 08:40] Themanwithoutaplan commented on #1085
@The-Compiler thanks. Tests no longer fail with that.

[2015-09-30 10:28] drcongo commented on #1034
Thanks @vodik and @hpk42

[2015-09-30 16:54] bukzor commented on #1089
Those are good points...

I don't have a good answer. The applications I've seen don't worry about cleaning up like that.
It would work for me if we use the current behavior when XDG_CACHE_DIR doesn't exist.

@asottile

[2015-09-30 17:02] bukzor commented on #1089
This one at least helps find a good platform-specific cache dir: https://pypi.python.org/pypi/appdirs/1.4.0

[2015-09-30 17:05] bukzor commented on #1089
This one helps manage expiry for a file-based cache.
Making one of the keys be the working directory would make it work.

http://pythonhosted.org/pyfscache/

[2015-09-30 17:28] RonnyPfannschmidt commented on #1089
i shorty investigated appdirs and pyfscache, unfortunately both are unsuitable

appdirs seems bug-ridden
pyfscache is for something entirely different not fitting the use-case

[2015-09-30 18:47] Nikratio commented on #958
Reported at https://bitbucket.org/pypa/setuptools/issues/443/

[2015-10-01 00:27] demianbrecht opened #1097 "Issue around usage of raises as context manager"
For those who are well versed in context managers, the usage is fairly obvious. However, for those not so well versed, the behavior in the following cases may be unexpected:

Expected:

    with pytest.raises(ValueError):
        assert 1 == 0  # this will fail
        raise ValueError

Unexpected:

    with pytest.raises(ValueError):
        raise ValueError
        assert 1 == 0  # this will nev

[2015-10-01 00:42] asottile opened #1098 "Confusing error message around tmpdir fixture"
Simplest reproduction:

[code]

[code]

pytest version: 2.8.1

fwiw this breaks my build here: https://travis-ci.org/pre-commit/pre-commit/jobs/83034637

[2015-10-01 03:14] nicoddemus commented on #1098
Thanks the report!

The problem is that `tmpdir_factory` is now a builtin fixture, and you're overriding it here with a fixture which also receives `tmpdir`. Problem is that the builtin fixture `tmpdir` requires `tmpdir_factory`, and since your fixture overwrote the builtin, there's a recursion.

The workaround is to rename your `tmpdir_factory` fixture.

Not sure how simple it is to fix this in `

[2015-10-01 04:00] #995 closed

[2015-10-01 04:11] RonnyPfannschmidt commented on #1097
Reverting exceptions is something only common lisp can do
We certainly won't try to support it

It's not clear how to advance the docs, up for a PR?

[2015-10-01 05:04] demianbrecht commented on #1097
Absolutely. Just have to get legal approval from work first, so might be at least a week or two before I get to it.

(And yeah, I'd venture to say that not trying to support the alternate suggestion is the Right Thing to do ;))

[2015-10-01 13:09] #1085 closed

[2015-10-01 13:09] #1087 closed

[2015-10-01 13:43] sergiy-kozak opened #1099 "pytest 2.8.1: wrong error type is caught in _pytest/python.py in def _idval(val, argname, idx, idfn)"
In function _idval(val, argname, idx, idfn) of mentioned source file next code is present:
[code]
In case val variable is unicode value, that contains characters with ordinal > 128, str(val) fails with UnicodeEncodeError, which one would like to catch and fall back to autogenerated parameter id value, like argname1, argname2 etc. The current _idval code causes to the collection time exception, for

[2015-10-01 13:46] sergiy-kozak commented on #1099
Similar problem exists in the following function implementation (in _pytest/python.py):
[code]
which may be fixed by replacing `except UnicodeDecodeError:` with `except UnicodeEncodeError:`

[2015-10-01 13:53] The-Compiler commented on #1099
It seems at least the first case was fixed in #1092

[2015-10-01 13:58] nicoddemus commented on #1099
@sergiy-kozak could you try with latest `master` please? This should be fixed there. You can install it directly into a virtual environment:

[code]

[2015-10-01 16:31] #536 closed

[2015-10-01 20:38] bubenkoff commented on #1062
@RonnyPfannschmidt any chance for you to look at it?

[2015-10-01 21:49] RonnyPfannschmidt commented on #1062
i think i can manage saturday/sunday

[2015-10-02 00:16] skirpichev opened #1100 "Exception while using module scoped fixture (ok in 2.7.3 and broken in 2.8.x)"
Now with my old [conftest.py](https://github.com/skirpichev/omg/blob/travis-no-split/sympy/conftest.py) doesn't work.  I see such tracebacks (looks similar to #943):
[code]
Removing module-scoped fixtures obviously "helps".

Build logs from Travis: [good](https://travis-ci.org/skirpichev/omg/jobs/79522689) and [bad](https://travis-ci.org/skirpichev/omg/jobs/83139232).

[2015-10-02 01:08] nicoddemus opened #1101 "Integrate plugins_index generation with rest of docs generation"

[2015-10-02 01:22] nicoddemus commented on #1100
Hi @skirpichev, thanks for the report!

In case others want to take a stab at this, here's a reproducible example:

**conftest.py**
[code]

**test_bug.py**
[code]

Execute with:

[code]

* Moving fixture to `test_bug.py` no longer causes the error;
* `py.test` without `--doctest-modules` also doesn't cause the error;

[2015-10-02 01:41] nicoddemus commented on #1100
Hmmm I found a fix, but then ran into #1057 when trying to execute your test suite with my fix in place. I will need a little more time to fix this and #1057 as well.

[2015-10-02 06:45] sergiy-kozak commented on #1099
I'll give it a try and report here.

[2015-10-02 08:08] sergiy-kozak commented on #1099
I tested with the latest dev pytest code. I confirm the fix in #1092 is sufficiently solving the issue, hence #1099 can be closed as the duplicate. Thanks everyone for replying on this issue.

[2015-10-02 09:56] skirpichev commented on #1100
BTW, this looks like a regression.  Can you include fix in the next stable point release (of course, if the fix will be available)?

[2015-10-02 10:32] The-Compiler commented on #1100
I'll probably be the one releasing 2.8.2 at the beginning of next week - so if it's in until then, sure!

[2015-10-02 10:43] nicoddemus commented on #1099
Thanks! :smile:

[2015-10-02 10:43] #1099 closed

[2015-10-02 11:21] aequitas commented on #442
Would love to see this fixed.

[2015-10-02 15:54] nicoddemus commented on #1098
I see you renamed your fixture to `tmpdir_factory` in pre-commit/pre-commit#270, so I'm closing this for now. :smile:

[2015-10-02 15:54] #1098 closed

[2015-10-02 16:12] dairiki opened #1103 "Collection fails in python 2.6 if mock.call is imported"
As of yet, I have no idea why this happens, but, using
- python 2.6
- mock 1.3.0
- py.test 2.8.1 (or 2.8.0)

With `test_mock.py` containing the single line:
[code]

`py.test test_mock.py` fails with
[code]

This same error seems to happen when collecting tests from any source which includes a `from mock import call`.

(This does not happen with pytest < 2.8.  Also this does not seem to be a proble

[2015-10-02 16:16] The-Compiler commented on #1103
Closing as a duplicate of #1035 and #1044.

[2015-10-02 16:16] #1103 closed

[2015-10-02 16:22] The-Compiler commented on #1035
It seems this is caused by 3497aa0766ac6f2f2cd66cc483c86f2a67a738aa / #921

/cc @tomviner

[2015-10-02 16:29] dairiki opened #1104 "UnicodeEncodeError with unicode parameters in mark.parametrize"
With python2 (2.6 & 2.7), pytest 2.8.1, and the following in `test_u.py`
[code]

`py.test test_u.py` fails with
[code]

This does not happen with pytest==2.8.0 and does not seem to be an issue in py3k.

[2015-10-02 16:40] dairiki commented on #1103
Sorry for the dup.  Thanks for the pointers!

[2015-10-02 16:41] nicoddemus commented on #1104
Thanks for the report, but this has been fixed in #1092. :smile:

It would be nice if you could test it with the latest master to confirm though:

[code]

[2015-10-02 16:41] #1104 closed

[2015-10-02 16:46] dairiki commented on #1104
Sorry for another dup.
And yes, this appears to have been fixed in master.

Thanks!

[2015-10-02 17:30] nicoddemus commented on #1104
No worries!

Cheers,
:beers:

[2015-10-02 18:13] qwcode commented on #1035
to be clear, this started with 2.8.0, correct?

[2015-10-02 18:54] mgaldzic opened #1105 "Third-Party Plugins"
plugin status links broken. For example, I was looking for pytest-ipynb as I am having no luck getting it to recongize notebooks.
http://pytest.org/latest/plugins_index/index.html

![image](https://cloud.githubusercontent.com/assets/406285/10255003/25272dda-68fc-11e5-9d4b-d9a10bdde0f4.png)

[2015-10-02 18:56] nicoddemus commented on #1105
Thanks for the report @mgaldzic!

[2015-10-02 19:44] demianbrecht commented on #1097
Approval came quicker than anticipated, hope the addition makes sense to you.

[2015-10-02 20:21] The-Compiler commented on #1035
Yes, it seems to work fine with 2.7.3 which is before that commit.

[2015-10-02 20:27] hummus opened #1107 "non-ascii parametrized arguments throw `UnicodeDecodeErrors` as of 2.8.1"
non-ascii parametrized arguments throw `UnicodeDecodeErrors` as of 2.8.1.

###### test_unicode_parametrize.py:
[code]

###### to reproduce:
[code]

[2015-10-02 20:29] The-Compiler commented on #1107
This should be fixed in #1092 and already has a handful of duplicates :wink:

Can you verify it works with your testsuite when running the current master?

[code]

there should be a 2.8.2 release with the fix early next week.

[2015-10-02 20:37] hummus commented on #1107
sorry should have checked that first! master is fine.

[2015-10-02 20:37] #1107 closed

[2015-10-02 21:39] #1097 closed

[2015-10-03 08:46] RonnyPfannschmidt commented on #1097
@demianbrecht that was good work :)

[2015-10-03 17:20] nicoddemus commented on #607
FWIW the implementation for `pytest.mark.skip` was just merged in the `features` branch, target for the `2.9` release. :smile:

[2015-10-03 19:12] nicoddemus commented on #1057
Hi @vitalk, I just opened a PR which fix this. Could you please confirm that it fixes your test suite?

[code]

[2015-10-03 19:12] nicoddemus commented on #1100
Hi @skirpichev, I just opened a PR which fix this. Could you please confirm that it fixes your test suite?

[code]

[2015-10-03 19:13] nicoddemus commented on #943
Hi @karthikborkar, I just opened a PR which hopefully fixes this. Could you please confirm that it fixes your test suite?

[code]

[2015-10-03 21:08] skirpichev commented on #1100
On Sat, Oct 03, 2015 at 12:12:46PM -0700, Bruno Oliveira wrote:

Yep.  Good logs from Travis:
https://travis-ci.org/skirpichev/omg/builds/83483278

Thank you for fix.

[2015-10-04 05:10] kemskems opened #1110 "Pytest fails if run from inside a function"
Hi,

I have a Flask application with directory structure like this:

[code]

I am using [Flask-Script](https://flask-script.readthedocs.org/en/latest/) plugin so I can do `python manage.py test` to run pytest. I have this in my `manage.py` file:

[code]

And when I run `python manage.py test` it fails with `ERROR: file not found: test`. Turns out pytest interprets the function name as a file name

[2015-10-04 09:19] jodal commented on #1085
The #1030 change in 2.8.1 broke my test suite too. The branch linked here solves the problem. Hoping for a quick 2.8.2 release.

[2015-10-04 12:24] RonnyPfannschmidt commented on #1110
pytest.main will use `sys.argv` unless you pass a own **list** of options,

using `pytest.main([])` should be sufficient for the simple case
you might want to pass additional arguments for test selection/pytest options

[2015-10-04 12:24] #1110 closed

[2015-10-04 14:43] kemskems commented on #1110
@RonnyPfannschmidt thanks for the explanation. now it makes sense.

[2015-10-04 15:09] mithrandi opened #1111 "pytest.mark.parametrize fails with lambdas"
For example, the following:

[code]

fails like this:

[code]

This reproducer may seem rather odd by itself, but something like this may arise with a decorator that returns a lambda.

I have confirmed this failure on pytest 2.7.0, 2.7.3, 2.8.0, and 2.8.1.

[2015-10-04 15:18] nicoddemus commented on #1111
Thanks for the report @mithrandi! :smile:

[2015-10-05 11:10] vitalk commented on #1057
Works like a charm! Thank you.

[2015-10-05 15:45] Themanwithoutaplan commented on #840
Sorry for taking such a long time to review this but I still have this problem.

[2015-10-05 16:37] #1101 closed

[2015-10-05 16:37] #1105 closed

[2015-10-05 18:33] The-Compiler opened #1112 "Reorganize content page"
I always found the pytest docs quite hard to navigate - and because of someone with the same issue in IRC just now I realized why: The stuff which is probably most relevant (`assert.rst` and `fixture.rst`) is hidden on `examples.rst` but not mentioned at all in `content.rst`.

Some other stuff in `content.rst` is probably not that relevant... I think the whole thing should have some reorganization

[2015-10-05 19:31] RonnyPfannschmidt commented on #1089
how about introducing a ini value/env variable to select the cache backend,
which defaults to worktree, but one can choose xdg/disabled?

@hpk42 oppinions?

[2015-10-05 19:36] asottile commented on #1089
Personally I'd rather default to xdg instead of needing to add .cache to the gitignore in every one of my projects

[2015-10-05 19:38] RonnyPfannschmidt commented on #1089
while i agree that it is a nice default, we cant do a change like that befor 3.0

also before we can do it propperly we need to come up with a solid way to clean things up

[2015-10-05 19:41] asottile commented on #1089
Maybe introducing the cache plugin defaulted to on should have been in 3.0 too :/

[2015-10-06 07:01] RonnyPfannschmidt commented on #1089
since its a normal feature addition, it doesnt warrant a release that large

[2015-10-06 13:28] xmo-odoo commented on #855
@nicoddemus this issue can be closed since #860 was merged no?

[2015-10-06 15:25] nicoddemus commented on #855
Yes, thanks for the reminder! :smile:

[2015-10-06 15:25] #855 closed

[2015-10-06 15:28] nicoddemus commented on #593
Closing as unable to reproduce the issue. If anyone manages to do that, please reopen a new issue so we can restart the discussion. :smile:

[2015-10-06 15:28] #593 closed

[2015-10-06 20:08] The-Compiler opened #1114 "tox -e py35-xdist (sometimes) fails on OS X (test_cache_show)"
I had this while testing the 2.8.2 release but can't actually reproduce it now...

[code]

[2015-10-06 20:17] The-Compiler opened #1115 "Many failures with tox -e py34 on Windows"
full log here: https://devpi.net/The-Compiler/dev/pytest/2.8.2/+toxresults/pytest-2.8.2.tar.gz/pytest-2.8.2.tar.gz.toxresult3#qemu-win8-win32-py34-test

[code]

[2015-10-06 20:20] The-Compiler opened #1116 "test_pdb.py hangs with tox -e py27-pexpect on Archlinux when run with devpi"
It works when running `tox -e py27-pexpect`, but not via `devpi test pytest==2.8.2 -e py27-pexpect` where it just hangs:

[code]

I'm seeing this on three Archlinux machines. I don't see an easy way to add `-v` here (short of doing a new release on devpi with another channel), but if I'm counting the dots correctly, that'd be `test_pdb.py::TestPDB::test_pdb_interaction_capturing_twice`.

[2015-10-06 20:21] The-Compiler opened #1117 "Release annoucements missing for 2.7.2/2.8.0/2.8.1"
There's nothing for those in `doc/en/announce`

[2015-10-06 20:38] The-Compiler opened #1118 "plugins_index.py: Wrong version number?"
When running `plugins_index.py` when trying to release on my `2.8.2-release` branch, it generates lines with `2.8.2.dev1` as version number, despite `__version__` being updated in `__init__.py` - maybe I'm using it wrong, but I'd expect it to get the pytest version from there...

I worked around it by doing `--pytest-ver=2.8.2`.

[2015-10-06 21:07] nicoddemus commented on #1118
Hmm the relevant code is [this](https://github.com/pytest-dev/pytest/blob/master/doc/en/plugins_index/plugins_index.py#L79):

[code]

My guess it was using `pytest` from your environment rather than the local one.

Neverthless, I think we should update the instructions to always pass the version explicitly so there's no chance of the docs being generated with the wrong version. What do you think?

[2015-10-06 21:39] nicoddemus commented on #1115
Here's what I get when running `devpi test´ on my machine:

[code]

[2015-10-06 22:42] tomviner commented on #1035
The difference in Python versions seems to be with `inspect.isclass`:

[code]

which is the correct answer btw - `_` is `<whatever.Whatever object at 0x7ff296b57210>`, which is an instance not a class. But in Python 2.6:

[code]

[My commit](https://github.com/pytest-dev/pytest/commit/3497aa0766ac6f2f2cd66cc483c86f2a67a738aa), mentioned above, amends the `collector.istestclass` line below, but as

[2015-10-06 23:43] nicoddemus commented on #1035
Thanks for the investigation work @tomviner! It seems your solution of using a fixed `isclass` function for Python 2.6 would work just fine and would not break anything for Python versions > 2.6, so I'm :+1: on it.

[2015-10-07 04:20] The-Compiler commented on #1035
The probably related CPython commit: https://hg.python.org/cpython/rev/35bf8f7a8edc?revcount=1920

[2015-10-07 04:51] RonnyPfannschmidt commented on #1115
At first glance it seems like there might be a special file in your home @The-Compiler

[2015-10-07 05:12] RonnyPfannschmidt commented on #1116
See this on any other distro ?

[2015-10-07 05:37] The-Compiler commented on #1116
Not on Ubuntu Trusty/Vivid and Debian Jessie...

[2015-10-07 05:44] The-Compiler commented on #1118
Sounds good, and it's a minor burden for being less error-prone - I also think the script should be adjusted then so `--pytest-ver` is required :wink:

[2015-10-07 06:27] The-Compiler opened #1120 "Cleaning up tmpdir's"
Currently it seems pytest never cleans up the temporary directories it creates. Is this intended?

I can see how it can be useful when tests fail and one wants to inspect the contents of the temporary folder - but it can also cause a lot of trouble with long-running systems (I had the harddisk of a VM fill up because >2 GB of pytest tempfiles accumulated) or systems not cleaning the tempdir (Windo

[2015-10-07 06:43] The-Compiler commented on #1115
FWIW I tried deleting `C:\Users\florian\.cache`, `C:\Users\florian\AppData\Local\pytest*`, and `C:\Users\florian\proj\pytest\.cache` without anything changing.

[2015-10-07 07:44] RonnyPfannschmidt commented on #1115
perhaps a conftest, or a stray tox/pytest.ini?

[2015-10-07 07:45] RonnyPfannschmidt commented on #1120
the default was to clean up all but the last 3 folders? is this a regression?

[2015-10-07 08:01] The-Compiler commented on #1120
From a cursory look I can't find anything related to cleanup in the code, even in the history... f456e376b99722f8e094ac52698e0fa9252ae686 from 2010 adds a `TempdirHandler.finish` method, but that only does `self.trace("finish")`.

[2015-10-07 08:17] RonnyPfannschmidt commented on #1120
py.path.local.make_numbered_dir has the cleanup code

[2015-10-07 08:30] tomviner commented on #1035
Comments on this patch please https://github.com/pytest-dev/pytest/pull/1121

[2015-10-07 10:10] nicoddemus commented on #1118
Agreed. :smile: I'll take care of it, thanks.

[2015-10-07 14:02] nicoddemus commented on #1035
@Suor, could you please try #1121 in your test suite to ensure it works and does not break anything else by accident?

[2015-10-07 14:06] The-Compiler commented on #1035
@alfredodeza @jantman @renstrom @daikiri @jmoldow @trhoden any chance some of you could test that PR as well? :wink:

[2015-10-07 16:59] bukzor commented on #1057
We're having this issue as well.

Please to merge and release.

[2015-10-07 17:06] nicoddemus commented on #1057
@bukzor could you please test the PR branch as well?

[2015-10-07 17:09] bukzor commented on #1057
yep, it's fixed on that branch

[2015-10-07 17:27] nicoddemus commented on #1057
Thanks! :smile:

[2015-10-07 17:46] bukzor commented on #1057
Please to merge and release.

[2015-10-07 20:56] moorecm commented on #1004
As a user, I think some improvements could be made in this area.  I can understand instances where users may want to vary how this happens--and I don't think that this means they should have to implement a bunch of hooks to get what they want.

Currently, it seems inconsistent.  You don't get PASSED for the setup step that worked, you always get the call step result, and you only get errors from t

[2015-10-07 20:58] moorecm commented on #225
Isn't this still an issue?  Printing something from setup works but doesn't work in finalizers, that is.  I'm seeing the finalizers run, they just can't print stuff for some reason.

[2015-10-07 21:04] moorecm opened #1122 "Better trace reporting for chained exceptions"
Consider a test that raises an exception, after catching some other exception, and chaining them:

def test_that_raises():
    try:
        raise Exception('I want to know the type of exception and this message somewhere")
    except Exception as ex:
        raise Exception('A new custom exception that is more general') from ex

The test report shows the second Exception instance and its informati

[2015-10-07 21:07] The-Compiler commented on #1122
This seems to be a duplicate of #138.

[2015-10-07 21:07] #1122 closed

[2015-10-07 21:14] moorecm commented on #1122
Agreed.  Thanks!

Sent from my iPhone

[2015-10-08 01:50] jantman commented on #1035
@The-Compiler This looks good to me - https://travis-ci.org/jantman/awslimitchecker/builds/84219885 and https://github.com/jantman/awslimitchecker/tree/pytest-pr-1121

[2015-10-08 04:39] nicoddemus commented on #225
Perhaps we should open a new issue specifically about prints not being shown for teardown?

[2015-10-08 06:06] hanks opened #1123 "does pytest support to this way to collect test cases?"
I want to shorten test method name, and just rewrite method name with comment, like this:
[code]
Yeah, it does not work, but how to customise pytest to implement this style?

[2015-10-08 07:32] RonnyPfannschmidt commented on #1123
Instead if making a wrapper functioning, just add a `__test__` attribute with a true value

Also you can override collection from the pytest side

A native `pytest.mark.test` is in planning

But can also easily be implemented in a conftest

[2015-10-08 13:25] moorecm commented on #225
Well, I simplified my problem to open a new issue and wouldn't you know it worked fine.  I must have something wrong on my side.  I tested it using pytest 2.8.0.

[2015-10-08 17:01] dairiki commented on #1035
PR  #1121 works for me.  Thank you all!

[2015-10-09 18:11] nicoddemus commented on #680
Fixed in #1124

[2015-10-09 18:11] #680 closed

[2015-10-09 18:13] nicoddemus commented on #564
Fixed in #1124

[2015-10-09 18:13] #564 closed

[2015-10-09 19:22] nicoddemus opened #1125 "Create internal `_pytest.compat` module to host workarounds for different interpreter versions"
Create a `_pytest._compat` module that contains workarounds for different interpreter versions.

The benefit would be to concentrate this kind of functionality into a single place making it easy to reuse it and remove compatibility code as support for older python versions is dropped.

[2015-10-09 19:56] nicoddemus commented on #1035
Fixed in #1121

[2015-10-09 19:56] #1035 closed

[2015-10-09 21:47] RonnyPfannschmidt commented on #1125
`_pytest` is already internal, no need t double imho

[2015-10-10 09:06] RonnyPfannschmidt opened #1126 "verify how badly we got junit-xml wrong"
according to the relax Schema's at http://help.catchsoftware.com/display/ET/JUnit+Format
we have quite a lot of the elements we should have at the suite level at a testcase level

[2015-10-10 09:10] RonnyPfannschmidt commented on #607
@nicoddemus @hpk should we issue a pytest_warning if pytest.skip happens outside of the runtestprotocol?

[2015-10-10 12:21] #943 closed

[2015-10-10 12:21] #1057 closed

[2015-10-10 12:21] #1100 closed

[2015-10-10 17:04] RonnyPfannschmidt commented on #1047
@mattip any more info ?

[2015-10-10 17:06] RonnyPfannschmidt commented on #138
this is blocked by #103

[2015-10-10 20:06] nicoddemus commented on #103
@Bjwebb any news on this?

[2015-10-10 20:31] mattip commented on #1047
No. I am not a pytest power user, I don't know how to "copy the plugin" (what plugin, where to copy it to?) nor do I know how to even begin to approach the second thing you said.

[2015-10-11 07:22] RonnyPfannschmidt commented on #1047
@mattip i see,

my proposal would be to introduce a `pytest_doctest_namespace` fixture,

then you would be able to do the following in a `conftest.py`

[code]

@nicoddemus any comments on that idea

[2015-10-11 10:04] RonnyPfannschmidt commented on #1123
the most simple method should be like (i didn't run it on my machine and it needs a recent py.test)

[code]

also closing the issue for now

[2015-10-11 10:05] #1123 closed

[2015-10-11 12:15] RonnyPfannschmidt opened #1129 "provide all builtin fixtures with a `pytest_` prefix and use that prefix in internal fixtures"
currently when people override internal fixture names, we break, instead we should be able to gracefully fall back to a `pytest_` prefix

- [] support public aliases for fixtures, that's used for used for display unless a test writer fixture overrides it
- [] rename all internal fixtures to fit that naming scheme
- [] document how interacting plugins can make use of that
  (test-suite writers can

[2015-10-12 11:33] DRMacIver opened #1131 "Experiencing unicode error inside pytester in Hypothesis test suite"
When running under Python 3 on Windows Hypothesis seems to be triggering an exception inside pytester when I run the following test (I have tried this against 1.11.4). Unfortunately I haven't been able to reproduce a small test case without Hypothesis involved:

[code]

The exception produced is:

[code]

I have run this on pytest 2.8.2, but I was seeing this error before on probably 2.8.0 (which

[2015-10-12 17:19] derwolfe opened #1132 "Pytest/capsys fixture not capturing stdout"
`Py.test` isn't capturing the output from `stdout` or `stderr`.

[code]

The test case was run and reproduced on OS X 10.11 with pythons 2.7.10 and 3.5.0.

The versions used are:
[code]

Thanks!

[2015-10-12 17:22] derwolfe commented on #1132
Also, calling `sys.stdout.write` and `sys.stderr.write` directly **do** seem to work correctly (that is, their output is captured).

[2015-10-12 20:09] RonnyPfannschmidt commented on #1132
capsys will replace the actual object instead of the underlying file descriptor
making a reference to the prior object will of course replace the stream

a solution is in planning, but will at best it 3.0

[2015-10-12 21:14] The-Compiler commented on #1132
As @RonnyPfannschmidt said, you're "saving" `sys.stdout` before pytest can replace it with the capturing one. The solution pretty much boils down to "don't do that" :wink:

Can this be closed?

[2015-10-12 21:16] derwolfe commented on #1132
@RonnyPfannschmidt thanks for your response. Yes, this can be closed.

[2015-10-12 21:16] #1132 closed

[2015-10-12 21:26] nicoddemus opened #1133 "InternalError: AttributeError: 'str' object has no attribute 'relto'"
It seems there are other situations where `Entry.path` might return strings rather than `py.path.local` objects than just generated code. This is happening on [pytest-qt AppVeyor](https://ci.appveyor.com/project/nicoddemus/pytest-qt/build/job/cu03wduyiq9004g3) on Python 2.7. :ghost:

I have modified my local code to print `entry.path`:

[code]

And this is what I see:

[code]

Not sure how to repr

[2015-10-13 08:05] The-Compiler commented on #1133
FWIW I see the same when I do `tox -e py27-pyqt4 -- tests/test_logging.py` in the `pytest-qt` repo on Debian.

[2015-10-13 13:30] The-Compiler commented on #95
Another thing brought up in IRC is a version of `all(...)`/`any(...)` which shows more information than the builtins when used with an iterator:

[code]

[code]

[2015-10-14 06:01] hanks commented on #1123
@RonnyPfannschmidt

[2015-10-14 10:25] RonnyPfannschmidt commented on #1123
you can use call stack inspection, and put the tests into the locals of the calling namespace

or you create a custom object in the locals to begin with

[code]

you will need to extend the reporting as well if you want to use this style

[2015-10-14 14:26] skirpichev opened #1134 "goodpractises.rst doesn't work for new setuptools"
test_args is a read-only property since 18.4.

See example of failed build: https://s3.amazonaws.com/archive.travis-ci.org/jobs/84756786/log.txt

[2015-10-14 15:29] nicoddemus commented on #1134
Thanks for the report! :smile:

Do you know if removing the `self.test_args = []` line from `finalize_options` is enough to fix it?

[2015-10-14 16:33] skirpichev commented on #1134
On Wed, Oct 14, 2015 at 08:29:06AM -0700, Bruno Oliveira wrote:

No.  At least not without filtering for self.test_args
later (e.g. in run_tests).  E.g. by default ("./setup.py test" with no args):

    test_args = ['--verbose', None]

The last element is due to self.test_suite.

[2015-10-14 17:12] allankilpatrick opened #1135 "pytest_collection_modifyitems returns all tests"
Given I have a suite with 5 tests
and I run: py.test -k test_foo  ( this only matches one test )

When I hit pytest_collection_modifyitems hook
len(items) returns 5

Should len(items) not return 1 ?

[2015-10-14 17:29] RonnyPfannschmidt commented on #1135
marker selectors are implemeted using that hook,

so if yours gets excecuted first, it wont see the change

you can use the hokwrapper or the depreccated `__multicall__` mechanism to deal with surrounding the rest of the hook invoations to see how len(items) is changed while the modifyitems hook executes

[2015-10-14 23:33] nicoddemus commented on #1133
I found a workaround: If I `changedir=tests` in my `tox.ini`, my suite passes.

My guess is that when running the tests inside the `tox` environment, the `py.code.Code` object was seeing the local `pytestqt/logging.py` file instead of the `pytestqt.logging` inside the tox environment.

It seems to me that `filter_traceback` should never rely that `entry.path` is a `py.path.local` instance.

[2015-10-15 08:07] fontealpina opened #1137 "xdist: boxed send an item object to a subprocess"
I'm aware that currently xdist boxed plugin doesn't run on Windows, due to it is based on linux fork.
But in my project I need a boxed feature in a cross-platform way, with also a control on subprocess memory consumption and time duration (but is a detail here). So I've written a new boxed plugin, here the core code even if in the real code there are more details like subprocess control:

     fro

[2015-10-15 08:17] allankilpatrick commented on #1135
@RonnyPfannschmidt  thanks

For anyone interested in getting the items that only meet the criteria when using -k:

[code]

[2015-10-15 08:17] #1135 closed

[2015-10-15 08:30] The-Compiler commented on #1135
@allankilpatrick huh? There's no `self`, and I have no idea what `foo_selected_items` would be :wink:

[2015-10-15 08:57] allankilpatrick commented on #1135
@The-Compiler better?

[2015-10-15 08:58] RonnyPfannschmidt commented on #1137
that approach is next to impossible,

future xdist will include a mode that will have each node collect torwards exactly one test and then run that test

however that requires refactorings in xdist

[2015-10-15 09:16] The-Compiler commented on #1135
Oh- I thought the part inside of the function was relevant and didn't focus on the `trylast=True` - sorry!

(I clearly need more coffee :coffee: :wink:)

[2015-10-15 13:18] nicoddemus commented on #1137
Just to complement Ronny's answer, the problem is that test items, by design, contain a lot of runtime information which are very hard (impossible) to marshal, for example contains attributes that point to the current fixture manager, config object, etc etc.

[2015-10-15 17:21] fontealpina commented on #1137
Many thanks for the clarity of the response.
For me this issue can be closed.

[2015-10-15 17:21] #1137 closed

[2015-10-15 19:00] Dowwie opened #1138 "using pytest 2.8.1, pytest cannot find test function using this syntax: "py.test test_mod.py::test_func""
I have a test function that is @pytest.mark.parametrize 'd .  This test function isn't found by pytest when I explictily try to test it from a directory above.

from this directory https://github.com/YosaiProject/yosai/tree/master/test
I run:
[code]

this fails

[2015-10-15 19:23] The-Compiler commented on #1138
Arguments to `py.test` are filenames, so this won't work - you probably want `py.test -k test_mra_has_all_roles authz/test_authz.py`.

[2015-10-15 19:56] #1138 closed

[2015-10-15 19:56] Dowwie commented on #1138
indeed.  thanks :)

[2015-10-15 21:34] pupssman commented on #175
So, is anything up here?

[2015-10-15 22:02] nicoddemus commented on #175
Unfortunately not right now.

I have some ideas and plan to write a proposal to see what people think. I will link it here once it is ready.

[2015-10-15 22:16] asottile commented on #1029
This has regressed (2.8.2):

[code]

[2015-10-16 04:12] The-Compiler commented on #1029
@asottile I don't think this is a regression - it seems like @nicoddemus' fix handles `py.error.ENOTDIR` only, but the error you get is something different.

I found it odd that you get that during the `f = path.open('w')` line though, and not earlier (`path.dirpath().ensure_dir()`).

[2015-10-16 04:42] RonnyPfannschmidt commented on #1029
@asottile can you provided more information on the invocation into docker?
I need a way to reproduce this

[2015-10-16 05:48] schlamar commented on #749
This is not resolved, there are wheels on 2.8.2 :(

[2015-10-16 06:18] The-Compiler commented on #749
[HOWTORELEASE.rst](https://github.com/pytest-dev/pytest/blob/master/HOWTORELEASE.rst) says to build wheels, so that's what I did when doing my first release :wink:

Honestly, I personally don't think it's the correct solution to avoid building wheels for pytest.

https://github.com/pypa/pip/issues/1891 mentions running `wheel install-scripts <packagename>` works around this, so I think people shou

[2015-10-16 08:10] The-Compiler commented on #95
Some ideas came up in #1136 about how a new `match_lines` helper could work:

I actually like the idea of having a `match_lines` with different kinds of matchers. I think the default (i.e. when using a string) should be `fnmatchcase`, which makes it as convenient (and, IMHO, a lot more sane) than `fnmatch_lines`. Then there could be other matchers:

* `matcher.separator('=', 'Test Name')` (I defin

[2015-10-16 08:18] RonnyPfannschmidt commented on #95
[code]

[2015-10-16 09:45] ionelmc commented on #1057
Did this get released yet?

[2015-10-16 09:51] The-Compiler commented on #1057
No - it didn't make it into 2.8.2 and there's no 2.8.3 yet. But AFAIK @RonnyPfannschmidt plans to release 2.8.3 soon.

[2015-10-16 09:56] antocuni opened #1139 "Cython tracebacks are not shown correctly"
The following snippet demonstrate a pytest bug in showing Cython tracebacks when we are in
the wrong dir:
https://bitbucket.org/snippets/antocuni/EER6y

How to reproduce::

    $ python setup.py build_ext --inplace
    $ cd testing
    $ py.test --nosugar
    ====================== test session starts ======================
    platform linux2 -- Python 2.7.4 -- py-1.4.30 -- pytest-2.7.1
    rootd

[2015-10-16 12:03] shapiy commented on #14
I have encountered this issue when running parametrised tests. The test for the first parameter value always passes, but the next ones fail.

Pytest 2.8.1
Python 2.7.6

[2015-10-16 12:23] The-Compiler commented on #14
@shapiy Could you maybe show an example which reproduces the issue, or if it happens in a public codebase, do you have a link?

[2015-10-16 13:41] shapiy commented on #14
Unfortunately, the code I am working on is not available for public. The problem is very similar to @jfitzpatrick99's : the issue reproduces in the context only.

Actually, I'm not sure if pytest is to blame. It could be any other component in the system.

[2015-10-16 15:06] asottile commented on #1029
Here's a oneliner that reproduces:

[code]

The trace above can be reproduced by:

[code]

You'll probably have a faster debug loop with a dockerfile that looks something like (not tested):

[code]

[2015-10-16 15:32] RonnyPfannschmidt opened #1140 "cache plugin fails when running from container on normal worktree"
this is a extract of #1029

the core issue is that all the required folders are existing but inaccessible

issue #1029 contains hints on testing this

[2015-10-16 15:33] RonnyPfannschmidt commented on #1029
i created a super-seeding issue for that particular issue to keep track of the exact detail thanks for the debugging instructions

[2015-10-16 18:55] jaysw opened #1141 "Keyword selection expressions are limited to python syntax, which excludes some nodeids"
Hi there.

py.test is fantastic!

I'm wondering if the following is an error, or, expected behaviour:

With the following:

[code]

This works fine:

[code]

While the following triggers an internal error / syntax error:

[code]

Looks like condition here:

https://github.com/pytest-dev/pytest/blob/master/_pytest/mark.py#L154

prevents any matching on parameters having spaces in them (and falls th

[2015-10-16 19:13] mdengler commented on #1045
I'm glad there is a non-zero exitcode when no tests are collected -- exiting zero never seemed right to me -- but I'm seeing a exitcode of 5 even when tests have been collected.  Should I open a new issue, or is this related to a non-zero number of tests being skipped?

    $ py.test [...]
    =================================================================================== 306 passed, 17 skippe

[2015-10-16 21:48] htgoebel commented on #991
You may be interested in my tool [unittest2pytest](https://pypi.python.org/pypi/unittest2pytest/), which uses lib2to3 for transformation and will handle context-handlers quite soon.

[2015-10-16 22:26] nicoddemus commented on #1045
@mdengler it should return zero if tests were collected, regardless if they were skipped or not:

[code]

[code]

If you are getting something else, please open a new issue. :smile:

[2015-10-16 22:31] nicoddemus commented on #991
@ionelmc, did you move this forward? If not, perhaps it would be better to join efforts with @htgoebel in `unittest2pytest`... using `lib2to3` seems like an excellent approach to the problem. :smile:

[2015-10-17 06:58] #1133 closed

[2015-10-17 07:04] RonnyPfannschmidt commented on #1141
The current mark keyword evaluator uses python syntax,
There is a plan to create a more free evaluator, but its much work and not a priority

[2015-10-17 07:50] ionelmc commented on #991
Ooops, I forgot about this :grimacing:

@htgoebel is there anything that `py.convert_unittest` does and https://pypi.python.org/pypi/unittest2pytest/ doesn't?

[2015-10-17 08:49] hannes-ucsc opened #1143 "Assertion rewriting fails on OS X El Capitan"
[code]

I believe SIP (https://en.wikipedia.org/wiki/System_Integrity_Protection) to be the cause.

[2015-10-17 09:43] The-Compiler commented on #1143
Looking at the assertion rewrite module, it tries to write new bytecode and handles the common issues:

[code]

It seems SIP causes an error with errno 1, which (on my OS X Yosemite system at least) is `errno.EPERM`. I think the fix would be to handle that in the last block as well, i.e. treat this as a read only directory.

@hannes-ucsc - for now, you could probably also set `PYTHONDONTWRITEBYTEC

[2015-10-17 13:40] htgoebel commented on #991
@ionelmc AFAIK,  unittest2pytest coverts everything py.convert_unittest does – except installing in the `py` namespace, which IMHO is useless, as you will use this tool once for each project.

[2015-10-17 14:27] ionelmc commented on #991
Well I guess then we should have some link to https://pypi.python.org/pypi/unittest2pytest/ in the pytest docs?

[2015-10-17 15:33] htgoebel commented on #991
Well, I'd support this :-)

[2015-10-17 16:16] #991 closed

[2015-10-17 16:23] nicoddemus commented on #1139
Thanks for the report @antocuni! :smile:

[2015-10-17 16:38] #1118 closed

[2015-10-17 23:43] hannes-ucsc commented on #1143
@The-Compiler Setting `PYTHONDONTWRITEBYTECODE=1` indeed avoids the issue. Using a virtualenv doesn't. I think that's because a virtualenv inherits the modules that Python ships with, like `logging` in this example.

[2015-10-19 14:40] kromkrom commented on #517
There is an another actual case where this problem becomes apparent: a backwards transition from pytest-style fixtures to xunit-style. Our team finds former to be "too much magic" and latter more explicit and (thus) better supported by IDE.

[2015-10-19 22:49] EvanTheB opened #1146 "addoption "--run" behaviour is inconsistent."
I created an option with `parser.addoption("--run")`
Using this option worked find with the command line
`py.test --run argument`
However using the alternative syntax
`py.test --run=argument`
Caused the failure `py.test: error: argument --runxfail: ignored explicit argument 'abc'`. I assume that the option matching is using prefixes. I think the behaviour of runxfail being triggered by --run is fi

[2015-10-19 23:57] jaysw commented on #1141
So, in the above example, is there a way to select and run just the test, "test_me[spam eggs]" ?

[2015-10-20 05:16] RonnyPfannschmidt commented on #1141
The exact test can be selected by nodeid just use `py.test $nodeid`

[2015-10-21 07:27] immerrr opened #1148 "Getting TypeError when using --doctest-modules"
Got this error while working on jedi. To reproduce it:
- create a virtualenv with python 2.7 (not sure about other versions)
- check out and `pip install -e .` davidhalter/jedi@9b69f3a20f324dc8ea6fdc02e32dad5c009b5670
- check out and `pip install -e .` pytest master branch.
- run `py.test` in the root of jedi checkout.

It fails with the traceback you can find [here](https://gist.github.com/immerr

[2015-10-21 07:35] immerrr commented on #1148
Note: the original issue was about `AttributeError` instead of `TypeError` because pytest=2.8.2 failed with a different error and in the middle of posting the report I double-checked it using master.

[2015-10-21 08:20] RonnyPfannschmidt commented on #1146
this seems to be a `argparse` bug known since 2013

[2015-10-21 08:28] The-Compiler commented on #1146
What's the argparse bug? Looks fine in a quick test to me:

[code]

(also, I disagree this should be marked critical)

[2015-10-21 08:31] RonnyPfannschmidt commented on #1146
https://docs.python.org/2/library/argparse.html#partial-parsing

so in `preparse` we already kow `runxfail` but not `run`, thus runxfail is matched

[2015-10-21 08:34] RonnyPfannschmidt opened #1149 "drop argparse since its broken by design and unfixable"
relates to #1146

`argparse` has a prefix-matching mode that will invariably break user code in the `preparse` step unless they pick option names that cannot share a prefix with arguments known in preparse

[2015-10-21 09:57] immerrr commented on #1148
FTR: a mixture was missing indeed: it was defined in `test/conftest.py` and doctest plugin couldn't find it when traversing `jedi/` subdirectory.

[2015-10-21 10:17] RonnyPfannschmidt commented on #1148
indeed, fixtures from the test folder do not apply to the jedi folder unless you turn them into a local plugin

[2015-10-21 10:56] fontealpina opened #1150 "Pass dinamically command line option into a test body"
Hi, in my use case I need to set dinamically a self attribute of a test class with a command line option, without passing explicitly the parameter to the test definition, with a plugin.
For example:

    # content test.py
    class TestSuite():
         my_cmd_opt = 'foo'

         def test_case(self):
              assert self.my_cmd_opt != 'foo' # here the test should pass because self.my_cmd_op

[2015-10-21 11:13] nicoddemus commented on #1150
Yes, please take a look at [this section](http://pytest.org/latest/example/simple.html?highlight=pytest_addoption) in the docs.

Based on the example, you can now access the option directly instead:

[code]

But if you really want to set it as an attribute of the class, you can use an autouse-fixture in the class scope:

[code]

Hope this helps. :beers:

[2015-10-21 12:03] fontealpina commented on #1150
Thanks! I tried your suggestion but I get an error:

         E       NameError: global name 'self' is not defined

Morover I was wondering if instead of use a fixture solution, there is a chance to do that directly from a

          def pytest_runtest_protocol(item):

Setting the attribute my_cmd_opt before the calling of

          reports = runtestprotocol(item)
There is a way to do something l

[2015-10-21 12:21] nicoddemus commented on #1150
Sorry:

[code]

It is possible, you can access the `config` object using `item.config` in `pytest_runtest_protocol`, but IIMO this is too implicit... I would go with the fixture approach, it is simple and explicit.

[2015-10-21 12:27] fontealpina commented on #1150
Thanks! but in which of the item sub-object I need to set the attribute so that the test instance can see the command line option?

[2015-10-21 20:42] jiffyclub commented on #1134
This still seems to work on Python 2.7, but breaks on Python 3. When I comment out the `self.test_args = []` line I get this error when running tests on Python 2.7:

[code]

[2015-10-21 21:52] jiffyclub commented on #1134
I was able to get this to run by completely removing the override of `finalize_options`. Note the relevant setuptools code is at https://bitbucket.org/pypa/setuptools/src/ab1b60d1c77966140b6ed0df78868c26c16d22b4/setuptools/command/test.py?at=default&fileviewer=file-view-default#test.py-44.

[2015-10-22 02:06] nicoddemus commented on #1148
Thanks for the report and diagnosis!

[2015-10-23 22:56] o11c opened #1151 "preconstructed unittest tests don't work"
The following code can be used to run tests under `unittest`, but not under `pytest` (version 2.8.2):

[code]

This results in the following error in `_pytest/unittest.py`
[code]

[2015-10-23 23:25] RonnyPfannschmidt commented on #1151
As far as I understand from just reading, we shouldn't care since the object factory override is at fault and its not related to preconstructed testcases

[2015-10-24 10:18] kevinlg opened #1154 "Broken Link in the documentation"
The link in the sentence
_You can also use the **pytest_generate_tests** hook to implement the parametrization scheme of your choice._

from the documention lead to a 404

https://pytest.org/latest/test/funcargs.html#parametrizing-tests

[2015-10-25 02:50] agamdua commented on #363
I would like to `monkeypatch` the `datetime` module while running a function and scope it to a module.

I am getting the following issue when I attempt to do so:

`ScopeMismatch: You tried to access the 'function' scoped fixture 'monkeypatch' with a 'module' scoped request object, involved factories`

with this code (just switched the names around):

[code]

An equivalent with python's `unittest`

[2015-10-25 12:21] RonnyPfannschmidt commented on #1150
The fixture as shown by @nicoddemus is in the object itself, no need to mess around with items

[2015-10-25 20:20] nicoddemus commented on #363
Hi @agamdua,

Fixtures can only use fixtures of same scope or broader (for example, `function`-scoped fixture can use `session`-scoped fixtures, but not the other way around). There was talk about about adding an `"any"` scope, meaning that a fixture could be used in any scope, but no one's working on it as far as I know.

Did you notice @hpk42 response just before your question? It contains an ap

[2015-10-26 13:05] CosminTraistaru opened #1155 "BrokenPipeError: [Errno 32]"
OS: Ubuntu 14.04.3
Python: 3.4
Virtualenv based on requirements.txt file :
[code]

I got this error along the output of a test, the test didn't fail.
Don't know why I got this, maybe it helps.

	Traceback (most recent call last):
	  File "/ve/lib/python3.4/site-packages/_pytest/main.py", line 90, in wrap_session
	    session.exitstatus = doit(config, session) or 0
	  File "/ve/lib/python3.4/site-p

[2015-10-26 13:56] agamdua commented on #363
Hey! Thanks for the response.

I did notice the other response - I would have ideally liked to abstract the `_pytest` import from the rest of the codebase, and I think I can still manage to do that with the method there, something I missed on teh first read.

Thanks also for the example with mock, and pytest-mock packages. The first I didn't think of, and the second I didn't know about.

I will lo

[2015-10-27 00:33] nicoddemus commented on #1155
Hi,

Does that test somehow fiddles with the stdout/stderr? It seems at some point during the test someone called `stdout.close()`.

[2015-10-27 00:47] #1154 closed

[2015-10-27 00:47] nicoddemus commented on #1154
Thanks for the report! :smile:

[2015-10-27 13:34] CosminTraistaru commented on #1155
No, the test doesn't fiddle with the stdout/stderr.

[2015-10-27 14:09] RonnyPfannschmidt commented on #1155
do you have a minimal failing example? im not sure how to replicate

[2015-10-27 14:56] CosminTraistaru commented on #1155
I'm sorry, but it does not reproduce any more.

[2015-10-27 16:34] ml31415 opened #1156 "os.getlogin() fails in tests"
[code]

Running this as a test script fails with:

[code]

Outside the test environment, within the same shell, this runs without error. Is this intended behaviour?

[2015-10-27 16:48] The-Compiler commented on #1156
From the Python docs:

This doesn't work with pytest because of its stdout capturing - it'll probably work when passing `-s`. I'm not sure if there's anything we can do here though...

[2015-10-27 16:57] ml31415 commented on #1156
Ok, well it's not problem to work around this, it just struck me with surprise. I wonder what's going on there under the hood.

[2015-10-27 17:07] nicoddemus commented on #1155
Closing this then, as we can't really reproduce it. Thanks for the report anyway!

[2015-10-27 17:07] #1155 closed

[2015-10-27 17:17] The-Compiler commented on #1156
`os.getlogin()` invokes the C function `getlogin(3)`, which then uses [the `TCGETS` `ioctl`](http://linux.die.net/man/4/tty_ioctl) on stdin. From the `getlogin(3)` manpage:

And that's basically what pytest does - it replaces stdin by something which is not a terminal. I'm guessing glibc keeps this bug either because it's hard to fix, or for backwards-compatibility.

You should probably avoid usin

[2015-10-27 17:21] RonnyPfannschmidt commented on #1156
Its a glibc bug, we aren't at fault

[2015-10-27 17:21] #1156 closed

[2015-10-29 16:09] hpk42 commented on #1149
why do we need to avoid prefix matching, can you give an example?
And if we need to avoid it, why can we not hack argparse?

FWIW I don't think we should drop argparse easily.

[2015-10-29 19:55] RonnyPfannschmidt commented on #1149
Preparse will prefix match on not yet defined plugin/contest options, and it can't be avoided by design, see the linked issue

[2015-10-29 22:08] edmorley opened #1158 "Document `--ignore` CLI option on pythoncollection.html"
Google searches for terms like `pytest ignore directory` returned these pages:
https://pytest.org/latest/example/pythoncollection.html
https://pytest.org/latest/customize.html

Neither of those mentioned the `--ignore` option, so it took a while before I realised it existed.

Please could we document it on them (particularly pythoncollection.html)?

Thanks :-)

[2015-10-29 22:14] nicoddemus commented on #1158
Thanks for reporting this @edmorley! :smile:

Would you mind opening a PR?

[2015-10-30 08:41] RonnyPfannschmidt commented on #1148
closing as not a bug

[2015-10-30 09:37] immerrr commented on #1148
@RonnyPfannschmidt I think it is a bug. Even though the fixture was missing, doctest plugin misbehaved and raised an internal error while trying to report a user error.

[2015-10-30 10:22] #1148 closed

[2015-10-30 10:24] RonnyPfannschmidt opened #1160 "better display/ux on fixture discovery errors"
reference #1148

fixture lookup errors should get a better ux

[2015-10-30 10:51] hpk42 commented on #1160
it would be helpful if you also suggested what exactly should be better.

[2015-10-30 11:31] nicoddemus commented on #1148
@immerrr Ronny created a separate issue for it: #1160

[2015-10-30 11:42] immerrr commented on #1148
@nicoddemus thank you, I've seen it

[2015-10-30 17:11] shapiy commented on #14
@jfitzpatrick99, here's a sample:

[code]

Will pass for the first test, but will fail for the second:
[code]

[2015-10-31 06:31] RonnyPfannschmidt commented on #14
Passing a concrete captured stream that will be closed without removing its handler in teardown is bound to fail

Not even the pending merge of log capturing can fix that particular usage pattern

[2015-10-31 06:31] #14 closed

[2015-11-01 07:20] #1143 closed

[2015-11-01 16:32] dachary opened #1161 "AttributeError: 'module' object has no attribute 'epoll'"
<pre>
$ cat test_foo.py
import select

def test_epoll():
    e = select.epoll()
$ py.test -s -v teuthology/test/test_foo.py
================================================================================================ test session starts ================================================================================================
platform linux2 -- Python 2.7.6, pytest-2.8.2, py-1.4.30, plug

[2015-11-01 16:36] The-Compiler commented on #1161
Works fine here. What does `print select.__file__` say in the failing test?

[2015-11-01 17:04] dachary commented on #1161
<pre>
from gevent import monkey
monkey.patch_all(dns=False)
</pre>
was run implicitly and caused the error, sorry for the noise

[2015-11-01 17:04] #1161 closed

[2015-11-01 18:36] jlec opened #1162 "TestGeneralUsage.test_issue109_sibling_conftests_not_loaded fails with pypy"
[code]
pytest-2.8.2 on Gentoo linux 64bit

[2015-11-01 18:57] jlec opened #1163 "TestLoggingInteraction.test_logging_initialized_in_test fails"
[code]
pytest-2.8.2 and python 3.4 on Gentoo Linux 64bit

[2015-11-01 18:59] jlec opened #1164 "test_something fails"
[code]
pytest-2.8.2 and python3.4.

[2015-11-01 23:15] ionelmc opened #1165 "Need to specially handle "historic" hooks"
I want to use `pytest_logwarning` hook in  a plugin but it seems that in 2.8 it want to be called with the `.call_historic()` api, which is not present in 2.7.

There's an `assert not self.is_historic()` in pluggy's `_HookCaller` for some reason.

Can anyone explain what's going on and why I need to care about this "history" aspect in the the call sites?

Currently I've settled to using `config.wa

[2015-11-03 09:01] bh commented on #1062
Any news?

[2015-11-03 11:41] RonnyPfannschmidt commented on #1062
unfortunately i couldnt work on it, my own computer broke down

[2015-11-03 21:20] jaraco commented on #906
Seems the [aforementioned docs has moved](http://pytest.org/latest/writing_plugins.html#plugin-discovery-order-at-tool-startup)

[2015-11-04 06:00] The-Compiler opened #1167 "Performance issue with large tracebacks (recursion)"
With this code:

[code]

pytest takes 16 seconds to run. With `--tb=native` the same test finishes instantly.

I tried with pytest 2.8.2 on Archlinux on Python 3.5.

I did a quick profile run - by cumulative time:

[code]

by total time:

[code]

[2015-11-04 11:47] auvipy commented on #1129
what help is wanted regarding the issue?

[2015-11-04 12:32] RonnyPfannschmidt commented on #1129
the first step would be some way to alias fixtures (or provide a short name thats overidable)
however this needs discussion with @hpk42

[2015-11-04 14:47] hackebrot commented on #1158
Please review #1168, thanks :bow:

[2015-11-04 16:39] LeeKamentsky opened #1169 "@unittest.skip test error: object has no attribute '__name__'"
I have a demonstration test case that produces an error on a skipped test:

    --- begin skip_bug.py ---
    import unittest

    class TestBug(unittest.TestCase):
        @unittest.skip
        def test_case(self):
            pass
    --- end skip_bug.py

Running pytest with --full-trace produces the following output

    ============================ test session starts ========================

[2015-11-04 16:44] edmorley commented on #1158
The docs added in that PR look great - thank you :-)

[2015-11-04 22:27] #1169 closed

[2015-11-06 11:26] landier commented on #812
Hello,
It sounds weird to return 5 if no tests are run.
For instance, the case where no tests are run because there are no tests will break a build if the result is not 0.
Other test tools (msbuild, nose, nose2, ...) do not have such behaviors.

[2015-11-06 11:33] storozhilov opened #1172 "Reported amount of collected tests unchanged when pytest_collection_modifyitems() hook made modifications to items"
# Issue description

When `pytest_collection_modifyitems()` hook makes modifications to `items` list py.test reports about incorrect amount of collected tests.

Let's consider we have the following output of `$ py.test --collect-only ./` command against example below:

[code]

So, after commenting out the following lines of the `conftest.py` file

[code]

we have following output of the command ab

[2015-11-06 11:54] The-Compiler commented on #812
@landier I disagree (and many other people too it seems) - if you don't have any tests, why bother running pytest?

It's easy to accidentally run `-k` with some wrong filter, or do some other mistake, and accidentally not run any tests without noticing.

Maybe a config option should be added?

[2015-11-06 12:19] RonnyPfannschmidt commented on #1172
thats expected, if you remove items, tell pytest with the pytest_items_deselected hook, see how the mark plugin does it

[2015-11-06 13:06] landier commented on #812
To answer your question: I'm setting a continuous integration up around pytest and it feels very strange to have the whole build process failing because there is no test yet even if everything is fine. As I said, other test/build tools don't act the way pytest does. A good point would be to be compliant with what, is de facto, a standard for such tools.

Besides I strongly disagree with the fact t

[2015-11-06 13:37] nicoddemus commented on #812
@landier it was decided by the vast majority that no tests run should be a failure, as @The-Compiler said. Please follow the (lengthy) discussion at #500.

A config option to change this behavior is perhaps acceptable if more people feel the same way.

[2015-11-06 14:01] storozhilov commented on #1172
Sorry, but no "pytest_items_deselected" substring found across all pytest repo: https://github.com/pytest-dev/pytest/search?utf8=%E2%9C%93&q=pytest_items_deselected&type=Code - where could I find it?

[2015-11-06 16:06] ghostsquad commented on #812
I like the idea of "no tests found" as a warning, and a config option to treat warnings as errors. That way, you can build up your CI without tests at first, and maybe with a few other "problems" that just bubble up as warnings. Then as you button things up, switch over to "treat warnings as errors".

[2015-11-06 17:30] nicoddemus commented on #812
I also have thought about a configuration option which would turn pytest-warnings into an error (return non-zero), like most compilers support.

@ghostsquad would you mind opening a separate issue for this? I think this is independent for the discussion, although it is certainly related.

[2015-11-06 18:03] ghostsquad opened #1173 "Option to treat warnings as errors"
as related to #812

I like the idea of "no tests found" as a warning, and a config option to treat warnings as errors. That way, you can build up your CI without tests at first, and maybe with a few other "problems" that just bubble up as warnings. Then as you button things up, switch over to "treat warnings as errors".

[2015-11-06 22:43] The-Compiler commented on #1173
There should probably be some mechanism to ignore specific errors then - I'm still using various plugins which raise deprecation warnings (pytest-capturelog, pytest-bdd), and I don't have the time to fix them all (mainly an issue for pytest-bdd).

[2015-11-07 02:00] nicoddemus commented on #1173
Agreed, perhaps something like this?

[code]

Btw, @RonnyPfannschmidt @hpk42, what does the "code" warnings mean? Here are a few examples for illustrations:

[code]

[2015-11-07 09:30] RonnyPfannschmidt commented on #1173
im not sure myself, unfortunately i couldnt partake in the design of the warnings system in detail

[2015-11-07 09:35] RonnyPfannschmidt commented on #1172
im sorry, i miss-remembered the real hook name is ´pytest_deselected(items)´

[2015-11-07 14:38] #1158 closed

[2015-11-07 18:20] The-Compiler commented on #1173
@nicoddemus I think a way to say "all except ..." makes more sense - in my case I'd like to have *all* warnings as errors, except a few deprecation warnings I can't fix easily.

[2015-11-07 22:06] sloria commented on #840
I am also seeing this problem. `recwarn` and `assert_warns` both fail to capture warnings on py27, py26, and py33. They work as expected on py34 and py35 only.

https://travis-ci.org/sloria/webargs/builds/89863868

[2015-11-08 22:11] vitaly-krugl opened #1174 "timestamps are stripped from log output"
We love pytest, but this issue frequently gets in the way. We have a large body of existing tests based on the unittest framework. The test scripts configure python logging output format with the details that make sense for our tests. In particular, and this is critical, the logging is configured to output UTC timestamps on each log line. The timestamps are critical for debugging, because they ena

[2015-11-08 22:36] codewarrior0 commented on #1174
For PyInstaller, we were able to set up logging with formatted output for tests run via py.test just by calling logging.basicConfig in one of the modules imported by the test suite. The formatted log output was captured along with the regular stderr output. (We ended up using `pytest-catchlog` with  `--log-format` in our addopts due to weirdness on Windows with xdist...). How/when are you setting

[2015-11-09 05:14] The-Compiler commented on #1174
pytest doesn't capture any logging by itself (without any plugins) - it also doesn't do anything to the log format.

It looks to me like the code which sets up logging correctly in your application isn't run when you use pytest as runner, and *that* is the actual issue.

With this minimal example:

[code]

I get the expected output:

[code]

As for `pytest-capturelog` - it doesn't require any test

[2015-11-09 05:22] vitaly-krugl commented on #1174
@codewarrior0  and @The-Compiler: I am sorry for the trouble, I just took another look at the test script in question, and noticed that, unlike many of our tests, this specific test didn't configure logging, so it's user error, not pytest issue. Closing...

@The-Compiler, thank you for the info about the obsolescence of `pytest-capturelog`.

[2015-11-09 05:22] #1174 closed

[2015-11-09 18:54] twexler commented on #1057
Any progress on a 2.8.3 release? This issue is definitely still there.

[2015-11-09 19:22] laserson commented on #568
Any update on this issue?

[2015-11-10 05:17] RonnyPfannschmidt commented on #568
Unfortunately not, a backward compatible resolution is hard and needs time

[2015-11-11 03:59] avdd opened #1176 "conftest undocumented"
Do you ever read the documentation for some software that goes like this:

    ... to do this, use <feature of software> ...

and you go "oh, I want to learn about that feature", but you can't find it documented anywhere?

conftest.py is that feature.

[2015-11-11 05:15] The-Compiler commented on #1176
I don't follow.

I searched for "conftest" in the docs and found this as the first three matches:

* [Installing and Using plugins](http://pytest.org/latest/plugins.html) - talks about loading plugins from `conftest.py`, not what we want.
* [Writing plugins](http://pytest.org/latest/writing_plugins.html#conftest-py-plugins) - Tells us `conftest.py` are local, per-directory pytest plugins, and show

[2015-11-11 11:34] huntzhan opened #1177 "How to inject fixtures to testcase(function) decorator?"
I want to define a decorator like this:

[code]

I've tried several implementation, but none of them could stop `py.test` from inspecting the signature of wrapped function.

Here's my implementation to solve the problem, in a dirty way:

[code]

[2015-11-11 12:13] blueyed opened #1178 ""UnicodeEncodeError: 'ascii' codec can't encode character" in OutcomeException with Python 2"
When using a unicode string in Python 2 with `pytest.fail`, there is an internal error.

This happens with jedi-vim's tests, when adding a `u` in front of the string passed to `pytest.fail` (https://github.com/wilywampa/jedi-vim/blob/37b47b6fa6d245eae66aeb53a55257b7e3a99808/conftest.py#L22-L25).

[code]

pytest 2.8.2

[2015-11-11 14:17] nicoddemus commented on #1177
Hmmm decorator aside, couldn't you accomplish this using fixtures instead? It seems it would be pretty straightforward:

[code]

[2015-11-11 14:23] nicoddemus commented on #1178
Thanks for the report @blueyed!

[2015-11-11 16:08] huntzhan commented on #1177
Thanks for your instruction, `@pytest.mark.usefixtures` would solve my problem.

But still, I am wondering if there is a way to make `py.test` treat the wrapped function(say, the `wrapper`) as final testcase function, and pass whatever fixtures it needs as shown by the signature of wrapped function.

[2015-11-11 16:23] edmorley opened #1179 "Test run summary bar is yellow but not clear why, after updating to v2.8.2"
**STR:**
1. In an existing project ([1]), update from pytest 2.7.2 to pytest 2.8.2
2. Run `py.test tests/`
3. Observe the test run including the summary bar message and colour

**Expected:**
If the summary bar under pytest v2.7.2 was green, and is now yellow after updating to pytest v2.8.2:
- the cause should be clear in the console output
- the pytest v2.8.x changelog should explain all of the cr

[2015-11-11 16:26] The-Compiler commented on #1179
I agree that either the bar should be green without `-rw` even if there are warnings, or the warnings should be shown by default.

[2015-11-11 17:17] nicoddemus commented on #1179
Thanks @edmorley for taking the time to write such a detailed description.

I think at some point it was decided almost as an afterthought to also make the bar yellow if there are warnings, but in retrospect I think this caused more confusion than helped. I think the bar should be green if there are warnings, but the warnings themselves should not be shown by default: I guess most of them will be

[2015-11-11 19:43] nicoddemus commented on #1177
I think you can use an approach similar to [pytest-asyncio](https://github.com/pytest-dev/pytest-asyncio) and [pytest-tornado](https://github.com/eugeniy/pytest-tornado) by implementing the `pytest_pyfunc_call` hook (take a look [here](https://github.com/pytest-dev/pytest-asyncio/blob/master/pytest_asyncio/plugin.py#L31)).

[2015-11-12 02:35] huntzhan commented on #1177
Thanks

[2015-11-12 02:35] #1177 closed

[2015-11-12 07:43] RonnyPfannschmidt commented on #1179
I'm starting to think thearnings systemneeds to differentiate between different kinds of warning

[2015-11-12 08:28] nicoddemus commented on #1176
Agree with @The-Compiler... @avdd could you please be more specific?

[2015-11-12 11:45] acjackson opened #1180 ""Database access not allowed" in Doctests (Django)"
I'm trying to get database access (django) in a few of my doctests with
[code]
or
[code]
But I keep getting the following error:
[code]

Is Django database access supported in doctests?
My other unittests using the Django database work fine.

I use
pytest 1.8.2.dev1 (https://github.com/pytest-dev/pytest/issues/1057)
pytest-django==2.9.1
Django==1.8

[2015-11-12 14:00] nicoddemus commented on #1180
IIRC doc tests currently can't be marked with pytest marks, so unless you can enable database access somehow using fixture's and the [getfixture](https://pytest.org/latest/doctest.html) API, I'm afraid there's no solution currently.

Perhaps you could create an issue at [pytest-dev/pytest-django](https://github.com/pytest-dev/pytest-django) to see if there are any known workarounds?

[2015-11-12 18:31] jaraco commented on #995
We're still seeing this error message running against pytest 2.8.2, so it may not be fixed.

[2015-11-12 18:45] jaraco commented on #995
Here is the traceback we see:

[code]

Interestingly, I'm unable to replicate the issue on my local workstation which is OS X and Python 2.7.10. I'll continue to troubleshoot until I can narrow down a cause. In the meantime, can you suggest a way to inspect the failure where it does exist?

[2015-11-12 18:48] blueyed commented on #995
Can you use `import ipdb; ipdb.set_trace()` there, or is it on CI?

[2015-11-12 18:49] nicoddemus commented on #995
I'm pretty sure this has been fixed in #1142, but that's not out unfortunately yet. @jaraco could you try with the latest `master`?

[2015-11-12 19:14] jaraco commented on #995
@nicoddemus Thanks for the hint. Yes. It works in the latest master. Thanks.

[2015-11-14 06:03] dubglan commented on #1062
So currently xdist does not work with pytest 2.8+ if environment contains plugins with custom hooks and there's no workaround, is that correct?

[2015-11-14 09:08] bubenkoff commented on #1062
im affraid you're correct

On 14 November 2015 at 07:03, Gleb Dubovik <notifications@github.com> wrote:

--
Anatoly Bubenkov

[2015-11-15 07:01] RonnyPfannschmidt commented on #1062
We vor something merged to feature which Contains a potential fix

Can someone try

[2015-11-16 19:51] dubglan commented on #1062
@RonnyPfannschmidt No, looks like it's still broken with latest pytest (features branch) and latest xdist (master):
E       ============================= test session starts ==============================
E       platform linux2 -- Python 2.7.6, pytest-2.8.3.dev1, py-1.4.30, pluggy-0.3.1
E       rootdir: /nsx/nsx-dev-testing/pytest-traditions/.tox/py27/tmp/popen-gw2/test_outcomes_1__def_test_fail1

[2015-11-17 06:29] RonnyPfannschmidt commented on #1062
I'll look into details after my replacement PC is finished

[2015-11-17 09:32] acjackson commented on #1180
I tested some more and noticed this: some of the doctests, which are requiring a database connection, run successfully on console, but fail in PyCharm. I could not determine, why some tests run and some don't.

I'm now converting my doctests to unittests, which is probably a better practice and causes less problems.

[2015-11-17 10:46] nicoddemus commented on #1180
That's strange, probably some weird interaction with PyCharm's pytest runner (although I'm a PyCharm user and never experienced any problems). Feel free to reopen this if you happen to have new info.

[2015-11-17 10:46] #1180 closed

[2015-11-18 09:47] nicoddemus commented on #1176
@avdd feel free to reopen this

[2015-11-18 09:47] #1176 closed

[2015-11-18 16:17] nicoddemus commented on #671
This is probably fixed already by #836

[2015-11-18 16:17] #671 closed

[2015-11-18 16:20] nicoddemus commented on #1172
I think this can be closed. @storozhilov feel free to reopen it if you feel otherwise.

[2015-11-18 16:20] #1172 closed

[2015-11-18 16:25] nicoddemus commented on #1164
Can you provide more information, specially a step-by-step to reproduce? I ask because this test passes on our C.I.

[2015-11-18 16:26] nicoddemus commented on #1164
(Closing this for now, feel free to reopen if you have more information)

[2015-11-18 16:26] #1164 closed

[2015-11-18 16:27] nicoddemus commented on #1151
Should we close this?

[2015-11-18 16:27] The-Compiler commented on #1164
FWIW I can't reproduce this (or #1163) locally either.

[2015-11-18 16:28] nicoddemus commented on #1047
Looks good to me! :+1:

[2015-11-18 16:29] nicoddemus commented on #607
Sounds good, but as we commented before, the current warnings system could use some improvements.

[2015-11-18 16:31] nicoddemus commented on #1120
Any news on this?

[2015-11-18 17:01] RonnyPfannschmidt commented on #1120
didnt look into it

[2015-11-18 17:02] #1151 closed

[2015-11-18 17:03] The-Compiler commented on #1120
Me neither, but I still have some pytest dirs running around on my CI VMs:

[code]

[code]

[code]

[code]

(`ls /tmp/buildbot-of-*` on three VMs)

[2015-11-18 17:17] nicoddemus commented on #1120
Weird.

I think the code which removes old directories might be silently eating some exception:

[code]

[2015-11-18 17:27] The-Compiler commented on #1120
Either way, `except: pass` is a really bad idea.

[2015-11-18 17:30] nicoddemus commented on #1120
Agreed

[2015-11-18 19:51] demianbrecht opened #1182 "There doesn't seem to be a way to easily change capture state within a test"
I might be missing something blatantly obvious, but it would be nice to be able to change the capture state at runtime. But first, a little context!

I have some code that fiddles with term settings. However, because capture uses a file-like object (that doesn't implement fileno), it will fail when twiddling bit flags. Trivial example:

    import termios

    def test_example():
        import sy

[2015-11-18 23:26] codewarrior0 commented on #1182
There are fixture functions `capfd` and `capsys` that allow you to *enable* capturing for a particular test, but there doesn't seem to be one for disabling it. I'd like to have one for disabling output capture - one of my tests relies on a subprocess having its stdio connected to a terminal (so it can verify that the subprocess sets its I/O encodings correctly).

[2015-11-18 23:35] nicoddemus commented on #1182
Something like what's been discussed in #167?

[2015-11-19 09:19] jlmenut commented on #349
Yes, I would like very much to have this feature also. Maybe a line in the doc explaining it's not possible for the moment would be useful also.

[2015-11-19 12:30] tobixx commented on #175
Just want to raise my hand here also. My use case is a multiple stages system test where I use parametrized fixtures with class scope. In this constellation I'm unable to use xdist at all (becasue next test needs results from the prior one) but really need it due too the runtime of this tests.

Btw. the [incremental testing example ](http://pytest.org/latest/example/simple.html#incremental-testing

[2015-11-19 12:32] RonnyPfannschmidt commented on #175
this needs a different internal Design in xdists, its down in my pipeline but not in a soon place

[2015-11-19 15:56] novakmi opened #1183 "2.8.2 - specific test not running if custom parameter is used"
In pytest 2.8.2, when single test is specified with optional parameter, the test will not run.

Runs OK:

    py.test -s -v t1/t1_test.py::TestT1::test_t1

Does not run:

    py.test -s -v t1/t1_test.py::TestT1::test_t1 --dry-run

error:

      usage: py.test [options] [file_or_dir] [file_or_dir] [...]
      py.test: error: unrecognized arguments: --dry-run
          inifile: <removed dir>/tmp/pyt

[2015-11-19 18:21] apallin opened #1184 "Internal Error: AttributeError: 'str' object has no attribute 'relate'"
Hello,

I am getting this constant error with my pytest setup and I don't know whats going on.  This seemed to start occurring once we stopped using pytest-xdist and removed it as a dependency on the project.  This error isn't very useful and I have no idea where to begin to debug this.

Packages used:
        "pytest==2.8.2",
        "pytest-rerunfailures==0.5",

I have seen other threads relatin

[2015-11-19 18:36] The-Compiler commented on #1184
Can you please try with the current master? This should've been fixed in #1142, but isn't released yet (but hopefully very soon).

[2015-11-19 19:13] apallin commented on #1184
Seems to be fixed on master.  Any idea when this will come out or a workaround?  This is blocking us quite a bit.

[2015-11-19 19:17] The-Compiler commented on #1184
I'm closing this then. I hope the 2.8.3 release will be this week, see #1181.

[2015-11-19 19:17] #1184 closed

[2015-11-19 20:20] demianbrecht commented on #1182
@nicoddemus: Yep, looks like the solution to that would also solve this as well. I'll add a note to #167 and close this one.

[2015-11-19 20:20] #1182 closed

[2015-11-19 20:28] RonnyPfannschmidt commented on #1183
please use a gist

[2015-11-19 20:31] nicoddemus commented on #1182
Thanks @demianbrecht

[2015-11-19 20:34] demianbrecht commented on #167
Another related issue is if you're mucking about with terminal settings as detailed in #1182 (closed as it should be resolved by the solution being discussed here). Because the object responsible for capturing doesn't implement the full file API (specifically ``fileno`` is where I got to), it fails when capturing is on.

Having the ability to disable capturing for a specific test would also solve

[2015-11-19 20:38] novakmi commented on #1183
I'm not sure if I can put full directory structure to gist, so I have set-up new repository. Please can you
use:

`git clone git@github.com:novakmi/pytest_param_issue_2_8_2.git`

Thanks

[2015-11-19 20:43] RonnyPfannschmidt commented on #1183
as far as i can tell this is related to changes on when deep conftests are considered
its suggested to use local plugins and addopts = -p myplugin

[2015-11-19 20:59] novakmi commented on #1183
Not sure if I understand correctly, but I have only one `conftest.py` (top directory) file used  to parse optional parameter (that I want to add to may tests). The rest is directory structure that specifies the tests (organized in the directories).
There is no plugin in the source code. It has something to do with optional parameter (in my case `--dry-run`) and full test specification. If I use `-

[2015-11-19 21:18] The-Compiler commented on #1184
2.8.3 just [was released](http://lists.idyll.org/pipermail/testing-in-python/2015-November/006580.html) thanks to @RonnyPfannschmidt :tada:

[2015-11-20 06:54] RonnyPfannschmidt commented on #1183
the plugin would be a self-made python module with the addoption hook

[2015-11-20 08:12] novakmi commented on #1183
I'm sorry, but I still do not understand.
I have tired to add directory:

   ./args/args.py
   ./args/__init__.py

(where `args.py` is same as original `conftest.py`)

running:
      py.test -s -v t1/t1_test.py::TestT1::test_t1 --dry-run -p args

ends with

    ImportError: No module named args

(not Python expert, so I guess I'm doing something wrong ;-) )

As I mentioned above, why is it necessa

[2015-11-20 09:59] jlec opened #1185 "MANIFEST.in wrongly includes pyc files in the testing folder"
This leads to test failures like
[code]

[code]

[2015-11-20 10:44] RonnyPfannschmidt commented on #1185
this is a major mistake in the MANIFEST.in which had gone unnoticed i'll publish a bugfix release later today

[2015-11-20 15:38] novakmi commented on #1183
After investigation, I have found workaround:

           py.test -v t1/t1_test.py::TestT1::test_t1 --confcutdir . --dry-run

Still have feeling something is broken. The use case from previous message seems quite obvious scenario (run specific test directory and use custom option specified in top `conftest.py`) and was working just fine in 2.7.x.

[2015-11-22 20:41] htgoebel opened #1187 "Giving `file_or_dir` twice collects tests twice"
When passing the same directory twice to py.test, all tests are run twice. The same is true if passing a sub-directory and a parent-directory:

`$ python3 -m py.test --collect-only tests/              | grep collected`
collecting ... collected **338 items**
`$ python3 -m py.test --collect-only tests/ tests/      | grep collected`
collecting ... collected **676 items**
`$ python3 -m py.test --colle

[2015-11-23 17:41] nicoddemus commented on #1187
Thanks for the report @htgoebel!

I had used this behavior of collecting tests more than once from the command-line in order to run the same test multiple times to track down some flaky behavior, but I think my use-case is a little contrived and yours makes more sense IMO.

Any more thoughts, @hpk42 @RonnyPfannschmidt @The-Compiler?

[2015-11-23 17:46] nicoddemus commented on #1029
Is this still an issue with `2.8.3`?

[2015-11-23 18:15] The-Compiler commented on #1187
I usually do something like `while (($? == 0)); do py.test -k 'test_foo'; done` in that case... I guess I should write a `pytest-repeat` plugin :laughing:

I don't really have an opinion on this, I can find arguments for and against both behaviours, and I'd be fine with both.

[2015-11-24 03:04] asottile commented on #1029
Yes, pasting either oneliner above still triggers a stacktrace under 2.8.3

[2015-11-24 08:05] hpk42 commented on #1187
don't have a strong opinion either but if in doubt i'd rather not change the default and better introduce a ``--drop-duplicate`` option or so.  Maybe it's even better to write a ``pytest-drop-duplicates`` plugin which, when installed, will drop duplicates?  It's easy to implement through the ``pytest_collect_modifyitems`` hook, basically a plugin with 20 lines of code or so.

[2015-11-24 08:37] RonnyPfannschmidt commented on #1187
I'm for the plugin solution

[2015-11-24 10:11] auvipy commented on #946
+1 make it offfishal

[2015-11-24 11:56] htgoebel commented on #1187
Plugin sounds complicated. So I'm for a plugin `keep-duplicates`.

[2015-11-24 12:03] RonnyPfannschmidt commented on #1187
a propperly separate `keep-duplicates` plugin would be impossible to do cleanly since the duplicates would be gone by the time it gets to the plugin

[2015-11-24 12:38] allanlewis opened #1189 "Pytest ignores '.ini' file in subdirectory when run with '-n'"
I've noticed some strange behaviour with regard to `pytest.ini` files when those files are in a subdirectory. When I run `py.test` with `-n` (with any value, including '0'), the `pytest.ini` in the subdirectory is completely ignored. The following shell session replicates the error:
[code]

[2015-11-24 12:40] allanlewis commented on #1189
If I explicitly supply the configuration file, everything's fine:
[code]

[2015-11-24 12:48] allanlewis commented on #1189
Sorry, I meant to raise this in `pytest-xdist`! See https://github.com/pytest-dev/pytest-xdist/issues/14.

[2015-11-24 12:49] #1189 closed

[2015-11-24 12:59] netme opened #1190 "Inconsistent behavior of pytest.deprecated_call()"
We are currently upgrading `py.test` from 2.7.1 to 2.8.3 . We have found a small inconsistency in `pytest.deprecated_call()` behaviour.

We have few tests which are calling deprecated methods in our codebase. And afterwards we have few tests which are checking that the methods are deprecated. Running that tests on 2.7.1 produce no issues. After switching to 2.8.3, we have found out that the tests

[2015-11-24 13:02] netme commented on #1190
Also wanted to share an extended example:

[code]

This example fails with the same error around `test_five` . `test_two` and `test_three` are passing.
Hope that can help.

[2015-11-24 13:53] nicoddemus commented on #946
There was a [thread](https://mail.python.org/pipermail/pytest-dev/2015-September/003166.html) discussing this in the mailing list, and it was decided to leave `pytest-catchlog` as a third-party plugin.

[2015-11-24 13:53] #946 closed

[2015-11-24 13:54] nicoddemus commented on #1190
Thanks for the report @netme!

[2015-11-24 14:02] nicoddemus commented on #1190
Note: this fails only on Python 2.7.

[2015-11-24 14:03] netme commented on #1190
@nicoddemus Thanks for checking it. Yes, forgot to mention. Our product is using Python 2.7.8 .

[2015-11-24 14:04] netme commented on #1190
Temporary fixed it using

[code]

call close to our fixtures definition.

[2015-11-24 15:28] nicoddemus commented on #1190
Hmm that's strange. In #897 `deprecated_call` was refactored to use an internal `RecordWarnings` object which is very similar to the builtin `warnings.catch_warnings`, but which seems to have some special treatment regarding `DeprecationWarning`.

The following fails (note that `pytest` is not even involved):

[code]

If you change `deprecated_function` to issue a `UserWarning` instead, then it wo

[2015-11-24 16:03] hunse commented on #1190
`DeprecationWarning`s are not raised by Python with the default warning filter set (i.e. the default warning filter suppresses them). As @nicoddemus mentioned, the old `deprecated_call` monkey patched `warn`, so that's how it got around the filters.

I think the new behaviour makes sense, because ultimately, you want to test what the user will be seeing, right? If a user looks at your test, and se

[2015-11-24 16:08] hunse commented on #1190
For interest, [here's](https://docs.python.org/3/whatsnew/2.7.html#changes-to-the-handling-of-deprecation-warnings) the reasoning on why `DeprecationWarning`s are suppressed by default. It looks like `unittest` re-enables them; maybe `pytest` should do the same?

[2015-11-24 16:20] RonnyPfannschmidt commented on #1190
in my oppinion py.test should always reenable all warnings

@hpk42, @nicoddemus what do you think?

[2015-11-24 16:21] nicoddemus commented on #1190
Thanks a lot @hunse for the clear explanation. :smile:

[2015-11-24 16:30] nicoddemus commented on #1190
@hunse

I think we should revert it: `pytest.deprecated_call` does not convey that a function is actually raising a warning, but that it has been deprecated (the fact that usually this is done by a warning is secondary I think). If it were named `pytest.raises_deprecation_warning` then I would agree with you. :wink:

IMO keeping the current behavior would just lead to confusion, as users would see

[2015-11-24 16:31] nicoddemus opened #1191 "re-enable all warnings by default"
From @hunse in #1190

[2015-11-24 16:31] nicoddemus commented on #1190
Created a separate issue to discuss re-enabling all warnings, as this is a separate issue. :smile:

[2015-11-24 16:53] RonnyPfannschmidt commented on #1190
If @hpk42 agrees, I'd even go for it in the 2.8 series

[2015-11-24 17:00] nicoddemus commented on #1190
To re-enable all warnings? I'm not sure, seems like a big behavior change to me that should go into a minor release only, not in a bug fix release.

[2015-11-24 17:41] nicoddemus commented on #1187
Making a plugin is actually really easy using the [cookiecutter-pytest-plugin](https://github.com/pytest-dev/cookiecutter-pytest-plugin), in fact just made one myself to quickly see it in action.

@htgoebel, could you try it out? If all is well I can publish it to PyPI, it still needs more tests and README. To install it use:

[code]

No other configuration is necessary.

[2015-11-24 19:45] RonnyPfannschmidt commented on #1187
i'm closing this as working as intended given that @nicoddemus already finished a plugin

[2015-11-24 19:45] #1187 closed

[2015-11-24 19:46] RonnyPfannschmidt commented on #1190
well, its a clear regression from 2.7 so i think a fix in 2.8.x is acceptable

[2015-11-24 20:03] nicoddemus commented on #1190
Oh I see what you mean. IMO we have two issues, which are related, but can be treated separately:

1. Change `deprecated_call` back to its 2.7.X implementation, so the user doesn't have to call `warnings.simplefilter` before every `deprecated_call`. This will fix this regression and I agree should go into `2.8.4`.

2. Make pytest always re-enable all warnings. This potentially has other side effec

[2015-11-24 20:07] RonnyPfannschmidt commented on #1190
good thinking, lets fix 1 with this issue and have an extra issue for 2

[2015-11-24 20:11] nicoddemus commented on #1190
Agreed.

2 is already covered in #1191. :smile:

[2015-11-24 20:14] nicoddemus commented on #1187
Btw kudos to @hackebrot, it took me 10 minutes to have that plugin working, well done! Makes it really simple to create new plugins, covering a lot of the boiler plate of setting up a new repository, setup.py, etc etc, highly recommended.

[2015-11-24 20:20] htgoebel commented on #1187
@nicoddemus The plugin does not show any effect here. I still get duplicates.

[2015-11-24 20:21] hunse commented on #1190
Wait, this is nothing to do with `DeprecationWarning`. `deprecated_call` sets the warning filter to "always", so `DeprecationWarning` gets raised (this is how the old tests still pass). The reason @netme's script doesn't work is that `test_one` is called first, and raises the `DeprecationWarning`, and then it's not raised the second time in `test_two`, because Python has a thing that suppresses mu

[2015-11-24 20:24] nicoddemus commented on #1187
Can you show me the output of a sample session?

[2015-11-24 20:28] hunse commented on #1190
I have [code](https://github.com/pytest-dev/pytest/blob/master/_pytest/recwarn.py#L153) in `WarningsRecorder` to do this, but for some reason it's not working. Also, the "always" filter [in `deprecated_call`](https://github.com/pytest-dev/pytest/blob/master/_pytest/recwarn.py#L36) should be enough to do this. It might have something to do with the fact that the `WarningsRecorder` is being destroye

[2015-11-24 20:37] nicoddemus commented on #1190
I noticed that as well, forgot to mention it.

Perhaps there is some internal state of `warnings` module which is not being properly saved/restored by `WarningsRecorder`?

[2015-11-24 20:43] htgoebel commented on #1187
It is the same as in my very fist comment here. I used `--traceconfig` to verified the plugin is loaded:
[code]

[2015-11-24 20:56] hackebrot commented on #1187
Thank you @nicoddemus! :bow: Happy to hear that :smile_cat:

[2015-11-24 21:05] nicoddemus commented on #1187
@htgoebel hmm that's strange. I will investigate this later (most probably tomorrow). I moved over this discussion over to nicoddemus/pytest-drop-dup-tests#2

[2015-11-24 21:57] netme commented on #1190
@nicoddemus as far as I remember the problem is not around `WarningRecorder`.

If you look on my example, the `WarningRecorder` is not used around `test_one`, it's only used inside `test_two`. If it will help, I've also tried not to use pytest's `recwarn`extension and used `warnings. catch_warnings(record=True)`. I had the similar issues.

Hope that will help you with debugging.

[2015-11-25 11:21] alnet82 opened #1192 "Pytest class scope fixture for a parametrized test called once for each parameter"
`fixt_finc` fixture defined with class scope is being called twice - for every value of `prm`.
I expected it to be called only once. What am I missing here?

[code]

[2015-11-25 13:39] #1192 closed

[2015-11-25 13:53] davehunt opened #1193 "Allow tests to be logged multiple times with pytest-xdist"
_Note that this is not related to #927_

In [pytest-rerunfailures](https://github.com/gocept/pytest-rerunfailures) the test protocol is run multiple times in the event of a failure. An enhancement will log each iteration of the test with an outcome of 'rerun' until the maximum number of reruns is reached, at which point the genuine outcome is preserved. This works fine unless running the tests wit

[2015-11-25 15:12] nicoddemus commented on #1193
Hmmm I'm not sure how to implement that other than making xdist explicitly know about "reruns".

[code]

xdist assumes that a `"call"` report is enough to remove the item from the scheduler, but that should not be the case when `report.outcome == "rerun"` as the test will be executed again.

I'm not sure how to solve this without adding new hooks to `xdist`, for example a hook `pytest_xdist_test_f

[2015-11-26 02:55] dubglan commented on #1062
@RonnyPfannschmidt sorry for confusion, started debugging when understood that I might have installed pytest master branch instead of features. Either this or something else got fixed, now it works for me. Thank you! Do you know when can we expect the release?

[2015-11-26 03:29] nicoddemus commented on #1062
If you tried `features`, that might have went into `2.8.3` already. Could you try that version?

[2015-11-26 03:55] dubglan commented on #1062
@nicoddemus tried, doesn't work, master doesn't work either

[2015-11-26 03:56] nicoddemus commented on #1062
Duh sorry, my bad, late night here... if it's in `features` it will only be available in `2.9` unfortunately.

[2015-11-26 04:08] dubglan commented on #1062
That's a pity. We have a set of  conventions around the use of the test runner as well as some integration code with internal systems (bugtracker, result reporting, style checking, etc.) - all of that wrapped in shared pytest plugins. Parallel test execution was one of the features why we chose pytest in the first place. Loosing either is a major regression for us. I guess we'll probably have to s

[2015-11-26 04:54] nicoddemus commented on #1062
I'm actually not sure what the fix was. Perhaps @RonnyPfannschmidt can answer that.

[2015-11-26 05:48] RonnyPfannschmidt commented on #1062
Not sure if that's a good idea over starting a timely 2.9 instead, we do want to try and stick to semver after all

[2015-11-26 05:53] nicoddemus commented on #1062
Could you point me to the PR for this change? I have missed it somehow.

Em qui, 26 de nov de 2015 03:48, Ronny Pfannschmidt <
notifications@github.com> escreveu:

[2015-11-26 06:03] dubglan commented on #1062
Well, I would suggest that this is rather a bug fix vs a new feature. But
that's entirely up to you.

I don't know what feature we're talking about here, but is it possible to
separate the bug fix part from new functionality - or is it more of a
complete rewrite witch unintentionally fixed the issue? If given enough
coaching, we can help out and contribute.

Finally, most important question, to th

[2015-11-26 07:21] RonnyPfannschmidt commented on #1062
its includes a necessary api change thats required to propperly handle the case, so its not something easily backported

[2015-11-26 07:23] RonnyPfannschmidt commented on #1062
#1124

[2015-11-26 07:24] eldamir opened #1194 "Add custom reporting output"
after reading [this article](http://blog.mathieu-leplatre.info/your-tests-as-your-specs.html), I was wondering whether it would be possible to do something similar with pytest?

quick recap: The ability to customize the output of the test runner to fit a specific structure.

Using tests as specs is pretty common, and having the test runner output a structure that supports this paradigm would be tr

[2015-11-26 07:27] RonnyPfannschmidt commented on #1194
see pytest-sugar ?

[2015-11-26 07:28] eldamir commented on #1194
Well, they sure seem to control the output somehow. I'll have a look at the source. Thanks!

[2015-11-26 07:28] #1194 closed

[2015-11-26 16:45] nicoddemus commented on #581
JetBrains/python-skeletons#4 merged. :smile:

[2015-11-26 16:45] #581 closed

[2015-11-26 16:48] nicoddemus commented on #195
Closing as duplicate of #283

[2015-11-26 16:48] #195 closed

[2015-11-26 16:50] nicoddemus commented on #196
Closing as duplicate of #283

[2015-11-26 16:52] nicoddemus commented on #1062
Oh that change was related to this? Thanks @RonnyPfannschmidt

Well I completely agree that we shouldn't break semver and that should be released into `2.9`. Should we start planning a `2.9` release then? Our changelog for `2.9.0.dev` is a little slim at the moment, personally I would like to have some new features in place before `2.9.0`, for example:

* Move py.code to pytest.code (#103): this w

[2015-11-26 17:46] nicoddemus commented on #1190
I think I figured it out. `warnings` as a global registry of warnings per-module which were already issued, and uses that to avoid exhibiting the same warning twice for the same module.

In [this line](https://gist.github.com/nicoddemus/6ff14f94dac4f6b1d5f5#file-warnings-py-L50) you can see the registry being setup. If you look at up at the function, you can see that it tries to get the module to

[2015-11-26 17:54] RonnyPfannschmidt commented on #1062
im considering being less conservative about feature releases, but a discussion is needed in the end - a normal issue tracker is unsuitable for that

[2015-11-26 18:06] nicoddemus commented on #1062
What do you mean by "im considering being less conservative about feature releases"? You mean you don't have a problem to release them more often?

[2015-11-26 18:08] RonnyPfannschmidt commented on #1062
yes - but but that also has downsides, @hpk42 and me weight those different and i#d like to arrive at a shared conclusion before ending up doing something rash

[2015-11-26 18:18] nicoddemus opened #1195 "2.10 Release Plan"
Issue so we can decide which features we would like to see in the `2.9` release. This is not an exhaustive list, but we should list here only issues that would **block** the release. If some other features end up going into `2.9` the better, but they not need to be listed here.

- [x] Move py.code to pytest.code (#103): this will make it easier to fix a number of lingering bugs (which can then be

[2015-11-26 18:19] nicoddemus commented on #1062
I see.

Well, created an issue at #1195, let's move the discussion there for now until we have a better place for it.

[2015-11-26 18:21] nicoddemus commented on #1062
By the way, I think this can be closed since it is already fixed in `features`, right?

[2015-11-26 20:13] hpk42 commented on #1195
i agree the move of py.code to pytest.code would be good even though it's not strictly neccessary.  Can't remember the details of what is involved with respect to the moving and so not sure how much work it is.

in any case i don't have any issues of my own currently that need to be part of pytest-2.9.  It'd be fine to release pytest-2.9 pretty soon and head for a 2.10 or 3.0 for the moved pytest.

[2015-11-27 02:44] markshao opened #1197 "Filter the test cases by the directory name"
I have the test cases structure like the following
- tests
  - cm
    - cm1.py
    - cm2.py
  - dm
    - dm1.py
    - dm2.py
  - fm
    - fm1.py
    - fm2.py

I want to filter the test cases for execution by directory, for example I want to execute the .py test cases under cm and fm .

I try to use the -k to do the filter , but looks like the -k is the text match base on the module path and name ,

[2015-11-27 05:00] nicoddemus commented on #1197
(I assume in your example you meant `cmd1.py` to be `test_cmd1.py`, and so on for the others)

The only way currently to match something with an `and` operator would be to use [marks](http://pytest.org/latest/mark.html), but you will have to write a few lines of code to add them for you automatically:

[code]

This will add a mark to each test item with the same name as its directory, so you can u

[2015-11-27 10:24] The-Compiler commented on #1197
You could just pass `tests/cm tests/fm` as directories to pytest (i.e. without `-k`), no?

[2015-11-27 14:34] nicoddemus commented on #1197
Err yes, that would be simpler instead of using `-k`. :stuck_out_tongue_closed_eyes:

I assumed that the @markshao actual directory structure was more complicated than the example and went with the more complicated answers. :blush:

[2015-11-27 16:28] nicoddemus opened #1198 "--pastebin option is broken in Python 3"
[code]

[2015-11-27 18:39] nicoddemus commented on #1062
Hey,

A quick announcement of a small plugin I just published to PyPI,
pytest-drop-dup-tests.

Pytest by default will collect all tests from directories or files given
in the command-line. For example, if you execute:

    py.test tests/unit tests/

Tests from ``tests/unit`` will appear twice, because they will be collected
again when pytest sees the ``tests`` directory in the command-line.

This

[2015-11-27 21:03] RonnyPfannschmidt commented on #196
Filtering frames and replacing error reprs are different topics

[2015-11-27 21:09] #1190 closed

[2015-11-27 22:18] nchammas commented on #175
I have a similar use case.

I have a parameterized, module-scoped fixture. I want any given permutation of the fixture to be spun up only once since it is expensive to create in both time and money.

However, I want as many different permutations of the fixture to be spun up in parallel as possible, since that saves the most time and enables the most number of tests to execute simultaneously.

I w

[2015-11-28 13:54] markshao commented on #1197
@The-Compiler  your solution looks easy to implement.  But I think this may not be the best solution for us :blush: . Because we have the deep hierarchy for the test directories . Which means we will have to specify some duplicate folder names like `tests/systest/buildnumber/cm tests/systest/buildnumber/cm  ...`

@nicoddemus I prefer your solution , this is the what I need .  But do you think we s

[2015-11-28 21:20] hpk42 commented on #1179
let's keep it simple.  I think we can just turn back to 2.7 behaviour -- don't regard warnings as a serious enough issue to change the color.  We could start to differentiate warnings but i think we don't need to invest the effort, really.   Stuff breaks.  If you ignore warnings, things might at some point break. Such is life. But if your test suite otherwise passes fine, the fact that it with som

[2015-11-28 23:27] The-Compiler commented on #1179
-1 on that - I unfortunately still have plugins which raise deprecation warnings and ignore my PRs to fix them so far (https://github.com/pytest-dev/pytest-bdd/pull/163 and https://github.com/pytest-dev/pytest-bdd/pull/164), and I'd like to continue using `--strict` to catch marker typos. IMHO at the very least, it should be possible to pass a list of things to `--strict`, like `--strict=markers,w

[2015-11-29 12:50] danijar opened #1201 "Setuptools integration example does not work anymore"
The [Good Integration Practices](https://pytest.org/latest/goodpractises.html#integration-with-setuptools-test-commands) guide includes an example of how to integrate with setuptools. It doesn't work anymore since `test_args` is now read-only. The problem was also [discovered by users](https://github.com/marshmallow-code/marshmallow/issues/300) of the Marshmallow library, however their fix was to

[2015-11-29 18:09] jeffwidman opened #1203 "pytest.org changelog doesn't list 2.8.3"
2.8.3 is live on pypi, and I see the commits updating the changelog here in teh repo, but for some reason it's not live here: https://pytest.org/latest/changelog.html

[2015-11-30 12:47] The-Compiler opened #1204 "assert isinstance(lineno, int) errors when collecting tests (2.8 regression)"
When cloning https://github.com/osiell/odoorpc/ and running `py.test --collect-only` I get:

[code]

This looks similar to #1035 which was fixed by @nicoddemus, and only happened for Python 2.6 - this is with Python 3.4.3.

It works fine with pytest 2.7.3, and when reverting 3497aa0766ac6f2f2cd66cc483c86f2a67a738aa from #921 the issue goes away as well. @tomviner

Looking at the repr, it seems it

[2015-11-30 13:12] The-Compiler commented on #1204
Here is what I think happens:

* The test file does `from odoorpc.models import Model`
* `odoorpc.models.Model` inherits [this `__getattr__`](https://github.com/osiell/odoorpc/blob/master/odoorpc/models.py#L64-L74) from `MetaModel` which returns `rpc_method`
* The nose check does the equivalent of `bool(getattr(Model, '__test__'))` which is `True`
* The model gets collected as a test
* Something b

[2015-11-30 13:28] RonnyPfannschmidt commented on #1204
from the looks of it we need to make test collection even more robust against magical thoughtless objects like rpc unverified wrappers

[2015-11-30 13:29] RonnyPfannschmidt commented on #1204
for simle implementation we should limit the nose compatibility check to ONLY functions, methods and classes

[2015-11-30 13:30] The-Compiler commented on #1204
Well, that *is* a class.

[2015-11-30 14:47] nicoddemus commented on #1204
I agree with you, while it is not something I would use myself I think it makes sense here. Anyone cares to tackle this? If nobody has the time right now, I might be able to work on this later today or tomorrow.

[2015-11-30 15:45] The-Compiler commented on #1204
I opened two PRs now :wink:

#1205 attempts to make the code getting the line number more robust in such a case, and #1206 implements the strategy of checking for `is True`.

[2015-11-30 16:23] #1204 closed

[2015-11-30 23:49] jiffyclub commented on #1201
Duplicate of #1134

[2015-12-01 00:06] nicoddemus commented on #1201
Thanks @jiffyclub

[2015-12-01 00:06] #1201 closed

[2015-12-01 01:05] nchammas commented on #175
Not sure if I've read the [xdist source](https://bitbucket.org/pytest-dev/pytest-xdist/src/8e1f81f8113ad87c9fab6ac346e8e71ecd2dc1ad/xdist/dsession.py?at=default&fileviewer=file-view-default#dsession.py-143:144) correctly, but an interim solution that may be easier to offer is some kind of hook that we can use to define how we want to chunk tests up.

[Source](https://bitbucket.org/pytest-dev/pytes

[2015-12-01 01:30] danijar commented on #1134
I needed something like this to make it work both inside virtualenvs and without, probably because of different setuptools versions. Might be worth adding this information to the guide.

[code]

[2015-12-01 07:38] RonnyPfannschmidt commented on #175
Any hook we prematurely introduce has the potential to severely cripple doing a proper solution

That and my current time constraints mean its unlikely to happen unless someone tries tries and can handle needing to maintain a temporary fork in case we cannot acceptance his/her solution for strategic reasons

[2015-12-01 14:03] BeyondEvil opened #1210 "msg in pytest.exit(msg) doesn't get printed when called in pytest hook"
OSX 10.10.4
pytest version 2.8.2
Python 2.7.6

In Conftest.py
[code]
pytest exits silently w/o printing 'msg' ("oh noes") regardless of any -s, -v, -q or -rx flags.

[2015-12-01 15:58] markshao commented on #1210
I can reproduce this in my environment , looks like the code in pytest_configure function is not executed .

[2015-12-01 16:11] nchammas commented on #175
No worries, I completely understand. I'll take a look at @heipark's solution [here](https://github.com/heipark/pytest-xdist/compare/974bd566c599dc6a9ea291838c6f226197208b46...master) and try to come up with something that works for me. If it seems generally applicable, I'll share with y'all so you can consider it for inclusion.

The approach I'm looking to take is to offer a hook that people can u

[2015-12-01 21:50] RonnyPfannschmidt commented on #175
there is a general plan to do this for collection time already (so different nodes collect different files)

the main problem is development time and design time (which is hard to get by for personal reasons)

[2015-12-01 22:45] nicoddemus commented on #175
I put up pytest-dev/pytest-xdist#17 with some ideas, would love to get some feedback! :smile:

[2015-12-01 23:06] nicoddemus commented on #175
Oops, missed @nchammas post! :sweat_smile:

A hook was an idea discussed before, but it was difficult to design a hook that would cover all possible use cases we had at the time. Also, as @RonnyPfannschmidt mentioned, currently the `master` node only has the items' node ids to work with in deciding how to schedule the tests, so it is a limiting factor too (of course we could work on that front and

[2015-12-01 23:11] nchammas commented on #175
No worries @nicoddemus. :) I have changed my position to [the one described here](https://github.com/pytest-dev/pytest/issues/175#issuecomment-112200644). I've commented on your proposal, and I guess we can continue the discussion there.

[2015-12-02 00:22] nicoddemus commented on #491
`genscript` has been deprecated for some time now

[2015-12-02 00:22] #491 closed

[2015-12-02 00:24] nicoddemus commented on #609
Unable to reproduce, feel free to reopen with more info!

[2015-12-02 00:24] #609 closed

[2015-12-02 08:08] #1198 closed

[2015-12-02 08:33] aivarannamaa opened #1214 "FAQ recommends non-existant option "assertmode""
https://pytest.org/latest/faq.html says

I was not able to get it working. Seems that the correct option is `--assert=plain`.

[2015-12-02 14:26] RonnyPfannschmidt opened #1215 "add a minimal pytest.ui object that provides an abstraction not bound to cli"
i'd love to create a different ui thats not bound by the same constraints as terminalwriter

also i'd love if less plugins would instanciate or hackishly obtain the global one from the terminal plugin

instead py.test should only provide a fallback that provides the well known ux and leave providing real ui's to projects like pytest-sugar, IDE integrations and other projects

[2015-12-02 14:57] astraw38 opened #1216 "Provide a way to nicely control fixture execution order"
We sometimes have fixtures that need to execute in a specific order, without having them include one another as an argument. This is to provide flexibility with fixtures, so they aren't always linked to one another.

Quick example:

[code]

I know there's ways to do this w/ using fixture arguments, like having intermediary fixtures that exist purely to order the other fixtures, but it's not very p