[2020-04-08 15:02] adamchainz commented on #7042
Hi

I'm the developer of pytest-randomly. @thbde opened the issue there first and I encouraged them to open it here.

I didn't want to add a `--reverse` option to pytest-randomly, since it's not randomness associated. So I created [pytest-reverse](https://pypi.org/project/pytest-reverse/).

Given:
* the paper linked in the pytest-randomly issue shows reversal is almost as effective as random order

[2020-04-08 16:10] blueyed commented on #7043
It works when passing in `--env` I assume?
IIRC config is not re-parsed completely when options are added by non-plugins.
The workaround is to use a `default` with your option (with `parser.addoption`).

[2020-04-08 16:30] blueyed commented on #7042
Code for reference: https://github.com/adamchainz/pytest-reverse/blob/master/src/pytest_reverse.py

I think it is a good option for pytest itself.

It should then use a hookwrapper / extra handling though probably to ensure it works as expected with e.g. `--ff` (https://github.com/pytest-dev/pytest/commit/f75f7c192586fd856dad10673cd6d1f8cce03f75#diff-0f9f126d34efdf99c5f0cae4707bdca7).

[2020-04-08 16:42] blueyed commented on #7040
It comes from the Session name probably.

Try this patch:
[code]

For pytest itself it fixes `-k pytest` to select everything for example.

[2020-04-08 16:50] nvoloshchuk19 opened #7045 "Adding "passed" status into junitxml logs"
![image](https://user-images.githubusercontent.com/51717986/78811321-5850ba00-79d2-11ea-8c02-2c7487470821.png)
Is it possible to add "passed" status of tests in the report?

[2020-04-08 17:42] bluetech commented on #6994
I find the "patch" report useful, it just shows which parts of the diff are covered and fails if something isn't. But the "project" one, not so much, often it fails without any apparent reason and no way to fix in the PR.

[2020-04-08 18:46] SwampFalc commented on #7041
Thank you for all that information. Even though I'm not entirely certain that I'm using that particular plugin for the unit testing, it does show quite clearly what's going on and how it can get fixed.
I'll go and bother other people with this now :-)

[2020-04-08 19:20] adamchainz commented on #7042
Thanks for pointing that out @blueyed — I've updated the code to use a hookwrapper.

[2020-04-09 06:59] blueyed opened #7051 "--strict-markers could enable the warning to cause an error"
The `--strict-markers` option is not really necessary given that there is a warning already always, which could be turned into an error:

https://github.com/pytest-dev/pytest/blob/760a399925ddaacc474f2406ecb1881b72a40140/src/_pytest/mark/structures.py#L340-L357

So `--strict-markers` could be kept, but configure the warning accordingly.

This would make it more flexible in general, e.g. when you w

[2020-04-09 10:03] nicoddemus commented on #6947
@mdmintz are you sure your test is related to this issue? See https://github.com/pytest-dev/pytest/pull/7049#issuecomment-611399172.

If not, could you please open a separate issue? Thanks!

[2020-04-09 11:03] nvoloshchuk19 commented on #7045
`numtests = (
            self.stats["passed"]
            + self.stats["failure"]
            + self.stats["skipped"]
            + self.stats["error"]
            - self.cnt_double_fail_tests
        )`
As I see, we have "passed" status, but how I can log it into report?

[2020-04-09 11:14] averater opened #7053 "Conflicting fixtures"
Hello. Thanks for a great test framework. I have not worked long with pytest and I'm sorry if there already is a way to handle this.

I want to use pytest for testing on hardware where we can have some configurations. It is easy to set configurations before each test but it unfortunately takes up to a minute (as our hw need to be restarted after each config change). So to save time I want to group

[2020-04-09 12:40] pkaleta opened #7054 "Mapping expected outputs for parameterized fixtures."
Let's assume I have the following two functions I want to test:

[code]

I want to use one parametrized fixture to generate test inputs for both functions. Here's one way to do that:

[code]

This works fine, but one problem is that in each test function, I have to explicitly check which parameters are passed to the function under test and based on that pick the expected return value. This code ha

[2020-04-09 12:47] RonnyPfannschmidt commented on #7045
passed is **not** part of the spec, so the junitxml plugin shouldnt simply add it
see https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd#L116-L130

[2020-04-09 12:52] shashank-g172 commented on #7043
No, it just didn't work when using --env. I tried to add a default option, that didn't work either. I chalk it up to my environment being messed up or a typo I didn't notice. Since it's just 3 files, I wrote them all from scratch again it seems to be working now.

[2020-04-09 12:52] #7043 closed

[2020-04-09 12:55] RonnyPfannschmidt commented on #7054
a common solution is to create a mapping of inputs to outputs and use those for lookup

something like
[code]

[2020-04-09 12:58] RonnyPfannschmidt commented on #7053
unfortunately the fixture system is completely unaware of such conflicts and so far none has set out to come up with a comprehensible wa of handling "uniqe" resource configurations and their dependency/topimization

[2020-04-09 13:09] pkaleta commented on #7054
Gotcha, I've used that as well. Just wanted to make sure there's no functionality provided by pytest to support this use case.

I could imagine having a kind of mapping between fixture name/id and additional data that is passed to the test function. Using example from above that would be:

[code]

[2020-04-09 13:37] nvoloshchuk-amplify commented on #7045
@RonnyPfannschmidt one more question. I have a problem with passed tests, they are not displaying at the graphic report(only errors and failures), can lack of passed status be the cause?

[2020-04-09 13:39] nvoloshchuk19 commented on #7045
@RonnyPfannschmidt one more question. I have a problem with passed tests, they are not displaying at the graphic report(only errors and failures), can lack of passed status be the cause?

[2020-04-09 14:10] The-Compiler commented on #4576
I also want to point out that sometimes (especially for common libraries or usecases), there are third-party patching solutions which avoid having to deal with mocks by hand. I think they can make a lot of sense when dealing with things which are inherently "in the way" (like external HTTP services). In those cases, changing the code to pass in e.g. fake responses might mean those responses aren't

[2020-04-09 14:19] bluetech commented on #7022
I'm afraid 413ca8a4d097ed1a98b2d1012ca7df17aa6837b1 didn't help either.

Unless anyone has any other idea, I propose we just skip this test for now for being flaky, as the broken CI is quite annoying. I'll send a PR.

[2020-04-09 14:22] blueyed commented on #7022
How about retrying it for now?
Using e.g. https://github.com/pytest-dev/pytest-rerunfailures might help with catching regressions with it also.. :)

[2020-04-09 14:27] mdmintz commented on #6947
@nicoddemus I created #7000 for it, but @blueyed closed that as a duplicate, and it might not be a duplicate, but it is related to unittest tearDown, as as the outcome._errors value is missing there. Also see @blueyed's comment here: https://github.com/seleniumbase/SeleniumBase/issues/534#issuecomment-607570211

[2020-04-09 14:31] bluetech commented on #7022
I don't like rerunning on failure (as a concept), personally.

[2020-04-09 14:46] blueyed commented on #7022
Me neither.  But not running it anymore will not even show when it starts working again then.
FWIW, I've never seen this on my fork, so it is likely not due to updated requirements, but some code change.
I agree though that it is annoying, so I'm -0 for disabling it - although it might just hide a bug in code after all (something that users will see then occasionally anyway).

[2020-04-09 14:58] blueyed commented on #6947
@mdmintz
Yes, it is the same root cause, just another symptom (https://github.com/pytest-dev/pytest/issues/7000#issuecomment-607749633).

[2020-04-09 15:00] bluetech commented on #7022
The issue will remain open, if anyone will want to look at it ;)

If users start seeing it then we will be able to bisect or debug more hopefully.

In any case, whether some code change caused it or not, it's a native code crash, which a Python-level code change can't bring about on its own -- there must be a bug *somewhere* outside of pytest proper.

[2020-04-09 15:17] aaltat opened #7059 "Console loggin problem when using pywinauto with pytest"
I have strange console output problem if I have test that uses pytest and [pywinauto](https://github.com/pywinauto/pywinauto). The problem can reproduced also by using [uiautomation](https://github.com/yinkaisheng/Python-UIAutomation-for-Windows). I think the common underlying nominator is [comtypes](https://github.com/enthought/comtypes), but that is just guessing and I lack the skills to confirm

[2020-04-09 15:23] mentaal opened #7060 "xfail behaving more like skip"
Hi there,
In the [docs ](https://docs.pytest.org/en/latest/skipping.html#xfail-mark-test-functions-as-expected-to-fail) for xfail it says:

[code]

[code]

The behavior describes doesn't really sound like xfail to me. It's more like skip. The testcase isn't run. If I put the pytest.xfail call at the end of the test, an exception will be thrown before I get to it.

Am I misunderstanding. What's the

[2020-04-09 15:51] RonnyPfannschmidt commented on #7045
That depends on the reporting too you use, personally I do not use junitxml

[2020-04-09 16:02] RonnyPfannschmidt commented on #7054
"covariant" parameterization is largely unexplored and so far no elegant general solution emerged

[2020-04-09 16:41] allan-silverstein opened #7061 "fixtures with yield statement in if-else clause crash pytest"
If I have a fixture with a yield statement within an else clause and the else clause is False, pytest will crash

Here is a simple example (note one of the parametrize lines is purposely commented out as you can use it to toggle back and forth.  Only when "filename" is None does it crash.  Otherwise it runs fine.  Am I missing something?  Is there a different way that I'm suppose to do this?  My o

[2020-04-09 16:54] blueyed commented on #7059
This looks related to what we're seeing on CI lately (#7022).  /cc @bluetech

From the gist:
[code]

[2020-04-09 16:57] blueyed commented on #7059
@aaltat
re the gist above: was this really with `-p no:faulthandler`?  (since you've said also that it would not happen when using that)

[2020-04-09 17:00] The-Compiler commented on #7061
Can you show the output you get?

[2020-04-09 17:12] aaltat commented on #7059
Had a small copy paste problem. The start of CMD buffer was already lost, when I paused the command: `python -m pytest test_pywinauto.py`. Therefore I took the start of the command from another CMD and looks like I took it from wrong CMD. Sorry about that. Can create new log if you want.

[2020-04-09 17:32] blueyed commented on #7059
@aaltat no, it's fine - thanks for clarifying.  I've edited my above comment.

[2020-04-09 17:35] pkaleta commented on #7054
Thanks @RonnyPfannschmidt

[2020-04-09 17:35] #7054 closed

[2020-04-09 18:28] snenkov opened #7062 "Pytest seems to not account for coverage when a while True loop is broken."
I have an async python function which connects to a websocket and then uses a while True loop to collect and save the information form the websocket to a DB.

The function looks very similar to this one ([source](https://speakerdeck.com/pydataamsterdam/giovanni-lanzani-tickling-not-too-thick-ticks?slide=23));:

[code]

I was thinking of way to test it and tried getting some help from Stack Overflo

[2020-04-09 18:35] The-Compiler commented on #7062
pytest has nothing to do with coverage. If you run Python code in another process and want it to be covered, you will need to [set coverage.py up correctly](https://coverage.readthedocs.io/en/coverage-5.0.4/subprocess.html) or use the [pytest-cov plugin](https://github.com/pytest-dev/pytest-cov).

Closing this now as I don't think there's anything actionable for pytest here, but feel free to follo

[2020-04-09 18:35] #7062 closed

[2020-04-09 18:36] snenkov commented on #7062
Well this gives me a good lead. Thanks.

[2020-04-09 19:25] allan-silverstein commented on #7061
Here is the ouput.  I removed the conftest.py file so nothing else should be running....

[code]

[2020-04-09 19:47] The-Compiler commented on #7061
It looks like pytest falsely assumes that it can call `next(...)` at least once if a fixture is a generator. Here's a simpler example:

[code]

Not sure what the best behavior would be in that case, though?

- Show a warning and run the test (with `None` as the fixture value)
- Make it an error
- Just run the test

In your case, you might want to add a `yield` inside of the `if` part as well.

[2020-04-09 19:49] RonnyPfannschmidt opened #7063 "fix support for obj parameter of Class.from_parent"
in https://github.com/pytest-dev/pytest/commit/c99c7d0f95170a5e308ed6c37e63b2d90794a4f9#r38397315 @blueyed noted a ignored optional parameter

as far as i remember this is a refactoring artifact i accidentally left,
i should ensure it can be used

[2020-04-09 19:53] RonnyPfannschmidt commented on #7061
a `yield fixture without yield` should trigger a indicating error that the fixture produced no value
with a mention that exactly one yield is expected

[2020-04-09 19:53] RonnyPfannschmidt commented on #7061
@The-Compiler thanks for the compact reducer :+1:

[2020-04-09 20:28] blueyed commented on #7063
`Class` never took an `obj`.
I've noticed this when optimizing things to use passed-in objects.

[2020-04-09 20:33] RonnyPfannschmidt commented on #7060
as documented jsut below the example, the imperative xfail indeed behaves like the imperative skip
as its implemented in terms of a specific exception

as far as i understood your use-case is triggering a declared xfail from within the test
(whic would mean still running the code expected to fail)

we currently don't have such a concept available, but it is a desired feature as this is a case wher

[2020-04-09 20:39] RonnyPfannschmidt commented on #7063
@blueyed as i said its a refactoring artifact i accidentally left

 it will be revisited as pretty much everything should try to use passed in objects

[2020-04-09 21:35] mentaal commented on #7060
Ok let me try and explain with an example:

[code]
Results in:
`..\..\..\temp\test_xfail.py::test_xfail_1 XFAIL`

This isn't an xfail... it's a skip.
Try again:

[code]

Results in:
`E       ValueError: Boooo`
Not an xfail at all, though obviously the reason is understood.

I did read the documentation I quoted. The reason is clear and I understand it. My point is if the usage in my first example

[2020-04-09 22:00] blueyed commented on #7063
Yeah.  I've came across this when noticing that typically both `FunctionDefinition` and `Function` are being created - both creating the obj etc.

As for your "please coordinate" comment on https://github.com/pytest-dev/pytest/pull/7052 you might want to provide some reference to why `FunctionDefinition` is needed / what's the plan with it.

[2020-04-09 23:35] allan-silverstein commented on #7061
So not sure if I'm clear... Should what I'm trying to do work?  or not?  Are you thinking this is a bug at this point?
Thx.

[2020-04-10 02:27] kappa10j opened #7065 "pytest_generate_tests doesn't have a way to check whether the test will be collected"
I've created a `pytest_generate_tests` function to dynamically generate parameters from an input file.  That's working fine but all the tests are generated on every run even if I run 1 out of 100 tests.  Is there anyway to check if the test will be collected?

The code below will end up reading in all the data files even when a test won't be running.  I planned to have a folder call `input_data` c

[2020-04-10 02:58] Zac-HD commented on #7051
Makes sense to me.

(I'd also make the warning an error in our next major version, but :man_shrugging:)

[2020-04-10 03:02] Zac-HD commented on #7061
@allan-silverstein - it's not meant to work, but we want to give a more helpful error in future :smile:

[2020-04-10 03:09] Zac-HD commented on #7065
As I understand it, you're asking about a performance optimisation we you can avoid generating certain tests based on the selection criteria?

While this is not strictly impossible, I'd avoid it - there's a real risk that bugs will lead to silently missing tests.  If there really is a lot of performance overhead, I'd first try selecting by module (file) as well as `-k`, and if that wasn't enough I

[2020-04-10 03:09] #7065 closed

[2020-04-10 04:48] RonnyPfannschmidt commented on #7063
Functiondefinition is the node which represents a function without parameterization, its collect method should run generate_tests

[2020-04-10 04:50] RonnyPfannschmidt commented on #7060
That's not the intended usage, thats a bad workaround for the missing imperative marking

[2020-04-10 05:17] RonnyPfannschmidt commented on #7051
that warning should stay a warning until marker registration/setup is much more easy,
its a pain to expeirment whn the first thing that happens is a warning instead of a error,

however pytest becoming more strict on ci by default woul d be something i would be more happy to see on the next major

[2020-04-10 05:19] kappa10j commented on #7065
Or how could I check to see that the test would be collected according to
the arguments passed in?  In this case, by the -k argument.

So instead of only checking, if 'data' in metafunc.fixturenames
I could also check, 'if the current test will be collected....'

On Thu, Apr 9, 2020, 11:10 PM Zac Hatfield-Dodds <notifications@github.com>
wrote:

[2020-04-10 05:28] allan-silverstein commented on #7061
Hmm, that does not solve my issue though.  If I use pytest.skip(), then the test function itself is skipped.  I still need the test function to run.  Again, if filename is None, I just want the fixture to return back to the test function... Actually, I'm not really following why the "yield" statement causes the problem because the yield statement should only be processed when filename is "not" Non

[2020-04-10 05:49] #6987 closed

[2020-04-10 06:03] RonnyPfannschmidt commented on #7061
you *NEED* the yield statement because that's how the yield fixture communicates **setup done**
so if you have it in a if/else, you certainly need it on both sides of the if/else

[2020-04-10 06:05] RonnyPfannschmidt commented on #7065
its still not clear what you are asking about, pytest-generate-tests can not know whichtest get plucked away by `-k` as **deselection** happens after collecting all tests

[2020-04-10 06:21] RonnyPfannschmidt commented on #7001
@nicoddemus i finally had a moment to run trough it, happy easter

[2020-04-10 06:40] blueyed commented on #7063
Will it be named `obj` then still?  `Function` uses `callobj` for it currently/already.

[2020-04-10 06:57] RonnyPfannschmidt commented on #7063
yes, , obj is the intenral/semantical name used in practically all nodes, the function object using callobj will deprecate/disappear with the introduction of functiondefinition in the collection tree

[2020-04-10 07:31] mentaal commented on #7060
Can you please elaborate?

[2020-04-10 08:48] bluetech commented on #7059
@aaltat Thanks for the detailed report! We are seeing something similar in pytest CI, which may or may not be related.

What I'd be interested in finding out first is whether this is caused by something pytest does, or if it can be reproduced without it.

What the faulthandler plugin does, when not running under `xdist` and without setting the `faulthandler_timeout` pytest.ini option boils down to

[2020-04-10 10:57] RonnyPfannschmidt commented on #7060
imperative xfail is intended to exit a test right at the point where it happens, indicating a known hopeless case

we do not have a delayed xfail which is applied dynamically and then is evaluated after a failure/pass

[2020-04-10 10:58] kappa10j commented on #7065
I hadn’t understood the difference between selection and deselection.  Now I do.  So I’m able to select only the tests I want by specifying the test class.   Now I know you stated “pytest-generate-tests can not know whichtest get plucked away by -k as deselection happens after collecting all tests,” but is it possible to check in generate tests if a test is a candidate for deselection?  Perhaps by

[2020-04-10 11:08] RonnyPfannschmidt commented on #7065
right now that functionality is not exposed as public api

[2020-04-10 11:10] #6294 closed

[2020-04-10 13:18] mentaal commented on #7060
Which in my head at least is an imperative skip for the reasons described. To refer to it otherwise is confusing because the semantics are different to the declarative variant. I'll beg to disagree on the bad workaround as it matches more closely the semantics of xfail. I'm not stuck or anything so I'll close this ticket.
Thanks for taking the time.

[2020-04-10 13:18] #7060 closed

[2020-04-10 13:51] #7001 closed

[2020-04-10 13:51] nicoddemus commented on #7001
Thanks!

[2020-04-10 13:58] allan-silverstein commented on #7061
Ahhh, putting the yield statement on both sides of the if/else is an easy solution.
Thank you.

[2020-04-10 15:01] avirlrma commented on #6947
Can I work on this?

[2020-04-10 15:45] lucianmarin opened #7071 "pytest.xfail should work like pytest.mark.xfail"
`pytest.xfail` should do exactly what `pytest.mark.xfail` does. `pytest.xfail` acts like `pytest.skip` for no good reason. `pytest.xfail` should let the test run then mark it as XFAIL or XPASS.

The current `pytest.xfail` already exists as `pytest.fail` and new delayed `pytest.xfail` should developed in place.

https://github.com/pytest-dev/pytest/issues/7060
https://github.com/pytest-dev/pytest/i

[2020-04-10 18:10] sobolevn commented on #6994
There's also https://github.com/wemake-services/coverage-conditional-plugin to cover some complex cases.

[2020-04-10 21:28] aaltat commented on #7059
I did have this code:
[code]
And then the output looked like this (this time made sure that CMD buffer does not get full before I could copy the output):
[code]
Please tell if I can help in debugging the problem further.

[2020-04-11 10:36] bluetech commented on #7059
This looks like a crash in native code. The `pywinauto` is doing some invalid COM (Windows RPC) calls in `uia_element_info.py, line 269 in _get_elements`.

I am not sure why the same stack trace is endlessly repeated. It should only be dumped once.

It is not clear the output `...` was trimmed manually by you, or if this is actually what is printed? I assume that "BEFORE disable" is not reached?

[2020-04-11 14:34] bluetech commented on #3342
Update on my [typing branch](https://github.com/bluetech/pytest/tree/typing):

Most of the interesting/common public APIs are covered now, and most of the internal APIs as well.

This is done now, for both src/ and testing/.

This is done in https://github.com/pytest-dev/py/pull/232, not integrated yet however.

---

My plan now is to clean up the commits and submit the branch for inclusion. It is

[2020-04-11 16:34] GeorgeFischhof opened #7074 "Pytest's assertion rewrite rewrites assert's message; if multi-assert plugin is used, it can be wrong"
Hi Folks,

when I use pytest-assume or pytest-check and assert (the function used instead of assert) contains an expression which can not be evaluated (only get value if the assert would fail), pytest generates an error.
I tried it with pytest-assume, pytest check, on linux, windows

here is an example with output. I used the őytest.assume or assert, the other code part was commented out.

BR,
Geo

[2020-04-11 17:49] GeorgeFischhof opened #7075 "[Feature] Pytest should have its own native solution for using several asserts in one test case"
Hi Folks

Pytest should have its own native solution for using several asserts in one test case

it is several times required for system / end to end tests, and there are some issues with plugins and / or pytest and plugin combinations

BR,
George

[2020-04-11 18:38] SalmonMode commented on #7053
I'm still a little unclear as to how everything ties together on your end, but I'll present a solution, and you can tell me if I'm missing something.

It sounds like you have several tests that are setup pretty much the same way, except the config is different. It also sounds like you have some tests that should only apply for some configs, but not others. It also looks like your example fixtures

[2020-04-11 18:49] symonk commented on #7075
HI @GeorgeFischhof can you please elaborate the issue, with an example? what are the issues you are experiencing with plugin(s) regarding assertions?

[2020-04-11 20:12] sallner commented on #7074
Hello @GeorgeFischhof,
if I understand you correctly, you would like to receive a test failure in case the expression `" %.2f" % info` cannot be evaluated with `info = None`.
As far as I understand the code in `pytest-assume` and `pytest`, a test failure is only rendered, if an assume or assert is False. In this case it is rather a programming error, so it should be an actual error. If this is pos

[2020-04-11 20:40] SalmonMode commented on #7075
It has one. That's what fixtures with larger scopes can do. For example:

[code]

In this approach, fixtures are used to perform state-changing actions targeted at the class-level scope. Because the final fixture is autouse, it triggers all previous fixtures automatically (reducing boilerplate fixture requests). This results in the class scope representing the final, resulting state. The tests can

[2020-04-11 20:50] SalmonMode commented on #7031
Typically, it wouldn't be about modifying how an already established executable determines its exit codes, but rather parsing the results of the executable and adding your own logic on top of that to provide your own exit code.

It would sort of be like asking `grep` to exit with `0` if no results were found (which would normally be a `1`). If you are expecting grep to return no results, then you

[2020-04-11 21:01] SalmonMode commented on #6969
@nebbish could be related to an issue I found a while back with things not being torn down properly. There's a PR for the (potential) fix [here](https://github.com/pytest-dev/pytest/pull/6551). Would you mind checking out that branch and giving it a shot?

[2020-04-11 21:05] SalmonMode commented on #6956
I might be misunderstanding, but it looks like you're trying to import the package that the conftest is inside of into the conftest, which would be circular.

[2020-04-11 21:14] asottile commented on #6956
it has this behaviour for any exception, the concidence in import name was perhaps not the best choice when I wrote up this bug report (I was being too hasty!)

[2020-04-11 22:41] CarycaKatarzyna opened #7076 "Wrong relative path in skip report when tested file is upper than invocation directory"
The problem is if tested file is upper than invocation directory . It occurs in skip report.
Example:
path of tested file is:`/home/xyz/my_tests/test1.py`
and `pytest` is called in location: `/home/xyz/pytest`.

[code]
Instead ``SKIPPED [1] my_tests/test1.py:3: no way of currently testing this`` it should be
``SKIPPED [1] ../my_tests/test1.py:3: no way of currently testing this``.

[2020-04-12 00:27] tirkarthi commented on #7076
Seems related : https://github.com/pytest-dev/pytest/issues/4677

[2020-04-12 05:51] andy-maier opened #7077 "Node.repr_failure() not in the docs"
I have implemented a collector for certain yaml files and was recently trying to look up the arguments of `pytest.Item.repr_failure()` that I'm overloading, because Pylint reported an argument mismatch.

It turned out that that `repr_failure()` does not show up in the pytest docs, also not in the base class `pytest.Node` where it is implemented. Looking at the source code, I found that the method

[2020-04-12 07:32] andy-maier commented on #7077
Addressed in PR #7078.

[2020-04-12 13:39] symonk commented on #4603
HI @nicoddemus, ok if I look into this one sir?

[2020-04-12 14:59] symonk commented on #7012
Will investigate this one if thats ok

[2020-04-12 15:18] GeorgeFischhof commented on #7074
Hi @sallner,
the best thing would be, and I would like that, if the message would be evaluated only at failed assert / assume / whatever.

Assert works well.

In this case I can replace the None with for example zero (and I did this), but this is just a workaround - I think.

In the example I wanted to show with the names, that in end-to-end testing it can happen, that gathering the evidence can b

[2020-04-12 15:23] GeorgeFischhof commented on #7075
Hi @symonk,

for example the previous issue: #7074

BR,
George

[2020-04-12 18:28] SalmonMode commented on #7074
This appears to be an XY problem.

In python, strings are not lazy evaluated, including those formatted with `%`, so the string will always be evaluated before the arguments are passed to `pytest.assume`. The error is also being thrown because you're using `%.2f`, which is expecting a number. This will never work if `info` is `None`. So this isn't an issue with pytest. Also, just as a heads up, su

[2020-04-12 20:14] symonk commented on #4583
@RonnyPfannschmidt  not sure the best approach on this, should we treat the SyntaxException from eval as a USAGEERROR? just doing something like markexpr.lower() is not viable on technical merit, ultimately the user here has passed invalid python syntax through the CLI.  Looks like we are raising the SyntaxError, caught in wrap_session() except: block and internal error ensues

[2020-04-12 21:35] RonnyPfannschmidt commented on #4583
i vaguely recall there is a issue/pull request about better handling of that
the basig gist is - better errors

[2020-04-12 22:11] theunkn0wn1 commented on #4583
From a users point of view, it was entirely unclear that `-m` expects a valid python expression and the resulting error message was entirely unclear.

At bare minimum, the error presented to the user should provide feedback that they used the flag incorrectly; i wouldn't have filed this bug report if pytest told me i used it wrong (and clearly expressed why either in the message or in the document

[2020-04-12 22:16] symonk commented on #4583
@theunkn0wn1 yep completely; lets atleast make it have something user friendly for now, thanks for the report, i'll have a look

[2020-04-13 08:42] #7045 closed

[2020-04-13 10:49] symonk commented on #7042
I would like to see --reverse brought into the core, i think it has a pretty nice use case for aiding with test dependence

[2020-04-13 11:10] sorXCode commented on #2376
@henri-hulski , thanks.
Using self.assertLessEqual(a.items(), b.items()) works fine.

[2020-04-13 11:58] SalmonMode commented on #7026
Wouldn't that be the same as autouse, though?

[2020-04-13 12:13] SalmonMode commented on #7026
Wouldn't that be the same as autouse, though?

As an alternative, I've found it very effective to use a common naming scheme for fixtures to make sort of anchor points that I can override and/or request to place a fixture at a certain point in the dependency chain.

For example, if my "last" autouse fixture is always called `page`, I can just define another autouse fixture that requests `page` to

[2020-04-13 12:40] SalmonMode commented on #6824
I'm my opinion, a test should never be defined if it's never meant to be executed. In my experience, implementing logic to skip tests that you don't want to ever execute is a sign of an issue with overall test structure and/or design and will only bring more headaches.

It's not so much how that hook works, an more so what happens (or rather _doesn't_ happen) before that hook.

Pytest basically ge

[2020-04-13 13:38] #7077 closed

[2020-04-13 13:44] symonk commented on #6754
I think this is also a problem within our test suite on windows fails to rm long directories; will have a look

/AppData/Local/Temp has all sorts of occassional OS WinError 145s

[2020-04-13 14:06] symonk commented on #4583
@bluetech apologies i forgot a fixed # commit message; ok to close this?

[2020-04-13 14:46] #4583 closed

[2020-04-13 17:36] saattrupdan opened #7084 "Doctest does not register formatted strings"
Pytest currently ignores docstrings of the form `f'foo{bar}'` (and also `'foo{}'.format(bar)`).

Minimal example:
[code]

[code]

Removing the formatting makes the doctest detectable again. I'm running Ubuntu 18.04.4 LTS. Here's my `pip list`:
[code]

[2020-04-13 17:52] bluetech commented on #7084
Hi @saattrupdan, this is actually up to Python itself. pytest uses the `__doc__` attribute which Python fills with the docstring. But with `f`/`format` it isn't filled, so pytest doesn't see it. I guess in an usual situation like this, you can just set it directly, `fstring_test.__doc__ = f"my docstring"`, I think that should work with pytest but I didn't verify.

[2020-04-13 17:52] #7084 closed

[2020-04-13 19:14] SanketDG commented on #6900
i am taking this up since @gdhameeja has not responded back.

Where in the docs would I make this change?

[2020-04-13 19:26] symonk commented on #7026
@vkutepov a fixture can depend upon another fixture, for example:

[code]

[2020-04-13 19:37] SalmonMode commented on #7026
☝️

[2020-04-13 21:21] symonk commented on #7031
Hi @h-rueda I'm not aware of a way to customize it, ultimately:

[code]

Here is a little more info:

[code]

 will try to pass up the session exit code through wrap_session etc.  Its maybe something a custom plugin could modify somehow, but thats a guess, I would need to have a look through some code.

[2020-04-13 21:34] saattrupdan commented on #7084
Hi @bluetech and thanks for the quick answer. It does indeed work if I directly set `__doc__`, thanks!

[2020-04-13 21:43] GeorgeFischhof commented on #7074
Hi @SalmonMode,

thank you for your suggestions.
I will check, and write / rewrite my test cases accordingly.

BR,
George

[2020-04-14 02:32] rmorshea opened #7085 "Pytest should't import conftest if __init__ raises Skipped"
I have a package that needs to support Python 3 and 2 code. To accommodate this I've created a test directory specifically aimed at testing my Python 3 code. Within that directory I have an `__init__.py` with the following contents:

[code]

If I place a `conftest.py` file inside the directory containing this `__init__.py` and running pytest using Python 2 I get the following output:

[code]

I'm

[2020-04-14 03:21] anonyknight commented on #7009
As far as I know, junit report did not include xfail and xpass definition. That's why we can see Jenkinc junit-plugin has no xfail and xpass counter.

https://github.com/jenkinsci/junit-plugin/blob/master/src/main/java/hudson/tasks/junit/TestResultSummary.java

http://doc.pytest.org/en/latest/skipping.html
`This test will run but no traceback will be reported when it fails. Instead, terminal repor

[2020-04-14 05:50] anonyknight opened #7086 "Static analysis: pylint integration"
- [ ] Static analysis is a good way to gate-keep software quality. From .pre-commit-config.yaml, I can see pytest enabled flake8 for pep8, pep257 checker. **Is there any reason to skip pylint?**

- [ ] pytest and operating system versions: pytest-5.4.1.dev127+gf479cbce1
- [ ] minimal example if possible
e.g. I can see valid static risks in src/_pytest/junitxml.py
{
	"resource": "/home/will/code/py

[2020-04-14 06:18] anonyknight opened #7087 "junitxml.py store test results after the whole session, not after every test."
Command to use:
**pytest --junit-xml='test.xml' --caputre=no**

- [ ] _pytest/junitxml.py stores test results in function pytest_sessionfinish. If pytest was killed somehow during the test session, we see the captured log results in the terminal before the stopped point but cannot see test results in junit-xml. **Here the test results reporting behaviors are not aligned.**

- [ ] pytest-5.4.1.dev1

[2020-04-14 06:19] bluetech opened #7088 "test_stepwise.py::test_fail_and_continue_with_stepwise is flaky on ubuntu-pyp3"
Previously: #4366, was fixed in #4382 but appears to have regressed.

Happened several times recently. Example run: https://github.com/pytest-dev/pytest/runs/583181149

[code]

[2020-04-14 06:59] averater commented on #7053
Thank you very much for your replies.

@SalmonMode I made a oversimplified example. Our test configuration is mostly based on one config file with ~1000 bytes, each having 256 different possibilities. But there are more ways to configure the system also. So any sorting based on config is not doable. And any permutation of possible configs will be too big for any test system.
Also I would like to h

[2020-04-14 07:31] bluetech commented on #7086
Adding a second linter adds some maintenance overhead - in setup (CI, tox and by each developer) and in development (add ignores and such) and overhead (time it takes to run).

It might be worth it if there is sufficient added value. Would you be able to demonstrate the warnings it triggers? Regarding the two you pasted:

1. "Consider iterating the dictionary directly instead of calling .keys()" -

[2020-04-14 07:39] bluetech commented on #7031
`pytest_cmdline_main()` is a hook you can wrap with a `@pytest.hookimpl(hookwrapper=True)`, see [here](https://docs.pytest.org/en/latest/writing_plugins.html#hookwrapper-executing-around-other-hooks). The return value of the hook is the exit code. Note however that according to the documentation of this specific hook, "This hook will not be called for ``conftest.py`` files, only for setuptools plu

[2020-04-14 07:39] #7031 closed

[2020-04-14 07:47] symonk commented on #7086
Can certainly have a look, I think there is a fine line where having too many starts to become somewhat painful as a maintenance overhead, e.g something that is considered 'OK' on linter A, fails on B and vice versa, so we have to be careful not to be too over zealous (imo)

[2020-04-14 09:36] RonnyPfannschmidt commented on #7086
a key reason why pylint was never added is that in the past it was insanely chatty with insane amounts of false positives/nitpicks - given that in general black is used these days + tools to do such cleanups its hard or me to see value in adding pylint

[2020-04-14 12:07] SalmonMode commented on #7085
@rmorshea don't use `__init__.py` for that. Pytest isn't involved yet when then would run (it would be python itself parsing that package so that pytest can then work with it after), so there's no way for it to know you want to skip those tests.

Use `conftest.py` instead. Those are basically the `__init__.py` equivalent for pytest logic.

[2020-04-14 12:20] SalmonMode commented on #7033
@PhilippSelenium in pytest-based test classes, I would highly recommend not tying anything to the class's state, as it throws a wrench into how pytest normally operates and now creates multiple, potentially conflicting, sources of truth.

In `unittest.TestCase`-based test classes, such as those in nose, state and other resources have to be managed through the state of both the class, and the insta

[2020-04-14 13:06] SalmonMode commented on #7053
I wouldn't worry about pytest handling all the possible config permutations. If you are worried, it might be worth a look to see if your testing approach is apt, as there may be tests that either don't need to be run at all, or they could be structured far more efficiently.

Rest assured, though, as there's almost always a pure pytest solution, and I'm happy to help find it. That said, if I can't,

[2020-04-14 16:47] symonk opened #7090 "[Contributing] is it possible to debug with pycharm during testdir.runpytest() etc?"
I am having a horrible time being able to run using the pycharm debugger, hopefully someone is able to assist me, right now i am using solely pdb and its not as enjoyable for me :).

 - Created a new virtualenv
 - Activated
 - install -e [testing] deps
 - set pycharm to use the venv python3.7 as the interpreter

Anytime i debug a test that uses testdir.method() such as runpytest() etc, i recieve t

[2020-04-14 17:02] symonk commented on #7090
currently upgrading to pycharm 2020.1 to see if it helps

[2020-04-14 17:08] The-Compiler commented on #7053
You can access marker values from fixtures using [`get_closest_marker`](https://docs.pytest.org/en/latest/reference.html#_pytest.nodes.Node.get_closest_marker) - a somewhat similar example I wrote recently:

[code]

[2020-04-14 17:20] symonk commented on #7090
Fixed by pycharm updates! hopefully someone searching can find this issue and resolve it

[2020-04-14 17:20] #7090 closed

[2020-04-14 18:50] symonk commented on #7012
from what I gather we care not about file paths explicitly, regardless of `--keep-duplicates` e.g if you pass two paths to explicit .py files (not dirs) then keep duplicates doesn't even play a part, I think it is only used when we are dealing with directories.  @RonnyPfannschmidt any idea where the best place at fixing this would be? I was looking in and around `strargs`, but I think its already

[2020-04-14 18:51] rmorshea commented on #7085
@SalmonMode so I moved the `pytest.skip()` call to a `conftest.py` file in the same directory however now I just get a traceback instead:

[code]

The strange thing here is it all works correctly if and only if I *don't* have a `conftest.py` next to my `__init__.py` with the `skip()`.

[2020-04-14 19:08] RonnyPfannschmidt commented on #7012
Right now I have no idea, currently I'm also stepped away from the Project

[2020-04-14 22:28] SalmonMode commented on #7053
That shouldn't be necessary.

Aside from the built-in `pytest.mark` stuff (e.g. `pytest.mark.parameterize`), I find marks are best for providing meta data to filter on after the fact with `pytest -m`, rather than trying to use them to alter what was collected to begin with or how they operate. But that filtering mechanic is exactly what I think can solve this problem (or at least a big part of it)

[2020-04-15 00:23] SalmonMode commented on #7085
@rmorshea you'll want to have it raise it at test runtime. If it's in the global scope, then it will still be happening while python itself is still parsing package, before pytest gets involved. To get it to happen at test runtime, it'll need to be in a fixture, e.g.:

[code]

The scope for this is session, so that it only happens once for the whole package, and happens as soon as possible.

It lo

[2020-04-15 00:25] rmorshea commented on #7085
Ok, I think that makes sense as the flag in skip does mention it being for the "module level".

I think this issue should remain open though as the docs should definitely be updated to explain this.

[2020-04-15 00:30] SalmonMode commented on #7085
Definitely. It should also remain open until you can confirm this approach works.

[2020-04-15 08:28] PhilippSelenium commented on #7033
@SalmonMode Thanks for the offer but the problem is not the reworking the problem was/is the transition phase in which the tests have to run with pytest and we gradually switch to the fixture approach. As mentioned above the init constructor is empty and is mostly use to initialize variables to None. The class base approach cannot be discarded instantly because there is lot's of inheritance logic.

[2020-04-15 09:03] haroldrandom commented on #5642
will `-p no:warnings` solve this?

[2020-04-15 09:17] #7061 closed

[2020-04-15 09:59] pbatko opened #7092 "pytest runs imported unittest.TestCase for the second time after it had already called testDownClass"
### a detailed description of the bug or suggestion
Test class (inheriting from `unittest.TestCase`) imported into another test file gets executed for the second time, after its `tearDownClass` method had already completed.

There are two solutions I can think of now:
1. Never execute test classes that were imported from another module. Execute only those test classes that are defined in the curre

[2020-04-15 13:48] piotrhm commented on #6757
I played a bit with different outputs for large strings. Here are my thoughts:

1. Making something similar to:

![Screenshot from 2020-04-15 14-45-43](https://user-images.githubusercontent.com/25058095/79339285-f390e480-7f28-11ea-8a2e-06255bce5752.png)

Increase usability only for string with reasonable size. If we want to keep this convention we should batch output - it would be more readable.

[2020-04-15 15:59] symonk opened #7093 "support --last-failed AND other tests collected together"
From what I gather this is not currently supported, infact it seems to just deselect all of the tests?

[code]

`pytest`

creates:

[code]

[code]

ideally i would like to run --last-failed and also specify some sort of marker / keyword expr, to collect other tests in with the failure(s) like so:

`pytest --last-failed -m only`

what this actually does is deselect both tests

[code]

[2020-04-15 19:39] wimglenn commented on #6757
My preference would be for a vertical presentation, not side-by-side.
- basic practicality of copy-pasting the content
- no complications for long lines (side-by-side necessitates double the terminal width avail, or horizontal scrollbar)
- easier to implement

[2020-04-15 21:58] samdoolin opened #7094 "imported TestCase does not run setUpClass on second encounter"
# the issue

I often write a base `TestCase` with some generic tests, then use this as a parent class for more derived `TestCase`s.

When importing the base `TestCase` into other files pytest discovers it and runs it (as does unittest). However pytest does not process `setUpClass` on the base `TestCase` the second time that it is encountered.

# an example

[code]

[code]

[code]

[code]

# expect

[2020-04-15 22:01] symonk commented on #6754
@torcolvin please open the PR i would like to have a look :)  I am not sure if theres an awful lot we can do, we could maybe do something like:

[code]
This might help a bit? but it won't solve the issue, think its also not going to really work pre-py36, tmp_path yields a simple POSIX/Windows Path i believe based on platform, calling shutil.rmtree (which is what we do).

I think once any directory

[2020-04-15 22:19] torcolvin commented on #6754
I posted a PR here https://github.com/pytest-dev/pytest/pull/6755 and have been using this patch locally to solve this issue.

[2020-04-15 22:37] symonk commented on #7094
relates to #7092

[2020-04-15 22:55] samdoolin commented on #7094
Yes, similar to #7092. I did not check the behaviour of `tearDownClass`.

[2020-04-15 23:29] CarycaKatarzyna commented on #7076
@tirkarthi Yes, it seems similar, but doesn't apply to the same. In [#4677](https://github.com/pytest-dev/pytest/issues/4677) we want to change absolute paths to relative. Solved #4677 will leave already relative paths unchanged and will not fix this issue.

[2020-04-16 04:37] neumond commented on #6930
Probably not the best place to report it, but I have irrelevant `pytest: error: unrecognized arguments` in the following case:

Directory structure:

[code]

`setup.cfg` contents:

[code]

There is a custom argument inside `tests/conftest.py`:

[code]

Now, it works as expected, I can run following:

[code]

But if I mistakingly run

[code]

I get `pytest: error: unrecognized arguments: --swagger`

[2020-04-16 04:44] neumond commented on #6930
I think I get why this error happens. Since option is defined in `tests/conftest.py` it exists inside `tests`. Whenever I run pytest outside `tests` I get unrecognized argument error.

[2020-04-16 13:08] vkutepov commented on #7026
@symonk
Yes it is. but my fixture "a" is inside the file plugin.py, fixture "b" is in the test that
use this plugin. I did not understand how to make fixture "a" visible for fixture "b" and for this I decided to use monkey patching.

[2020-04-16 13:29] SalmonMode commented on #7094
They are definitely related, but are directly conflicting requests. This one wants imported test classes to be treated as a entirely newly defined test classes, as if they had been defined in the module they were imported to. #7092 wants imported classes to be ignored by the test runner.

[2020-04-16 13:32] SalmonMode commented on #7026
@vkutepov in order for a fixture to be visible to another fixture, it must be defined in the same scope, a parent scope (which considers conftest files), or installed in a plugin. Normally, common fixtures would be placed in conftest files in the appropriate place in the file structure. If you want to go the plugin route, you'll need to make an actual installable plugin and register it with the ap

[2020-04-16 13:43] samdoolin commented on #7094
The pytest docs claim that setUpClass/tearDownClass are supported features of unittest, so I was expecting the same behaviour.

[2020-04-16 13:44] samdoolin commented on #7094
Ignoring the imported BaseTestCase would solve the problem, but diverge from the behaviour of unittest.

[2020-04-16 14:12] symonk commented on #7092
@pbatko do you know if this is a regression? could we bisect and find out when it started occurring  if possible

[2020-04-16 16:13] seppestas commented on #2938
If this is a duplicate of #570, was this also fixed in #5798?

[2020-04-16 19:16] symonk commented on #7026
you can probably also load an internal plugin via pytest_plugins=['']

[2020-04-16 19:25] #7026 closed

[2020-04-16 19:26] vkutepov commented on #7026
Thank you, guys. Last time I didn’t make an scope="session" and the user could not access the fixture from my plugin. Now everything is working.
Sorry for the stupid questions, I'm just getting to know fixture magic.

[2020-04-16 20:14] seppestas commented on #4482
It seems like pytest doesn't allow passing options at run time, or at least I haven't find a way after almost a day of looking. Having the documentation being incorrect certainly didn't help.

This wouldn't be that much of an issue if there was an easy way to provide big configurations, but it seems the only thing that works is command line options or the ini file, which is pretty much the same si

[2020-04-16 23:02] rmorshea commented on #7085
@SalmonMode so unfortunately this does not work because `pytest` still attempts to collect the neighboring test files which are not valid Python 2 syntax so I now get a `SyntaxError`. The fact that skipping inside `__init__.py` works if and only if there is not `conftest.py` file really implies that `pytest` does in fact have control over whether or not this `Skip()` will crash or not. My guess it

[2020-04-17 04:44] aklajnert commented on #7093
If I understand you, you want to limit the `--last-failed` tests to run only those with a certain marker. That's how it works, but in your example, the only failing test is not marked. So `--last-failed` excludes `test_one()` and `-m only` excludes `test_two()`. If you make the `test_one()` fail, then it will be run with your command.

[2020-04-17 05:28] #4677 closed

[2020-04-17 07:09] symonk commented on #7093
Sorry @aklajnert i want to run the last failed AND collect other tests with my marker

[2020-04-17 07:59] bluetech commented on #7093
The word "and" has a confusing double meaning in English and in programming :smile:

Currently, pytest filters, such as `--last-failed`, `-m` and `-k`, are ANDed together in the logic sense. That is they apply on top of each other. Or in words, "collect test if matches `last-failed` AND matches `-m` AND matches `-k`".

I think @symonk is requesting to be able to OR them instead of AND. In words, "

[2020-04-17 08:58] symonk commented on #7094
@bluetech can you comment on what you would expect the correct behaviour from pytest here to be?

[2020-04-17 09:49] alkuzad opened #7096 "File and Line attributes are not Junit compliant for Jenkins"
In https://github.com/pytest-dev/pytest/pull/809 file and line attributes were added, which are not complaint to junit standard schemas:

In 2015 they were ok for Jenkins:

But now they are not:
https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd

Junit ...

[2020-04-17 10:19] RonnyPfannschmidt commented on #7093
this is a regression, i recall adding support for specifically that case

[2020-04-17 10:20] RonnyPfannschmidt commented on #7093
aka if no failed test is part of the selection, dont take them away

[2020-04-17 10:56] bluetech commented on #7093
This does work in my experience (when the last run didn't have any failed, last-failed resets), but I think is orthogonal to this feature request?

[2020-04-17 13:15] RonnyPfannschmidt commented on #7093
oh, i indeed misunderstood the request

so the use case s something like "as a test writer i do not want last failed to deselect tests with a special marker even if the passed before"

[2020-04-18 03:34] harishkrao commented on #7092
Can I look into this issue if it is still available?

[2020-04-18 12:04] SalmonMode commented on #7085
I would recommend updating your package to use backwards compatible python 3 code so you don't have this issue.

[2020-04-18 14:45] pbatko commented on #7092
@symonk It wasn't a regression for me.
Btw, wow would you approach bisecting and finding that out?
I am thinking of installing a number of different versions of pytest using pip a testing them out on the minimal.

@harishkrao Sure, go ahead.

[2020-04-18 16:59] rmorshea commented on #7085
Unfortunately that's not really an option for us at the moment. While I understand if you close this out, it seems intuitive to me that a skip in `__init__.py` would skip the whole directory regardless of its contents (which is what occurs so long as there is no `conftest.py`). This behavior of attempting to import `conftest.py` after `__init__.py` has been skipped just feels inconsistent.

[2020-04-18 17:04] rmorshea commented on #7085
I guess what I'm trying to get at is that it would be nice if, in some directories, I didn't need to worry about Python2 compatibility as that can add a lot of unnecessary overhead to writing tests especially when the tests in question are targeting features that are only designed to run under Python3.

[2020-04-18 17:07] SalmonMode commented on #7085
To be honest, EoL for Python 2 was announced over a decade ago, and we're already passed it. There's been almost 12 years worth of moments to implement backwards compatibility. That should really be a top priority at this point.

[2020-04-18 18:07] RonnyPfannschmidt commented on #7085
@rmorshea https://doc.pytest.org/en/latest/skipping.html#skipping-test-functions <- allow_module_level might help, i believe you would still need a conftest with collect_ignore in some way to make sure the files are really skipped

[2020-04-18 21:24] her commented on #6995
Hi @blueyed, thank you for the reply. I think the problem was maybe the version of pytest I'm using. After updating to a newer version things seem to work fine.

I'm going to close this issue.

[2020-04-18 21:24] #6995 closed

[2020-04-18 22:29] rmorshea commented on #7085
Thanks @RonnyPfannschmidt I'll give that a go.

[2020-04-19 03:48] harishkrao commented on #7094
Listening in on this conversation since I am working on #7092 and would like to understand the overall expected behavior around these two issues.

[2020-04-19 03:53] harishkrao commented on #7092
Installed multiple versions of pytest, running as far back as version 3.0.0, the same issue persists.

[2020-04-19 14:28] markshao commented on #7096
looks like we should re-org the xml-report structure according to [https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd](url)

currently the pytest may only support one testsuite inside the xml-report , according to the new spec, we shild split the testsuite with unique file , testcases under the same suites comes from th

[2020-04-19 15:21] markshao commented on #7096
According to the latest xunit-spec , we may need to refacter the structure of testsuite and testcase.

currently the pytest only support one testsuite , cause some duplicated attrs in the testcase tag like file .

maybe we should group by the testsuite with same file according to the new spec , for example
[code]

there some stats failure I'm still working on .

[2020-04-19 23:15] szha opened #7101 "Confusing log for teardown"
# Description
For test files where the last test is skipped, if module level teardown incurs exception, the exception would still be attributed to the skipped test.

# Example

1. Save the following snippet as test.py
[code]
2. run `pytest -v test.py`

3. output
[code]

# Env

OSX w/ pytest 5.4.1

[2020-04-20 18:50] oakkitten opened #7102 "Question: is it possible to write doctests for async functions?"
Suppose I have a simple function like this:

    async def hello_world():
        """
        Will great the world with a friendly hello.

        'hello world'
        """
        return "hello world"

It would test fine were it not for the fact that one can't use `await` in a regular function. Is there perhaps a way to run this test inside `asyncio` or `trio`, or perhaps some simple non-io aware

[2020-04-20 22:06] OliverEvans96 opened #7103 "Logs not captured after flask_migrate.upgrade()"
Hi there,

I've been really enjoying pytest, but I've spent the last few hours on a very obscure bug related to logging.

Apologies in advanced if this is just due to my ignorance of python's logging system.

# Description

It seems that if I run `flask_migrate.upgrade()` during a test, `caplog` does not receive logs from `logging.info` for the rest of the test, and those logs are therefore not sh

[2020-04-21 08:10] d3nzil opened #7104 "Add option to log exception in --log-file"
Currently when using --log-file parameter there is no way, as far as I could find, to make pytest log exceptions that happen in the test.
So when having example test like (in file test.py):
[code]
And running pytest like:
`pytest --log-file=test.log test.py`

Then the test.log file ends up being empty.
But it would be nice to have way to enable logging of the exception into the log file as this wo

[2020-04-21 14:28] OliverEvans96 commented on #7103
This is an Alembic issue (which flask_migrate uses to perform migrations) that disrupts logging for the rest of the process, unrelated to pytest.

In my case, running `migrate()` as a subprocess is the easiest solution:

app_test.py
[code]

I've submitted a PR to the `flask_migrate` docs making a note of this issue.

[2020-04-21 14:28] #7103 closed

[2020-04-21 23:56] uriva opened #7105 "async tests are prone to human errors"
Hi, currently pytest doens't handle async ootb, and plugins are needed. However these plugin require file/function based annotations, which are easy to miss. I suggest raising some exception upon a test function which is async, but not marked as such.

For more detail: https://github.com/pytest-dev/pytest-asyncio/issues/144

[2020-04-22 07:24] mahmoudajawad opened #7106 "Working towards getting vscode to always be able to collect tests"
In many cases, attempting tests discovery in vscode results in pytest reporting import errors. Many cases are reported in the wild and solutions like adding `conftest.py`, `pytest.ini`, or `__init__.py` somewhere resolves the issue. For me, however, it never did whatever I attempted. I'm using pytest without vscode integration, however I'm really feeling I should do something about this.

This iss

[2020-04-22 08:47] eric-wieser commented on #2560
Fix looks straightforward, output should be `&#x1B;` not `#x1B`.

[2020-04-22 14:55] markmelvin opened #7108 "Ctrl-C just quits and pytest_keyboard_interrupt doesn't work, neither does --fulltrace"
I'm running pytest via pipenv on Linux.  I am finding that when I press Ctrl-C during a test, pytest just bails with no information. In my full test suite this leaves a big mess (like dangling processes). I thought it was due to my test setup, but I have boiled this down to a single test that just sleeps and I get the same result.

I have tried specifying `--fulltrace` on the command line and I st

[2020-04-22 15:08] TheMeaningfulEngineer opened #7109 "Log format in pytest.ini ignores the tab character"
Defining the log format in `pytest.ini` with a tab character prints that character literally instead of rendering it.

**Example**

[code]

[code]

[code]

**Environment**

[code]

[2020-04-22 16:03] markmelvin commented on #7108
OK, a bare-bones pytest install works as expected. I'll look into this to see what may be interfering and consuming the signal.

[2020-04-22 16:13] markmelvin commented on #7108
Found it. It was the JVM (via pyjnius). Got around it with this:

[code]
Closing.

[2020-04-22 16:13] #7108 closed

[2020-04-22 21:55] red-eight opened #7110 "pytest now skips async tests"
Here's a simple test case:

[code]

Everything works using an older version of pytest (pytest-5.3.5).

[code]

For some reason, the test is skipped in newer versions of pytest.

[code]

Also, it seems like AioHTTPTestCase tests are NOT skipped.

[2020-04-23 09:54] petRUShka opened #7111 "Pytest more than twice slower than Nosetest on trivial test with huge library to load"
- [X] a detailed description of the bug or suggestion
- [X] output of `pip list` from the virtual environment you are using
- [X] pytest and operating system versions
- [X] minimal example if possible

Suppose we have installed huge library like [SageMath](https://www.sagemath.org/). Let consider trivial test file:

[code]

It runs for about 1.5 sec with [Nosetest][2]

[code]

Whereas with [pytest

[2020-04-23 11:38] Sup3rGeo opened #7112 "-k mishandles numbers"
Using `pytest 5.4.1`.

It seems that pytest cannot handle keyword selection with numbers, like `-k "1 or 2"`.

Considering the following tests:

[code]

Selecting with `-k 2` works:

[code]

But selecting with `-k "1 or 2"` doesn't, as I get all tests:

[code]

If I make it a string though, using `-k "_1 or _2"`, then it works again:

[code]

I see there are some notes about selecting based on key

[2020-04-23 12:15] harishkrao commented on #7092
Have we reached a consensus on the expected behavior between this issue and #7094?

[2020-04-23 14:17] LKajan opened #7113 "Same patched return value object returned in parameterized tests"
When mocking a return value of a function the same object is apparently returned in all parametrized test cases. Is this expected behavior? This might be more an issue of a unittest mock library but I'm thinking if something can be made how parametrized test cases are generated and isolated on pytest side.

Here's a small test example of the situation. Actual test doesn't make any sense.

[code]

[2020-04-23 16:37] zaufi opened #7114 "ModuleNotFoundError: No module named 'importlib_metadata'"
I'm trying to test my plugin w/ various Python versions and the latest `pytest` works on Python 3.8 [only](https://travis-ci.org/github/zaufi/pytest-matcher/jobs/678653647#L191). Python [3.7](https://travis-ci.org/github/zaufi/pytest-matcher/jobs/678653646#L206) and [3.6](https://travis-ci.org/github/zaufi/pytest-matcher/jobs/678653645#L206) failed with the $subj message.

The problem gone if I in

[2020-04-23 17:29] DerrickRice commented on #2560
Agreed w/ @eric-wieser , and strong disagree with @RonnyPfannschmidt  - looks like this is very much pytest code. The following lines escape a unicode into `#x0000` rather than `&#x0000`. Note the missing `&`.

https://github.com/pytest-dev/pytest/blob/master/src/_pytest/junitxml.py#L57-L65

[2020-04-23 17:31] DerrickRice commented on #2560
In combination:
- junit xml capture of logs
- logs getting colored based on `--color` and no way to disable this without also disabling console color (which I'd like to keep)
- improper escaping

Leads to an XML file that's a mess.

[2020-04-23 17:36] Sup3rGeo opened #7115 "New fixture scope: "inherit""
Hello,

Sometimes there are some setup/teardowns I want done in a specific test, but sometimes in a group of tests.

[code]
So when I am writing just normal tests, I would have

[code]

But sometimes I have a group of tests in the module for which I want to have one setup and one teardown for the whole group. I want to be able to write, therefore:

[code]

So it means that the scope of the fixture

[2020-04-23 18:10] eric-wieser commented on #2560
My comment is wrong, `&x#0000;` is not legal xml.

[2020-04-23 18:41] DerrickRice commented on #2560
https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references

Can you elaborate? Looks like it's proper XML and HTML.

[2020-04-23 18:42] DerrickRice commented on #2560
Though it should also have the semicolon, which it currently does not. So it's missing both the ampersand and the semicolon. (The semicolon that we see is literal from "B;"

[2020-04-23 19:25] eric-wieser commented on #2560
See the closed PR above that references this issue.

[2020-04-23 21:10] pbatko commented on #7094
If pytest must 100% replicate unittest's semantics then it's obvious what must be done.
If it doesn't then the simpler solution from user perspective is one from https://github.com/pytest-dev/pytest/issues/7092. That is unless there is a valid use case of running imported test classes at import sites. But even the OP gave an example where it is prevented with an exception:
[code]

[2020-04-23 22:16] DerrickRice commented on #2560
Oh. **specifically `&#x0;` is invalid. It's an accurate escaping of the null character, and the null character is disallowed.

`#x1B` should still be `&x1;B`, though.

[2020-04-23 22:26] eric-wieser commented on #2560
Not just the null character. XML 1.0 forbids a wide range of characters, escaped or otherwise.

[2020-04-23 22:26] eric-wieser commented on #2560
https://github.com/pytest-dev/pytest/pull/7107#issuecomment-617653467

[2020-04-23 22:52] DerrickRice commented on #2560
Ah, I see. unicode `1B` isn't in the valid range, and it appears (based on the src I quoted before) that this is only applied for characters in the invalid range.

To summarize the issue, then:

Pytest junitxml has to handle all possible characters, even those which may not be valid XML characters (even when escaped) and possibly even those which aren't valid unicode. It's current choice is to rew

[2020-04-24 08:24] bluetech commented on #7112
IMO this is a bug.

This happens before the `-k` expression is evaluated using `eval`, `1` and `2` are evaluated as numbers, and `1 or 2` is just evaluated to True which means all tests are included. On the other hand `_1` is an identifier which only evaluates to True if matches the test name.

If you are interested on working on it, IMO it would be good to move away from `eval` in favor of parsin

[2020-04-24 12:31] bluetech commented on #2206
Here is some analysis, not of collection but mostly for execution.

### Methodology

I use the idea from #401, without the `sleep`:

[code]

I analyze how much overhead each non-essential plugin adds to the default with all plugins enabled. Run with `-p no:<plugin>` 5 times and take the minimum to compute the overhead.

Specs: Linux, Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz, HDD, Python 3.8, curre

[2020-04-24 12:40] bluetech commented on #7101
(The skipping is inconsequential here -- the error in `teardown_module` is "attached" to which ever test runs last.)

[2020-04-24 12:41] bluetech commented on #7111
Which command do you use to run pytest?

[2020-04-24 12:56] bluetech commented on #7113
The dict from `return_value={'key1': 'value', 'key2': 'value'}` is only created once. If you modify it, it will remain modified. Neither `mock` nor `pytest` will copy it, and it's not very reasonable to do so.

My suggestion is to rewrite the code to use `patch` as a context manager instead of a function decorator.

[2020-04-24 12:56] #7113 closed

[2020-04-24 12:57] nicoddemus commented on #2206
Hey @bluetech,

I've tried to reached you at "ran at unusedvar", is that your primary e-mail?

Sorry as this is off-topic, but I couldn't think of a better way to reach you.

[2020-04-24 12:59] bluetech commented on #7114
The `importlib_metadata` is a dependency of pytest for Python < 3.8:

https://github.com/pytest-dev/pytest/blob/7d5f5a878598aaa7f3e100ef6a97bcd13c1b408d/setup.py#L14

pytest is expected to be installed through `pip` or another program which takes care to install such dependencies. If you are using another installation method, take a look at list from the link above and make sure all of the depende

[2020-04-24 12:59] #7114 closed

[2020-04-24 13:01] bluetech commented on #2206
@nicoddemus Yes. Sorry, I am still going through mail. I received it and will reply soon!

[2020-04-24 13:06] petRUShka commented on #7111
@bluetech It was `time pytest test.py`, sorry forget to add to original post. Fixed it.

[2020-04-24 13:09] petRUShka commented on #7111
To comparison just `from sage.all_cmdline import *` took ~ 1 sec:

[code]

[2020-04-24 13:41] ArtyomKaltovich opened #7116 "Probable error in doctest doc https://docs.pytest.org/en/4.4.1/doctest.html"
Hello.

I've tried to follow the documentation here https://docs.pytest.org/en/4.4.1/doctest.html

But pytest doesn't collect any tests from rst. It is because the param args:

    $ pytest --doctest-glob='*.rst'

Which should be

    $ pytest --doctest-glob=*.rst

At least for windows.

Thank you.

[2020-04-24 14:03] bluetech commented on #7116
I guess Windows interprets this as a literal `'*.rst'`, unlike UNIX shells which remove the quotes.

I think the reason the example uses quotes was as a way to escape the `*` character such that it is not interpeted as a glob by the *shell*. So to be strictly correct the form you suggest shouldn't be used.

Do any of the following work on Windows?

[code]

[2020-04-24 14:07] boxed commented on #2206
@bluetech

I ran this test with pytest (no config): 11.6s.
python -m pytest -p no:logging -p no:warnings -p no:skipping -p no:cacheprovider --assert=plain:  9.2s
With hammett: 0.9s.

Not sure if those parameters are correct, because passing any random string there doesn't give an error message so I'm not sure pytest isn't just swallowing an invalid configuration silently...

Another interesting te

[2020-04-24 14:36] bluetech commented on #2206
Hi @boxed, thanks for checking! It's nice to have a lower bound with hammett.

Interesting that it's only 11.6 -> 9.2 for you. Can you describe your system (operating system and hardware)?

You can verify with `--trace-config`.

Hmm. I haven't looked at assertion rewriting. IIRC assertion rewriting is cached/compiled to pyc though, is it still 19.9s on second run?

---

@RonnyPfannschmidt

A large

[2020-04-24 16:29] zaufi commented on #7114
I use [`pipenv`](https://travis-ci.org/github/zaufi/pytest-matcher/jobs/678653646#L183) which is supposed to be a sane install method...

[2020-04-24 17:01] boxed commented on #2206
I realized I had run this test in a rather dirty venv that had the django plugin. Made a new fresh venv and got `Python 3.7.3, pytest-5.4.1, py-1.8.1, pluggy-0.13.1`.

6 seconds with tests passing. Big improvement from 11s! Still bad compared to hammetts 2, but at least same order of magnitude.
39.2 seconds when all tests fail! That's a massive performance degradation compared to 4.6.2.

Assertion

[2020-04-24 17:52] ArtyomKaltovich commented on #7116
Hello @bluetech.

Unfortunately, neither works.

I guess the two command (for UNIX and Windows) should be specified separately.

[2020-04-24 18:44] bluetech commented on #7111
I don't think pytest should look into `/usr/lib/python3.8/site-packages` in this manner, so this is strange.

If you can provide a minimal reproduction (i.e. a fresh venv with just what's needed installed and a test file, and the commands you run), I'll take a look. I also use Arch Linux and can install Sagemath if needed, even though IIRC it is was quite massive!

[2020-04-24 19:13] ndevenish opened #7119 "data loss with mistyped --basetemp"
This might entirely class "user error", but I mistyped the pytest launch command and lost my entire source repository, e.g. commits, stashes and WIP branches (most backed up, luckily). The system I was running on only had a small `/tmp` available so I wanted to change the path. Unfortunately I left a space in `pytest --basetmp= /scratch/tmp .` - this wiped out the entire working directory. It has

[2020-04-24 19:35] earonesty commented on #619
1. Not yet, i'm trying to convert a test suite that passes under nose to pytest
2. Yes, we have whole suites of complex fixtures... some of which spin up multiple websocket servers, etc.
3. Never gotten that far...usually what happens is 100 pass, one fails, then 100 pass, then another fails... then more and more start failing until all i see are "EEEEEEEEEEE".   It seems to be ok with 1 or 2 fail

[2020-04-24 20:02] petRUShka commented on #7111
I'm not familiar with venv so I have trouble with it:

[code]

I cannot fix an error of import:

[code]

P.S. I can create Vagrantfile for you.

[2020-04-25 07:39] Sup3rGeo commented on #7112
@bluetech indeed! Thanks for the pointer, it seems to be really the same problem as the other issue.

[2020-04-25 08:45] petRUShka commented on #7111
Possibly it is convinient to use [vagrant](http://www.vagrantup.com/) together with VirtualBox. Vagrant is a tool for managing and configuring virtualised development environments. All of it is in Arch repositories and OSS.

I've created [Vagrantfile](http://dpaste.com/0V5Q4SE.txt) with provision shell-script:

[code]
So it installs on virutal machine `reflector` (to sort pacman mirrors and turn o

[2020-04-25 16:54] nicoddemus commented on #7111
If you change:

[code]

To:

[code]

What happens? I suspect that star import is importing a lot of classes which look like tests to pytest.

EDIT: I bet that's it, `all_cmdline` imports [all](https://github.com/sagemath/sage/blob/develop/src/sage/all.py) which brings a *ton* of symbols. It doesn't explain why nose is not as slow though. 🤔

[2020-04-25 17:31] petRUShka commented on #7111
This code is actually what `sage -preparse` generate
[code]

If I change it to

[code]

I have almost same time with `nosetests` and slightly less with `python`.

[code]

In case of `pytest` it give significant speedup and less noisy output:

[code]

But still little bit slower and more noisy. And if you are using SageMath with it's preparsing you don't have much choise what to import. And you are

[2020-04-25 17:50] nicoddemus commented on #7111
Hi @petRUShka,

I'm not familiar with `sage`, what does `-prepase` do? Generate an empty test suite for you to fill up?

Although pytest certainly could use some optimization work, we need to remember that pytest has many more features, so it is expected for it to be slower than nose.

The verbose output is that pytest shows deprecation warnings by default, which is considered a good thing for tes

[2020-04-25 17:57] petRUShka commented on #7111
SageMath code is basically Python code with some [minor additions](http://doc.sagemath.org/html/en/developer/coding_in_python.html#sage-preparsing) and it is preparsing to Python. You can do it automatically with `sage my_file.sage` or with

[code]

Thanks so much for your advises!

By the way is it desirable behavior of pytest to collect tests from import? It looks like kind of unwanted way of th

[2020-04-25 18:20] nicoddemus commented on #7111
That's pretty much how every test framework for python works AFAIK, including `nose` and `unittest`.

[2020-04-25 18:20] nicoddemus commented on #7111
@petRUShka can you close the issue if you don't have further questions? Thanks!

[2020-04-25 18:25] petRUShka commented on #7111
If it is so why nose much faster on that code than pytest?

Is it true that speed difference above is by design?

[2020-04-25 18:37] nicoddemus commented on #7111
Not sure, someone would need to investigate... but pytest has more overhead during collection because of plugins/fixtures/etc, while nose is much simpler. That many classes being collected might explain the difference. But this is really a hunch.

In other words, both nose and pytest are collecting the same 4.7k+ classes, but because pytest has more overhead, it shows.

But one thing to keep in mi

[2020-04-25 18:57] petRUShka commented on #7111
Difference is quite significant on red-green-red cycle with one particular test you are working on. But possibly your advises will help! Thanks a lot.

[2020-04-25 21:00] bluetech commented on #7119
I think we shouldn't change the remove-if-exists behavior. Certainly dangerous if typo'ed but functionally it's the desired behavior.

None that I can think of. I doubt anyone is passing an empty value rather than `.` intentionally. Given the consequences, IMO we should definitely reject empty values for this option.

If you'd like to work on this, from a cursory look I think it will be good to re

[2020-04-25 21:22] bluetech commented on #2206
All tests failing is probably not a very common case, but 39.2 does sound excessive. If you have time to do a cProfile of this scenario, I'd be interested. Also be interested to know how long it takes with `>& /dev/null` (which should remove terminal overhead, and also internal pytest overhead when outputting to a tty).

[2020-04-26 00:01] max-sixty opened #7124 "--doctest-modules runs __main__ files"
- [x] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions: pytest 5.4.1, MacOS
- [ ] minimal example if possible

As per this [SO question](https://stackoverflow.com/questions/61417426/is-if-name-main-required-in-a-main-py), pytest will run `__main__.py` files when passed `--doctest-modules

[2020-04-26 00:23] FrozenBob commented on #7124
pytest normally avoids `__main__.py` files not because of any specific `__main__.py` handling, but simply because the name `__main__.py` doesn't match the `test_*.py` or `*_test.py` patterns pytest looks for.

That said, `__main__.py` files are typically not considered modules, and even `multiprocessing` doesn't expect `__main__.py` files to have an `if __name__ == '__main__'` guard. Importing `__

[2020-04-26 02:27] nicoddemus commented on #7111
Ahhh definitely. In that case my previous advice should help, as you stated.

Thanks!

[2020-04-26 02:27] #7111 closed

[2020-04-26 04:53] boxed commented on #2206
I tried > /dev/null and it made no difference.

[2020-04-26 05:39] RonnyPfannschmidt commented on #7119
both `.` and `''` should be rejected as unintended, similarly any parent folder of the cwd

[2020-04-26 07:04] bittner commented on #6178
Running tests with pytest now shows the warning you mention. But it's unclear what the impact of this change is, hence what should I as a developer actually do?

- _Is it required to add the `junit_family=xunit1` line to my pytest configuration?_
- _Will my CI build be affected or something (aka, can I ignore this warning if I don't use Jenkins)?_
[code]
The link provided doesn't seem to have info

[2020-04-26 10:53] LKajan commented on #7113
I understand that the object is created only once and mocked function returns the same object but I would expect the returned object to be the same only inside one test case. I would expect that the two parameterized test cases would have different scope and the mock would be stopped between tests.

Your suggestion to define the return value inside the test function works and that is how I also so

[2020-04-26 11:02] bluetech commented on #7113
Hi @LKajan, can you explain more what you mean by scopes?

Let me rephrase the code in this (equivalent) way:

[code]

I think it makes clear that `RETURN_VALUE` is a single global object that is only created once, and no copies are made of it, so if it is modified in-place somewhere (the `del a['key2']
` in this case), it will remain modified subsequently.

[2020-04-26 19:31] joooeey commented on #3692
Why was this closed? The issue is still present in pytest 5.4.1.

[2020-04-26 19:34] asottile commented on #3692
pytest _needs_ to parse the configuration in order to derive some information that may (or may not) be displayed in `--version`

[2020-04-26 19:38] joooeey commented on #3692
I see. How do I fix or work around the error the OP described: `pytest: error: unrecognized arguments: --strict-data-files`?

[2020-04-26 19:40] asottile commented on #3692
I suspect you're missing a plugin which implements that argument -- or you can remove the configuration, or you can ignore the configuration with something like `pytest -c /dev/null --version` or `cd / && pytest --version`

[2020-04-26 19:57] joooeey commented on #3692
Thanks! I solved the specific pandas error given in the OP by navigating to the inifile given in the error message and removing the line that contains `--strict-data-files`. Hopefully that doesn't break anything.

[2020-04-27 06:40] shakram02 opened #7125 "Calling pytest.skip isn't reflected in test outcome in make_report hook"
Thank you for your efforts developing `pytest`.
When I call `pytest.skip()` in `pytest_runtest_setup` then wait for the test's `outcome` in `pytest_runtest_makereport` the skipped flag isn't set to true and the test is marked as `passed`.

is this the expected behaviour?
[code]

sample output, my expectation was that **passed** should be **skipped**
[code]

pip list (relevant packages)
[code]
comm

[2020-04-27 09:57] ssbarnea commented on #4223
Can we reopen this as I think we do not have yet a solution for checking that "one of the log messages starts with a prefix", something that is very common, especially with tools that append errors received from other systems to the logging line.

At this moment, the only way I see is to loop among each message and manually match it, that is a lot of code for a simple test.

Practical example, che

[2020-04-27 13:20] boxed commented on #2206
I wrote up a little benchmark suite: https://github.com/boxed/test-benchmarks

[2020-04-27 15:19] LKajan commented on #7113
Thanks for getting back to this and thanks for the explanation with that code.

With the scope I meant that now it feels like all the statements in the two test cases are run after each other in one function call with the same scope.
Like:
[code]
And I was expecting it to more like (separed scopes):
[code]

I kind of was expecting / hoping that the patch decorator was called again for each test ca

[2020-04-27 17:19] The-Compiler opened #7126 "BytesWarning when using --setup-show with bytes parameter"
With Python 3.8.2, pytest 5.4.1 (or latest master; stacktraces are from there) and this file:

[code]

when running `python3 -bb -m pytest --setup-show` (note the `-bb` to turn on ByteWarning and treat it as error), I get:

[code]

Shouldn't that be using `saferepr` or something rather than (implicitly) `str()`?

[2020-04-27 22:35] nicoddemus commented on #4223
Reopening as requested. 👍

@ssbarnea what API exactly do you have in mind?

Personally I don't mind adding small helpers like this if they are self-contained and easy to maintain, even if later we grow a more general mechanism as mentioned in https://github.com/pytest-dev/pytest/issues/4223#issuecomment-432977489: the simple helper is trivial to add and maintain, while the more general mechanism u

[2020-04-28 00:47] devincunningham commented on #5024
I'm curious if there's been any movement on this. I use arg manipulation with `pytest_cmdline_preparse` in most my test cases, but I've noticed that it has not worked since version 5.2.4. At least, I see no way of accessing manipulated args from within a fixture that calls `request.config.getoption`.

Neither does `pytest_load_initial_conftests` seem to have any effect within the root conftest.py,

[2020-04-28 02:08] altendky opened #7127 "Weird output for long string equality assert diffs"
Good:
[code]

Bad:
[code]

Difference: The strings being compared are one character longer in the bad case.

This came up while asserting equality of GitHub Actions config files (`str`s) in PyCharm and noting that it wasn't showing the handy `<Click to see difference>` link (issue report cross-link to come).  To be clear, the captures below were taken from a shell so as to avoid PyCharm messing th

[2020-04-28 06:32] asottile commented on #7116
`--doctest-glob "*.rst"` should work for both

[2020-04-28 15:11] nicoddemus commented on #6178
Hi @bittner,

Actually the important bit is here (emphasis mine):

So yes the answer is to add that line to your pytest.ini to avoid having your suite breaking when upgrading to pytest 6. 👍

[2020-04-28 15:16] nicoddemus commented on #3692
Hmmm that got me an idea... perhaps we should have this instead:

[code]

And:

[code]

This seems more in line with how other tools implement `--version`.

[2020-04-28 15:38] asottile commented on #3692
or we could do like cpython:

[code]

[2020-04-28 16:28] nicoddemus commented on #3692
Ahh right, good idea. 👍

But do we want:

[code]

Or:

[code]
?

I slight prefer the former, if it doesn't make much difference.

(the `--version --version` output is the same)

[2020-04-28 16:37] asottile commented on #3692
either seems fine to me, I have no preference between the two alternatives

[2020-04-28 16:37] hugovk commented on #3692
I think it's a good idea to include the tool name, `python`, `pre-commit` and `black` do this.

Could be useful in case you've aliased it.

[2020-04-28 16:42] nicoddemus commented on #3692
Oh if more people include the name, I agree we should go with the flow.

I will open an issue.

[2020-04-28 16:44] nicoddemus opened #7128 "pytest --version less verbose by default"
Currently `pytest --version` shows something like:

[code]

We should follow other tools (black, pre-commit, Python), where `--version` shows only the tool version, while `--version --version` shows more information.

[code]

(From https://github.com/pytest-dev/pytest/issues/3692#issuecomment-620670986)

[2020-04-28 16:45] nicoddemus commented on #3692
https://github.com/pytest-dev/pytest/issues/7128 👍

[2020-04-28 18:54] RonnyPfannschmidt commented on #7128
How about using verbosity as indicator

[2020-04-28 20:03] ArtyomKaltovich commented on #7116
Hello @asottile thank you for your suggestion.

@nicoddemus Actually the probles is with ' quote, " works fine)

I will do PR.

[2020-04-28 20:09] ArtyomKaltovich commented on #7116
Sorry for reopening, missclick

THe PR was created, please review. https://github.com/pytest-dev/pytest/pull/7131

[2020-04-28 20:26] bittner commented on #6178
I did read (and understand) _that_, but why should my test suite break for a jUnit output format? Note that I guess it's all about the `--junitxml` option. My tests won't break, will they?

So, if they won't, what _will_ break? What are you warning about? Should I (and others) care? What would the "upgrade path" look like?

[2020-04-28 20:59] #7116 closed

[2020-04-28 21:12] Sup3rGeo commented on #7115
Linking #1681 which I believe is the same feature

[2020-04-28 23:16] Sup3rGeo commented on #3050
Hi guys, is there any way of doing the following without a global `pytest.config` variable?

- conftest.py
- tests
   - conftest.py
   - test_one.py

`conftest.py`:
[code]

`tests\conftest.py`:
[code]

`tests\test_one.py`:
[code]

Basically I would like to control which fixtures go inside `tests\conftest.py` based on a pytest command line option.

Basically the `addoption` executes first, I can pa

[2020-04-28 23:58] tucked commented on #3050
@Sup3rGeo How about this (in `tests\conftest.py`)?
[code]

[2020-04-29 00:26] debugduck commented on #7128
Hi, I'm new but I was wondering if I could look into this?

[2020-04-29 07:37] azmeuk opened #7132 "Ability to choose syntax highlighting style by configuration"
This issue is somewhat related to #6906.
Syntax highlighting is a great feature that I have been waiting for a long time. Thank you for that!
However, the pygment style that is used by default does not really match my terminal color configuration. Colors have poor contrast, and in the end, I cannot really benefit from syntax highlighting.

I would love to be able to choose the pygments theme from

[2020-04-29 08:56] Sup3rGeo commented on #3050
@tucked unfortunately it wouldn't work in my case as they really need to be distinct fixture functions (I am actually importing them from different modules).

However in the meantime I found a solution - I implemented `pytest_addoption` and `pytest_load_initial_conftest` in a local plugin, so I know they are executed before any `conftest.py` files are imported.

The drawback is that now in my test

[2020-04-29 08:59] #7115 closed

[2020-04-29 09:02] Sup3rGeo commented on #1681
Based on the discussion on #6354, I guess we are still waiting for the some refactoring?

I would love to see this happening and even willing to help, although probably I assume this refactoring should be relatively complex. What would be the refactoring needed?

[2020-04-29 11:31] nicoddemus commented on #7128
That was my initial suggestion, but others pointed out that `--version --version` is used by black, pre-commit and even Python itself, so we decided to follow suit.

[2020-04-29 11:33] nicoddemus commented on #7128
Hi @debugduck,

Sure! The related code is here:

https://github.com/pytest-dev/pytest/blob/dd49812dae02c0d8d731fb52b63a975638364f46/src/_pytest/helpconfig.py#L118-L127

You will need to update the definition of the `--version` command-line flag to support being passed multiple times, then you check in `showversion` if it has passed more than once, and adjust the message accordingly.

Feel free to

[2020-04-29 12:00] nicoddemus commented on #6178
Oh I see. Sorry, I misspoke: no, the test suite won't break of course, but related tools that expect the format to be JUnit1 will break, because the default will be JUnit2 unless specified to be JUnit1 in the `pytest.ini` file.

If currently you expect the XML format generated by pytest to be JUnit1, you should add `junit_family=xunit1` to your `pytest.ini`.

Hope that's clear!

[2020-04-29 12:30] RonnyPfannschmidt commented on #1681
the basic gist is that its not clear whats needed for the refactoring, the current structures make incredibly hard to get right, we don't yet know what structures would make it simple

[2020-04-29 13:10] RonnyPfannschmidt commented on #3050
@Sup3rGeo

[code]

[2020-04-29 13:52] ruaridhw opened #7133 "`caplog.set_level()` doesn't override `log_level`"
A "global" log level set by `log_level` cannot be overridden at the test level.

Minimal Example:

[code]

Running `pytest-master@077d1c3`, Python 3.7.6.

It looks like this is because `log_level` adjusts the level of `LogCaptureHandler()` in `_runtest_for_main()` whereas `caplog.set_level()` adjusts the level of a specific `Logger` (likely `Root`).

If I add `self.handler.setLevel(level)` to the

[2020-04-29 14:30] bluetech commented on #5516
#7130 fixes at least one instance of quadratic behavior in relation to the number of tests, so might help here.

[2020-04-29 14:50] ssbarnea commented on #4223
Thanks for reopening. I am not sure yet but I can give an example on how we ended implementing the check at https://github.com/ansible/ansible-lint/blob/8673e5b27a55b88e0752338403045e9ac1cb2ebd/test/TestUtils.py#L161-L188

I think it would be reasonable to assume that during a test the user may want to assure that a list of log messages are created, some of them being only prefixes. If we can find

[2020-04-29 15:11] Nepherhotep commented on #5516
Thanks a lot! I'll compare the performance with the fix and without.

On Wed, Apr 29, 2020 at 10:30 AM Ran Benita <notifications@github.com>
wrote:

[2020-04-29 15:31] bittner commented on #6178
Do we know which popular CI systems or tools would _not_ support JUnit2?

For example, I could not find a mention of JUnit2 in the [related GitLab documentation](https://docs.gitlab.com/ee/ci/junit_test_reports.html#python-example). If we do know, or if we at least know which ones will _continue to work_ after the change, it may be worth noting this somewhere. Somewhere related to the deprecation

[2020-04-29 16:37] Nepherhotep commented on #5516
Tested our case, without the fix - it's 1m 33 seconds, with the fix - 1m 29
seconds (20k tests).

On Wed, Apr 29, 2020 at 11:11 AM Alexey Zankevich <zancudero@gmail.com>
wrote:

[2020-04-29 19:47] thisch commented on #7133
Thx for reporting this issue.

`LogCaptureFixture` doesn't have a `handler` attribute. So what do `self` in your proposed fix? You could run the unit tests of pytest locally (or via CI) to check that you don't break anything.

[2020-04-29 19:54] bluetech commented on #7132
IIUC, pygments colors are defined by [Styles](https://pygments.org/docs/styles/). There are some builtin styles

[code]

and custom styles can be added as described [here](https://pygments.org/docs/plugins/).

So if we want to make this configurable, and agree to "lock in" to pygments, we'd want a cli argument/ini which selects the pygments style by name.

PR #6934 (still open at time of writing)

[2020-04-29 19:56] bluetech commented on #6906
Issue #6906 wants to allow to configure the pygments style. I'd think the two issues (turn on/off and configuring style) should probably be considered together.

[2020-04-29 20:20] nicoddemus commented on #6906
You mean in the same PR, or in the same option?

[2020-04-29 20:28] bluetech commented on #6906
If the proposal to configure the style is accepted, it *might* make sense to use the same option. I mostly just wanted to bring it to attention before it's too late to consider (maybe it will affect the design).

[2020-04-29 21:38] ruaridhw commented on #7133
The `handler` property of `LogCaptureFixture`.

[2020-04-29 22:00] nicoddemus commented on #6906
Makes, sense, but I think they should be two separate options, see https://github.com/pytest-dev/pytest/pull/6934#issuecomment-605508367.

[2020-04-30 00:45] Sup3rGeo commented on #3050
@RonnyPfannschmidt perfect, I actually had thought about the plugin approach in the meantime and it in fact is the answer in this case!

[2020-04-30 02:32] altendky commented on #7127
No fix there in the PR but a test anyways in the suite.

[2020-04-30 04:51] RonnyPfannschmidt commented on #6178
there is no mention of junit2 anywhere else since this numbering is purely for the identification of the pytest internals

[2020-04-30 04:55] wdq347 opened #7137 "pytest.config has removed, but how can I push cmdline value to testclass"
### problem

when upgrade to 5.0 version, pytest.config has removed,  I canot push cmdline value to testclass

My test arch only uses one testclass with only one testcase which is extended by parametrize testcase yml file, but I want use cmdline value for testcase yml file.

my code is following

conftest.py file
[code]
testxx.py file
[code]
### trying
I try request.config, buf failed for ```bed``

[2020-04-30 05:28] thisch commented on #7133
Sry I overlooked that this class has a custom property called `handler`.

I guess that setting the level of a test-local `LogCaptureHandler` (returned by `LogCaptureFixture.handler`) will have unwanted side effects, but I'm not 100% sure.

Do the tests pass locally?

[2020-04-30 06:36] pwilczynskiclearcode opened #7138 "documentation: Parametrize - apply indirect on particular arguments"
https://docs.pytest.org/en/latest/example/parametrize.html#apply-indirect-on-particular-arguments
Runtime example below the description of indirect parametrization uses ` --collect-only` flag which results in
`========================== no tests ran in 0.12s ===========================
`
I believe it should show the actual test result if it suppose to be a meaningful presentation of indirect param

[2020-04-30 07:35] ruaridhw commented on #7133
Yes, I imagine that any tests that *rely* on the `ini` being a particular level and then assert that no messages were emitted without calling `set_level()` themselves, will now fail.

[2020-04-30 08:33] bluetech commented on #7126
Makes sense to me to use `saferepr` for this, as it displays the raw `param` of the fixture. Probably with a shorter `maxsize` than the default as well, 240 is too long.

[2020-04-30 12:04] kerizane commented on #7110
Strange, it looks like this feature was dropped, or was never officially supported.

Pay attention to the warning that was logged.

  /home/me/.virtualenvs/virtenv/lib/python3.6/site-packages/_pytest/python.py:171: PytestUnhandledCoroutineWarning: async def functions are not natively supported and have been skipped.
  **You need to install a suitable plugin for your async framework, for example:**

[2020-04-30 19:17] jstoja commented on #7137
Hello @wdq347,

`pytest.config` was deprecated in version 4 and has been removed in version 5.
You can use [`pytest.request`](https://docs.pytest.org/en/latest/reference.html#request) to achieve the similar (same) result.

If you need more information about why it was deprecated and examples with pytest.request, please look at the original issue #3050 .

If you don't have any other question, you c

[2020-04-30 19:25] jstoja commented on #7138
The command shows:
[code]

Do you mean that you think it should show something like:
[code]

?

[2020-05-01 01:13] altendky commented on #7127
I traced this down to a `pprint.pformat()` call in `_pytest._io.saferepr.safeformat()`.  Passing `width=99999` for example improves my case as does just using `repr()`.  I'm looking into existing tests related to this to see what the existing requirements are.

https://github.com/pytest-dev/pytest/blob/b7ad4c2bed3906e1a12d9bb1829328b4045a72de/src/_pytest/_io/saferepr.py#L64-L72

[code]

[2020-05-01 02:08] altendky commented on #7127
`pprint.pformat()` sorts dicts, so repr() will not match present behavior (including failing a py35 test in CI due to lack of maintaining insertion order).  `pprint.pformat(obj, width=1000000)` won't match because then (of course...) `pprint` won't wrap stuff (though this does pass CI).

So, one probably bad idea would be to special case strings.  Or perhaps I'm looking at the wrong thing as the e

[2020-05-01 02:43] debugduck commented on #7128
Thank you so much! I’ll work on it.

[2020-05-01 03:51] thisch opened #7140 "Using fixtures in the collection phase"
TL;DR: Is it possible to use the result of the doctest_namespace fixture in the
collection phase? If not, what is the name of first hook after the autouse
fixtures have been called?

----------------

I'm the maintainer of [pytest-sphinx](https://github.com/thisch/pytest-sphinx), which is a plugin that adds support for
running tests defined in doctest related rst directives.
Those directives are i

[2020-05-01 04:03] RonnyPfannschmidt commented on #7140
Fixtures currently strictly happen after collection

There are some ideas to enable them for use in marker condition, but nothing concrete yet

[2020-05-01 07:22] seshendras commented on #7071
This is valid issue impeding my efforts as well. With a call to pytest.xfail function, I do not see the test being executed at all. The test is just skipped, which is not the intended behavior after a pytest.xfail call.

[2020-05-01 08:30] pwilczynskiclearcode commented on #7138
I mean, that captions says `The result of this test will be successful:` but the command using `--collect-only` doesn't actually run the `test_indirect` test with its assertions. So I would remove the `--collect-only` flag and show the test output. It would be a better example for users not familiar yet with indirect parametrization.

[2020-05-01 13:31] nicoddemus commented on #7110
Hi @red-eight,

Thanks for the report!

Indeed we should not try to skip async functions from `TestCase` subclasses. I can verify that indeed on 5.3.5 things work as expected (added a failure to make sure):

[code]

[2020-05-01 14:47] RonnyPfannschmidt commented on #7110
@nicoddemus i believe its related to #6927 but not entirely sure

there is an issue in our codebase wrt monkeypatching to work with unittest

[2020-05-01 14:52] nicoddemus commented on #7110
It is related: #6927 explicitly adds support for `IsolatedAsyncioTestCase` (py38+), but `asynctest` doesn't have the same privilege so we issue a warning instead.

I'm currently investigating this; I think I have a bugfix and an enhancement for async functions in general for 6.0.0, should open a PR in a bit

[2020-05-01 15:58] nicoddemus commented on #7110
PR open: https://github.com/pytest-dev/pytest/pull/7144

[2020-05-01 15:59] wyfo opened #7145 "INTERNALERROR when exception in __repr__"
Minimal code to reproduce the issue:
[code]
Session traceback:
[code]

[2020-05-01 16:49] kerizane commented on #7105
Can you provide a minimal example of a test you would expect to fail?

For example, using pytest-asyncio==0.10.0 and pytest==5.3.1
[code]

E       pytest.PytestUnhandledCoroutineWarning: async def functions are not natively supported and have been skipped.
E       You need to install a suitable plugin for your async framework, for example:
E         - pytest-asyncio
E         - pytest-trio
E

[2020-05-01 18:30] kerizane commented on #7145
This only happens when both __repr__ and __getattribute__ are broken, which is a very odd scenario.

[2020-05-01 18:32] kerizane commented on #7145
[code]

[code]

[code]

[code]

[2020-05-01 18:33] kerizane commented on #7125
Please include the code in test_run_clients.py

[2020-05-01 18:54] silversocket opened #7148 "Print statements get captured once there is a logging call (less than or equal) to the --log-cli-level on macOS, but not Windows"
## Question

**Why do print statements get captured once there is a logging call (less than or equal) to the --log-cli-level on macOS, but not Windows?**

## Tested with

- platform darwin -- Python 3.6.6, pytest-5.4.1, py-1.8.1, pluggy-0.13.1. (macOS 10.14.6)
- platform win32 -- Python 3.6.6, pytest-5.4.1, py-1.8.1, pluggy-0.13.1. (Win10 Pro 1909)

## pip list

[code]

## Repro Sample

Sample con

[2020-05-01 19:44] #6924 closed

[2020-05-01 19:44] #7110 closed

[2020-05-01 20:26] chaoflow opened #7150 "Purpose of ConfTestImportFailure; prevents --pdb"
Using latest master exceptions during import of conftest files are [caught and turned into](https://github.com/pytest-dev/pytest/blob/master/src/_pytest/config/__init__.py#L511) ``ConftestImportFailure(conftestpath, sys.exc_info())``.

Removing the try/except I can debug the original exception using ``pytest --pdb``, which is not possible if the try/except in place.

What is the purpose for this /

[2020-05-01 20:56] uriva commented on #7105
Must be new or something. Didn't notice it.
Anyway it's great thanks.

[2020-05-01 20:56] #7105 closed

[2020-05-01 20:57] uriva commented on #7105
Does this trigger even if you have the plugin installed?

[2020-05-01 20:59] nicoddemus commented on #7105
It should trigger the warning only if no plugin handles the `async def` test function. Let us know if that's not the case. 👍

[2020-05-02 03:33] tingkai-zhang opened #7152 "Unable to drop into pdb at the start of a test using --trace"
- [x] I followed the insturctions to drop into pdb at the start of a test by:
[code]
But it prints out error:
[code]

- [x] output of `pip list` from the virtual environment you are using
[code]

- [x] pytest and operating system versions
[code]
- [x] minimal example if possible
Put test file in `/root/tests` folder and run `pytest --trace` under `root` folder

[2020-05-02 08:28] prashant616 commented on #7119
@RonnyPfannschmidt Hi, I am new to open-source projects and I want to work on this issue. Let me confirm what changes I need to make.
I have to add a custom argparse type in [this](https://github.com/pytest-dev/pytest/blob/master/src/_pytest/main.py) file which will be passed to [`basetemp`](https://github.com/pytest-dev/pytest/blob/5afa8717dba9c149dbd02ec257c8cbcb80c25514/src/_pytest/main.py#L167

[2020-05-02 08:42] RonnyPfannschmidt commented on #7119
Actually it should error

[2020-05-02 09:00] shakram02 commented on #7125
Whops, I forgot about that. So, I made an empty test and got the same output
[code]

[code]

output log
[code]

[2020-05-02 09:16] wyfo commented on #7145
Indeed, I admit that's a very odd scenario (I've faced it when working on some black magic mocking stuff). However, I've opened this issue because I haven't dived into pytest code and maybe it will be understood better by someone who could see in it a more important underlying issue.

[2020-05-02 11:09] jaraco commented on #6178
I have the same question as bittner.

It's weird to me that all the docs talk about how to retain the legacy behavior, but there's very little information on how to update to the preferred behavior. I'd much rather update to xunit2 now if I can, rather than pin to some legacy default and have to address this transition again in the future. What I'd like to know:

- When was xunit2 introduced in Py

[2020-05-02 11:13] jaraco commented on #6178
Looks like #3547 introduced the change, released with v4.2.

[2020-05-02 11:18] jaraco commented on #6178
I tried adding `junit_family=xunit2` and downgrading a tox environment to `pytest<4.2`, but pytest 4.1.1 appears to be buggy (#5903).

[2020-05-02 11:20] jaraco commented on #5903
To be clear, downgrade means `attrs<19.2`.

[2020-05-02 11:21] jaraco commented on #6178
Appears yes.

[2020-05-02 11:30] jaraco commented on #6178
I've confirmed that [Azure pipelines appears to support the xunit2 format](https://dev.azure.com/jaraco/jaraco.windows/_build/results?buildId=518&view=results).

[2020-05-02 12:44] nicoddemus commented on #6178
Hi @jaraco,

See https://docs.pytest.org/en/latest/deprecations.html#junit-family-default-value-change-to-xunit2

Given that this message seems to be confusing some people, I will extend the docs a bit and make the message point to the docs instead. 👍

[2020-05-02 13:01] bittner commented on #6178
Note that both here, in this conversation, as well as in the docs you just mentioned, you (as in "pytest" and "the docs") seem to assume that people would want to stick to the old format. It might be likely that the opposite is true, though.

When will the deprecation warning disappear? Is it possible to silence the warning without sticking to "legacy"? Please also take care of people wanting to g

[2020-05-02 13:17] nicoddemus commented on #6178
Indeed the warning assumed people were happy with the current default (`legacy`) and would not like to have this changed when pytest 6.0 comes around.

I've opened a PR hopefully addressing those points, please let me know what you think in the comments. 👍

[2020-05-02 13:56] bittner commented on #6178
I hope it will not be necessary to explicitly define the junit-family in pytest >=6.0, so we can keep the configuration file small.

[2020-05-02 14:23] nicoddemus commented on #6178
It's not, the default will be `xunit2` if it is not defined.

[2020-05-02 14:30] nicoddemus commented on #6178
Oh and the warning will be gone too.

[2020-05-02 17:33] symonk opened #7154 "testdir.makepyfile overwrites the one file when making multiple files without specifying a name - could we improve on this?"
While working on some plugin development, I was banging my head on the following:

[code]
Using the test name as the file name here is kinda confusing in the instance where you are writing multiple files, as you only end up with one, whereas the user would expect 2 here.  The name= arg was not well documented at least, could we improve on this?

fixed:

[code]

Docs:

[code]

Trivial I know, just

[2020-05-02 18:43] #6947 closed

[2020-05-03 12:48] #7018 closed

[2020-05-03 13:00] nicoddemus commented on #7154
Hi @symonk,

Thanks for taking the time to write an issue, we appreciate it.

Sorry you waste time on that, it happens to the best of us. 😁

Although at first your suggestion seems reasonable, sometimes we do want to overwrite the previous file, for example in a test where we write a file, run pytest, then update the file and run pytest again.

I guess we could raise an error if the user tries to

[2020-05-04 16:55] waawuu opened #7160 "test"

[2020-05-04 16:56] #7160 closed

[2020-05-04 16:59] graingert commented on #7160
Hello @waawuu did you mean to submit an issue? If so please try to fill in the issue checklist

You can also ask for help in https://webchat.freenode.net/#pylib

[2020-05-04 18:42] hroncok opened #7161 "New test failures with Python 3.9.0a6"
After upgrading to Python 3.9.0a6, I see 2 new test failures, both in `testing/code/test_source.py`.

This is Fedora 32, CPython 3.9.0a6, with `tox -e py39`, master branch @ 80e509840813cb5da45fbe830718ea3707c02b25.

[code]

- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] mi

[2020-05-04 22:48] nicoddemus commented on #7161
Thanks @hroncok!

We will take a look at this once we can get some version of Python 3.9 running on CI.

[2020-05-04 22:56] hroncok commented on #7161
I think the first failure might be "fixed" by an rstrip call, however I haven't really grasped the second one :(

[2020-05-05 00:05] nicoddemus opened #7162 "caplog fixture should not be affected by global log level"
#7159 made me realize something: I think `caplog` by default should not be affected by the global log level.

For example:

[code]

Running:

[code]

[code]

So depending of the `loglevel` setting, the test might fail. #7159 is a step in the right direction, because calling `caplog.set_level` will overwrite the global log level.

But I think this is kind of error prone too, and `caplog` should hav

[2020-05-05 06:39] ruaridhw commented on #7162
Currently, I believe that the default log-level just happens to be `WARNING` since this is the default of the root logger. In your example, if we change the default to be `INFO`, I'm not sure how this fixes the issue because won't users just come to rely on a default of `INFO` rather than `WARNING`? Given that the root logger default is `WARNING`, who's to say that the `caplog` default should be d

[2020-05-05 06:49] thisch commented on #7162
I agree that the caplog should not be affected by the global log level, but I also think that log level used for the reports should not be affected by the caplog (both are fixed by #7159)

[2020-05-05 10:31] nicoddemus commented on #7162
I'm not sure this is true, because when I change the log-level of the root logger, it also changed the log level of the `caplog` fixture.

I think we are in agreement, I might not have expressed myself well enough: I think `caplog` should always have a default log-level set (`WARNING` seems to be more sensible than `INFO`), same as if at the beginning of the test the user has set `caplog.set_level

[2020-05-05 10:55] stanislavlevin opened #7164 "Unversioned pygments requirement"
- [x] a detailed description of the bug or suggestion

I'm running Pytest's self-tests during RPM build on ALTLinux.
`TestCodeHighlight.test_code_highlight_continuation` fails with:
<details> <summary> details </summary>

[code]

</details>

- [x] output of `pip list` from the virtual environment you are using

<details><summary> pip list </summary>

[code]

</details>

- [x] pytest and operating

[2020-05-05 11:06] nicoddemus commented on #7164
Hi @stanislavlevin,

Indeed pytest at the moment does not officially depends on `pygments`, it is an optional dependency. We plan to eventually make it a normal dependency however in the next releases.

I'm closing this for now as I don't think there's any actionable item on our side, but feel free to reply with further questions. 👍

[2020-05-05 11:06] #7164 closed

[2020-05-05 12:44] ptrivedi2610 opened #7165 "Halting pytest.main() when invoked via multiprocessing"
Hi,

I currently am facing issue to stop execution of pytest from below scenario
1. 'ProcessM' is my main process
2. 'ProcessS' is created using multiprocessing module.
3. ProcessS has some python code. On top of that, its  has a call to pytest.main()
4. When I call ProcessS.terminate(), from ProcessM, I want pytest to halt as well.

How to achieve this ?
I tried using pytest.exit() from ProcessS,

[2020-05-05 13:48] ruaridhw commented on #7162
I would view this as a fault of the test. I would expect that if the test asserts on a logging message it _needs_ to set `caplog.log_level` explicitly within the test code. That's just my opinion though! So in your example, if you require `caplog` to capture below `WARNING`, it should explicitly state this.

Irrespective of that, to me this "default log-level" for `caplog` _is_ the `--log_level` o

[2020-05-05 14:44] nicoddemus commented on #7162
I understand the reasoning, but I think we should have reasonable defaults to avoid having users writing wrong tests by accident; there's nothing preventing a user to write a test without setting `caplog.log_level` and having the test pass, only to break once someone decides to pass `--log-level` on the command-line (to see different level of captured logs) and having `caplog` tests fail because o

[2020-05-05 16:10] ghost opened #7166 "Percentages don't align correctly"
This is a really petty issue, so please excuse it. I know it isn't overly important compared to most issues here.

The percentages for execution logging do not align when there is a large number of tests being run. This leads to the lines of `.` overflowing to the next line, which makes the graph become difficult to read.

I have had a poke around in the code, but I do not feel comfortable trying

[2020-05-05 16:16] nekokatt commented on #7166
EDIT: forgot the most important info you probably need.

[code]
CPython 3.8.2 (GCC), Manjaro Linux.

[2020-05-05 16:53] Natim commented on #3170
I've got this failure today with pytest 5.4.1

[2020-05-05 17:39] bluetech commented on #7166
I think I have seen this a few times as well.

Does it happen every time, or only some times?

If it happens every time, a reproduction would be helpful.

[2020-05-05 17:57] bluetech commented on #7145
The problem is most likely here:

[code]

specifically, `obj.__class__` raises, but this isn't expected or handled by `saferepr`. Changing this to `type(obj).__name__` should work.

[2020-05-05 19:26] bluetech commented on #7165
Hi @ptrivedi2610,

When you say it doesn't work, what does it mean exactly? Nothing happens?

Also, please specify the details requested in the [issue template](https://github.com/pytest-dev/pytest/blob/master/.github/ISSUE_TEMPLATE.md), it will help us understand the issue better.

[2020-05-05 20:25] ruaridhw commented on #7162
@nicoddemus, yes that all makes sense to me.

[2020-05-05 20:45] bluetech commented on #5516
@Nepherhotep To get a better understanding, it will help to get a profile of the collection phase on your test suite. You can do it like this:

[code]

and paste the output here. Notes:

- The command works on Python 3.8, if you use an earlier version, it will need some wrapper script or such.
- The output might contain some references to your source code, you might want to redact it if it's sensi

[2020-05-05 21:33] nicoddemus commented on #7166
I've seen this as well with xdist.

It seems random unfortunately, I've seen it happen, and then running the same test suite again without changing anything, for the problem to disappear.

I suspect it is related to terminal character counting in `py` somehow.

[2020-05-05 21:45] nekokatt commented on #7166
@bluetech it happens every time, but not on our CI: <https://gitlab.com/nekokatt/hikari/-/jobs/539198398>

I can try and find time to put one together, but it might not be for a few days.

[2020-05-05 22:04] nicoddemus commented on #3170
@Natim can you please post the full traceback and the list of installed packages? Thanks!

[2020-05-06 01:35] Nepherhotep commented on #5516
Sure, let me generate and obfuscate the report.

On Tue, May 5, 2020 at 4:45 PM Ran Benita <notifications@github.com> wrote:

[2020-05-06 04:41] arvindpdmn commented on #4608
I'm using `pytest-cov` 2.8.1 and still get the error.

[2020-05-06 08:04] Natim commented on #3170
Thanks @nicoddemus

Here are the installed packages:

[code]

And here is the traceback:

[code]

[2020-05-06 08:10] Natim commented on #3170
I think the culprit is still pytest-sugar though. Refs https://github.com/Teemu/pytest-sugar/issues/194

[2020-05-06 09:14] The-Compiler commented on #5778
I suppose this can be closed, as we're using GitHub Actions for various stuff nowadays :smile:

[2020-05-06 09:14] #5778 closed

[2020-05-06 11:52] StefRe opened #7173 "Output of unittest setup incorrectly assigned to call phase"
With this example:
[code]
I get the following:

[code]

i.e. output from setUp() is assigned to the call phase. Expected result is:

[code]
  <br>

PS: Output from `setUpClass` or `setUpModule` is correctly assigned to the setup phase.

[2020-05-06 14:12] bluetech commented on #4475
Unless this issue is truly prevalent out there, I'm -1. `pytest.raises(Exception)` is a legitimate thing to do, analogous to `except Exception`, and I'd be slightly annoyed if I have to do something extra for it to work. I think educating about too-broad `except` clauses is more of a language concern than a test framework concern.

[2020-05-06 14:14] bluetech commented on #4375
Should be possible to handle this in-tree after #7135 is merged.

[2020-05-06 14:30] bluetech commented on #3362
I'm -1 on adding special facilities for ad-hoc matching. `assert exc_info.value.status == 403` works, is not ambiguous, is more capable (multiple asserts, assertion rewrite works, failure points to the exact assert), and is already the common and documented way to do it.

I think it would have been better to not have `match` either (looks like @nicoddemus agreed :smiley:), though that one at least

[2020-05-06 15:12] bluetech commented on #4475
Some reasons you might want `pytest.raises(Exception)`:

- You know the consequences but just lazy to list all possibilities.
- You don't know exactly which exception is raised or don't want to lock it down, e.g. some 3rd party library which may change.
- You verify the exception some other way, e.g. `match`/exc info.

I would agree about it being a footgun if it were implicit, like a bare `except

[2020-05-06 15:37] RonnyPfannschmidt commented on #4475
By now I think this warrants a warning

[2020-05-06 16:51] RonnyPfannschmidt commented on #3362
I consider Match a good addition as it works well for all exceptions

Special checking should use custom context managers that may build on raises

[2020-05-06 19:22] asottile commented on #7166
I believe this is an xdist-specific issue, I've only seen it when using that -- should we move this issue to there?

[2020-05-06 19:26] asottile commented on #7161
@nicoddemus we can probably set up either 3.9-tagged (`ppa:deadsnakes/ppa`) or 3.9-nightly (`ppa:deadsnakes/nightly`) via deadsnakes in CI if we want to test against that

the first one appears to be testing an implementation detail about the parser (it adds a newline if a file does not add in a newline which is represented in the `SyntaxError`) -- we can either add a newline to the string being c

[2020-05-06 19:38] asottile commented on #7161
here's an example patch of something we could do here: https://github.com/asottile/pytest/commit/3366c4f16c7426b2f186cc72d39394f2d139724a

[2020-05-06 19:44] asottile commented on #7152
pytest 3.6.4 is very very old and does not have the `--trace` option (it was introduced in pytest 3.7.0) -- the current version of pytest is 5.4.1

[code]

[2020-05-06 19:44] #7152 closed

[2020-05-06 19:47] RonnyPfannschmidt commented on #7166
i suspect we may have a off by one error in case more than one test is in flight, which would be actually a core issue

[2020-05-06 20:57] #7145 closed

[2020-05-06 21:14] nicoddemus commented on #7161
Sure thing. We should also make that job an "allowed failure" so the CI doesn't break until 3.9 reaches beta or something like that. Want to try to set this up? 😁

[2020-05-06 21:20] asottile commented on #7161
github actions doesn't really have a concept of "allowed failures" currently -- (beyond doing it manually with `|| true` and annotating a warning)

or we could wait a week or two, the first beta lands then

[2020-05-06 21:24] nicoddemus commented on #3362
Heh! FTR, I've since changed my mind on that, because it is a *very common* case to check the exception message. I've also get feedback that being so "handy" some colleagues have started checking messages more often than before. So all in all I was wrong on thinking this would not be a good addition.

But I agree with your other points about automatically checking attributes. I still think my sugg

[2020-05-06 21:25] nicoddemus commented on #7161
Fine by me! 👍

[2020-05-06 21:27] nicoddemus commented on #4375
Just merged it, thanks!

[2020-05-06 21:32] nicoddemus commented on #7173
Unfortunately I'm afraid there's not much we can do here:

pytest will try to execute the `TestCase` test during its `call` step, by delegating the actual execution to the `TestCase.run` method. `TestCase.run` takes care of all the steps required by the `unittest` framework, such as calling `setUp`, `setUpClass`, `tearDown`, cleanup functions, etc. This is all implemented inside the `run` method i

[2020-05-06 21:32] #7173 closed

[2020-05-06 21:37] nicoddemus commented on #3170
Indeed, thanks for confirming it! 👍

[2020-05-06 21:43] nicoddemus commented on #4608
Thanks @arvindpdmn for coming back to post the solution. 👍

[2020-05-06 21:48] hroncok commented on #7161
The CI job aside, it would be really helpful to figure out if the second failure is a bug in CPython before beta, so beta can contain the fix.

[2020-05-07 03:39] JSchulte01 opened #7175 "Class scoped fixture is called multiple times with mutable values and parameterisation"
- [ x] a detailed description of the bug or suggestion
- [ x] output of `pip list` from the virtual environment you are using
- [ x] pytest and operating system versions
- [ x] minimal example if possible

When setting up test parameterisation using a combination of `pytest_generate_test` hooks and fixture decorators, along with `pytest.mark.parameterize` decorators I'm seeing inconsistent behavio

[2020-05-07 06:23] #1141 closed

[2020-05-07 06:23] #3573 closed

[2020-05-07 06:23] #5881 closed

[2020-05-07 06:23] #6822 closed

[2020-05-07 06:23] #7112 closed

[2020-05-07 06:30] #3362 closed

[2020-05-07 06:58] wdq347 commented on #7137
Thanks @jstoja

using pytest_generate_tests  and metafunc.parametrize will solve this probelm

conftest.py file

[code]

[2020-05-07 06:58] #7137 closed

[2020-05-07 07:04] ptrivedi2610 commented on #7165
@bluetech
That is slight difficult. Lets make this a bit simpler
Lets say I am calling pytest.main() from my script ScriptP.py

Is there a way to programatically stop pytest session from ScriptP.py, such that ScriptP.py need not to be stopped ?

[2020-05-07 08:22] StefRe commented on #7173
Thanks for the very quick response. In the end it's just a petty issue, so no worries.

[2020-05-07 10:51] hroncok commented on #7161
[code]

[2020-05-07 12:21] asottile commented on #7161
ahah ok I figured it out, there was an improvement to `inspect.getsource` -- I'll send a patch for this since it seems easier to up-front verify now :)

https://bugs.python.org/issue35113

[2020-05-07 13:00] arekfu opened #7180 "_pytest.doctest._is_setup_py raises with LC_ALL=C and UTF-8 chars in setup.py"
`pytest` runs into an exception when collecting tests from a repository where `setup.py` contains UTF-8 characters, but the locale is set to `C`.

Minimal example: `setup.py`:
[code]

To reproduce:
[code]

Tested on CentOS 7.7.1908:
[code]

[2020-05-07 14:37] xiaobai-pan opened #7182 "pytest Cannot execute in command line in window 7 environment"
`pytest` cannot be executed from the command line in the Windows 7 environment，But `pytest.main` can be executed normally

Environmental information：
system：win 7
python version : 3.7.4
pytest version: 5.2.3

 Can you give some advice to deal with this problem in Windows 7?

The error message is as follows:

[code]

[2020-05-07 15:00] Czaki opened #7183 "TypeError: unhashable type: 'ExceptionChainRepr'"
I reproduced #6925 With pytest 5.4.1 which is released after #6988 merge.

https://dev.azure.com/PartSeg/PartSeg/_build/results?buildId=1133&view=logs&j=f092f282-8a69-5a35-177c-567cde3de9c2&t=42c09fb5-5744-515b-50d1-a666aa90fe62

It show in my project with this commit
https://github.com/4DNucleome/PartSeg/commit/85f8b8622ab4603a662bcf12db1e73aec5251a14

- [ ] a detailed description of the bug or s

[2020-05-07 15:14] bluetech commented on #7183
Hi @Czaki,

This will be fixed in 5.4.2 which will be released soon. It wasn't included in 5.4.1 yet.

[2020-05-07 15:14] #7183 closed

[2020-05-07 15:15] Czaki commented on #7183
Thnaks. I missed this message.

[2020-05-07 15:25] ramast commented on #6681
I have PytestAssertRewriteWarning warning that I am trying to ignore, even disabling all warnings

    pytest  -p no:warnings

Still produce this warning

[2020-05-07 16:26] bluetech commented on #7180
Seems reasonable to me to change this line:

[code]

to `path.read_text(encoding="utf-8")`.

Using the `locale.getpreferredencoding()` for reading Python files is probably wrong -- in Python 3, python files are expected to be UTF-8, unless overridden by a `* coding *` directive. Since we are not going to be sniffing the coding ourselves, and I'm not aware of any function that does it for us, UTF-8

[2020-05-07 16:37] arekfu commented on #7180
Yes, `read_text()` fixes the exception, provided that I run `pytest` and not `pytest setup.py` as I wrote in the minimal example (but why would you do that?).

Indeed, I noticed that Python 3.8 did not have this problem on another machine.

[2020-05-07 19:53] asottile commented on #7182
hello, looks like this is an exact duplicate of #5724 -- I suspect you can fix this similar to what is suggested there, either by upgrading to python 3.7.5 or by downgrading to 3.7.3

[2020-05-07 19:53] #7182 closed

[2020-05-07 20:19] asottile commented on #7180
I took at stab at this in #7186 -- using binary read to avoid encoding issues

[2020-05-07 20:38] nicoddemus commented on #7165
On way to accomplish that is setting `session.shouldstop` to a string, which will make pytest display that string and stop the test run.

You can do that via the `pytest_sessionstart` hook, something like this:

[code]

Then you need to somehow make the parent process communicate with the child process and call `stop_plugin.stop()`.

[2020-05-07 20:42] #7161 closed

[2020-05-07 21:01] #7180 closed

[2020-05-07 21:26] asottile commented on #7148
this is weird, for what it's worth it looks like windows is the odd one out here -- I see the output you see on macos as well

[2020-05-07 23:06] praveenelan opened #7191 "Multiple application, multiple database - not able to access any DB other than default db"
Problem

I have a Django(1.8) project running 2 applications: App1, App2. Both of the applications run with their own databases: app1db and app2db, sharing the defaultdb for users and groups. I am trying to integrate pytest-django as part of the unit testing. This is where I am hitting with problem as Pytest do not support multiple databases.

My use case is I would be needing the unit tests only

[2020-05-08 04:57] ptrivedi2610 commented on #7165
@nicoddemus Thanks a lot for the quick help.
I noticed it doesn't immediately halt the session. The test still move further for sometime and then the session is halted.

Is there a way to fix this  ? I need immediate halting of pytest

[2020-05-08 06:47] RonnyPfannschmidt commented on #7165
For a direct halt, termination of the process is required

[2020-05-08 07:33] ptrivedi2610 commented on #7165
@RonnyPfannschmidt Yes, but then when calling process.terminate(), I am loosing all the teardowns. I want a behavior similar to SIGINT

The issue is that standard Python has issues with os.kill(). Please refer https://bugs.python.org/issue23948

Thus I have to manually code some workaround that would programatically halt pytest, but after passing through all teardowns

[2020-05-08 07:38] ptrivedi2610 commented on #5243
@nicoddemus
Sorry to jump in between the conversation. I was looking for something similar so thought of sharing my viewpoint on the same.

I agree with @blueyed on handling SIGTERM. There is one specific scenario of multiprocessing that will need pytest to handle SIGTERM. For a background on the same, kindly refer my ticket https://github.com/pytest-dev/pytest/issues/7165

The issue is
1. I have

[2020-05-08 09:29] RonnyPfannschmidt commented on #7165
based on your information there doesnt seem to be a way to make what you ask for work on windows

[2020-05-08 10:09] nicoddemus commented on #7165
pytest will check `session.shouldstop` after each test, I think that's the only way to ask pytest to stop running in a controlled manner. There's no way to just interrupt the current test mid-way, as pytest doesn't use threads to run tests.

Unfortunately I don't think it is possible to accomplish what you want, I'm afraid.

I'm closing this for now because I think we have exhausted all our option

[2020-05-08 10:09] #7165 closed

[2020-05-08 10:14] bluetech commented on #5299
This will be nice to have.

I think it should be straightforward to experiment with using a plugin. Some things the plugin might do are:

- Set `sys.unraisablehook` for setup/call/teardown.
- Set `threading.excepthook` for setup/call/teardown.
- Add `gc.collect()` calls at appropriate times. Should probably be optional, default off, due to overhead. But can be enabled when want to debug `ResourceW

[2020-05-08 10:16] ptrivedi2610 commented on #7165
@nicoddemus
Sure, thanks a lot for all the conceptual explanations and help :)

[2020-05-08 10:32] #4375 closed

[2020-05-08 10:56] #7076 closed

[2020-05-08 11:09] nicoddemus opened #7192 "Release 5.4.2"
@pytestbot please prepare release from 5.4.x

[2020-05-08 11:14] zaccharieramzi opened #7194 "pytest finding tests outside of specified directory when importing function whose name begins with test"
- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] minimal example if possible

This is a copy-paste of [the SO question I posted](https://stackoverflow.com/questions/61663306/pytest-finding-tests-outside-of-specified-directory-when-importing-function-whos) without lots of succ

[2020-05-08 11:35] RonnyPfannschmidt commented on #5299
`sys.excepthook` is relevant for threads that interact with the tes
i think it should be configurable

its not clear to me what we should do on python versions without the features

[2020-05-08 12:04] #7192 closed

[2020-05-08 13:04] zaccharieramzi commented on #7194
This issue has been [resolved on SO](https://stackoverflow.com/a/61677904/4332585). The idea is that all imported functions beginning with `test_` are considered, not just the ones in the files specified.
Therefore renaming at import time works to avoid this.

I think it might be made clearer in the docs though.

[2020-05-08 13:04] #7194 closed

[2020-05-08 13:35] kloczek opened #7196 "5.4.2: test suite i failing"
Full log from executing test suite is in attacment
[python-pytest.log](https://github.com/pytest-dev/pytest/files/4599221/python-pytest.log)

[2020-05-08 13:51] nicoddemus commented on #7196
Hi @kloczek,

Thanks for the report!

From the traceback, seems to be an incompatibility with the `flaky_pytest_plugin.py`:

[code]

Can you uninstall that plugin to verify if the test suite starts working again, just to confirm? Thanks!

[2020-05-08 13:52] nicoddemus commented on #7196
Also, are the failing tests `unittest` based?

[2020-05-08 15:08] nicoddemus opened #7198 "Prepare release 4.6.10"
@pytestbot please prepare release from 4.6.x

[2020-05-08 15:23] kloczek commented on #7196
After uninstallng flaky-3.6.1 is way better and only one unit is failing:
[code]
[code]
How it is with flaky? It cannot be in build env or it must be some at least version? If second one IMO it should be warning about that.

[2020-05-08 15:29] nicoddemus commented on #7198
Done manually in https://github.com/pytest-dev/pytest/pull/7199, because #6870 is an exception to the rule of not adding new features to the 4.6.7 release.

[2020-05-08 15:29] #7198 closed

[2020-05-08 15:45] bluetech opened #7202 "Contributing guide vs. development guide"
We have two documents that serve a similar purpose:

- https://docs.pytest.org/en/latest/contributing.html (source: https://github.com/pytest-dev/pytest/blob/master/CONTRIBUTING.rst)
- https://docs.pytest.org/en/latest/development_guide.html (source: https://github.com/pytest-dev/pytest/blob/master/doc/en/development_guide.rst)

The development guide includes some of its own content, and also embe

[2020-05-08 20:17] kloczek opened #7203 "5.4.2: problem with generating man pages"
[code]

[2020-05-09 17:17] risicle opened #7206 "Generation of verbose assertion error with large bytearrays extremely slow"
pytest 5.2.4, python 3.7 linux

try this:

[code]

`pytest <...> -v` will spend basically forever generating that error.

[2020-05-10 01:49] Zac-HD commented on #3426
Check if the strings are different, but the NFKD forms are the same - see [wikipedia on Unicode equivalence](https://en.wikipedia.org/wiki/Unicode_equivalence) for details and [`unicodedata.normalize()`](https://docs.python.org/3/library/unicodedata.html#unicodedata.normalize) for the function to use.

[2020-05-10 03:36] Zac-HD commented on #7202
Sounds good to me.

Let's keep the releasing docs though, even if everyone currently responsible knows what to do they're still useful as inspiration to other projects or aspiring pytest contributors :slightly_smiling_face:

[2020-05-10 03:42] #7074 closed

[2020-05-10 03:44] Zac-HD commented on #7085
https://docs.pytest.org/en/latest/reference.html#collect-ignore-glob might also be helpful :slightly_smiling_face:

[2020-05-10 03:44] #7085 closed

[2020-05-10 04:17] Zac-HD commented on #7101
`ERROR at teardown of test_skipped` seems like it's functioning as intended to me.

@szha, what do you think *should* be happening here?

[2020-05-10 04:23] Zac-HD commented on #7102
You can use the usual `trio.run(...)` or `asyncio.run(...)` functions, but top-level `await` is not supported in doctests or the Python repl.

`pytest-trio` or `pytest-asyncio` might be interested in extending the [recent asyncio repl](https://bugs.python.org/issue37028) work to doctest though, so I guess you could propose a new feature?  It's a tricky one though :confused:

[2020-05-10 04:23] #7102 closed

[2020-05-10 04:27] Zac-HD commented on #7106
Hi @mahmoudajawad - thanks for taking the time to write this up.

As far as I can tell, this problem is entirely on the VS Code end.  As they are responsible for the integration (and unlike Pytest have paid staff!), there's nothing for us to do here.

[2020-05-10 04:27] #7106 closed

[2020-05-10 04:34] Zac-HD commented on #7109
That's expected behaviour - `ini` files are not interpreted as string literals, so if you want a tab character you have to put a literal tab character there.

[2020-05-10 04:34] #7109 closed

[2020-05-10 04:40] Zac-HD commented on #7138
Sounds good to me - so long as we add `-v` so the names of the tests are still printed.

Would you like to open a PR?

[2020-05-10 04:44] Zac-HD commented on #7150
Hmm... does `--pdb` work if we explicitly track the source of the error?  i.e.

[code]

[2020-05-10 13:55] bluetech commented on #6936
This will be fixed by #6898, which includes a change to skip the `getattr` on properties. Not sure what @RonnyPfannschmidt's plan is for that PR.

[2020-05-10 14:03] bluetech commented on #6280
Fixed by #6285.

[2020-05-10 14:03] #6280 closed

[2020-05-10 14:48] szha commented on #7101
If a test is skipped then users won’t expect that test to err. Since the error is in module teardown, it makes more sense to me to either have an additional entry just for the status for the module or to have the error message attached to the last run test, not including the skipped ones.

[2020-05-10 14:59] RonnyPfannschmidt commented on #6936
Good reminder, I want that sorted soon

[2020-05-10 19:32] asottile commented on #7206
I'm not sure there's much pytest can do here -- by asking for `-v`erbose it produces a pretty-printed output (and most of the time is spent building that many-many-many line bytestring/array)

here's a snapshot of a profile of a smaller bytestring (`0xfff` vs `0x1000`):

![](https://i.fluffy.cc/D22xhvtkSRT87jv4tsb41ZDjMbQnMXPh.png)

(the profiling left out a few nodes, but the explosion comes from

[2020-05-10 19:36] asottile commented on #7203
@kloczek I can't reproduce this, is is possible your operating system distribution has patched `compat.py` which is breaking this?

[2020-05-10 20:02] risicle commented on #7206
Interesting analysis - my only other datapoint is that doing:

[code]

is very fast, as is

[code]

[2020-05-10 20:05] asottile commented on #7206
neither of those parts are the slow part -- it's the `ndiff`

[2020-05-10 20:22] RonnyPfannschmidt commented on #7203
It may be possible that the sstem installed pytest is older than the one being built for, this looks like a badly isolated rpm build

[2020-05-10 20:40] risicle commented on #7206
Ah sorry looking at the wrong bit of the diagram.

Possibly it can't helped then :shrug: . I'm surprised I haven't run into this before, really.

[2020-05-10 21:08] kloczek commented on #7203
So here is the version of the pytest module which I'm using:
[code]

[2020-05-10 21:16] asottile commented on #7203
ok that makes sense then -- you can't really generate the docs for pytest 4.6.9 using the docs code for pytest 5.4.2 (and visa versa)

[2020-05-10 21:16] #7203 closed

[2020-05-10 23:33] CarycaKatarzyna commented on #6433
As far as I can see the ``logging.error`` is not shown if test is passed. But if test fails ``Captured stderr call`` is printed and looks like default behaviour presented by @RonnyPfannschmidt. How exactly should the expected result look like?

[2020-05-10 23:43] CarycaKatarzyna commented on #2649
Is it still actual? The code here
https://github.com/pytest-dev/pytest/blob/5e7f1ab4bf58e473e5d7f878eb2b499d7deabd29/src/_pytest/compat.py#L216-L225
seems to be good at escaping unprintable bytes. Can you add any failed example?

[2020-05-11 02:11] Zac-HD commented on #7075
https://stackoverflow.com/questions/39896716/can-i-perform-multiple-assertions-in-pytest discusses a few ways to do this.

[2020-05-11 02:11] #7075 closed

[2020-05-11 03:49] hugovk commented on #7075
See also subtests:

* https://blog.ganssle.io/articles/2020/04/subtests-in-python.html
* https://testandcode.com/111

[2020-05-11 04:04] Zac-HD commented on #7094
We want `pytest` to be a drop-in replacement for the `unittest` runner, so we'll need to replicate that behaviour.

Thanks to everyone who has contributed to the discussion of this problem!

[2020-05-11 04:07] Zac-HD commented on #7092
In order to maintain `unittest` compatibility, we should ensure that we run the setup and teardown methods on imported TestCase subclasses.

With that in mind I'm closing this issue due to overlap with #7094.  Thanks @pbatko for an excellent issue writeup, and to @harishkrao for your investigation - they were very helpful!

[2020-05-11 04:07] #7092 closed

[2020-05-11 04:34] RonnyPfannschmidt commented on #6433
This is the expected result for wrong calls to logging

It should how alway fail the test

[2020-05-11 04:39] RonnyPfannschmidt commented on #2649
I would like to deprecate non printable node ids, everything in a nodeid should be safe to handle

[2020-05-11 11:28] pwilczynskiclearcode commented on #7138
https://github.com/pytest-dev/pytest/pull/7209/files

[2020-05-11 12:10] #7138 closed

[2020-05-11 15:04] thejcannon opened #7212 "pytest_collection_modifyitems in subdir conftest recieves all tests"
Given the following test setup:
[code]

[code]

[code]

[code]

Based on the docs, I wouldn't expect to see "test_bar" be printed, but I do.

---
Debug:
[code]

[2020-05-11 15:14] RonnyPfannschmidt commented on #7212
The exposed behaviour is correct, please link the misleading docs

[2020-05-11 15:52] thejcannon commented on #7212
[conftest.py: local per-directory plugins](https://docs.pytest.org/en/latest/writing_plugins.html#conftest-py-local-per-directory-plugins):

Makes me believe all the hooks in a `conftest.py` will be directory-specific.

I also can't find anything that tells me _which_ hooks in a subdir `conftest.py` receive all tests and which recieve the scoped down version, which furthers my assumption they _all

[2020-05-11 18:44] bluetech commented on #6866
If we remove the requirement for `reason`, the effect I foresee is that most new users will omit it, since it is not discoverable and laziness wins anyway. So I see an argument for and against:

- For keeping: users wouldn't do it otherwise (mostly because they wouldn't know about it), it is not much work to add and is good for them, requiring makes the world better.
- Against keeping: "educating"

[2020-05-11 19:45] bluetech commented on #6240
The problem can be reduced more clearly to this:

[code]

What happens is this:

- At startup, the root logger is not configured with any handlers.
- At collection, the root logger is still not configured, so the `logging.warning` call triggers a `logging.basicConfig()` call, which adds a `StreamHandler` to the root logger.
- The logging plugin respects existing handlers if they exist.

So the log

[2020-05-11 19:45] The-Compiler commented on #6866
Probably possible but not pretty. Reminds me of [things Hypothesis does](https://github.com/HypothesisWorks/hypothesis/blob/master/hypothesis-python/src/hypothesis/internal/reflection.py). Money quote:

and

[2020-05-11 22:12] animaxcg commented on #3151
init files everywhere and this is still an issue when your module your testing imports a library that as the same name as a library you are testing for another module

[2020-05-13 15:49] louwers commented on #4930
Did you improve this in the end? I don't know what's wrong with it. :)

[2020-05-13 18:53] rmorshea commented on #7085
Can confirm `collect_ignore` and `collect_ignore_glob` work great. Thanks @Zac-HD and @RonnyPfannschmidt

[2020-05-13 19:45] rmorshea commented on #7085
Ok, there's still a caveate that all `conftest.py` files, even those below the one declaring `collect_ignore_glob` in the directory hierarchy, will get collected, but that's workable.

[2020-05-14 02:36] perrinjerome opened #7215 "unittest.TestCase.tearDown executed on skipped tests when running --pdb"
With this minimal test:
[code]

[code]

test is properly skipped:
[code]

but when running with `--pdb`, the teardown seems executed:
[code]

I would have expected the test to be skipped, even with `--pdb`. With `pytest==5.4.1`, test was also skipped with `--pdb`, so this seem something that have changes between 5.4.2 and 5.4.1.

(I would have loved to, but I don't have time to send a PR these day

[2020-05-14 02:42] perrinjerome commented on #7215
This might a regression from https://github.com/pytest-dev/pytest/pull/7151 , I see it changes pdb, skip and teardown

[2020-05-14 13:04] #7126 closed

[2020-05-14 13:11] ssbarnea commented on #6936
@RonnyPfannschmidt I am looking forwards to see this fixed as it breaking other projects like pytest-html.

[2020-05-14 13:40] RonnyPfannschmidt commented on #6936
The Bugfix was released

[2020-05-14 14:33] BeyondEvil commented on #6936
I'm probably doing something wrong. But the error described in this issue still happens with pytest 5.4.2. @RonnyPfannschmidt

[2020-05-14 15:29] axys16 opened #7216 "Get rootdir in nose tests"
Hi,
It is possible to get the rootdir in nose tests (outside the test class and inside the setUp() ) ?

[2020-05-14 15:43] RonnyPfannschmidt commented on #6936
Then I misunderstood something and a additional fix is needed

[2020-05-14 15:43] bluetech commented on #7162
The way it is currently implemented, `caplog` doesn't do anything on its own; it reuses the log capturing that is set up for test reporting.

The semantics I propose are:

- `caplog` is completely independent from `log_level`.
- `caplog` only captures while it (the fixture) is active (independent from `runtest` hooks).
- `caplog` captures *all* levels.

Regarding the last point, @nicoddemus said t

[2020-05-14 15:55] bluetech commented on #7133
@ruaridhw Which of the following is your use case?

1. Change which log messages are captured by `caplog`.
2. Change which log messages are displayed in the test reports.

I assume it's 1, since 2 is not really something a test should be able to adjust, but just wanted to make sure.

If it's 1, then this should be resolved if #7162 is resolved (without needing #7139).

[2020-05-14 16:29] semplica opened #7217 "Test"

[2020-05-14 18:44] BeyondEvil commented on #6936
Let me know if there's something I can help with @RonnyPfannschmidt

[2020-05-14 18:54] RonnyPfannschmidt commented on #6936
Atm anything, currently I don't have much time for pytest due to global reasons

[2020-05-14 18:58] BeyondEvil commented on #6936
@bluetech #6898 is merged. It didn't solve this issue however. Any clues what else could be done?

[2020-05-14 19:20] thisch commented on #7162
@bluetech so what you are saying is that if a user doesn't want to capture all levels, he/she can call `set_level`, right? If we can assure that a `LogCaptureHandler` is only created for tests that use the `caplog` fixture, I agree with your proposal. Otherwise I would use `WARNING` as the default log-level for `caplog`, to avoid potential performance regressions.

[2020-05-15 01:53] #7217 closed

[2020-05-15 06:14] #6240 closed

[2020-05-15 15:10] ruaridhw commented on #7162
Couldn't this lead to pretty significant memory issues? If there are MBs of `DEBUG` logs being sent to the logger during a function call but the user is only interested in a couple of lines of `WARNING` messages then there would be performance implications, right?

Given that the root logger level is `WARNING` by design, I imagine that if one expects to test a `DEBUG` log message, they may be used

[2020-05-15 15:12] ruaridhw commented on #7133
Yes, you're right, it's 1.

[2020-05-15 18:18] scott-wilson opened #7218 "Test Discovery - Skip Test if Failure"
Hello!

Example tests:

`tests/test_failure.py`
[code]

`tests/test_succeed.py`
[code]

If I were to use PyTest to discover the tests (specifically, discovering in Visual Studio Code's Python plugin), then it'll fail discovering all of the tests. Instead, I would like to be able to skip discovering that file (or up until where the error happened) and move onto the next file.

Is there a way to do

[2020-05-15 19:42] shughes-uk commented on #4684
Hi there I ran into this issue today. Thanks @RomanPylypenkoDevPro for explaining it. I guess the workaround for now is to avoid sub packages?

[2020-05-15 20:02] s0undt3ch commented on #4684
This is a hack but [this](https://github.com/saltstack/salt/blob/master/tests/conftest.py#L308) and [this](https://github.com/saltstack/salt/blob/master/tests/conftest.py#L377) is what we're doing to force fixture termination once no test is using it.

[2020-05-15 21:49] #6968 closed

[2020-05-16 08:11] RonnyPfannschmidt commented on #7218
There is a option to still run tests on collection errors

[2020-05-16 10:14] RonnyPfannschmidt commented on #7216
There is no official support for that

Use fixtures

[2020-05-16 17:50] asottile commented on #7150
[`pdb.post_mortem`](https://docs.python.org/3/library/pdb.html#pdb.post_mortem) takes a `traceback=` parameter (which I believe `ConftestImportFailure` retains a reference to) -- perhaps that could be used to fix this?

[2020-05-16 18:22] nicoddemus commented on #7216
I can think of an ugly ugly hack, which might work (untested):

[code]

But I concur with @RonnyPfannschmidt, if possible convert at least part of the suite to a proper fixture.

Hope this helps!

[2020-05-16 18:22] #7216 closed

[2020-05-16 20:23] ckastner opened #7223 "ImportMismatchError from conftest.py confusion"
With a recent release of scikit-learn, we have started to see the following error when building packages for Debian using pytest 4.6.9 with Python 3.8 on Debian unstable:

[code]

The package build happens roughly as follows:

1.  `python3.8 setup.py config`
2. `python3.8 setup.py build` with a target directory `.pybuild/cpython3_3.8/build/sklearn`, which is a subdirectory within the source direct

[2020-05-17 00:28] asottile commented on #7223
the KeyError is just the first in a multi stacktrace (due to some caching code) -- the actual error is the `ImportMismatchError`

[2020-05-17 06:50] ckastner commented on #7223
Good point, thanks. Retitled.

[2020-05-17 12:35] nicoddemus commented on #7223
Heh by coincidence, I just opened a PR in that sense yesterday: https://github.com/pytest-dev/pytest/pull/7222. 😁

[2020-05-17 14:43] #7223 closed

[2020-05-17 16:12] bluetech commented on #6936
@BeyondEvil it isn't merged yet, unless I misunderstand.

For reference, the issue is this:

`TerminalReporter` has an property `writer` that has been deprecated in pytest 5.4.0. So every time it is accessed, a deprecation warning is triggered.

`TerminalReporer` is a plugin. A plugin can define fixtures. During the collection phase, pytest collects fixtures be sifting through all attributes of an

[2020-05-17 16:21] nicoddemus commented on #6936
I agree, but with tongue-in-cheek, I'm sure there's a test suite out there which has a property, that when accessed, returns a function marked as a fixture. 😆

[2020-05-17 16:33] ckastner commented on #7223
I'm not sure as to the effects of that PR:

That sounds like adjusting the traceback, rather than addressing the issue that caused the ImportMismatchError in the first place.

Is this just a misunderstanding on my part?

[2020-05-17 16:34] asottile commented on #7223
oh, the ImportMismatchError is a user error -- it means you have two different paths which result to the same module (in this case, both the root conftest and the one inside your build directory are being picked up "identically")

[2020-05-17 16:37] RonnyPfannschmidt commented on #6936
Time for a breaking change

[2020-05-17 21:00] ckastner commented on #7223
OK, so that's clear now. But what is the proper/recommended resolution for this?

From the docs, I would have thought that using `--rootdir=<build directory>` would have resolved this ambiguity, but the ImportMismatchError comes even when using that argument.

[2020-05-17 21:04] asottile commented on #7223
you have two separate copies of sklearn on the path.  I'm not sure how to fix that without knowing the intricate details of your build but the solution is to not do that.  It's a little weird to discover tests from an ephemeral build dir 🤔

[2020-05-17 22:07] ckastner commented on #7223
OK, that clarifies it somewhat, thanks. But this is pytest's own discovery, right?

It's standard practice in Debian. We use ephemeral build dirs for various reasons, for example to build for more than one version of Python (3.7 and 3.8), hence we also run tests for both versions.

I'll check with the Debian Python Team, perhaps there is another solution to this problem that has escaped me so far.

[2020-05-18 07:02] ckastner commented on #7223
Wait, with "path", you mean one of pytest's own internal paths (for discovery or some such), right?

Because the source dir is definitely not in `sys.path`, and the build dir gets added by `python3 -m pytest`, if I read the docs correctly.

[2020-05-18 08:28] axys16 commented on #7216
Thanks, this helps :)

I'm using nosetests to do functional tests through a little framework that I did ( https://github.com/AffilaeTech/niav ).
I use it to test a javascript API.
Do you think fixtures can be used in this particular case ?

[2020-05-18 08:51] RonnyPfannschmidt commented on #7216
fixtues and parameterization will never be deeply integrated into unit-test support,
they only have a very basic integration for auto-use fixtures to aid migration to pytest

[2020-05-18 08:55] RonnyPfannschmidt commented on #7223
if you create a temporary copy of the package in a folder that is traversed by pytest for test finding, then its going to try and import the folders,

pytest autoadds package roots of python files it finds to sys.path to import them

as fat as i can tell, `./.pybuild/cpython3_3.8/build` is discovered as import root and shares structure with `.` - in turn causing the confusion

[2020-05-18 10:31] mulawamichal opened #7225 "add cli option for junit_suite_name"
hi,
it would be useful to have a explicit `--junit-suite-name=foo` cli option available, instead of having to use workarounds with overriding an ini value using `-o junit_suite_name=foo`.

[2020-05-18 11:17] ckastner commented on #7223
That confusion on behalf of pytest I would understand and expect.

However, in this particular instance, `./.pybuild/cpython3_3.8/build` is the current working directory (there was a `cd` into it). So the confusion comes from `./sklearn` and `../../../sklearn`.

It's the latter that I don't understand. Is it not possible (via an option) to cut off discovery at some base dir? I looked at `rootdir`

[2020-05-18 13:18] nicoddemus commented on #7225
Hi @mulawamichal,

We added `-o` exactly to allow having duplicated commanda line options and ini options.

Why do you feel is that a workaround?

[2020-05-18 18:59] jtratner opened #7228 "monkeypatch-style `chdir`"
First - thank you so much for pytest - amazing tool and I love it!

The `tmp_path` and `tmpdir` fixtures are excellent, but can easily lead to changing current directory for all tests without realizing it (which can be confusing in error output).

It'd be useful to have a monkeypatch-style helper to change the directory built-in to pytest, equivalent to the `chdir` fixture below.

[code]

The best

[2020-05-18 19:01] jtratner commented on #7228
(happy to contribute a pull request if this is an acceptable item - might need some help figuring out how to enforce test ordering tho :) )

[2020-05-18 19:03] nicoddemus commented on #7228
Hi @jtratner,

There's already [`monkeypatch.chdir`](https://docs.pytest.org/en/latest/reference.html#_pytest.monkeypatch.monkeypatch) which does exactly that. 😁

[2020-05-18 19:10] jtratner commented on #7228
oof 😅 slightly embarrassing haha  (I swear I searched for it! haha) - lemme put up a PR to update the docs to call this out with tmpdir/tmp_path examples

[2020-05-18 19:10] #7228 closed

[2020-05-18 19:11] nicoddemus commented on #7228
Hehehe no worries, thanks!

[2020-05-18 20:13] bluetech commented on #7162
My idea of using the fixture scope for the scope of its capturing doesn't work
out. The problem specifically is `caplog.get_records('setup')` -- it expects to
receive *all* records from the setup phase, even before the `caplog` itself
came into scope. This means that `caplog` needs to use an existing capturing
set up by plugin in the hooks.

---

Regarding the log level:

Currently, the fixture ca

[2020-05-18 23:28] joaonc opened #7229 "Allow multiple use of `-m` option"
Looks like when we use `-m` more than once, only the last entry is used (on Linux/macOS, at least, haven't tested on Windows).

Ex:
[code]

Both those examples will only run those tests with the mark `z`, b/c that's the last `-m` argument passed in. If we reverse the order, then the other marked tests will run.

Nowadays it's common for command line programs to take in multiple of the same argumen

[2020-05-18 23:47] joaonc commented on #7093
Wouldn't that invalidate the scenarios where using `--last-failed -m only` is supposed to run *only* the tests that (failed + have `only` mark)?
Ie, tests that have that mark but didn't fail, should not run.

IMO, the scenario _"as a test writer i do not want last failed to deselect tests with a special marker even if the passed before"_ should not be possible with one command line and rather use

[2020-05-19 03:22] Strilanc opened #7230 "Add an EqualsTester helper class"
It would be great if pytest provided a utility similar to [Guava's EqualsTester](https://github.com/google/guava/blob/master/guava-testlib/src/com/google/common/testing/EqualsTester.java).

There are a lot of ways to incorrectly implement equality in python (e.g. returning False instead of NotImplemented for an unrecognized type, accidentally making `__ne__` inconsistent with `__eq__`, violating t

[2020-05-19 04:21] RonnyPfannschmidt commented on #7229
Both marks and keyword expressions currently use the last passed value

If added multiple times they should use and, not or

[2020-05-19 06:57] bluetech commented on #5515
Was fixed by #5926.

[2020-05-19 06:57] #5515 closed

[2020-05-19 07:53] pfctdayelise commented on #5570
I've been thinking about this. Maybe an alternative to fancy ways of registering marks is adding a hook like pytest_validate_mark?

[2020-05-19 09:25] Zac-HD commented on #7230
This does sound like a useful feature, but it's also for a very specific use-case and I don't think it would fit well in `pytest`.

Hopefully other contributors might be able to suggest a package where it would fit well; if not this might be the start of a new one!

[2020-05-19 09:29] RonnyPfannschmidt commented on #5570
i like that idea, i would like to see of we can get that integrated with ideas for the object based markers that are floating since a while and should solidify

[2020-05-19 10:14] RonnyPfannschmidt commented on #7230
just as for the general topic of assertion helpers, this should start in a new package, so a good api can emerge over time before binding it into a test runner

[2020-05-19 10:44] mulawamichal commented on #7225
my understanding was, that intention of a ini file is some general common config persistent for all tests. But I can imagine, that there are multiple independent test-suites in one test project. So it would be nice to be able to pass such per-testsuite options in elegant way - using a dedicated cli arg

[2020-05-19 14:16] bluetech commented on #7148
The problem is in the `CaptureManager.global_and_fixture_disabled` context manager:

[code]

If it is already suspended when entered, it will be resumed, but that is not the intention.

`--log-cli` triggers a `global_and_fixture_disabled` which has combined with the above has the result of enabling global capturing before it's intended, which happens to swallow the collectionfinish report.

(Not s

[2020-05-19 16:00] nicoddemus commented on #7225
I understand your point, but we have decided to avoid having duplicated ini and command-line options, because they generate maintenance/docs overhead without much gain.

So I suggest to go ahead and use `-o` as if it was a command-line argument. 👍

But thanks for the suggestion anyway, we appreciate it!

[2020-05-19 16:00] #7225 closed

[2020-05-19 19:14] asottile commented on #7218
in particular `--continue-on-collection-errors`

[2020-05-19 23:09] #7040 closed

[2020-05-20 02:32] gdhameeja commented on #7215
I'd like to work on this.

[2020-05-20 10:11] twitt opened #7232 "@pytest.fixture(scope="package") works like session if placed in one conftest.py"
Hello.
I'm using pytest==5.4.1.
I have conftest.py file in root of the directory with content like this:

[code]

my fixtures are placed in separate folder 'fixtures'.

When I run some fixture, which is defined in fixtures.configuration with scope "package" it's executed as session fixture. So I suppose this package scope realted to where fixtures are placed, than to where they're called. Is it ex

[2020-05-20 16:10] webknjaz opened #7233 "Make `--strict`/`--strict-markers`/`xfail_strict` consistent"
_(It's a follow-up for https://twitter.com/codewithanthony/status/1263130307848335360)_

While reading the doc about markers, I encountered mentions of `--strict`/`--strict-markers` CLI args and an example for adding them via `addopts`. It was not clear if they are the same or not so I added both. Since some options support being specified as both a config setting and a CLI option, I first tried s

[2020-05-20 17:00] nicoddemus commented on #7233
Thanks @webknjaz!

Indeed this is all a bit confusing, and the result of options growing organically in pytest over the years. 👍

[2020-05-20 17:04] webknjaz commented on #7233
Do you think that it'd be reasonable to support these options in both CLI and config?
Also, should `--strict` mean `--strict-markers`+`xfail_strict`?

[2020-05-20 17:22] nicoddemus commented on #7233
Here's the long story. 😁

`--strict` and `--strict-markers` are aliases (the latter is more recent), and both are independent from `xfail_strict`.

`--strict-markers`: makes unknown markers raise errors. This was historically named `--strict`, which is confusing because it is too broad, while it only applies to markers. The `--strict` alias remains for backward compatibility only (so we should def

[2020-05-21 11:29] mgrazebrook opened #7235 "call_fixture_func should test the return value not the function"
I'm trying to use fixtures in a library-like context. It doesn't seem you can have a pip installed fixture so the fixture functions are in the library (less decorator) then decorated in the local conftest.py

This means that a library 'fixture' with clean-up code (eg. resetting a database state) has a yield but the decorated function does not.

fixtures.call_fixture_func tests if the decorated fun

[2020-05-21 19:34] nicoddemus commented on #7215
Hi @gdhameeja,

Thanks for the offer, but this is a bit trickier because of the unittest-pytest interaction. I plan to tackle this today as it is a regression. 👍

But again thanks for the offer!

[2020-05-21 20:10] nicoddemus commented on #7235
Hi @mgrazebrook,

Sorry it is not very clear to me what you want to accomplish... do you want to change pytest itself or be able to run generators as test functions?

Can you provide an example code and what you expect the pytest output to be with that code?

Thanks!

[2020-05-21 20:21] RonnyPfannschmidt commented on #7235
fixture implementations can happen in terms of other context managers

as far as i understood OP wants to run the return vaule of a incomplete contextmanager to work as if the fixture was the context manager

from my pov thats structurally wrong

instead of
[code]
one should use something like

[code]
the second example has much clearer flow control, can't accidentally misinterpret a return value

[2020-05-22 00:01] mgrazebrook commented on #7235
Given f and g as I defined them, returning the same value in either case, it struck me as odd pytest behaved differently and it wasn't until I debugged into the pytest code that I found out why.

Ronny makes a reasonable point that the slightly longer form he proposes is more ideomatic.

On the other hand, my version says to me 'the function is wrapped as a fixture but otherwise unchanged' while w

[2020-05-22 08:36] RonnyPfannschmidt commented on #7235
Declared and transformed context mangers are not the same as functions that return something,

Calling declared fixtures as functions is already deprecated and will eventually be removed.

The call contract for fixtures is: treat as context-manager when it contains a yield, else treat it as a function. We would actually break other peoples code if we suddenly changed that to "if it returns a gener

[2020-05-22 10:38] s0undt3ch opened #7237 "showcapture in pytest.ini ignored in 5.4.2"
I added `showcapture=stdout` to my `pytest.ini`, however, I still get the log capture section
[code]
[code]

If however I pass `--show-capture=stdout` on the CLI, it works as expected

[2020-05-22 11:27] #6433 closed

[2020-05-22 13:35] DahlitzFlorian commented on #7237
Hi @s0undt3ch! I couldn't find `showcapture` anywhere in the documentation. I made a grep on the whole repository and didn't find an `addini()` call registering `showcapture`, either. Did it work in the previous pytest version?

`addopts = --show-capture=stdout` shoud work fine in `pytest.ini`.

[2020-05-22 13:37] DahlitzFlorian commented on #7237
I had a look at the `5.3.x` branch, too, and couldn't find it, either.

[2020-05-22 13:45] s0undt3ch commented on #7237
I wasn't using it in 4.x.
I started with 5.x because of the `--no-print-logs` deprecation, and now that you mention it, I think I was assuming there would be a ini config as well.
I guess this issue can be closed as invalid.

[2020-05-22 13:47] DahlitzFlorian commented on #7233
Hi @nicoddemus! Should we add a short note about this to the documentation, the preference fpr `--strict-markers`, and that `--strict` might be extended in the future? I'm fairly new to pytest and would be happy to work on this!

[2020-05-22 13:52] nicoddemus commented on #7233
Hi @DahlitzFlorian,

Thanks for the offer to work on this, we appreciate it a lot!

Probably it is worth adding a historical note somewhere, but there are no plans to extend `--strict` in the future (I believe it would only lead to more confusion).

Feel free to open a PR and we can discuss the fine details over there. 👍

[2020-05-22 13:54] nicoddemus commented on #7237
Thanks @s0undt3ch and @DahlitzFlorian,

Indeed `--showcapture` is command-line only.

You can add it to your `pytest.ini` permanently as such:

[code]

Closing this for now then. 👍

[2020-05-22 13:54] #7237 closed

[2020-05-22 13:54] webknjaz commented on #7233
What about adding a new option like `--strict-mode` that would influence any strictness related defaults?

[2020-05-22 13:57] nicoddemus commented on #7233
Not at the moment (I'm not saying it is not a good idea, just that there are no plans for it hehehe).

[2020-05-22 14:41] s0undt3ch commented on #6964
I also hit a problem regarding #5792
[code]
It's, in fact, the same file:
[code]

[2020-05-22 15:08] bluetech commented on #4343
I think the idea of providing some assistance with testing that `stacklevel` is provided correctly is good. Certainly it's easy for that little number to get omitted, wrong or outdated.

The pandas code has a couple of problems:

1. It only works for cases such as `test_warns() -> do_something_that_warns()`, which is common for deprecation and such, but doesn't work for `test_foo() -> foo() -> do_

[2020-05-22 16:53] DahlitzFlorian commented on #7150
Hi everyone! I would like to work on this one and already had a look at the corresponding file as well as related ones. However, I do not really know where to start and I'm not able to reproduce the issue. I really appreciate any guidance. Thanks in advance!

[2020-05-22 17:13] asottile commented on #7150
iirc `ConftestImportFailure` is only raised for *nested* conftests (which would be nice to clean up at the same time as well) -- I think if you have a structure like:

[code]

and then an import error / type error / etc. in `conftest.py` then it should reproduce?

[2020-05-22 18:16] nicoddemus commented on #6964
Hmmm seems like `pyimport` doesn't handle shortened paths properly on Windows due to `ImportMismatchError`.

We might decide to get rid of `pyimport` altogether and roll out our own based on `importlib`.

[2020-05-22 18:21] nicoddemus commented on #6964
@s0undt3ch can you confirm the pytest version you are using?

[2020-05-22 18:25] s0undt3ch commented on #6964
@nicoddemus 5.4.2

[2020-05-22 18:27] nicoddemus commented on #6964
Thanks!

[2020-05-22 18:42] gsnedders opened #7241 "Contradiction in breaking change versioning policy"
https://docs.pytest.org/en/latest/changelog.html documents that "Backward incompatible (breaking) changes will only be introduced in major versions with advance notice in the Deprecations section of releases", yet pytest 5.4.0 contains documented breaking changes.

What is the policy for breaking changes and what versions can contain them, and can we update the documentation to match actual practi

[2020-05-22 18:45] symonk commented on #7229
@RonnyPfannschmidt / @nicoddemus should we permit the -m on parsearg to 'append' (nargs='+') and then resolve the collection of arguments into one matchexpr, joining on 'and' ? not sure where -k would fit in here.

[2020-05-22 18:59] RonnyPfannschmidt commented on #7229
Both should use append, both need a reset arg, we should evaluate the expressions separately

[2020-05-22 19:17] symonk commented on #7229
apologies my comment was confusing :) I mean to keep them seperated, my thoughts are:

[code]

for example:

`pytest -m a or b -m c `

matchexpr = 'a or b and c'

any more info into this 'reset arg'? not entirely what is meant there

thanks

[2020-05-22 20:08] symonk commented on #7241
Hi @gsnedders this does indeed seem like we should revisit (or update the documentation to reflect what the current policy is - that im not sure of):

[code]

According to this:

[code]

This would imply such changes should be existing in 6.X.X

[2020-05-22 20:28] RonnyPfannschmidt commented on #7229
@symonk instead of string joining, i would like to go the safe route of simply running a for loop over the expressions requiring an `all`,

reset options would clear the marker/keyword lists, so they could restart in case of addopts/automation putting in things one wants to ignore

[2020-05-22 20:41] RonnyPfannschmidt commented on #6964
@nicoddemus pyimport should be replaced by something pathlib supporting

[2020-05-22 20:49] RonnyPfannschmidt commented on #4343
an helper that expects the warning to happen either in the current block, or in a specified function would help as well

[2020-05-22 20:50] DahlitzFlorian commented on #7150
Thanks @asottile, I was able to reproduce it. Furthermore, I fixed the issue. I'm now adding a changelog file and submit a PR.

[2020-05-22 20:50] s0undt3ch commented on #4684
Is it fair to say that if we are in package scope A and we enter package B which is a sub-package of A, any fixtures in the package A scope should **not** be teardown?
I want to work on this but guidelines on where PyTest would like this to go is preferable in order not to waste time.

I still think it's useful to teardown fixtures when they are no longer going to be used, but this "usage tracking

[2020-05-22 21:22] symonk commented on #7218
@scott-wilson as outlined previously:

[code]

Does this answer your question sufficiently? :)

[2020-05-23 00:11] scott-wilson commented on #7218
Partially. I found that https://pypi.org/project/pytest-custom-exit-code/
--suppress-tests-exit-code did the trick. Thanks!

On Fri., May 22, 2020, 2:22 p.m. Simon K, <notifications@github.com> wrote:

[2020-05-23 00:12] #7218 closed

[2020-05-23 09:21] bluetech commented on #4343
I think checking for a function would be ideal, but it doesn't seem possible to do cleanly, without hacks like reverse-mapping filename+lineno to a function and such.

[2020-05-23 11:08] symonk commented on #7229
thanks @RonnyPfannschmidt , I think selectuntil throws a bit of a spanner in the works here, still getting to grips with how this works but will try and implement as advised

[2020-05-23 12:42] symonk commented on #7175
smells like fixture caching / is vs == checks at a glance - will investigate

[2020-05-23 13:36] nicoddemus opened #7245 "Feedback about --import-mode=importlib in pytest 6.0"
This issue is a placeholder to gather feedback from users about the new `--import-mode=importlib` introduced in pytest 6.0.

It is our intention to change the default to `importlib` in future versions, and perhaps even eliminate the other `--import-mode` options (`prepend` and `append`).

[2020-05-23 13:37] nicoddemus commented on #7245
(About to open a PR pointing to this issue)

[2020-05-23 13:53] LewisGaul commented on #1187
FWIW I'd like to see this implemented in core pytest, so just giving my +1 here.

See https://github.com/nicoddemus/pytest-drop-dup-tests/issues/5 for my use-case and issue with the plugin approach (although thanks to niccodemus for making the plugin usable for my case!).

[2020-05-23 14:27] #7154 closed

[2020-05-23 14:27] #7128 closed

[2020-05-23 18:23] gnikonorov commented on #4049
Hi, is there an update on this? I tried to use `pytest_warning_captured` as detailed [here](https://docs.pytest.org/en/latest/reference.html#_pytest.hookspec.pytest_warning_captured) and received the error in the attached log. When I tried to use `pytest_warning_recorded(record)` I received a `PluginValidationError` saying the hook name was invalid.

[pytest_warning_captured_usage.log](https://git

[2020-05-23 19:13] RonnyPfannschmidt commented on #4049
@gnikonorov as far as I can tell nothing happened

[2020-05-23 19:20] gnikonorov commented on #4049
@RonnyPfannschmidt can I submit a PR for this then?

[2020-05-23 20:16] RonnyPfannschmidt commented on #4049
yes please

[2020-05-23 20:44] gnikonorov commented on #4049
Thank you! I'll try to have the PR up in the next few days

[2020-05-23 23:28] rajuah opened #7250 "pytest hangs after tests finish running"
The test setup that I have needs to connect to boards to be able to run tests. For this purpose, I wrote a package that makes use of [`pexpect`](https://github.com/pexpect/pexpect) to ssh into the machine the board is connected to and run some commands to make the board accessible to the test.
I defined my own `pytest_collection_modifyitems` and `pytest_unconfigure` in the `conftests.py`  as
[code

[2020-05-24 09:07] DahlitzFlorian commented on #7042
If the feature is accepted to be part of the core of pytst, I would be more than happy to implement and test it.

[2020-05-24 09:12] #6720 closed

[2020-05-24 09:13] Zac-HD commented on #7033
Closing this as an inactive question.

[2020-05-24 09:13] #7033 closed

[2020-05-24 09:15] Zac-HD commented on #7053
Closing this as an inactive question.

[2020-05-24 09:15] #7053 closed

[2020-05-24 09:16] Zac-HD commented on #6824
Closing this as an inactive question.

[2020-05-24 09:16] #6824 closed

[2020-05-24 09:19] Zac-HD commented on #6891
Closing this as an inactive question - hopefully fixtures are working for you :slightly_smiling_face:

[2020-05-24 09:19] #6891 closed

[2020-05-24 09:20] Zac-HD commented on #6942
Closing this as an inactive question.

@SalmonMode - you've been helpful in _so many_ of these, thanks for that! :star_struck:

[2020-05-24 09:20] #6942 closed

[2020-05-24 09:23] Zac-HD commented on #6982
Closing this question as inactive.

As a tip for future questions or bug reports, including a small, self-contained example that reproduces whatever behaviour you're asking about makes diagnosis much easier :wink:

[2020-05-24 09:23] #6982 closed

[2020-05-24 09:24] Zac-HD commented on #6979
Closing this question as inactive.  Maybe try StackOverflow?

[2020-05-24 09:24] Zac-HD commented on #6967
Closing this question as inactive. Maybe try StackOverflow?

[2020-05-24 09:24] #6967 closed

[2020-05-24 09:28] Zac-HD commented on #6928
@jaraco @RonnyPfannschmidt - any updates on this?

[2020-05-24 09:28] Zac-HD commented on #6885
Closing this question as inactive. Maybe try StackOverflow?

[2020-05-24 09:28] #6885 closed

[2020-05-24 09:28] Zac-HD commented on #6855
Closing this question as inactive.

[2020-05-24 09:28] #6855 closed

[2020-05-24 09:37] RonnyPfannschmidt commented on #6979
this is possibly a bug in the test reordering

[2020-05-24 10:00] symonk opened #7251 "tox -e docs not supported out of the box on windows platform"
When building docs, we use 'sh' which fails from the pycharm terminal on windows for example.  Will investigate if tox can have a platform agnostic command for towncrier that will work for everybody.

[code]

[2020-05-24 10:01] symonk commented on #7251
@nicoddemus how does someone get the ability to assign 'labels' on issue(s) on the project here at pytest?

[2020-05-24 10:05] RonnyPfannschmidt commented on #7251
@symonk we would either need a wrapper script around towncrier, or a towncrier feature addition to write the draft to a file

[2020-05-24 10:33] DahlitzFlorian commented on #7012
I reproduced the behaviour and applied the changes @symonk suggested. I went one step further and added another test to show that duplicates are a desired effect:

[code]

I had a look at the `_collectfile` function in `src/_pytest/nodes.py` and played a little bit with it. I was not able to change it in a way that won't make other tests fail and the two tests related to this issue pass.

@bluetec

[2020-05-24 10:40] bluetech commented on #7012
@DahlitzFlorian, in https://github.com/pytest-dev/pytest/pull/7081#issuecomment-612862023 I wrote

I don't remember all of the details, but have you looked at this?

[2020-05-24 10:44] DahlitzFlorian commented on #7012
I read your comment and had a look at it. I identified the `_collectfile` function to be the part handling that.

https://github.com/pytest-dev/pytest/blob/master/src/_pytest/nodes.py#L540

However, I was not able to modify it in a way that let the tests cases pass and won't break other test cases.

[2020-05-24 10:54] DahlitzFlorian commented on #6956
I would say it is related to #7150 and both can be closed due to merging #7244.

[2020-05-24 11:00] symonk commented on #7229
needs more of a discussion as likely a breaking change

[2020-05-24 11:00] RonnyPfannschmidt commented on #6922
there are sphinx extensions for i18n that allow doc translation in transifex & co
btw, we miht want to remove the en folder component from the docs

[2020-05-24 12:27] bluetech commented on #7012
From the link, it seems to currently rely on `__hash__`/`__eq__` to detect duplicates (since it's using a `set`). I assume this is not sufficient? If something is changed, it should be changed here, I think.

[2020-05-24 14:30] nicoddemus commented on #7042
I think this is better off as a plugin, it is easy to implement it as such.

We would gladly accept a PR in this regard! 😁

[2020-05-24 14:35] asottile commented on #6956
seems to still not quite be right, though improved a bit:

[code]

[2020-05-24 14:41] #7042 closed

[2020-05-24 15:03] DahlitzFlorian commented on #6956
Ah right. I guess it's because we now return the internal traceback if called with `--pdb` and not every time. I can investigate it further if you wish :)

[2020-05-24 15:38] symonk commented on #6881
@RonnyPfannschmidt / @nicoddemus any recommendations on where the fix should live? but where do we draw the line here? a few queries from my initial investigation:

- _pytest/python.py (add some checks around validating ids here - could you recommend where this issue should typically be solved?
- Do we auto generate a random name after a certain amount? checking length of nodeid plus the parametri

[2020-05-24 15:39] DahlitzFlorian commented on #7012
The issue that I see is that the empty string (`''` or `""`) becomes a `LocalPath`. As pytest does not handle duplicates by default, their is no way to see whether a `LocalPath` is the result of passing an empty string to pytest as command-line argument. With that said, the only way to remove duplicates occurring because of passing an empty string to pytest is to handle them at `strargs`. Other du

[2020-05-24 16:03] RonnyPfannschmidt commented on #6881
I would draw the line around 100, maybe less

[2020-05-24 17:29] symonk commented on #6814
@RonnyPfannschmidt / @nicoddemus / @bluetech can we close this? looks like a PR was merged some time ago removing test_510

[2020-05-24 17:33] RonnyPfannschmidt commented on #6814
This does not look like it was merged from the downstream to the main repo, im on mobile and can't verify

[2020-05-24 17:35] symonk commented on #6881
ok I will mock something up and discuss via PR, I think we have a few areas where maybe we should consider a --windows based flag that does a couple of things, 2-3 issue's ive seen are similar in nature to this but in different parts of the system, relating to file lengths or env var lengths etc :)

[2020-05-24 18:48] symonk commented on #6814
keen eye, your right it was a fork :) sorry about that

[2020-05-25 03:17] gnikonorov commented on #4049
Hi @RonnyPfannschmidt, I've made a [PR for this](https://github.com/pytest-dev/pytest/pull/7255), but I am a little confused about how to understand the codecov reports. Since I deprecated a hook and replaced it with a new one, I believe I'm maintaining the same test coverage/functionality as before but codecov says I've hit  90.90%. Is it also looking at `hookspec.py` and `reference.rst`?

[2020-05-25 10:02] s0undt3ch opened #7256 "Package scoped fixture is evaluated multiple times if used in a sub-package"
- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] minimal example if possible

When defining a package scoped fixture, if used in the package and in a sub-package, the fixture is evaluated twice.

Coinsider the following diff against PyTest 5.4.2 running on Linux:
[code]

[cod

[2020-05-25 10:20] adamchainz commented on #7042
I tried to find somewhere to fit in the current docs but there isn't currently a section or page on test isolation. The "flaky tests" page touches on it but it would probably need a bit of a rewrite to separate the isolation-specific details.

[2020-05-25 11:46] DahlitzFlorian commented on #6956
I identified the `_repr_failure_py()` function to be the one to be changed. (https://github.com/pytest-dev/pytest/blob/master/src/_pytest/nodes.py#L333)
Added a test for it and adjust an existing test, which expects `ConftestImportFailure` to be present in the output. PR is coming.

[2020-05-25 13:54] #7093 closed

[2020-05-25 13:59] symonk commented on #6922
unless its possible to get a relatively automatic translation I think the overhead / maintenance may not be worth it, primarily due to every docs change will require multiple change(s) for contributors in non native languages.  An automated solution may be worth trialing  (tho they are never really going to be perfect)

[2020-05-25 14:08] symonk commented on #6900
PR approved, will be closed shortly

[2020-05-25 14:52] mgorny opened #7259 "Please remove the dependency on 'py'"
Since 'py' isn't really receiving any attention, and distributions end up carrying growing pile of patches just to keep it working, I think it'd be reasonable for pytest to stop requiring it. Just to be clear, right now we need to patch tests to work with pytest-4+, we hackaround breakages in python3.8 and python3.9 is around the corner with yet another set of problems.

[2020-05-25 16:09] RonnyPfannschmidt commented on #7259
We are working on it, it's still going to take years

[2020-05-25 16:29] s0undt3ch commented on #7256
This better demonstrates the wanted final behavior
[code]

[2020-05-25 16:30] s0undt3ch commented on #7256
This better demonstrates the wanted final behavior
[code]

[2020-05-25 17:39] chaoflow commented on #7150
@DahlitzFlorian @asottile Thank you very much for working on and solving this!

For completeness, I saw the hidden exception in a simpler setup:
[code]

As a follow-up: When running only test_foo.py the NameError is and was not hidden, but also cannot be caught using `--pdb` whereas exceptions on import in test_foo.py are being caught be `--pdb`. Shall I open a new issue for that?

[2020-05-25 17:58] #6900 closed

[2020-05-25 18:05] asottile commented on #7150
@chaoflow I believe that's equivalent to #6956

[2020-05-25 18:12] s0undt3ch commented on #7256
I've been digging into the source code and I can't seem to find my way around fixture scopes and their termination routines.
I think the solution, kind of, involves package scoped fixture to behave closer to session scoped fixtures instead of function scoped fixtures.
I also notice that the `Fixturedef` is the same by its `id()`, but it still gets `execute`ed and `finish`ed twice....

Any guidance

[2020-05-25 19:25] symonk commented on #7132
something to note, as far as I can tell current TerminalFormatter() does not support style=, I toyed around with some others, should be simple enough to bolt on a --pygments-style type arg to terminal_writer and pass it through to highlight (will require a new Formatter tho)

[2020-05-25 23:33] mgrazebrook commented on #7235
I'm not trying to declare a fixture and wrap it a second time, rather to share the 'fixture' undecorated by @fixture, turning it into a fixture in the application specific code.
To me, if it returns a generator, it is a generator function - even if the generator is created deeper in the code.
So yes, what I propose is a change and thus could break existing code, as changes can. However if it did,

[2020-05-26 05:26] #7235 closed

[2020-05-26 07:08] jaraco commented on #6928
No updates. I'm still stuck where I was before. Looks like there have since been some commits in other projects. I'll try to derive inspiration from them.

[2020-05-26 07:43] jaraco commented on #6928
In [this new branch](https://github.com/jaraco/pytest-checkdocs/tree/feature/node-from-parent-redux), I have a new fix that seems to be working. I drew most of the inspiration from pytest-flake8. It's a rather awkward fix (jaraco/pytest-checkdocs@5deec2a13beae75543d7f16bc62ea95b78c05cd1), but not nearly as awkward as the one in pytest-pylint. I'm really not confident in the solution, but it seems

[2020-05-26 07:55] jaraco commented on #6928
I should also mention where pytest-black worked around the issue: shopkeep/pytest-black#43

[2020-05-26 08:35] bluetech commented on #4049
From the log you attached, the error seems to be something different than this issue:

[code]

It's because one of the call sites of the hook are missing the `location` parameter. I pointed this out in the review of #7255. As also mentioned there, pytest-xdist seems to already have a workaround for this issue. If you fix the `location` problem in pytest, does it work for you?

[2020-05-26 08:57] bluetech commented on #7259
In master, we are down to depending on only two parts of py: `py.path.local` and `py.iniconfig` (and one instance of `py.error.Error` which I can remove). Migrating from `py.path.local` would require a big effort, but `py.iniconfig` can be imported quite easily. WDYT @RonnyPfannschmidt?

[2020-05-26 10:58] symonk commented on #7251
on my radar for this week

[2020-05-26 11:02] symonk commented on #7132
Right now we do logic based on 'if' you have pygments or not, from what I can tell its not a core dependency - @bluetech where do we make a collective decision about this stuff? as typically this would require us locking it in as a dependency to gracefully achieve - sure we could say --pygments-style=colorful and only if you have it installed but thats kinda weird

[2020-05-26 11:17] symonk opened #7262 "[proposal] --last-failed-show"
Hi team, thoughts on allowing a --last-failed-show command to list out the contents of the lastfailed json data?

It is easily possible already with:

`pytest --cache-show lastfailed`

What are your opinions on having an explicit option to do the above? :)

Thank you

[2020-05-26 11:18] symonk commented on #7256
Thanks for the report @s0undt3ch, I will get a look into this at some point this week

[2020-05-26 11:37] s0undt3ch commented on #7256
Thanks @symonk.
Spent some more hours around it, but I just don't know enough about the internals yet.

[2020-05-26 14:51] RonnyPfannschmidt commented on #7259
Ini config is already externalized, no need to copy into pytest

[2020-05-26 16:29] mentaal opened #7267 "injecting an error handler into a test"
Hi there.
I have a common error handler that I'd like to run when a subset of my tests fail. Say, when the ones using a particular fixture fail. I'd to do inject this somehow without having to explicitly reference it in the tests.

What would be great is if I could do something like this:

[code]

I know this isn't possible because error exceptions are not thrown back into the tear down code.

How

[2020-05-26 19:48] RonnyPfannschmidt commented on #7267
typically the makereport hook is used for that, as it happens before teadown is executed, is there any reason you cant use a markereport hook?

[2020-05-26 21:00] mentaal commented on #7267
Hi Ronny,
I see, it does look more suitable than `pytest_pyfunc_call`.
Though like pyfunc_call, I still can't use a fixture from there.... right?
It would be great if the error_handler function could also leverage the power and flexibility of fixtures.
Otherwise, I have to duplicate the logic I have already encoded within the fixtures for this purpose.
Am I correct? Is there any way to use them at

[2020-05-26 23:27] gnikonorov commented on #4049
Thanks @bluetech you are 100% right. I jumped the gun and assumed that resolving this would fix my issue too. Adding `location=None` resolves the problem. I still think we should add the new hook, but I will also fix this location bug in the new hook.

What do you think @RonnyPfannschmidt?

Relevant log/diff: [when_location_set_to_none.txt](https://github.com/pytest-dev/pytest/files/4685489/when_l

[2020-05-27 10:40] RonnyPfannschmidt commented on #7267
@mentaal ye, thats currently not exposed, fixtures are currently intentionally isolated from test failures/exceptions

if you need current item extra metadata its strongy suggested to have a integrated fixture, that can stick it to the self of a plugin object while under test

a crude example would be something like (untested):
[code]

[2020-05-27 10:41] Sup3rGeo opened #7268 "pytest_raises call pytest_assertion_pass_hook"
Hi guys,

We find the `pytest_assertion_pass_hook` really useful for automatically providing logs on passing assertions.

However, another typical test we have in the tests are made by using `pytest.raises`. Unfortunately, we don't get logs automatically from that check.

I believe that it would be nice to have some sort of hook that we could use for that, that's why the suggestion for it to call

[2020-05-27 10:48] Sup3rGeo commented on #7229
In the meantime you probably could try writing a plugin implementing the [load_initial_conftest](https://docs.pytest.org/en/latest/reference.html#_pytest.hookspec.pytest_load_initial_conftests) hook and implement your own custom marker option that you can pre-parse in the end create the final `-m` option.

[2020-05-27 13:14] symonk opened #7269 "[documentation] document fixture caching"
Hi team, after searching a bit I couldn't find anything insightful to highlight fixture caching, but from reading a few open issues it seems that fixtures do infact cache values? I was unable to find documentation around that in the docs

[2020-05-27 13:16] RonnyPfannschmidt commented on #7269
That example is python string constant interning, nothing pytest does

[2020-05-27 13:42] symonk commented on #7269
@RonnyPfannschmidt  derp!, but fixtures do cache values? Ive been reading some open issue(s) relating to what sounds like fixture caching, first thing i tried to find was docs relating to it but was unable to find anything

[2020-05-27 13:45] RonnyPfannschmidt commented on #7269
Fixtures are not cached, but rather scope/parameter bound

A precursors of today's scope bound fixtures used a cache to manage scopes / parameters

[2020-05-27 13:48] RonnyPfannschmidt commented on #7268
Raises currently is unable to provide internal calls to hooks, im not sure i like what's required to enable that

[2020-05-27 14:22] #7269 closed

[2020-05-27 14:49] mentaal commented on #7267
Got it thanks.

In order to get at the fixtures that I was interested in, I've resorted to an ugly hack but it allows to me utilize session scoped fixtures within a pytest_pyfunc_call.

I created a fixture with `autouse=True` which has session scoped dependency fixtures which I am actually interested in.

Then I have a helper function:

[code]
Which I use within my `pytest_pyfunc_call` definition

[2020-05-27 14:49] #7267 closed

[2020-05-27 18:43] xinbinhuang opened #7270 "Add a list of builtin markers to doc"
Hi team,

Thanks for the great work!

I am using more and more pytest recently, so I have gone through the docs back and forth a lot.
I think it will be great to add a subsection that includes a list of builtin markers along with documentation and usage on this page https://docs.pytest.org/en/latest/mark.html .

I can create a PR if you guys agree.

Best
Bin

- [x] a detailed description of the bu

[2020-05-27 20:49] #6956 closed

[2020-05-27 22:55] bluetech commented on #7229
Some related discussion happened recently here: #7093.

[2020-05-27 23:05] bluetech commented on #1585
I also had a hard time understanding why `FDCapture` uses a `SysCapture`. I am trying to remove this dependency, if only to see why it is necessary.

Up to now, I found two reasons:

1. Flushing: if only the FDs are redirected, but the `sys` objects remain the same, they can buffer up data then won't reach the underlying FD in time. This may be solvable by adding `flush` calls at appropriate place

[2020-05-27 23:22] bluetech commented on #7262
Another way would be `--last-failed --collect-only` (short: `--lf --co`). This however runs a full collection and also displays all tests in case the last-failed is empty.

The `--cache-show lastfailed` is a bit obscure/undiscoverable, and also prints the result as JSON. I wouldn't really expect users to use this. The undiscoverably may be helped a bit if the `--cache-show` help text adds a line l

[2020-05-28 00:13] MstWntd opened #7272 "Repeatedly run class instead of tests with parametrize"
Quick question:

Given class A has test_1, test_2, test_3 and parametrize Mark applied at the class level with dataset (xa, ya) and (xb, yb). I would like the following execution pattern:

Class A:
   test_1 with xa, ya
   test_2 with xa, ya
   test_3 with xa, ya

Class A:
   test_1 with xb, yb
   test_2 with xb, yb
   test_3 with xb, yb

instead I am getting:
Class A:
   test_1 with xa, ya
   tes

[2020-05-28 04:06] Zac-HD commented on #7270
That would be great - thanks Bin!

Ideally this would come with a test so that our build if new marks are added (or removed) without updating the docs :smile:

[2020-05-28 04:28] mcauto opened #7273 "[pytest 5.4.2 - bug] ModuleNotFoundError: No module named 'importlib_metadata'"
I use `pipenv`

[code]

[code]

[2020-05-28 05:15] xinbinhuang commented on #7270
hmm, do you have similar tests already implemented that I can refer to or any suggestions on how may achieve this? I am thinking pre-commit hook may do the trick

[2020-05-28 05:29] asottile commented on #7273
this sounds like you froze your pipenv environment using python3.8+ and then installed via python3.7

[2020-05-28 05:57] mcauto commented on #7273
@asottile  Thank you!

[2020-05-28 05:57] #7273 closed

[2020-05-28 06:33] xinbinhuang commented on #7272
Are you creating dependencies between tests?... I don't think this is a good idea.....

[2020-05-28 08:55] bluetech commented on #4049
Can you also fix it in the existing hook (in a separate PR)? (If you prefer, I can do it myself)

[2020-05-28 09:23] abhijitmamarde opened #7275 "yield with usefixtures returns function object; using same fixture implicitly returns value"
There is different behaviour when a fixture returning a yield is called with `usefixtures` (returns func) and without using `usefixtures` (i.e. as using arg in test function).

Below is the code with two test functions. One uses fixture_value fixture (which yields a string value) as an arg, and the other uses it using `usefixtures` method.

The **expectation** is, in **both cases** we should get t

[2020-05-28 09:32] MstWntd commented on #7272
I think you are right, I am doing that and it does sound like a bad idea.. but this is my rational:

1) test_1 user1 logs in and gets to home page
2) test_2 we check correctness of data on page
3) test_3 another browser is opened and user2 logs in and does some interaction
3a) this interaction is then tested to see if it appears on user1's browser

I guess there is a strong dependency between test

[2020-05-28 12:09] gnikonorov commented on #4049
Sure @bluetech, I'll investigate further and make a follow up issue/pr if we need to use a different value. I investigated for a while and `None` seemed fine which is why I used it for the PR associated with this issue.

[2020-05-28 12:32] bluetech commented on #4049
I haven't investigated too much either, but the `location` parameter was added in #5984 (which also introduced the regression) and seems generally useful for the purpose of testing the warning location. So if possible, it will be better to calculate it in the same way it is done in the other hook call site. I haven't checked if that would work.

[2020-05-28 12:38] gnikonorov commented on #4049
I agree, @bluetech. I’ll create an issue for it when I get the time later today

[2020-05-28 13:13] RonnyPfannschmidt commented on #7275
this is basic python

as th fixture is inthe same file, if its not requested by the function name, the code will actually just get the global with the same name

if you used something like

[code]

you would observe a name-error instead of the type/reference aliasing issue you see

[2020-05-28 16:46] Izison opened #7276 "Question How to run cloned code under debugger ?"
Hi,  I am trying to  customize PyTest.  I have cloned git repo.
Now when I run <repo>/src/pytest/__main__.py file under debugger in PyCharm it compalins about missing NameError: name 'version' is not defined.
I suspect that this version is generated as part  of release procedure.

Any help How I can continue ?
And guide-lines how to run PyTest source code under debugger ?

P:S I am studying how py

[2020-05-28 18:52] DahlitzFlorian commented on #7150
I guess after merging #7244 this can be closed now.

[2020-05-28 18:58] asottile commented on #7150
indeed, thanks for the fixes!

[2020-05-28 18:58] #7150 closed

[2020-05-28 19:36] DahlitzFlorian commented on #5498
I would like to work on this issue, so we can close the issue. While researching for `pudb` (didn't know it before), I stumbled across a section in their documentation explaining how to use `pudb` together with pytest. The example uses the `--pdbcls` option @asottile described.

I suppose even though there is a way to invoke custom debuggers, we should add support for `PYHTONBREAKPOINT`. Correct m

[2020-05-28 19:49] DahlitzFlorian commented on #5498
Another question arose: What happens if `PYTHONBREAKPOINT` is set to let's say `pudb.set_trace`? Do we want to _only_ use `pudb`'s `set_trace()` function or use the whole debugger `pudb.debugger:Debugger` instead of `pdb.Pdb`?

[2020-05-28 20:30] asottile commented on #7276
hello!  you'll want to first install pytest in some way, I'd suggest a virtual environment

for example:

[code]

`version` is set up by `setuptools-scm` as part of installation

the [contributing guidelines](https://github.com/pytest-dev/pytest/blob/master/CONTRIBUTING.rst) have some instructions on how to get set up with a development environment -- you may also find those helpful!

[2020-05-28 22:10] CarycaKatarzyna commented on #2649
Could you add instructions on how to create a nodeid with unprintable bytes?

[2020-05-28 22:21] CarycaKatarzyna commented on #4701
Is there anything to implement as a solution to this issue?

[2020-05-28 22:34] CarycaKatarzyna commented on #6827
When I call ``pytest test_foo.py test_bar.py``, then `` test_foo`` is run first. Could you explain the purpose of this issue?