[2018-01-19 03:33] RonnyPfannschmidt commented on #2612
@nicoddemus currently travis is too limited to do this nice - e can either configure something like sideci/coala, or let it slip -- im leaning torwards letting it slip by now

[2018-01-19 03:33] #2612 closed

[2018-01-19 09:25] feuillemorte commented on #3106
I can see this code in config.py (433 line):
[code]

So, the solusion maybe replace `six.reraise(new_exc_type, new_exc, sys.exc_info()[2])` to this code:

[code]

What do you think about it?

[2018-01-19 10:03] genestack-solomatin commented on #3106
Should we return special exit status in case of other errors?

https://github.com/pytest-dev/pytest/blob/621374679b0cc9be4bbb76589fd94f20ecb9e0ec/_pytest/config.py#L437

[code]

[2018-01-20 13:20] nicoddemus commented on #3106
@feuillemorte I don't think that's a good approach: we should not call `sys.exit()` from within pytest, we should just return the error code from `main()` instead because people might be using pytest by calling `pytest.main()`; in that case users expect pytest to return an error code, not raising `SystemExit`.

Not sure how easy is to change this behavior, because we let the `ImportError` propagat

[2018-01-20 13:31] nicoddemus commented on #3130
Hi @raphaelcastaneda indeed they are not the same thing, thanks for the detailed explanation. I added some comments to your PR, please take a look when you get the time! 👍

[2018-01-20 23:08] arcoyle commented on #3103
@nicoddemus I have opened a PR for this issue, could you please review.

One thing I noticed while testing was the use of switch options before the test path stops the exception. Nothing is added to the list of key value pairs after the switch option.
For example if I take out the fix and run the test with a `-o console_output_style=classic -s test.py` it won't raise the exception.
This is because

[2018-01-21 01:16] horta opened #3134 "Pytest within zipped Python package"
Is there a recommended approach to test a zipped Python package using pytest?
From [calling-pytest-from-python-code](https://docs.pytest.org/en/latest/usage.html#calling-pytest-from-python-code) I came up with the following approach:

[code]

The problem is that it does not work for installed, zipped package.

[2018-01-21 10:21] jlevertov commented on #3128
The exact output: (I forgot to mention that I work with python 2.7)

/usr/local/lib/python2.7/dist-packages/py/_path/local.py:682 in pyimport
   `issame = self.samefile(modfile)`
/usr/local/lib/python2.7/dist-packages/py/_path/local.py:197 in samefile
    `os.path.samefile, self.strpath, other)`
/usr/local/lib/python2.7/dist-packages/py/_error.py:86 in chacked_call
    `raise cls("%s%r" % (func.__

[2018-01-21 21:29] Reinaard commented on #3058
I had a similar issue before with exactly that KeyError for importing the conftest.py.

I fixed it with the following command:
`find . -name \*.pyc -delete`

[2018-01-21 22:45] tgoodlet commented on #2171
@nicoddemus yeah close it if it it helps with your checklists.
I'm way down a different rabbit hole atm and probably won't get back to this in the near term.

[2018-01-22 01:23] nicoddemus opened #3138 "Include the name "pytest" somewhere in the cache directory name"
As commented by @nedbat on [twitter](https://twitter.com/nedbat/status/955080497000013824):

People in that thread agreed with the sentiment.

[2018-01-22 06:11] RonnyPfannschmidt commented on #2884
for now it should stay here since it happens for the pytest repo

[2018-01-22 10:30] ersuniljoshi opened #3139 "pytest cache is empty inspite of that "--lf" option execute all the cases"
Use Case:
1. I have a huge Web automation suite(and yes with flaky test cases).70k test case execution per week.
2. There are some random failures and I want to rerun them and Voila we have a wonderful feature of --lf
3. Now My all test case got passed in third rerun but note I have 4th rerun also with --lf option.
4. 4th Rerun picks all the test case back again. Driving me crazy.

[2018-01-22 10:31] ersuniljoshi commented on #3139
![Uploading Screen Shot 2018-01-22 at 4.00.51 PM.png…] (Discussion on IRC #pylib)

[2018-01-22 11:00] RonnyPfannschmidt commented on #3139
the current version of the `--lf` flag is intended at developers, with the inception of the feature, ever since the firs versions in `pytest-xdist` it was considered as a win, to run all tests when no failure was know

this is no longer true for ci usage with bigger testsuites, since there a different focus is desires

a discussion about sound solutions is needed as there is various ways to approa

[2018-01-22 13:48] fontealpina opened #3140 "Customize test id on the terminal report"
Running pytest with -v option, I am obtaining an output of this type:
`ToolTest/test/bug_001/test.py::TestBug001::test_bug_001 <- test.py PASSED`
I would like to customize the test id, e.g. removing `<- test.py ` to get:
`ToolTest/test/bug_001/test.py::TestBug001::test_bug_001 PASSED`

To do this, I tried to write a plugin with the hook:
`def pytest_runtest_logstart(nodeid, location):`
but seems t

[2018-01-22 15:54] benjaminweb commented on #647
if `pudb.set_trace()` is called from a test function, pytest should set the options ` -s --capture=no`.
Or at least elicit a warning indicating the user would want these command line switches to make pudb work.

If I had learned about these switches earlier, I would have used pudb earlier — which I sincerely wished! I consider this to be essential.

If nothing seems reasonable, a mention in the do

[2018-01-22 17:33] RonnyPfannschmidt commented on #647
@benjaminweb pdb is explicitly supported since its in the stdlib - other debuggers added support code for pytest (pdbpp), or pytest plugins where written (pytest-ipdb) for example

also pytest supports declaring a pdb class, in which case pytest.set_trace is invoked does the pytest support and defers the rest to the actual debugger

also the cli options are unrelated to debugger integration, using

[2018-01-22 18:36] raphaelcastaneda commented on #3130
Thanks for looking this over @nicoddemus. I've updated the usage documentation. Please let me know if you'd like any additional changes.

[2018-01-22 19:45] #2457 closed

[2018-01-22 19:51] thisch commented on #647
@RonnyPfannschmidt is the pytest pdb class stuff mentioned in the docs somewhere? I've only found https://docs.pytest.org/en/latest/usage.html#setting-breakpoints, which only mentions the stdlib pdb module.

[2018-01-22 20:00] #2423 closed

[2018-01-22 20:01] #2171 closed

[2018-01-22 20:02] #2698 closed

[2018-01-22 20:04] nicoddemus commented on #3134
Hi @horta,

I think it will work if the zipped module is in the PYTHONPATH and you use the `--pyargs` to pass the full qualified package name of the test modules.

[2018-01-22 20:09] nicoddemus commented on #3128
For zip files to work you need to add the path to the *zip file* in the PYTHONPATH, not the path to the *directory that contains the zip file*. IOW, your PYTHONPATH should contain `"/home/My_Project/outputs/package_a.zip"` and `"/home/My_Project/outputs/package_b.zip"`.

Furthermore, for pytest to be able to import those tests files you will need the `--pyargs` argument so pytest imports your file

[2018-01-22 20:13] nicoddemus commented on #3139
For the OP's exactly problem we might consider adding a new configuration option that makes `--lf` not run *any* tests if its failed cache is empty.

This is also useful on the command-line: when I start fixing tests incrementally using `--lf`, where I fix a few tests and then run `pytest --lf -x` again to see what tests fail next, I always hit CTRL+C when I see the `"no previous failures, running

[2018-01-22 20:14] nicoddemus commented on #3139
Which is not to say that we should abandon the idea of how to reuse the failed cache across runs in different CI workers; it is just that IMO those are two separate things.

[2018-01-22 20:17] nicoddemus commented on #3140
Hi @fontealpina,

This is the code responsible for adding that `<-`:

https://github.com/pytest-dev/pytest/blob/0d96a5bf9059e51324ac24ec24d68af1c35db6d8/_pytest/terminal.py#L507-L512

So it seems the collected node and the actual path are different, which might indicate some other problem or can be fixed in some other way.

Can you provide a reproducible example?

[2018-01-22 20:27] benjaminweb commented on #647
[pytest-ipdb](https://github.com/mverteuil/pytest-ipdb) is no longer maintained.

@RonnyPfannschmidt so, the lacking pudb integration is due to that pudb seems not to declare a pdb class? can we verify this and delegate the issue if applicable to them? Ah, I see there is already an issue pending: https://github.com/inducer/pudb/issues/221

What needs to be done to get the implementation with pytes

[2018-01-22 20:28] nicoddemus commented on #3130
Thanks @raphaelcastaneda. The PR LGTM and I've approved it, let's wait a few days to give the other maintainers a chance to review as well.

[2018-01-22 20:35] nicoddemus opened #3141 "Add docs and examples for the '--pdbcls' option"
From https://github.com/pytest-dev/pytest/issues/647#issuecomment-359544017.

[2018-01-22 20:36] nicoddemus commented on #647
@thisch indeed the `--pdbcls` option is not mentioned anywhere in the docs, created #3141.

[2018-01-22 20:38] nicoddemus commented on #647
inducer/pudb#224 suggest this has been done already. cc @inducer

[2018-01-22 21:37] fontealpina commented on #3140
Hi,
actually I added a plugin to modify the root dir path:
[code]
My target would be use the cwd as rootdir instead of using the common ancestor directory.
I tried this solution and seems to work apart the ` <- test.py` shown in the terminal.
Maybe can I get this in a different way?
Thanks again

[2018-01-23 00:13] numirias opened #3143 "How to correctly run pytest.main() programmatically multiple times?"
If I invoke `pytest.main(['test_foo.py'])` multiple time from the same running script, it will give the same result, even if `test_foo.py` changes between the runs. (This was also observed in #793.)

But then what is the *correct* way to rerun pytest programmatically? Could you point me to an example? Starting it in a subprocess feels quite clunky and also makes it more cumbersome to process the r

[2018-01-23 00:30] inducer commented on #647
inducer/pudb#224 just concerns passing on exceptions correctly. I haven't tested debug-on-test-fail with pytest and pudb, so I don't know whether it works as intended. (Although I *am* a heavy user of pytest, so thank you!)

[2018-01-23 07:01] RonnyPfannschmidt commented on #3143
python modules cache in side the same process and due to this property of python its not advisable to run pytest.main twice from the same process

while there may be exceptions to that rule, in general its more safe to run a new process since python is not safe for code reloading

[2018-01-23 11:24] nicoddemus commented on #3143
I agree, we should just add a note to the docs regarding that.

[2018-01-23 12:57] feuillemorte opened #3144 "Exit exception"
We need to except Exit before this part of code:

https://github.com/pytest-dev/pytest/blob/0d96a5bf9059e51324ac24ec24d68af1c35db6d8/_pytest/main.py#L110-L116

and pass a message to xdist module

it needed for xdist:
original task:
https://github.com/pytest-dev/pytest-xdist/issues/86

I'm ready to create pull request, but I don't know how to pass a message to xdist module, Please, give me an advic

[2018-01-23 16:14] horta commented on #3134
Hi @nicoddemus Thanks for the answer =)
It worked using that approach with zipped installation. I will soon post the recipe I'm using.

Interestingly, it does not work when I install a package from the project folder via "python setup.py install" but that might be a setuptools problem....

[2018-01-23 16:19] nicoddemus commented on #3134
Strange. Can you import the project package using Python? For example `python -c "import app.tests.test_foo"`?

[2018-01-23 16:21] P-EB opened #3145 "Understanding an IOError"
Hi,

I'm packaging for debian some pytest extensions. I submitted a bug to pytest-httpbin  (see here: https://github.com/kevin1024/pytest-httpbin/issues/47), regarding some issues with their tests.

Yet, I'm also trying to understand what is going south by myself, and for now, I totally fail at it.

Here's an error I got recently while building the package:

[code]

The full test log is here:

[co

[2018-01-23 16:22] horta commented on #3134
Here are the tests I did: https://asciinema.org/a/WOUQFQU5pjxuKcNg3mCVHXqjv

[2018-01-23 16:24] horta commented on #3134
Recipe

[code]

[2018-01-23 16:48] nicoddemus commented on #3134
@horta it seems `python setup.py install` is installing an `egg` file (at `1:16`).

Please try installing with:

[code]

instead.

[2018-01-23 16:54] nicoddemus commented on #3134
Actually I believe the recommended command nowadays is:

[code]

Which will also do the "correct" thing.

[2018-01-23 18:23] hynek opened #3146 "Conditional dependencies use a deprecated format"
Let me start with the problem: installing `pytest` using the currently heavily pushed `pipenv` on Python 2 is subtly broken (funcsigs is missing in lock files), because they can’t handle the way conditional dependencies are currently set (extras_require).

The currently blessed way to encode them is [PEP 508](https://www.python.org/dev/peps/pep-0508/) and it would be great if `pytest` could switch

[2018-01-23 18:44] horta commented on #3134
It works by doing

[code]

[2018-01-23 18:44] nicoddemus commented on #3146
Hey @hynek thanks for reporting this.

IIUC we should be using `install_requires` with the conditional markers, correct? If so it seems we are already doing this:

https://github.com/pytest-dev/pytest/blob/0d96a5bf9059e51324ac24ec24d68af1c35db6d8/setup.py#L69-L74

With `get_environment_marker_support_level()` being:

https://github.com/pytest-dev/pytest/blob/0d96a5bf9059e51324ac24ec24d68af1c35db6d

[2018-01-23 18:47] nicoddemus commented on #3134
OK @horta thanks for confirming.

I believe the `egg` format is deprecated so we don't plan to support it on pytest (I couldn't find any references on the web about this though, @RonnyPfannschmidt might be able to shed some light here).

[2018-01-23 18:54] hynek commented on #3146
Hmm, this is super weird then. *scratches head*

In case you wanna try it yourself, try `pipenv install --two pytest` and look at the lock file.

Looks almost like they handle both cases wrong. I guess I’ll have to investigate some more.

[2018-01-23 19:02] nicoddemus commented on #3146
Hmm that's weird, I did `pipenv install --two pytest` and `funcsigs` appears in my `Pipfile.lock`:

[code]

Here's my `pip list`:

[code]

Notice that `setuptools` is `38.4.0`, perhaps that's why it worked for me?

[2018-01-23 19:22] nicoddemus commented on #3140
Indeed, that's #1642 and #3127. 😉

I'm closing this for now, feel free to ask any follow up questions though.

[2018-01-23 19:22] #3140 closed

[2018-01-23 19:24] hynek commented on #3146
Oh god.  I have double-checked and I have 38.4.0 both in the pipenv virtualenv and in the virtualenv that is created by pipenv.

My Pipfile.lock looks like this:

[code]

could I see yours?

Could you run `pipenv install --two pytest` in an empty directory so you get a fresh virtualenv?

[2018-01-23 19:52] nicoddemus commented on #3144
Hi @feuillemorte thanks for looking into this.

This is somewhat more complicated than I expected because we have some moving parts to deal with.

We need to make `_pytest.main.py` catch `_pytest.outcomes.Exit` explicitly and in that case return a new error code: `EXIT_PYTEST_EXIT=6`, meaning that an explicit call to `pytest.exit(msg)` has been made.

Together with the new exit code, I suggest we

[2018-01-23 19:56] nicoddemus commented on #3145
Seems similar to #2370, at least the symptom. Can you try passing `-s` to `pytest` to see if the problem goes away?

[2018-01-23 19:57] nicoddemus commented on #2370
Closing for now due to lack of feedback, but we can reopen this later if new information comes along.

[2018-01-23 20:04] nicoddemus commented on #3146
Sure, here's the output of my `pipenv install`:

[code]

And here is my `Pipfile.lock`:

[code]

Here's my `pipenv graph`:

[code]

[2018-01-24 02:53] alanbato commented on #3138
Hey! I'll try to take this on if you don't mind :)

[2018-01-24 08:28] hynek commented on #3146
The hell is going on. 😳

I just tried it with `docker run -it python:3 bash` and got the same behavior as on macOS with

[code]

So…it’s a thing that only works on Windows? 🤯

***

I guess feel free to close this issue since this clearly isn’t the Pipenv bug tracker an I already regret getting into this topic.

[2018-01-24 09:30] rajivgup commented on #1682
I still see the status of this issue is open. Is this change committed?

[2018-01-24 09:39] nicoddemus commented on #3146
Well OK, thanks @hynek for delving into it anyway. 👍

[2018-01-24 09:39] #3146 closed

[2018-01-24 09:41] nicoddemus commented on #3138
Awesome. I took a quick look at the code and keeping backward compatibility might be too tricky; if it proves itself too complicated don't mind about it, the cache is supposed to be data that might get lost eventually anyway.

[2018-01-24 09:44] nicoddemus commented on #1682
It has not been implemented yet if I understood your question correctly (usually when something gets implemented we close the issue with a link to the related PR).

[2018-01-24 09:45] nicoddemus commented on #1682
@itaykatz

Not that I'm aware of, I'm afraid.

[2018-01-24 11:34] P-EB commented on #3145
I'll give it a try.

Thanks

[2018-01-24 11:39] P-EB commented on #3145
I'll have to run the packaging multiple times as it's non-deterministic, maybe it'll take a while.

Sorry for the randomness. :(

[2018-01-24 12:17] P-EB commented on #3145
16 builds passed without any error.

What are the cons of the -s option if any?

[2018-01-24 12:38] nicoddemus commented on #3145
`-s` only disables stdout/stderr capturing, the only downside is that `print()` and writes to stdout/stderr will appear in the middle of the test run, nothing critical really.

[2018-01-24 13:03] P-EB commented on #3145
That's fine with me. I think you solved all my issues. Thanks!

I'll leave it open for a little while (let's say a week), and come back at you if I see anything relevant.

Cheers!

[2018-01-24 14:03] P-EB commented on #3145
@nicoddemus maybe you should remove the bug tag? :)

[2018-01-24 14:06] nicoddemus commented on #3145
If you don't mind I will close this for now, and we can re-open if you see anything relevant that demands some action on pytest's side. 👍

Yep thanks 😁

[2018-01-24 14:06] #3145 closed

[2018-01-24 23:17] will133 opened #3149 "Is there a way to run doctests and continue on failure?"
Say you have a file named t.py:

[code]

When I run this, I would get:

[code]
However, when I run with pytest, I would only get the first failure:

[code]

I've tried to dig through all the options form the documentation but I wan't able to figure it out.  Is there a way to have pytest report all the failures at once?  Otherwise I'd have to fix the failures one by one, which gets tedious.  I trie

[2018-01-24 23:38] nicoddemus commented on #3149
Hi @will133 thanks for reporting this.

It seems like this is a bug in pytest and I don't know of any workaround, I'm afraid. 😕

[2018-01-25 14:59] iqianxing opened #3151 "pytest run testfiles with same name in different directory will fail"
Thanks for submitting an issue!

Here's a quick checklist in what to include:

1. The console output like below:
[code]
2. The test files recongalize like below:
![image](https://user-images.githubusercontent.com/2938263/35394759-80cbee10-0223-11e8-809e-dc1de3cc0ff5.png)

[2018-01-25 15:01] iqianxing commented on #3151
My project is an example: https://github.com/iqianxing/unittest-demos.git

[2018-01-25 15:08] nicoddemus commented on #3151
Ho @iqianxing, this is happening because your test files have the same name in two different directories, and they are imported into the global namespace because there's no `__init__ files; there's a more detailed explanation [in the docs](https://docs.pytest.org/en/latest/pythonpath.html).

In this case you can either create `case/__init__.py` and `pytest/__init__.py` files or rename the test fil

[2018-01-25 18:53] brianmaissy commented on #985
@nicoddemus what do you think?

Alternatively, if this isn't worth the time (and only happens on mac for some reason) we can just call it a known issue and xfail the test on mac

[2018-01-25 20:04] brianmaissy commented on #2057
This seems unnecessary now that `pytest.raises` takes the `match` keyword, I recommend to close.

[2018-01-25 21:23] brianmaissy commented on #3139
Should it be a configuration option or the new default behavior? Is it likely that people rely on the current behavior to run all of the tests?

If it should be an option, how's `--stop-when-none-failed` for a name? (with store_true behavior). Is it accepted to have many-letter aliases like `--snf`?

in any case happy to implement it

[2018-01-25 21:28] brianmaissy commented on #3138
Awesome idea! +1

[2018-01-25 21:46] brianmaissy commented on #3114
But if I understand correctly, renaming the folders would still be the best workaround, right?
Is there a reasonable way to go about solving this?

[2018-01-25 22:51] brianmaissy commented on #3084
I'll take this.

Just so I understand the full picture, why do we want to deprecate this? Are there implementation considerations, behavioral considerations, or just for good organizational practice?

[2018-01-26 02:07] satishmovvar commented on #2846
@nicoddemus @kchomski-reef, All,

I seems to have a use case where I wanted to control how the tests get created with parametrized fixtures; The main reason I need this feature is because my test results are dependent on previous test result. At time I need to save previous tests result and then compare it

I want to sequence the tests in a predictable order as originally described in this issue e

[2018-01-26 07:00] mikeage opened #3154 "Question: is there any way to get durations of fixtures using a pytest hook"
Like it says in the title :)

I can measure the time in the actual test using
[code]
And I can get the entire setup time by checking `report.when == 'setup'` and `teardown`. But this represents all the fixtures that ran, which is (a) not granular enough for my purposes and (b) not accurate if I want to calculate how long a test with a session, class, or module scoped fixture would run if it had to

[2018-01-26 10:04] RonnyPfannschmidt commented on #3154
there is no reporting yet for fixtures, you can put a hookwrapper around the `pytest_fixture_setup()` hook for now

[2018-01-26 10:29] RonnyPfannschmidt opened #3155 "plan and implement the change of empty_parameterset values"
followup to  #3044

plan and implement the deprecation time line for switching the default of empty_parameterset from skip to `xfail(run=False)` over the course of the next few feature releases

[2018-01-26 10:34] mikeage commented on #3154
Thanks. Maybe I'm missing something, but how would I use pytest_fixture_setup() to know when the fixture finishes? Will the next (significant) event be pytest_fixture_setup() again and/or pytest_runtest_logreport with when=setup? [I don't need perfect precision; +/- 100ms would be far more than enough, and even +/- 1 second wouldn't be too bad.]

Any suggestions for capturing the timings of the fi

[2018-01-26 10:36] RonnyPfannschmidt commented on #3154
@mikeage by using a hookwrapper you can track the time from between and after the yield to run the rest of the hooks - its not as accurate as desired, but the most accurate you can get right now

[2018-01-26 10:38] RonnyPfannschmidt commented on #3084
@brianmaissy `pytest_plugins` always has global effects, so plug-ins added somewhere in a directory tree leak to the complete project, which is undesirable and  source of hard to comprehend bugs

[2018-01-26 10:41] mikeage commented on #3154
Gotcha... thank you!

[2018-01-26 10:41] #3154 closed

[2018-01-26 10:44] RonnyPfannschmidt commented on #3114
@brianmaissy currently the correct way to do this is indeed to rename the folder, its a python limitation and pytest would have to invent a customized import system to support the layout as you have it

[2018-01-26 10:49] RonnyPfannschmidt commented on #2057
indeed, thanks for bringing it to attention

[2018-01-26 10:49] #2057 closed

[2018-01-26 10:51] RonnyPfannschmidt commented on #2774
i was typically experiencing hangups when just using my normal testing virtualenv with pexpect availiable, (pexpect using tests would hang, i didnt yet verify against #3116

[2018-01-26 10:53] #3013 closed

[2018-01-26 10:56] nicoddemus commented on #3114
Oh OK, so my previous assessment about the problem being the modules starting with a number was correct?

Hmmm this is weird, just tried and actually it is possible to import modules that start with numbers:

[code]

[2018-01-26 11:17] mikeage commented on #3154
For future reference, if anyone else finds this, this code worked perfectly:
[code]

[2018-01-26 11:18] RonnyPfannschmidt commented on #3114
@nicoddemus pylib checks for importability using rules matching the syntax instead of what internal calls accept

[2018-01-26 12:10] RonnyPfannschmidt commented on #3154
thanks for providing this example, its extremely helpful for others facing the same problem

[2018-01-26 12:19] nicoddemus commented on #3114
Oh OK that explains it. 👍

I guess we can close this issue then?

[2018-01-26 12:22] #3114 closed

[2018-01-26 12:24] feuillemorte commented on #3085
I take it

[2018-01-26 12:26] RonnyPfannschmidt commented on #3085
@feuillemorte this one cant be done/merged unless we do a major release

[2018-01-26 12:30] feuillemorte commented on #3085
ok. then let me know when I can take it, please :)

[2018-01-26 12:32] nicoddemus commented on #3085
This is scheduled for `4.0` (see the Milestone link on the right panel), so this will need to wait a bit. 👍

[2018-01-26 13:50] satishmovvar commented on #2846
Below is a little more concrete scenario why my tests are need to be in a particular sequence->
I am testing volume function on an amplifier. I need to if the volume change has changed the output gain; I have different speakers outputs to test across. The order of fixture usage/test I want to control so that I can predict the outcome and compare the test result of previous settings the code execut

[2018-01-26 15:05] iqianxing commented on #3151
@nicoddemus Thank you!

[2018-01-26 15:05] #3151 closed

[2018-01-26 17:11] kddubb commented on #2895
👍

[2018-01-26 18:06] merwok commented on #2926
FIW pip-compile from the https://github.com/jazzband/pip-tools project can handle this kind of situtations.

[2018-01-27 03:21] ceridwen commented on #519
I have a test suite where I have to run some very expensive configuration before running all the tests, and the set of possible configurations is the Cartesian product of modes that are fixed with versions that I need to be able to pass in at run-time.  I'm currently using a session-scoped fixture that's parametrized only by the modes, and I need to extend it to be parametrized by the versions too

[2018-01-27 08:46] thedrow opened #3157 "Parameterized test with a bytes value raises an exception on teardown"
The bug happens on Python 3.6. I'm using pytest 3.3.0.
You can see the traceback [here](https://travis-ci.org/python-odin/odin/jobs/334040755#L621).

I'm not able to reproduce this bug locally, probably due to a locale setting difference between my computer and Travis-CI.

The bug happens when a parameterized tests uses a bytes sequence as a parameter.

This is not a severe bug since adding an ids

[2018-01-27 11:55] nicoddemus commented on #985
@brianmaissy I think this is the way to go, at least until someone can dedicate some time to nail this down.

[2018-01-27 12:03] nicoddemus commented on #3139
Personally I would like to change the current behavior so it just stops with "success" after no more failed tests are left to run, but we probably want to introduce an option to fallback to the current behavior because I can imagine a scenario where users implemented a way to share the `lastfailed` cache between CI computers and are always running with `--lf` all the time; in that scenario they pr

[2018-01-27 12:09] nicoddemus commented on #3138
Fixed by #3150

[2018-01-27 12:09] #3138 closed

[2018-01-27 12:55] nicoddemus commented on #3155
Not very nice of @pytestbot to remove labels like that... 😕

[2018-01-27 14:37] nicoddemus commented on #3109
Hi @Drew-Ack sorry for the delay.

It's not possible to change `testpaths` during `pytest_configure` because by the time `pytest_configure` has been called the `testpaths` options has already been used by pytest's collection mechanism.

If you want an alternative, I suggest using the `k` option instead to filter based on the tests names.

[code]

Another approach would be to implement a [`pytest_c

[2018-01-27 14:53] nicoddemus commented on #3052
Hey guys sorry for the delay, this got lost in my TODO list.

`git blame` of the code @brianmaissy quoted shows that it was introduced in 4fa7a2e8ceaa8819964ecfc0a44665f78b4d0fb3 as part of #128, but I think the handling of stdout when entering pdb is handled by `_pytest/debugging.py`.

When `set_trace()` is called, this code stops capturing but seems to thrown away:

https://github.com/pytest-dev

[2018-01-27 20:58] brianmaissy commented on #3139
ok cool. how should we call the option? --run-all-tests-when-none-failed-or-no-cache seems a bit wordy

[2018-01-27 21:00] brianmaissy commented on #985
k, ill open a PR

[2018-01-27 21:03] brianmaissy commented on #3084
ah i see, makes sense

[2018-01-28 13:21] nicoddemus commented on #519
@ceridwen I think the proper way to define fixtures dynamically based on command-line variables is demonstrated in https://github.com/pytest-dev/pytest/issues/2959#issuecomment-347458695. Does that solve it for you?

[2018-01-28 13:35] jlevertov commented on #3128
Hi,
Tried what @nicoddemus told me to do with the '--pyargs' flag, it did not work.
nicoddemus, I think you misunderstood my problem a little. The tests **are collected and tested** when I activate pytest using `os.system` command, but not when using the `pytest.main` function.
Furthermore, my zip files are added to the PYTHONPATH and work when I add the folder containig them, but I also tried to

[2018-01-28 14:04] RonnyPfannschmidt commented on #3157
#2583 introduced it and fixed in #2957

[2018-01-28 14:07] RonnyPfannschmidt opened #3160 "ensure we no longer generate badtest ids"
followup to  #2969

we do generate test ids with various nonprintable charaters, this has led to the issue fixed in #2969

however this also means the env vars in some cases has a completely wrong test id that does not match the real test id

we should ensure consistency there

[2018-01-28 15:18] nicoddemus commented on #3157
@thedrow please update pytest and let us know if you still have this problem

[2018-01-28 15:18] #3157 closed

[2018-01-29 08:08] RonnyPfannschmidt commented on #3155
lets see how it fares in future - @sils can you take a look on what prompted it and how it will learn

[2018-01-29 08:08] RonnyPfannschmidt commented on #3155
closed by #3044

[2018-01-29 08:08] #3155 closed

[2018-01-29 08:41] sils commented on #3155
@RonnyPfannschmidt I'm fairly sure this is a race condition between you and the bot, I'm assuming you added the labels after opening the issue?

The bot uses the information from the webhook and doesn't always refresh because we can only use so many API requests.

We use locks internally to not have the bot do that to itself but then humans come around ;). I'll look into how we can improve on that

[2018-01-29 10:16] nicoddemus commented on #3155
@sils you are right, @RonnyPfannschmidt updated the labels at 8:29 and the bot changed the labels at 8:30. 👍

[2018-01-29 10:21] sils commented on #3155
I opened https://gitlab.com/gitmate/open-source/IGitt/issues/104 for this, thanks for pinging me :) keep doing that, the more feedback we get, the better.

[2018-01-29 10:46] nicoddemus commented on #3052
@brianmaissy I didn't take a good look at the code, but your suggestion seems reasonable.

[2018-01-29 18:04] nicoddemus commented on #3139
I was thinking in terms of an enumeration rather than a bool value, something like `lastfailed_no_failures_behavior=stop/runall`, but this also seems wordy. Suggestions are welcome. 😛

[2018-01-29 18:28] will133 commented on #3149
I ran a debugger in the two cases and it seems like in _pytest/doctest.py it would uses doctest.DebugRunner instead of the testmod() case which uses the doctest.DocTestRunner.  The DebugRunner would raise an exception when it calls the self.report_failure().  In such case it would not continue to run the rest of the examples.  The DocTestRunner would output the Expected/Got failure but would not r

[2018-01-29 18:33] nicoddemus commented on #3128
Hi @jlevertov,

I managed to reproduce your issue I think:

I created two zip files (although only one should be sufficient), then I added the full path to them to `PYTHONPATH` and I get this output:

[code]

This happens regardless if I use `pytest.main()` or `os.system` (I took care of moving the original *directories*  `package_a` and `package_b` to somewhere else so they don't get picked up by

[2018-01-29 18:35] #3134 closed

[2018-01-29 18:35] nicoddemus commented on #3128
This is a duplicate of #1445

[2018-01-29 18:45] jlevertov commented on #3128
@nicodedemus

In my case the tests do run for os.system command and I get a totally different error than what you got. The packages do have init.py in them, they are found when needed.

[2018-01-29 18:51] nicoddemus commented on #3149
I'm not sure, indeed one of the differences between those is that `DebubRunner` indeed stops at the first failure, while `DocTestRunner` accumulates statistics. Perhaps it is worth a try to see how it goes?

[2018-01-29 18:53] nicoddemus commented on #3128
Well I'm on Windows, perhaps it is related to that (although looking at the code I can't really see how). Perhaps you can package a zipfile with all the files required to reproduce your problem? I would be happy to give that a go to see if I can explain the discrepancy between our runs, although pytest doesn't support importing test files from zipfiles at the moment AFAIK.

[2018-01-29 19:34] ceridwen opened #3161 "Scope of session fixtures broken when created dynamically"
This is a continuation of the discussion in #519 and #2959, and it may be related to one or both of those issues.  I have a test suite where I have to run some very expensive configuration before running the entire test suite, and the set of possible configurations is the Cartesian product of modes that are fixed with flavors that I need to be able to pass in at run-time.  Using the example @Ronny

[2018-01-29 19:35] ceridwen commented on #519
Unfortunately, not quite, see #3161.  I'm starting to suspect there's a more fundamental bug lurking here.

[2018-01-29 19:58] will133 commented on #3149
It seems like the `DoctestItem`'s runtest would call `self.runner.run()`.  This in the case of `DebugRunner` would raise a `doctest.DocTestFailure` when the example would fail.  By the time it gets to `repr_failure()` for `DoctestItem` (which test the `excinfo` for `doctest.DocTestFailure` to report the error), the execution is already short-circuited.

I'm not sure how to make it work properly.

[2018-01-29 21:13] ceridwen opened #3163 "Pytest internal error due to infinite recursion on final test"
The exact logging output with some environment variables specific to our setup snipped:

[code]

There are five tests in that last file:

[code]

The last two tests are identical.  They share a fixture that uses `contextlib.ExitStack`.  They've been run many, many times before and I've never seen this happen.

Pytest in this case is running inside a Docker container on a Jenkins server.   The cont

[2018-01-30 01:35] d-b-w commented on #3114
Yeah, I'm happy with a close here, too.

[2018-01-30 12:55] frexvahi opened #3164 "TypeError with pytest.approx on nested dictionaries"
[code]

[code]

Pytest 3.3.2 on python 3.6.4 (Anaconda)
Ubuntu 16.04

[2018-01-30 13:22] The-Compiler commented on #3164
That seems expected to me.

[2018-01-30 13:29] peterghrol commented on #3020
try "Long Path Tool" it's helpful. Hope this helps :)

[2018-01-30 13:54] RonnyPfannschmidt commented on #3164
we should perhaps raise a better error message

im reasonably sure that `assert {'a': {'b': 0.2 + 0.1}} == {'a': {'b': pytest.approx(0.3)}}` should be workable (with maybe some rough edges)

does anyone want to try?

[2018-01-30 13:56] tom-dalton-fanduel commented on #2042
For anyone finding this page as a result of it being the first search result for a combination of the error message text and 'tox', there is a tox document with some suggested fixes. I hope that by putting this not here, others will be saved the frustrating day experience I've had trying to fix this issue with tox/pytest interaction and importable tests.

The section "installed-versus-checkout ver

[2018-01-30 14:16] The-Compiler commented on #3164
I think it'd be quite unusual to do additional type checking here ([EAFP](https://docs.python.org/3/glossary.html#term-eafp) applies :wink:). You'll probably get similar error messages if you do `pytest.approx({'a': None})` or whatever.

[2018-01-30 21:04] nicoddemus commented on #3164
Recursively comparing dictionaries might get tricky I think.

[2018-01-30 22:06] Audace opened #3165 "Test with Celery task unable to see database commits"
Thanks for submitting an issue!

Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
I'm unable to view database actions in a Celery task from my pytest test function. I imagine it's related to transactions, but can't nail it down despite setting `transaction=True` in the pytest marker.
- [x] `pip list` of the virtual environment you are usin

[2018-01-30 22:10] #2147 closed

[2018-01-30 22:10] #2527 closed

[2018-01-30 22:56] nicoddemus opened #3168 "Officially support py37"
Support py37 officially when the first beta is out.

- [ ] Remove it from "allowed failures" in Travis;
- [ ] Add the 3.7 classifier to `setup.py`

Related to #3167

[2018-01-30 23:05] #3165 closed

[2018-01-31 00:17] edmorley commented on #3107
For anyone who arrived here from the changelog, the fix for this landed in #3108.
(This issue can now be closed)

[2018-01-31 00:28] nicoddemus commented on #3107
Thanks @edmorley!

[2018-01-31 00:28] #3107 closed

[2018-01-31 05:59] fruch opened #3169 "How to return from hookwrapper in python < 3.3"
I have a warning that ___multicall__ is deprecated, so I have to change the code I have
[code]
to this code:

[code]

problem python < 3.3 doesn't support returning from a generator, so how am I supposued to return a modified result ?
changing the object in-place would be enough ?

[2018-01-31 06:07] fruch commented on #3169
after looking at `skipping.py` seem like changing in place does work.

but that's the way to return anything in python < 3.3

[2018-01-31 07:21] sfdye opened #3170 "[pytest 3.4.0] 'NoneType' object has no attribute 'testscollected'"
Our project depends on `pytest-django` which has a dependency on pytest (>=2.9). After pytest was upgraded to the latest version **3.4.0**, all of our tests failed on CircleCI.

If I revert back to pytest==3.3.2, the tests will pass again.

Is there something new breaking the build?
https://docs.pytest.org/en/latest/changelog.html#changelog

Here is the full stack trace:

Test session starts (plat

[2018-01-31 08:04] codingjoe opened #3171 "BlockingIOError: [Errno 11] write could not complete without blocking"
OS: Ubuntu Trusty (travis-ci; container; sudo=false)
Python: 3.6.4  
xdist: n3

There isn't much I can explain, but that this happens to some, but not all our test groups. Happens only with the latest release.

### Exception
[code]

### requirements.txt
[code]

[2018-01-31 08:13] codingjoe commented on #3171
Never mind, happened in an older version too!

[2018-01-31 08:13] #3171 closed

[2018-01-31 09:00] nicoddemus commented on #3170
Thanks for the report, this is an incompatibility between pytest and pytest-sugar, Frozenball/pytest-sugar#133 is open with a fix.

Until a new pytest-sugar is released one solution is to pin pytest to 3.3.2.

I'm closing this for now but feel free to post further questions. :+1:

[2018-01-31 09:00] #3170 closed

[2018-01-31 11:12] Natim opened #3173 "Pytest internal error with last release on travis"
With py.test 3.4 NoneType has no attribute testcollected.

- https://travis-ci.org/Kinto/kinto/jobs/335549257
- https://travis-ci.org/mozilla/PollBot/jobs/335527508

[code]

[2018-01-31 11:13] Natim commented on #3173
Same issue with circle-ci: https://circleci.com/gh/mozilla/PollBot/411

[2018-01-31 11:13] nicoddemus commented on #3173
It seems you are using `pytest-sugar` correct? If so this is a duplicate of #3170.

[2018-01-31 11:14] Natim commented on #3173
Yes it is thanks.

Refs https://github.com/Frozenball/pytest-sugar/pull/133

[2018-01-31 11:14] #3173 closed

[2018-01-31 12:04] pawciobiel opened #3174 "pytest 3.4 breaks test with CherryPy - no attribute 'testscollected' & I/O operation on closed file"
So my test suite works fine with pytest 3.3.2 but fails with errors in pytest 3.4

- [ ] Include a detailed description of the bug or suggestion
INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "/home/pgb/venvs/py36_air/lib/python3.6/site-packages/_pytest/main.py", line 100, in wrap_session
INTERNALERROR>     session.exitstatus = doit(config, session) or 0
INTERNALERROR>   F

[2018-01-31 12:06] nicoddemus commented on #3174
At least the first problem seems to be a duplicate of #3170, this is an incompatibility between pytest and pytest-sugar.

[2018-01-31 12:13] pawciobiel commented on #3174
thanks

[2018-01-31 12:29] feuillemorte commented on #643
Good feature)) but how to count asserts? by parsing tests files? but in this case you can't be sure that all asserts was called

[2018-01-31 12:37] nicoddemus commented on #3174
Can you post some reproducible example about the other issue?

[2018-01-31 12:39] nicoddemus commented on #643
Probably the only way would be parsing, but TBH I don't see why showing the number of asserts would be useful...

[2018-01-31 13:00] feuillemorte commented on #643
@nicoddemus
btw, we can create plugin for pytest like "pytest aeerts" and create pythons.assert() function. In this case we can count asserts and add some features like "clever" assertions

[2018-01-31 13:12] nicoddemus commented on #643
What would be the advantage over pytest's assertion rewriting?

[2018-01-31 13:20] feuillemorte commented on #643
You can create functions for assertions diffirent types or behaviours, like assert objects A() == B()
And users can write custom assertions in easy mode
And also you can get number of asserts in the end on tests =)

[2018-01-31 14:21] nicoddemus commented on #643
And users can write custom matchers in easy mode

You can already do that by implementing the [`pytest_assertrepr_compare`](https://docs.pytest.org/en/latest/writing_plugins.html#_pytest.hookspec.pytest_assertrepr_compare) hook. 😉

Which TBH doesn't seem so useful specially if you have to give up using plain `asserts`, which is one of pytest's killer features. 😉

[2018-01-31 19:43] feuillemorte commented on #1478
Please, review:
https://github.com/pytest-dev/pytest/pull/3176

[2018-01-31 19:46] nicoddemus commented on #3161
Hey @ceridwen sorry for the delay.

I created a small example to reproduce your setup:

[code]

Running this in the latest `master` I get (cleaning up the output a bit for better legibility):

[code]

While in pytest 3.2.0 I get:

[code]

One aspect of the fixture caching is that only a single instance of a fixture can exist at any given time; for example if test requires fixture `foo` with `param

[2018-01-31 19:49] feuillemorte commented on #3085
ok. then let me know when I can take it, please :)

[2018-01-31 20:04] nicoddemus commented on #3149
@will133 sorry for the delay.

Your proposal of using a custom subclass of `doctest.DoctestRunner` which overrides `doctest.DoctestRunner.report_unexpected_exception` and `doctest.DoctestRunner.report_failure` to accumulate the errors seems feasible. Then, as you said, we would need to update `repr_failure()` to generate the failure text using the accumulated errors instead of using a single failu

[2018-01-31 20:08] nicoddemus commented on #3163
Looking at the traceback it indeed seems there is a recursion inside the `traceback.format_exception_only` method of the standard library:

[code]

What options are you passing to pytest? What happens if you pass `--tb=native`?

Also if you can produce a reproducible case it would be great.

[2018-01-31 20:12] nicoddemus commented on #3169
@fruch use [`outcome.force_result`](http://pluggy.readthedocs.io/en/latest/api_reference.html#pluggy.callers._Result.force_result) when changing in-place is not feasible/desired.

[2018-01-31 20:15] fruch commented on #3169
can you point to example of this api ?

[2018-01-31 20:17] nicoddemus commented on #3169
Sure, here: http://pluggy.readthedocs.io/en/latest/#wrappers

I'm opening a PR to add this to pytest's docs too.

[2018-01-31 20:19] nicoddemus commented on #3169
Opened #3177, please take a look.

[2018-01-31 20:45] nicoddemus commented on #3085
Will do thanks!

[2018-01-31 20:55] ceridwen commented on #3163
The exact options passed to pytest.main were: `['-k', 'not policy_1_6', '--junitxml', 'report.xml', '.']`  I will try rerunning this with `--tb=native`, though I haven't seen this error again so I can't really begin to guess at a reproducible cause.

[2018-01-31 21:16] fruch commented on #3169
I'm happy now, closing...

[2018-01-31 21:16] #3169 closed

[2018-01-31 21:55] nicoddemus commented on #3163
@ceridwen OK thanks.

Here's some code inside pytest which tries to find recursions in tracebacks:

https://github.com/pytest-dev/pytest/blob/89a55d85a9d30ef2a2394b3969fc7067f1c15b59/_pytest/_code/code.py#L329-L351

Your traceback seems to occur inside the builtin `format_exception_only` though, I'm just posting this here in case it helps you understand what might be causing this.

[2018-02-01 00:44] ceridwen commented on #3163
I took a look at the Python 3.6 bugs and changelog, so if this is a bug in CPython, it doesn't seem to have been reported before.  My best guess, though, is that pytest somehow created a traceback with a loop in it, and that when format_exception_only tries to print tracebacks with loops, it infinitely recurses.  Is it possible that could happen if pytest receives SIGTERM or some such?

The tests

[2018-02-01 01:02] cheezman34 commented on #3161
Here's a prototype for a test to add to testing/python/fixture.py

I'm happy to take a crack at fixing the ordering when I have a second.

    def test_dynamic_parametrized_ordering(self, testdir):
        testdir.makeini("""
            [pytest]
            console_output_style=classic
        """)
        testdir.makeconftest("""
            import pytest

            def pytest_configure(config

[2018-02-01 01:12] basak opened #3178 "tmpdir is magic, contrary to "explicit is better than implicit""
I was surprised to find the name `tmpdir` had magic behaviour even though I never imported that name into my namespace. This is contrary to everything else in Python, where names are always explicitly brought into to the namespace by the developer using an `import` statement, or are otherwise qualified by being accessed through such a name. I'd go as far as to claim that this magic behaviour is no

[2018-02-01 01:23] ceridwen commented on #3161
FWIW, here are the lightly edited logs from the real tests running on pytest 3.2.  The dicts correspond to reprovision calls.  @nicoddemus, it looks to me like my example is different from yours, because in yours all the combinations are only run once, for 4 total calls to reprovision?  In my example, though, reprovision runs many more times than that.  Let me try 3.4 and see what that does, thoug

[2018-02-01 02:26] ceridwen commented on #3161
As for @nicoddemus's example, in 3.4 the session-scoped fixtures run before every combination of parameters for every test, even for the parametrized tests that did not in the second run in my example (the vlan tests only run once for each test *function*, not each for parameter for each test function).

[2018-02-01 05:42] will133 commented on #3149
I have not checked in things for the pytest repo before, so please let me know what I'd need to change for the pull request.

[2018-02-01 09:57] nicoddemus opened #3180 "Support py37's new breakpoint() function"
Python 3.7 will have a new [breakpoint() function](https://www.python.org/dev/peps/pep-0553/) to enter the debugger and pytest should play well with it.

[2018-02-01 11:32] fschulze opened #3181 "3.4.0 logging changes break devpi tests"
The logging changes in 3.4.0 break devpi tests and I couldn't yet figure out why. I guess it has to do with the changes regarding log levels. I don't get any log records at all now. I haven't worked through the whole PR #3124 yet.

Shouldn't this have been a 4.0.0 with such incompatible changes? I mean, even the changelog says "incompatible changes".

[2018-02-01 11:44] nicoddemus commented on #3181
@fschulze did you see the section https://docs.pytest.org/en/latest/logging.html#incompatible-changes-in-pytest-3-4 in the docs? That should restore the log messages.

Perhaps, but in general we allow changing defaults between minor releases, given that introduce a warning between releases before actually changing the defaults.

But in the case of logging, we had to change the defaults because a l

[2018-02-01 11:50] nicoddemus commented on #3181
Great! 😁

[2018-02-01 12:16] nicoddemus commented on #3178
Hi @basak, thanks for writing.

Actually this behavior is not specific to `tmpdir`, but any pytest fixture. pytest automatically creates and injects fixtures in test functions based on the parameter names of those functions, you can read more about it [in the docs](https://docs.pytest.org/en/latest/fixture.html).

While it might seem magical at first, it is restricted only to test functions and on

[2018-02-01 12:49] basak commented on #3178
Thank you for the fast response.

On Thu, Feb 01, 2018 at 04:16:38AM -0800, Bruno Oliveira wrote:

I really like this fixture mechanism in py.test. It's not the fixture
mechanism itself that I'm calling magical. It's the way that fixtures
are namespaced. I'm not suggesting changing the fixture feature itself;
only the way that fixtures references are found in terms of namespacing.

I think the rel

[2018-02-01 12:59] nicoddemus commented on #3178
exactly what I'm suggesting.

Oh now it is clear, thanks for the clarification.

Perhaps you can write a new issue with a more former proposal? From the title and the discussion it is hard to grasp what the actual underlying proposal is.

FWIW I'm 👎 on the idea so far, but by all means we can open this for discussion.

[2018-02-01 18:43] jbrockmendel opened #3182 "Interactive pytest in REPL"
pytest's code-rewriting introduces a wedge between the test code I write and the test code that runs.  It would be helpful to be able to see the intermediate representation.  I'm imagining something like:

[code]

A motivating example is an attempt to implement something similar to [this](https://github.com/pandas-dev/pandas/blob/master/pandas/tests/indexing/test_coercion.py#L18):

[code]

I don't

[2018-02-01 19:28] cheezman34 commented on #3161
FYI, I think I've figured out the ordering issue.  Working on it now.

[2018-02-01 19:29] asottile commented on #3138
A bit unfortunate that I have to run around to every repository and `s/\.cache/.pytest_cache/g` in `.gitignore` due to this change.

I've at least automated this for repos I own using [all-repos](https://github.com/asottile/all-repos)

I used the following command:

[code]

[2018-02-01 20:36] The-Compiler commented on #3182
The only thing pytest rewrites is `assert` statements. You seem to talking about things like fixtures though, which are unrelated to any rewriting. You can however invoke a debugger (e.g. via `import pdb; pdb.set_trace()`) inside a test and explore things (or read the [docs](https://docs.pytest.org/en/latest/fixture.html#request-context)).

[2018-02-01 21:14] cheezman34 commented on #3161
https://github.com/pytest-dev/pytest/pull/3183

[2018-02-01 21:51] nicoddemus commented on #3138
Nice work on `all-repos`, I will be definitely giving it a go sometime soon. 👍

[2018-02-01 22:44] uSpike opened #3184 "Live logger error before 'when' is set"
Hi,

The live logger `_LiveLoggingStreamHandler` will emit messages in `emit()`:

[code]

If `self._when` is `None`, which may be the case before a test is actually started, this will raise an exception:

[code]

I ran into this issue with a plugin I created which emits log messages before the first test starts.  It's a pretty simple fix which I'm fine creating a PR for, but what should the text b

[2018-02-01 22:49] nicoddemus commented on #3184
Hi @uSpike, thanks for the report. I believe #3175, already fixes this though, can you give that branch a try?

[2018-02-01 22:59] uSpike commented on #3184
@nicoddemus it does seem that #3175 fixes the issue, thanks for linking me to that.

[2018-02-01 23:02] nicoddemus commented on #3184
Thanks, but lets keep this open because we don't have an issue to track this bug anyway. 👍

[2018-02-02 00:55] ceridwen commented on #3161
@cheezman34's pull request restores the pytest 3.2 behavior, which definitely helps, but there's still the question of how the dynamic fixture is interfering with the session-scoping of the fixtures such that in the second run it's switching back and forth between the flavors for every (parametrized) test, rather than running all of one flavor first and all of the other second, which would lead to

[2018-02-02 08:22] The-Compiler commented on #3178
Note that there's not actually anything injected into a Python namespace here. As far as Python is concerned, there's simply a function being called with an argument.

If you'd want the normal Python import semantics here, there are two solutions:

- Add some more magic to imitate the Python semantics. From a Python perspective, you now have an unused import and an argument shadowing that import,

[2018-02-02 08:51] The-Compiler commented on #643
@myoung8 Can you maybe elaborate why this'd be useful for you?

[2018-02-02 15:13] hynek commented on #3146
Quick question: what version did/does your pipenv run? It seems like the resolution is currently running in the pipenv python, not the venv python.

[2018-02-02 18:26] dsully commented on #1602
+1 - it's really hard to debug pytest output (especially with say copious SQLAlchemy logging).

[2018-02-02 19:13] #3011 closed

[2018-02-02 19:53] nicoddemus commented on #3161
AFAIK the ordering code is the place to look.

Session-scoped fixtures are destroyed while the tests are running if another instance of it is required by a test because of parametrization, so the old instance is destroyed to give place for a new instance (with the new parameters). This is the reason why pytest tries to order the tests to keep session-scoped fixtures switching between each test to

[2018-02-02 20:32] nicoddemus commented on #3146
I'm pretty sure that it is `9.0.3` (from my output in https://github.com/pytest-dev/pytest/issues/3146#issuecomment-359895036) because I installed a fresh `pipenv` just to do that test.

[2018-02-02 20:35] Sup3rGeo commented on #1830
Just needed this same functionality but surprised to know that, even though almost all alternatives discussed would be good enough for the job (at least for me), none was implemented.

It seems though that Python 3.7 onwards will have a null context manager that could be used in this case too:
https://stackoverflow.com/a/45187287

[2018-02-02 20:38] nicoddemus commented on #1602
Now that we have logging, I wonder if we can use `cli_log` together with an exclusive logger to attain this? For example, `-o log_cli=true -o log_name=pytest` (`log_name` does not exist) would print only messages from the `pytest` logger, which users are free to use for their own debugging purposes?

If this seams feasible, I can envision we having a `--pytest-log` option as shortcut for the above

[2018-02-02 20:59] hynek commented on #3146
I a word. I meant to ask what *Python* version. Sorry.

[2018-02-03 00:00] nicoddemus commented on #3146
Oh sorry, Python 2.7.13.

[2018-02-03 01:21] basak commented on #3178
On Fri, Feb 02, 2018 at 08:22:14AM +0000, Florian Bruhin wrote:

Agreed.

That magic would be in the implementation in pytest though. I think that
from a pytest user's perspective, it would be less magical.

It would indeed be an unused import and an argument shadowing that
import in the case of Python interpreting a module as-is, instead of via
pytest. This would most likely be in the case where

[2018-02-03 05:55] hynek commented on #3146
Thanks! That explains everything.

[2018-02-03 10:14] The-Compiler commented on #3178
I like the idea with the annotations. It could even be supported in a backwards-compatible way, by leaving fixture injection as it is, but using namespaced Python objects where there is an annotation.

In addition, if done carefully those can actually be valid type annotations for IDEs and things like mypy. It won't be available for legacy Python 2, but that seems fine to me.

As @nicoddemus sugge

[2018-02-03 13:17] basak commented on #3178
On Sat, Feb 03, 2018 at 02:14:58AM -0800, Florian Bruhin wrote:

Sure, but what should the new issue title be, and which part of the
discussion here should it cover?

[2018-02-03 18:27] The-Compiler commented on #1602
Hmm, that'd mean it wouldn't print by default though, right? I think the main motivation for this (at least from me, and judging from questions in IRC and other places, not only me) is to have an easy straightforward way to print something for debugging without having to set up things.

[2018-02-03 20:09] brianmaissy commented on #3053
This can probably be closed

[2018-02-03 20:30] nicoddemus commented on #3053
Thanks @brianmaissy for the ping! 👍

[2018-02-03 20:30] #3053 closed

[2018-02-05 09:04] #1810 closed

[2018-02-05 09:04] #3168 closed

[2018-02-05 11:12] RonnyPfannschmidt commented on #3178
"investigation and implementation of annotation supported fixture lookup/creation/parameterization"
off hand its not clear how to use it in detail, since recent peps restricted annotations, and keep restricting them even more (ultimately stored annotations will be unevaluated strings in upcoming python versions"

[2018-02-05 17:31] recursivelycurious commented on #2324
@RonnyPfannschmidt is this still an open issue? Looking for a good first time contribution.

[2018-02-05 17:37] s0undt3ch commented on #3184
https://github.com/pytest-dev/pytest/pull/3188

[2018-02-05 22:05] nicoddemus commented on #2324
@RonnyPfannschmidt you still think this would be useful? TBH I'm not sure it is worth doing...

@recursivelycurious great that you are looking for first contributions. We sometimes mark issues with the [easy label](https://github.com/pytest-dev/pytest/labels/status%3A%20easy) which are good candidates for a first contribution. 👍

[2018-02-06 09:48] RonnyPfannschmidt opened #3191 "give hints when an assertion value is None instead of a boolean"
sometimes beginners invoke code like `assert something_that_asserts_and_returns_none` and end up puzzled,

for reference see https://stackoverflow.com/questions/48152560/pytest-assert-has-calls-usage/48206730?noredirect=1#comment83395353_48206730

i believe it would be a nice and simple addition to give a hint in the case that a assertion value was None and this might be a misstake,

for clarity `

[2018-02-06 21:39] jrbenny35 commented on #3191
I would like to help with this, but would need some mentorship. Mainly with navigating the code base heh.

[2018-02-06 23:24] nicoddemus commented on #3191
Hi @jrbenny35, thanks for reaching out!

I don't know the intricacies of the assertion rewriting myself, but you can start digging around the `_pytest/assertion` directory.

For example currently a warning is issued when an `assert` is used with a `tuple` [here](https://github.com/pytest-dev/pytest/blob/71527072801b6d83db168996529be1e76ce96bc4/_pytest/assertion/rewrite.py#L733-L736).

While it is

[2018-02-07 01:48] jrbenny35 commented on #3191
@nicoddemus thanks for the tips.

I found this kinda weird print for the ```explanation``` that contains the error message.
[code]

It's a list as well. Any tips?

[2018-02-07 02:04] nicoddemus commented on #3191
@jrbenny35 where did you find that code? Was that output from a debug or is that code?

I have to go to bed, but meanwhile you might want to read how assertion rewriting works behind the scene: http://pybites.blogspot.com.br/2011/07/behind-scenes-of-pytests-new-assertion.html

[2018-02-07 02:21] jrbenny35 commented on #3191
It was found [here](https://github.com/pytest-dev/pytest/blob/506c9c91c0127e66944c4e357f43fa2a46916fa7/_pytest/assertion/rewrite.py#L754).

This ```explanation``` variable is what printed the lines above.

[2018-02-07 08:36] pawciobiel commented on #3174
No because after removing pytest-sugar it doesn't appear anymore.
Thanks for help on this.

[2018-02-07 08:36] #3174 closed

[2018-02-07 09:06] nicoddemus commented on #3174
FYI pytest-sugar released a new version yesterday fixing the compability issue, you might want to try it out. :+1:

[2018-02-07 14:22] duhaime commented on #774
I hit this because I had a directory structure that looked like this:

[code]
I was deleting `__pycache__` but needed to delete `tests/__pycache__` to get the test runner to start...

[2018-02-07 16:50] cheaterok commented on #3191
Won't it be enough to test if an assert expression is a function\method and if it has return statement using AST? Just like it currently is implemented with tuple assertion.
This way we avoid any runtime checks and cover the cases where beginners tend to make mistakes.

[2018-02-07 18:00] nicoddemus commented on #3191
Hi @cheaterok ,

We can't know just by looking at the AST if an expression returns `None`:

[code]

`f()` can return `True`, a `list`, etc, all cases in which we don't want to issue a warning.

This is why I think we need to add some check during runtime.

[2018-02-07 18:19] nicoddemus commented on #3191
@jrbenny35 thanks. That point in the code is where the AST translation is being made, basically changing:

[code]

Into:

[code]

You can see that in the code below adding a unary operation `not` (`ast.UnaryOp(ast.Not(), top_condition)`:

https://github.com/pytest-dev/pytest/blob/506c9c91c0127e66944c4e357f43fa2a46916fa7/_pytest/assertion/rewrite.py#L743-L754

One needs to look deeper into how the

[2018-02-08 03:17] nieder commented on #1116
Just as a datapoint, I'm getting a reliable hang on pytest-3.4.0 at `testing/test_pdb.py ....` with python3.6 on macOS 10.11, but not with python2.7, python3.4 or python3.5.

[2018-02-08 03:37] nieder commented on #1116
The test hangs with pexpect-pyXX installed if pyXX matches the pytest-pyXX I'm building. I only had the pexpect-py36 variant installed. If I remove that, then the py36 variant of pytest finishes the test suite.

[2018-02-08 20:52] feuillemorte commented on #3034
I think we can write another plugin like this:

https://github.com/pytest-dev/pytest/blob/3685c1bc019cb119378ebfb31993a1748548e731/_pytest/cacheprovider.py#L101-L103

for new tests. But I can only understand when file was modified and start to run tests first from this file. But I don't know how to check which exactly test was modified. So, if test file contains 50 tests these tests will collect i

[2018-02-08 20:55] feuillemorte commented on #2953
Pull request was merged. Should we close this task?

[2018-02-08 21:59] nicoddemus commented on #2953
Yes, please do the honors @feuillemorte!

[2018-02-08 23:33] nicoddemus commented on #3034
Certainly, but I think that's what the OP has in mind as well.

[2018-02-09 02:58] wagnerluis1982 commented on #3103
Hi, I'd love to contribute to pytest.

My first contribution is checking if this issue is still relevant :smile:. In my machine I can't reproduce this bug. I'm using the last version (3.4.0).

[2018-02-09 09:32] davehunt commented on #3103
Sorry @wagnerluis1982 this was already resolved by #3147

[2018-02-09 09:32] #3103 closed

[2018-02-09 09:38] #2953 closed

[2018-02-09 14:24] nicoddemus commented on #3103
@wagnerluis1982 thanks for your interest in contributing, we really appreciate it. Triaging issues to see if they are still relevant (like you did now) is something that's also very helpful.

[2018-02-09 18:06] wagnerluis1982 commented on #927
This issue is fixed?

[2018-02-09 18:33] steaksauce- commented on #2104
No updates from upstream on two bug reports in quite sometime:
https://bugs.python.org/issue16737#msg304662
https://bugs.python.org/issue31874

are there any plans to press the issue?

[2018-02-09 19:47] Drew-Ack opened #3195 "multiple configure hooks in one conftest file"
From looking in the documentation for the pytest_configure(config) hook it seems I should be able to implement multiple of these hooks inside on conftest.py file for my entire project, but in practice this doesn't seem to be the case.

I was wanting multiple so that it was just easier to separate different components that need to be in the configure hook but its starting to get pretty large.

Woul

[2018-02-09 20:17] Drew-Ack opened #3196 "How to parameterize the entire test suite?"
I want to be able to have pytest run the test suite in firefox, then chrome, then IE. All in one swoop.

I know its possible to parameterize test functions, but i'm not sure if this is possible to do on a test suite level.

Is this possible to do in pytests scope?

[2018-02-09 20:36] #1478 closed

[2018-02-09 20:51] nicoddemus commented on #3196
Usually this is done by parametrizing a fixture which is used by some/all your tests, for example:

[code]

Now every test which requests `browser` will be executed multiple times, once for each parameter.

[2018-02-09 22:12] uSpike opened #3198 "Ignore individual tests"
It would be useful for my workflow to be able to ignore specific tests while still collecting an entire directory.

For example, I have:

[code]

I can currently use `--ignore` to ignore an entire file, but not a specific test.  If I want to run every test except for `test_a.py::test_foo` I will have a very long command line.

I propose to accept test ids with `--ignore`:

[code]

Thoughts?  I'd b

[2018-02-09 22:19] nicoddemus commented on #3198
Seems useful at first sight. Feel free to submit a PR. 👍

[2018-02-09 22:21] nicoddemus commented on #3195
Given that pytest identifies hooks by their name this is not really possible (as you pointed it out).

That would be my suggestion. 👍

[2018-02-09 23:24] Drew-Ack commented on #3195
So if hooks are pulled in by name, does it only collect one per conftest file? Im assuming this is the behaviour from what i've gathered from the test docs and plugins.

Is this purposeful behaviour so that things won't get out of control in some conftest files?

[2018-02-09 23:26] Drew-Ack commented on #3196
Wouldnt this cause a staggered behaviour though?

Test A - Firefox
Test A - Chrome
Test A - IE

Instead of what i want which is
Test A - FireFox
Test B - Firefox
Test C - Firefox

Test A - Chrome...
and so on.

[2018-02-09 23:45] numirias opened #3200 "Testreport.keywords is a dict with constant values"
[`TestReport.keywords`](https://github.com/pytest-dev/pytest/blob/c04e248de54741b39f93d4ad07bd81e6bc6a2b3e/_pytest/runner.py#L330) is documented as:

But looking at [the source](https://github.com/pytest-dev/pytest/blob/c04e248de54741b39f93d4ad07bd81e6bc6a2b3e/_pytest/runner.py#L287), it's a dictionary that doesn't actually have values other than `1`, so only its keys are significant:

[code]

- I

[2018-02-10 00:33] nicoddemus commented on #3196
pytest will automatically reorder session-scoped fixtures to avoid creating/destroying them too much, so it will execute in the order you want. 😁

[2018-02-10 00:34] nicoddemus commented on #3195
This is how Python works, if you define two functions with the same name:

[code]

Only the last definition will end-up available in the module.

[2018-02-10 00:45] nicoddemus commented on #3200
Hi @numirias thanks for writing.

@RonnyPfannschmidt can probably shed some light here, we're in the middle of a large refactoring involving marks (which affects `TestReport.keywords`).

[2018-02-10 16:49] skirpichev opened #3203 "pytest shows 0% test statistics after 3.4.0 with --capture argument"
[code]

Before 3.4.0 I get:
[code]

But since last release:
[code]

[2018-02-10 20:50] brianmaissy opened #3204 "Print captured logs before entering pdb"
Extension of PR #3186 for the caplog feature.

When a test fails and we are about the enter the debugger, we first print the traceback and the captured stdout and stderr. We need to add the captured logs. This is being opened as a separate ticket because caplog was added in the features branch, so if this issue is fixed before it gets merged, target the features branch for this issue as well.

See

[2018-02-10 21:24] brianmaissy commented on #3204
@nicoddemus @thisch So do you think we should still print captured logs at the end when live logging is on? It seems to me that as long as we capture something we should print it. Live logging is _in addition_ to capturing, because if it's on we get the logs as they happen and also in the report if the test fails. I think the behavior before entering the debugger should parallel the failed test re

[2018-02-10 22:07] inducer opened #3205 "Test failure log separators disappear for long test names in non-terminal (e.g. CI) runs"
Consider the following CI log:

https://gitlab.tiker.net/inducer/loopy/-/jobs/43108

My difficulty with this is that for the relatively long test names I have, e.g.
[code]
it becomes immensely hard to see the separators between tests. Since pytest adapts to the width of the terminal in interactive runs, this is less of an issue. But for non-interactive/non-PTY runs like these, I suspect the width

[2018-02-10 22:25] brianmaissy commented on #3204
Also, I don't know how the branch-management workflow works here. Can I cherry-pick the relevant commits in  #3186 from `master` to this PR to features?

[2018-02-11 17:53] feuillemorte commented on #3203
The problem is here:

https://github.com/pytest-dev/pytest/blob/e7bcc854d975e981c090e37e747d91fc7999500e/_pytest/terminal.py#L158-L166

[code]

Why we don't need to show a progress when capture option is off? If it is right may be we need to hide percentage? because [0%] is not good point here, I think

I can fix it but I don't know what is right :)

[2018-02-11 17:55] feuillemorte commented on #3034
Ok, then I try to do it :)

[2018-02-11 20:02] feuillemorte commented on #1642
Merged

[2018-02-11 20:02] #1642 closed

[2018-02-12 04:42] thisch commented on #1527
The following patch adds the deselection count to the 'collected' line, but does not yet remove the deselection summary (`==== X tests deselected ====`).

WDYT should we remove this summary line if the deselection count is part of the 'collected' line?

[code]

[2018-02-12 18:33] gaborbernat opened #3207 "capsys does not follow the OS newline rules for print"
Given the following code (``test_a.py``):
[code]

[code]

Surely capsys should use the ``os.linesep`` exactly as that's the case with the print function:

[code]

[2018-02-12 18:47] Formartha opened #3208 "Continue py.test runner even if there is a compile issue"
Hello,

We are embracing py.test into our automation system for E2E tests.
As for now, my main issue is with handling compile issues with the tests themselves.

For example,
Both me and my employee works on the same project and core infrastructure.
I fixed some interface we created (for example, logging_interface.py) and pushed the code.

My employee, pushed his code as well w/o seeing that the me

[2018-02-12 18:51] recursivelycurious commented on #3141
@nicoddemus happy to tackle this if no one else is working on it per your comment on #2324 -- note I'm still open to implementing that if we think its worth doing.

[2018-02-12 19:45] thisch opened #3209 "Logging plugin is not referenced in plugins.rst"
The logging plugin is missing in the plugin reference list in
https://pytest.readthedocs.io/en/3.4.0/plugins.html#pytest-default-plugin-reference

[2018-02-12 19:49] brianmaissy commented on #3204
How does the branch management workflow work here? I want to build the changes on top of the changes in master. Do we occasionally merge master into features? Or should I cherry-pick the commits from the other PR?

[2018-02-12 20:12] thisch opened #3211 ""<-" in verbose test output"
In my integrationtests the verbose text output does not seem to be consistent. There are three different types of lines in the output of pytest:

[code]

I don't understand why the last two lines contain '<-' and a subsequent path. I've studied the code in https://github.com/pytest-dev/pytest/blob/master/src/_pytest/terminal.py#L517 but I don't understand it. Can anyone help me?

The "<-" in the p

[2018-02-12 20:25] The-Compiler commented on #3208
Can you show example output? "Some compile error" sounds like there was a syntax error, in which case pytest can't really do much. If it's some error during collection, you probably want this option:

[code]

[2018-02-12 20:29] Formartha commented on #3208
@The-Compiler  - Correct, it might be a syntax error.
However, if we will wrap the runner with try & except and handle all these expectations w/o breaking the runner, than it might work.

[2018-02-12 21:04] The-Compiler commented on #3208
This is pytest stopping because of a collection error. Did you try the option I mentioned above?

[2018-02-12 21:17] Formartha commented on #3208
@The-Compiler PERFECTO!!! works like a charm.
Any way to mark this test as a failure in the logs? it just skips the test and not listing it as a failed TCs, which, should be treated as one..

[2018-02-12 21:51] The-Compiler commented on #3208
If it can't even collect the test (because there's an error at module level which happens when pytest imports the test module), there's no way it can know which tests are in there.

[2018-02-12 22:00] Formartha commented on #3208
I'm not quite sure it's not possible.
If there is a python script (test_something.py) that causes the break - we can declare that the error spawned from it.

so for example, an error will be listed in the XXX modules.

[2018-02-12 22:09] The-Compiler commented on #3208
That sounds exactly like what's happening already?

[2018-02-12 22:15] jrbenny35 commented on #3191
Looking over this again I came up with this. If I do these [lines](https://github.com/pytest-dev/pytest/blob/506c9c91c0127e66944c4e357f43fa2a46916fa7/_pytest/assertion/rewrite.py#L755-L759) when evaluating the ```explanation``` I can call this object ```ast.Raise(ast_Call(err_name, [fmt], []), None)``` and get the property ```cause``` to see if it is None. If so, then I could change the ```explana

[2018-02-13 10:01] bechaos opened #3212 "Having all options from all conftest.py for all collected tests"
Hello.
In directory structure:
[code]
i have "pytest_addoption" hook in `/tests_A/conftest.py` and `/tests_B/conftest.py` with options which are related to tests in `tests_A.py` and `tests_B.py`, and in `/conftest.py` options common for both.

If i call ptyest from `/tests_A/` or `/tests_B/` i have options available for those tests. However if i call pytest from `/` specific options are unrecogniz

[2018-02-13 13:32] thisch commented on #3211
I've found a few tests in test_terminal.py which indicate that the lines containing "<-" have sth to do with baseclasses in different test modules. I think this behavior should be configurable and preferably opt-in.

[2018-02-13 15:06] tomalkalak opened #3214 "Pytest hangs when invoked after thread.start()"
I am trying to run pytest from within python after running a thread, here is a simple example of the case:

[code]
but pytest keeps hanging. this is what the output looks like:

[code]
and it just hangs like this until I force quit it. is there any way to make this work?

[2018-02-13 17:52] jenyacazacu opened #3216 "Running tests fails with "node down: Not properly terminated", maybe execnet related?"
We recently moved to Python 3.4 and when running our tests with pytest-xdist installed and in parallel with (-n) sometimes the tests fail with the below error. The traceback is from using faulthandler.  The tests consistently fail during tests that use celery tasks and that have the format:

@override_settings(task_always_eager=True)
       def test_example(self):

Packages used:
execnet-1.5.0
pyt

[2018-02-13 18:44] bdjellab opened #3217 "Session scoped fixture is called twice"
Hello,

**Version**: I'm running Ubuntu 14.04 with pytest 3.4.0.

**Use case**: I am using a session scoped fixture which I import and use in two different test files.

**Issue**: The fixture is run one time for each file when I expect it to be run only once for the whole session.

**Example**:

fixtures.py
[code]

test1.py
[code]

test2.py
[code]

Hello is printed twice instead of once.

**Workar

[2018-02-13 19:52] Drew-Ack commented on #3195
*Facedesk*
Thank you

[2018-02-13 19:52] #3195 closed

[2018-02-14 08:55] bechaos opened #3219 "pytest.skip in pytest_itemcollected hook raises INTERNALERROR"
Hello,

I have tried to find anything in documentation about hooks and skip, but i was not able to. Calling `pytest.skip` in other hooks e.g. `pytest_runtest_call`, `pytest_generate_tests` or `pytest_runtest_setup` skips item fine.
However when called in `pytest_itemcollected` i get:
[code]
Thank you for your time.

[2018-02-14 09:16] thisch commented on #3219
Have you tried testing your code with the latest pytest version? Please provide a minimal example.

[2018-02-14 09:46] bechaos commented on #3219
With attached example:
[code]
If you comment `pytest_itemcollected` in `conftest.py`:
[code]

[2018-02-14 10:32] thisch commented on #3219
Do you really need to "skip" tests, or would it be possible to ["deselect"](https://docs.pytest.org/en/latest/example/markers.html#mark-examples) them ?

[2018-02-14 13:09] feuillemorte commented on #3217
You don't need to import fixtures

You can use fixtures in test files like
[code]
or you can add your fixture file to conftest as plugin:
my_custom_fixtures.py
[code]
conftest.py
[code]
test_one.py
[code]
test_two.py
[code]
result:
[code]
if you have different files with your fixtures you can add it in coftest like
[code]

[2018-02-14 13:49] bechaos commented on #3219
I have scenario where test need to be skipped, and i cant just mark them, because skip decision is a bit more complex than in attached example.
If you were suggesting alternative or workaround, adding skip mark `item.add_marker(pytest.mark.skip())` in `pytest_itemcollected` works, but than item teardown hooks are (unnecessary) called and I'd like to avoid that.
Question still remains is internaler

[2018-02-14 14:19] bdjellab commented on #3217
Hi,

Thanks for the info, I knew you could import fixtures in the conftest but I didn't knew you could do it as a plugin.

However, do you mean that I must not import fixtures like that?
Am I doing something that's against pytest rules or is it a limitation/bug of pytest?

[2018-02-14 15:14] Nebulosar commented on #1508
@blueyed
`--reuse-db` took down my test time from 180 to 84 seconds so that's awesome!
Still a long time but what do you do?

## Just to mention for other "speedseekers":
`--no-migrations` **gives me an error, for not being found as valid argument**
_Using py 1.5.2 and pytest 2.8.7_

[2018-02-14 15:42] mikeage opened #3220 "Question: How to get the skip reason in a pytest_runtest_logreport(report) hook"
Is there any way to get the value of `reason=` in a skipped test? For `xfail(reason="foo")` the reason shows up as `report.wasxfail`, but I didn't see the skipped reason anywhere in the report's object or `__dict__`.

[2018-02-14 15:49] mikeage commented on #3220
I actually just saw that https://github.com/pytest-dev/pytest/blob/71a7b3c062d51c61ee8b1ac479b1260d541918c6/_pytest/junitxml.py#L177 has

[code]
Is this the best option?

[2018-02-14 17:21] ndevenish opened #3221 "Error using parametrize with default arguments"
With pytest 3.4.0:
[code]
You get the error:
[code]
It seems pytest is separating the concept of normal python arguments and 'fixtures' here, only classifying only default-free arguments as potential fixtures - and then only considering 'fixtures' as valid targets for parametrisation - but the error message completely obfuscates this: by any regular python interpretation the function *definitely*

[2018-02-14 17:53] giampaolo commented on #2565
same problem here

[2018-02-14 18:31] thisch commented on #3219
Would it be possible if you deselect the tests in `pytest_collection_modifyitems` and implement the complicated skip logic there?

[2018-02-14 18:39] thisch opened #3223 "enter debugger when warning is raised"
Is it possible to enter the debugger when a warning is raised similar to the usage of the `--pdb` flag when normal exceptions are raised?

The reason why I'm asking is that I have the following warning in the warnings summary and I wan't to know where and why it is raised:

[code]

[2018-02-14 19:58] thisch commented on #3223
`-W error` turns warnings into erros and is a cpython paramter. However if I pass it to pytest using `python -W error -m pytest` I get the following exception:

[code]

[2018-02-14 20:49] blueyed commented on #3223
The exception with `python -W error -m pytest` seems to be good/expected, no?
And you can see where it is coming from there (pytest itself causes it apparently).

Does `python -W error -m pytest --pdb` give you a pdb prompt then?

[2018-02-14 20:55] thisch commented on #3223
No this exception is not expected, since it is raised before the tests are executed. Here is the full traceback:

[code]

[2018-02-14 21:25] blueyed opened #3224 "Allow test selection by file:lineno"
`pytest tests/test_foo.py:42` should run the (nearest) test at line 42 in `tests/test_foo.py`.

When it also ignores a trailing colon it would allow for easy copy'n'pasting from failures.

Via #5973:

[2018-02-14 22:53] blueyed commented on #3223
Ah, it is another one - sorry for the confusion.
I wonder if it (using `--pdb` to get to yours) works after fixing the one in pytest (and any others).

[2018-02-15 04:51] bngo92 opened #3225 "A fixture with autouse set to False will always be used if it overrides a fixture with autouse set to True"
- [ ] Include a detailed description of the bug or suggestion
I took a look at pytest's source code and it looks like pytest records the names of all fixtures with autouse set to True. It then uses this list to determine which fixtures to use, even if the overriding fixture has autouse set to False.
- [ ] pytest and operating system versions
platform linux2 -- Python 2.7.13, pytest-3.4.0, py-1.5.2

[2018-02-15 06:56] bechaos commented on #3219
`pytest_collection_modifyitems` is called after `pytest_itemcollected`. I wanted to skip test as soon as i can and best case would be if I could skip test even before i.e in `pytest_generate_tests`. However i need information if the test is parametrized and I dont know how to get it from `metafunc` (do you know is it possible and if so how?). Fact is, i'd prefer to skip test in `pytest_generate_te

[2018-02-15 07:18] bechaos commented on #3219
Regarding my question about `metafunc`, i guess found it myself, `metafunc.function.parametrize`, but if you have anything to add, please do.

[2018-02-15 08:12] feuillemorte commented on #3217
I might be wrong, but I guess:
When you import fixture pytest create another base_id for test file. And your scope session starts to work in this file and you have another session fixture fo this file. Check my tests:
structure:
[code]
files:
conftest.py:
[code]
test_one.py:
[code]
test_two.py:
[code]
test_three.py:
[code]

start tests by command
[code]
FixtureDef objects:
[code]
Output and result

[2018-02-15 10:06] RonnyPfannschmidt commented on #3217
bascially - fixtures come from plugins, or the test module - if each module import the fixture, then pytest considers each imported fixture as own separate fixture of the test module

so pytest basically sees 2 fixtures with the same name, one in the one test module, the other in the other test module

the most simple way to consolidate is a conftest, followed by having a pytest plugin

[2018-02-15 10:17] RonnyPfannschmidt commented on #3219
for this issue - using skip in that hook is a programmer error, i consider it perfectly valid for pytest to fall over there - a skip happens in a **test execution** - the but where the code is at is test selection

[2018-02-15 10:23] RonnyPfannschmidt commented on #3214
since you started a thread that basically is a endless recursion,
python itself will hang waiting for it to exit

this can be elevated by declaring it a daemon thread (python doesn't wait on those)

[2018-02-15 10:38] marc1n opened #3226 "caplog is broken in pytest 3.4"
In pytest 3.4 caplog.record_tuples, calog.records etc are always empty.
In pytest 3.3 it works as expected.

[code]

[2018-02-15 10:41] marc1n commented on #3226
I found the reason - it must be set level to INFO. This test pass:
[code]

[2018-02-15 10:41] #3226 closed

[2018-02-15 10:43] RonnyPfannschmidt commented on #3223
this is a pytest issue actually - we use a deprecated attrs api and should fix that bit

a more specific warning filter s (matching only numpy for errors) should help

[2018-02-15 10:44] RonnyPfannschmidt commented on #3221
pytest doesnt consider arguments with default values as targets for fixtures/parameterization

[2018-02-15 11:26] ndevenish commented on #3221
Yes, that is the root cause. But this isn't a question; my point is that the error is completely confusing and the solution non-obvious unless you read the source code:

*and then complains that there is no argument.*

So I'd consider it either a bug with error messages, argument-as-potential-fixture classification (although I assume this was rigorously discussed in the past and is like this for a

[2018-02-15 11:56] The-Compiler commented on #3226
You can also set that in `pytest.ini`, see the [docs about logging changes in 3.4](https://docs.pytest.org/en/features/logging.html#incompatible-changes-in-pytest-3-4).

[2018-02-15 11:57] The-Compiler commented on #3219
Should we close this then?

[2018-02-15 12:26] marc1n commented on #3226
Thanks.
The example `test_foo` from https://docs.pytest.org/en/features/logging.html#caplog-fixture was misleading for me:
[code]

[2018-02-15 13:23] RonnyPfannschmidt commented on #3219
i believe so, but i'd like to hear back from @bechaos first

[2018-02-15 13:25] RonnyPfannschmidt commented on #3200
this is a artefact from before python had sets, instead a `dict` with the value 1 where used as stopgap,

its mainly still there for backward compatibility reasons as far as i understood (keywords and their interaction with marks is the main reason why we have so massive troubles with marks)

[2018-02-15 13:27] RonnyPfannschmidt commented on #3221
thanks for expressing what you need for better understanding of the issue
i consider it an issue with the error message as well

[2018-02-15 13:41] blueyed commented on #3223
@RonnyPfannschmidt
Yes, but the issue itself is about using `--pdb` to get to a warning (after pytest starts up after all).
@thisch
Please try this after fixing the warning in pytest itself (and/or using `-W` with some filter to skip pytest's warning - not sure if that is possible).

[2018-02-15 13:41] blueyed commented on #3223
Ah.. that's what Ronny meant likely: only match numpy's warning, and then use `--pdb`.
Please try that.

[2018-02-15 18:59] feuillemorte commented on #3221
As I can see pytest ignores arguments with default values:

https://github.com/pytest-dev/pytest/blob/e7bcc854d975e981c090e37e747d91fc7999500e/_pytest/compat.py#L112-L115

Do we need to raise exception here? In this case all arguments with default value will catch this error

[2018-02-15 19:17] RonnyPfannschmidt commented on #3216
its really not clear whats happening there, its just clear that python itself gets seg-faulted, which is quite a feat and a real pain to debug

[2018-02-15 19:42] satishmovvar opened #3227 "pytest runs into process thread overrun/over flow"
When I run my test suite after a 10-15mins of testing I see that the Python process thread count starts increasing from 40threads up to 500threads. The tests get stuck at this moment and doesn't continue further.
![image](https://user-images.githubusercontent.com/35823859/36277172-1b7f402a-125e-11e8-8940-4186dea83d06.png)

OS: Windows 7 - 64bit
Python Package: Anaconda 5.0.1 - 32bit version
Pytest

[2018-02-15 20:00] RonnyPfannschmidt commented on #3227
pytest itself does not use any threads - so it mist be on of the libraries/tools you use

[2018-02-15 20:02] RonnyPfannschmidt commented on #3223
i propose updating the requirement and changing the call

[2018-02-15 20:47] jenyacazacu commented on #3216
ok, thx, do you have any suggestions as to where I can start with debugging?

[2018-02-15 20:59] RonnyPfannschmidt commented on #3221
that function in particular is working exactly as documented, so just raising an error there is not a good way to sort it out

[2018-02-15 21:00] RonnyPfannschmidt commented on #3216
unfortunately not, im not familiar with the surrounding libs in use

[2018-02-15 21:38] #3052 closed

[2018-02-16 02:12] maxim-lian commented on #679
`looponfailroots` now solves this problem

[2018-02-16 08:04] thisch commented on #3223
I don't understand why the coveralls job failed.

[2018-02-16 08:21] RonnyPfannschmidt commented on #3223
seems like a config issue, i believe merging is just fine

[2018-02-16 10:55] nicoddemus opened #3229 "Mention pytest.param more prominently in the docs"
Currently pytest.param appears very timidly in the [parametrize](https://docs.pytest.org/en/latest/parametrize.html?highlight=pytest.param) docs.

It should appear at least in its own section, and also in the upcoming [Reference docs](https://github.com/pytest-dev/pytest/pull/3193).

[2018-02-16 12:12] brianmaissy commented on #3084
@nicoddemus @RonnyPfannschmidt While trying to test this deprecation I ran into a problem. Since `DeprecationWarning`s are ignored by default, no user will ever see this warning, unless we don't use an actual `DeprecationWarning`. The warning filters on the command line and in the ini files don't take effect during the initialization stages of importing conftests, so even if a user was aware of th

[2018-02-16 12:29] RonnyPfannschmidt commented on #3084
@brianmaissy the starting point is declaring a RemovedInPytest4 wanring instance in _pytest.deprecated

[2018-02-16 13:16] brianmaissy commented on #3084
That I understand, but if I raise it in config.py while importing conftests, it will just get ignored by the python warnings filter

[2018-02-16 14:27] brianmaissy commented on #3084
I guess they could change the warnings filter in the top-level conftest. Still, it seems like deprecation warnings should be more visible

[2018-02-16 14:35] bdjellab commented on #3217
Okay thanks !

It seemed strange to me because  - correct me if I'm wrong - importing the same function in two different files actually gives the exact same object in memory.

I will import all my session scoped fixtures in the conftest then.

[2018-02-16 15:34] uSpike commented on #3198
I submitted #3201 with a different implementation than I proposed.  I opted to add `--deselect [node_prefix]` which would deselect tests during collection.  I came to the conclusion that `--ignore` is too tied to paths to be extended for individual tests.  What I wanted to implement was a way to ignore individual nodeids, and other options like `-k` didn't quite fit the bill.

[2018-02-16 16:15] RonnyPfannschmidt commented on #3217
correct, thats a good solution 👍

in general we consider it good practice put fixtures that are shared across modules/folders into conftests for consistency

i closing this issue as the problem seems to be solved, if you feel there is more to solve please dont hesitate to call out

[2018-02-16 16:15] #3217 closed

[2018-02-16 16:18] jaraco opened #3231 "Error caching datetime - Object is not JSON serializable"
Today, I wished to cache a datetime (the last time I queried http://ifconfig.co because they throttle to .016Hz). When I tried to store the datetime in the cache, I ran into this error:

[code]

Obviously, the current behavior expects that only JSON-serializable types are allowed in the cache, which is rather limiting. It would be nice if the cache module allowed for hooks to encode/decode values

[2018-02-16 16:29] jaraco commented on #3231
I worked around the issue by adding jsonpickle as a dependency and adding this fixture to the test suite:

[code]

This approach works, and I now the cache can accept any jsonpickle-serializable object, including datetime:

[code]

Obviously, this approach is brittle, as it relies on implementation details of the cache module.

I imagine pytest could adopt this technique natively, though that migh

[2018-02-16 16:35] RonnyPfannschmidt commented on #3231
for sanity, security, and controll of those affected, i'd like to leave the structuring/restructuring of the processing data vs the serialized format up to the users of the cache,

its simply too easy to slip in a security mistake or compatibility break on the framework level thats bad for everyone,

for your example i would propose to store the data as a timestamp

additional i believe it may be

[2018-02-16 20:48] numirias commented on #3200
Thanks for clarifying! I'm closing because as I understand you don't require this to be tracked in an extra issue, but feel free to re-open.

[2018-02-16 20:48] #3200 closed

[2018-02-16 20:56] #2977 closed

[2018-02-16 20:56] #3046 closed

[2018-02-16 22:38] satishmovvar commented on #3227
@RonnyPfannschmidt  thanks for the info. I was wondering if you have any suggestion to debug; Any tools which can trace which object is actually launching the new threads.
I tried to use the pyutil to monitor the process threads and I can also get the list of threads but I am not sure if there is a way I can identify what is causing the thread count to increase.

[code]

While debugging I felt tha

[2018-02-16 22:50] #3198 closed

[2018-02-17 20:39] #985 closed

[2018-02-17 21:29] thisch commented on #3204
I have some long running tests, which output a lot of log messages when I debug them. For debugging I use live-logging and `--pdb`. This allows me to abort the tests when I spot sth suspicious in the live-logs while the test is running).

For me it does not make sense to show the captured logs before entering pdb, since

*1)* the captured logs are not colored. IMO the captured logs are not as read

[2018-02-17 21:54] brianmaissy commented on #3204
Sounds good, I'll modify it to take into consideration the `--no-print-logs` option

[2018-02-17 22:56] nicoddemus commented on #3204
Thanks @thisch for the explanation, indeed it makes sense to consider `--no-print-logs` to not print the logs in that case. 👍

[2018-02-17 23:04] #1527 closed

[2018-02-17 23:05] nicoddemus commented on #3224
Great idea!

[2018-02-17 23:08] nicoddemus commented on #2565
I suspect it might be an old setuptools version, it is breaking down when trying to parse the required python in `check_requires_python`. I would suggest to try to update `setuptools`.

[2018-02-17 23:19] nicoddemus commented on #3196
I'm closing this for now @Drew-Ack, but feel free to post further question.

[2018-02-17 23:19] #3196 closed

[2018-02-17 23:43] thisch commented on #3204
BTW I would suggest to introduce a new generic @--no-captured-output@ option and deprecate the @--no-print-logs@ option. The @--no-captured-output@ option disables the printing of captured output (stdout, stderr and logs) on failure and can also be used in the "enter pdb" code in #3186 and #3210.

[2018-02-18 00:27] nicoddemus commented on #3204
@thisch I think this should go in a separate issue, would you mind opening it? Thanks!

[2018-02-18 06:55] ssalbdivad commented on #1216
While I do suggest caution in ordering fixtures, I've written up a flexible way to do so when the situation calls for it:

[code]

Fixtures can then be ordered so that those with a negative order are run before unordered fixtures in ascending order, then unordered fixtures are run, then those with a positive order are run in ascending order, as in the following example:

[code]

[2018-02-18 11:05] thisch commented on #3223
I've just discovered that there is already a `-W` option for pytest. This is great!! Therefore I don't have to start pytest with `python -W error -m pytest --pdb` but can write `pytest -W error --pdb`. I think we can close this issue then.

[2018-02-18 11:05] #3223 closed

[2018-02-18 11:13] RonnyPfannschmidt commented on #1216
in general marks are not supported on fixtures, and its not clear how marks of fixtures shouzld map to tests,
so the solution cant use marks

[2018-02-18 11:18] thisch opened #3233 "Captured-log support for --show-capture"
In #3176 a `--show-capture` option was added (part of the `reporting` section
of the `pytest -h` helptext), which currently supports a discrete set of
values: `{no,stdout,stderr,both}`.

I propose to add support for captured logs to `--show-capture`. This idea
came up in #3204. The list of allowed values should probably be changed to
`{no,stdout,stderr,log,all}`. The show-caputure option should no

[2018-02-18 11:50] ssalbdivad commented on #1216
Hey @RonnyPfannschmidt,
The intent of this solution was not to propose its adoption by pytest but rather to provide a flexible and seemingly reliable way for folks to specify the execution order of their fixtures expressively while a decision is made regarding how best to integrate first-class support for doing so. Based on my testing this seems to be fairly robust, but if there are situations in

[2018-02-19 10:41] gaborbernat opened #3235 "sub-steps progress report"
Would it be possible to add sub-steps reporting to test? :-) e.g. imagine I have some integration test cases that run reasonably long (e.g. 2 minutes, I would like to give some progress report to the user, to not let him wander around what's happening). E.g. with -vvvv to say:

[code]

Do you guys think that's a good idea?

[2018-02-19 11:01] RonnyPfannschmidt commented on #3235
linking - #153 for documentative purposes

[2018-02-19 13:50] bechaos commented on #3219
I dont understand why is using `pytest.skip` in `pytest_itemcollected` a programmer error and in e.g. `pytest_collection_modifyitems` not. But if you see it as such, there should be some information about that in documentation. (not to write bug report again)

[2018-02-19 15:05] nicoddemus commented on #3219
Makes sense, but why I wonder it works with `pytest_collection_modifyitems`?

[2018-02-19 15:38] nicoddemus commented on #3235
This can be implemented a simple fixture:

[code]

Output:

[code]

While adding this to the core is simple, not sure if a separate plugin would be better at least as a first interaction, to nail down the API and see which other integrations would be necessary (`junitxml` comes to mind for example).

[2018-02-19 15:44] nicoddemus commented on #3235
This is identical to #1602 as well.

[2018-02-19 16:02] RonnyPfannschmidt commented on #3219
hmm, if it works, then we are likely looking at a bug in pytest there, it shouldnt

[2018-02-19 16:06] nicoddemus commented on #3219
It might be sufficient to just mention in the docs that `pytest.skip` is meant to be used during test execution (test runs, fixtures, `pytest_runtest_*` hooks only). Usage in other hooks is not explicitly supported (even if it works in some cases).

[2018-02-19 19:38] jaraco opened #3236 "xfail condition should include `platform` module in namespace"
One can currently write:

[code]

But not

[code]

If one tries that, an error is raised:

[code]

It seems reasonable to me the `platform` module should be exposed in the namespace for these conditional methods for the same reason `sys` is.

I searched but could not find an existing issue or even a definition of what these conditional expressions are guaranteed to support, so I hope this is not a

[2018-02-19 19:43] nicoddemus commented on #3236
Definitely, thanks for the suggestion.

[2018-02-19 19:43] nicoddemus commented on #3236
This is a great first contribution, cc @feuillemorte.

[2018-02-19 19:45] blueyed commented on #3236
For what it's worth: I do not see the NameError when trying that (pytest
3.4.0):
[code]

I wanted to try if `@pytest.xfail("__import__('platform').platform() !=
'Darwin'")` could be used as a workaround, but the outcome is the same as above
for me.

[2018-02-19 19:49] nicoddemus commented on #3236
Now that I think about it, perhaps it uses the global namespace of the module of the test?

[2018-02-19 20:49] blueyed opened #3237 "Traceback with --pdb refers to previous `pdb.set_trace()`"
Given `t/test_pdb_offset.py`:
[code]

Running `pytest t/test_pdb_offset.py --tb=short --pdb` result in:
[code]

Notice the first entry in the traceback (`t/test_pdb_offset.py:7`), which refers to the line after the `pdb.set_trace()`, but it should be the line where `raises` gets called.

pytest 3.4.1.dev51+gb486e129.

[2018-02-19 20:54] blueyed commented on #3237
(I can see this being useful as-is in some way, since it gets used when going up/down also inside pdb then.
pdbpp displays a `->` for the line after the `set_trace`, and `>>` for the line where the exception is coming through.)

[2018-02-19 23:45] nicoddemus opened #3238 "Deprecate --no-print-logs option"
As commented in https://github.com/pytest-dev/pytest/pull/3234#issuecomment-366801757 we want to deprecate `--no-print-logs`.

---

@thisch to deprecate we basically should emit `config.warn` when the option is set, at first glance here seems like a good place:

https://github.com/pytest-dev/pytest/blob/b486e1294b9202f770c6f7481a521e55f8908dbe/_pytest/logging.py#L346

We should call `config.warn`

[2018-02-19 23:48] nicoddemus commented on #3238
Oh also update the docs deprecating the feature. 😁

[2018-02-20 01:34] #3060 closed

[2018-02-20 01:51] #3233 closed

[2018-02-20 18:39] hevi9 opened #3241 "NotADirectoryError: [Errno 20] Not a directory: '/path/to/bin/bin' - bin as file"
https://github.com/pytest-dev/pytest/blob/053fc118b7af3b77c42daddd6ceacd13394cf64a/_pytest/main.py#L173

Should be ?

if not bindir.is_dir():
 ..

[2018-02-20 20:26] thisch commented on #3204
Given that we've merged #3234, we can close this issue.

[2018-02-20 20:26] #3204 closed

[2018-02-20 20:59] flub commented on #927
Looking at the traceback I can't even find the method in which shows up in your tracebacks.  I also can't reproduce this either currently.  Can you still reproduce it @RonnyPfannschmidt ?  If not maybe we should close it.

[2018-02-20 21:47] #3184 closed

[2018-02-21 08:39] RonnyPfannschmidt commented on #927
the condition no longer occurs, i'm reluctantly closing this as its no longer a issue, i'd prefer to know why its no longer a issue, but i cant spare the time

[2018-02-21 08:39] #927 closed

[2018-02-21 15:36] rasschaert opened #3243 "filter expressions unreliable when parametrizing test"
Filter expressions (-k) become very unreliable when you try to match the parameters in parameterized fixtures. The filters seem to match things they shouldn't.

Minimal example:
[code]
Filtering for 'z' matches everything (which is, I'm pretty sure, incorrect behaviour).
[code]

Different filters _do_ work as expected.
[code]

My system is Arch Linux, the relevant software versions are in my pytes

[2018-02-21 16:47] nicoddemus opened #3244 "Integrate pytest-lazy-fixtures into core?"
A very old and common question is "how can I use fixtures for parametrization?" (#349). During the 2016 sprint we had a discussion which resulted in a [proposal](https://docs.pytest.org/en/latest/proposals/parametrize_with_fixtures.html), but neither approaches proposed there were implemented into the core.

Meanwhile @TvoroG went ahead and implemented the 2nd approach in an external plugin, [pyte

[2018-02-21 17:16] RonnyPfannschmidt commented on #3244
as far as i can tell `pytest.fixture_request('default_context')` in the proposal is roughlymatchingt of the lazy fixture as far as specification/declaration goes

from that i can also tell is that lazy_fixtures is semantically broken due to the evaluation mechanism being foreign to the fixture mechanism (as such, dependent fixtures may get the wrong values)

additionally lazy_fixtures is unaware o

[2018-02-21 17:17] RonnyPfannschmidt commented on #3243
i suspect the keyword expression is matching the `parametrize` mark as well

[2018-02-21 17:40] RonnyPfannschmidt opened #3245 "py.test on pytest fails when not limiting to the testing folder"
it seems our tests fail if we include the documentation folder in a test run

precisely - it makes about 7 tests fail due to path issues

[2018-02-21 21:02] nicoddemus commented on #3244
Thanks @RonnyPfannschmidt!

In the light of the technical details highlighted by @RonnyPfannschmidt, I propose then that we work with @TvoroG to solve while documenting `pytest-lazy-fixtures` as the recommended solution to the problem (IOW the 2nd suggestion from the original post).

[2018-02-21 22:03] durocher opened #3247 "approx on Decimal value fails with default tolerance arguments"
When using default tolerance on a Decimal, approx fails:
[code]
but it works fine with `rel` and/or `abs`:
[code]

[code]

[2018-02-21 23:47] nicoddemus commented on #3205
Hi @inducer thanks for the report.

I'm not sure I understand the issue, the log is quite big. Can you post just a snippet of that log highlighting the problem? Thanks!

[2018-02-21 23:52] nicoddemus commented on #3203
Because since we are not capturing output, the output of the tests can create quite a mess in the terminal and printing the progress indicator really only adds to the mess so it was decided to not print it at all (also we can't really track the correct position where to put the progress indicator because the output is not coming through the `TerminalReporter`, which tracks the number of characters

[2018-02-22 00:49] inducer commented on #3205
In a way, the log being long and hard to read is precisely the problem. Normally, seeing the boundaries between failing tests would help make the log easier to read. But here, the boundaries between adjacent failing tests just blend into the remainder of the log. So here I'm asking for an ASCII equivalent of the red lines I drew here:

![bildschirmfoto von 2018-02-21 18-43-59](https://user-images.

[2018-02-22 06:35] #3247 closed

[2018-02-22 06:37] RonnyPfannschmidt commented on #2324
valid concerns, i'll agree - thanks for bringing the details up

[2018-02-22 06:37] #2324 closed

[2018-02-22 09:20] rasschaert commented on #3243
Hah! Good catch!

That means I constructed my minimal example poorly, since that's not the case in the real-world issue I'm having.

This one demonstrates the issue I'm having better:
[code]

[code]

Take out the dashes and it behaves as expected:
[code]

I've found elsewhere in this issue tracker that filters are treated as Python expressions. That probably means that the dash is interpreted as a

[2018-02-22 15:30] jaraco opened #3251 "Warnings not captured during test collection"
The [warnings docs clearly state](https://docs.pytest.org/en/latest/warnings.html) that it captures warnings during test execution, but that means any warnings issued during test collection will not be captured and will silently pass. Consider this slight tweak to the canonical example:

[code]

Would it be possible for the warnings feature to also be enabled during test collection, such that warn

[2018-02-22 15:50] nicoddemus commented on #3251
Hi @jaraco, thanks for writing down this issue, this was a known limitation that was supposed to be in an issue already but it seems it got forgotten.

It should be perfectly possible to capture and display warnings during collection, so hopefully this is something that will be tackled in the internal warnings refactoring for 3.5.

[2018-02-22 16:26] rasschaert commented on #3243
Meanwhile I've found an ugly workaround that allows me to apply the filters I want.

Replacing the dashes in with underscores in the ids and then also using underscores in the filter works well, without actually changing the original parameter that is fed into my test.

[code]

[code]

[2018-02-22 16:52] RonnyPfannschmidt commented on #3243
@rasschaert thans for showing your solution , its a fine hack to work around that current shortcoming of pytest

we hope to eventually enable better selection fo marks, but thats still far off

[2018-02-22 17:39] yan130 opened #3252 "record_xml_property does work in parallel execution"
when run pytest in parallel, given using
 -n 1
argument, record_xml_property doe work.
no <properties> block show up in junitxml
Python 2.7.10
pytest==3.0.1

[2018-02-22 17:45] RonnyPfannschmidt commented on #3252
this was fixed in #2770 and will be part of the next feature release

[2018-02-22 17:45] #3252 closed

[2018-02-22 18:09] thisch commented on #2891
related to #3251

[2018-02-22 21:53] recursivelycurious commented on #3141
@nicoddemus will do :) feel free to assign it to me if that is part of the workflow.

[2018-02-22 22:16] nicoddemus commented on #3141
Thanks, we usually do not assign, you can go ahead and open the PR when you can. 👍

[2018-02-23 08:11] svuki commented on #3236
If I'm understanding correctly the problem isn't outcomes.xfail but the xfail mark which is talked about in the docs [here](https://docs.pytest.org/en/latest/skipping.html#xfail-mark-test-functions-as-expected-to-fail).

If that's the case then the relevant code for what's available during evaluation of conditions is here:
https://github.com/pytest-dev/pytest/blob/bedceaacc46aefab78c8f29db36dab03c

[2018-02-23 20:29] feuillemorte commented on #3203
@nicoddemus yes, then I take it and will delete indicator in this case :) Thank you!

[2018-02-23 20:39] brettcannon opened #3256 "Broken link and formatting issue in Getting Started docs"
In https://docs.pytest.org/en/latest/getting-started.html#request-a-unique-temporary-directory-for-functional-tests there is a link with the text "Temporary directories and files." which points to a non-existent page.

There is also " `pytest fixtures <fixtures>`_" which is not rendering appropriately.

[2018-02-24 20:14] dbeckwith opened #3260 "Cache not respecting cache_dir config option"
I'm trying to direct all test and coverage output to a single `.cache` directory in my project, but pytest won't respect the `cache_dir` option I'm setting to `.cache/pytest` and keeps creating `.pytest_cache` instead. This used to work fine in another project with `pytest 3.3.0`.

[code]

[2018-02-25 00:14] hameerabbasi commented on #3077
If someone can give me a brief overview of what needs to be done to fix this, I'll try my hand at a PR.

[2018-02-26 09:54] pavelrad commented on #2405
Is this going to be fixed?

[2018-02-26 10:49] The-Compiler commented on #2405
@pavelrad If someone finds the time to work on it, sure - are you volunteering? :wink:

[2018-02-26 11:01] Sup3rGeo opened #3261 "Flowchart of pytest test session states and hooks"
Hi,

This is a documentation request to have a flowchart of all the pytest test session states (setup, conftest, collecting, run setup, run test, run teardown, make report, etc..) together with all the applicable hooks.

Something similar to the one on logging module documentation (I suppose that for pytest this would be way more complex):
https://docs.python.org/2/howto/logging.html#logging-flow

[2018-02-26 11:35] nicoddemus commented on #3261
Hi @Sup3rGeo, this would definitely be useful.

I think we can use [sphinx.ext.graphviz](http://build-me-the-docs-please.readthedocs.io/en/latest/Using_Sphinx/UsingGraphicsAndDiagramsInSphinx.html) to generate the flowcharts.

[2018-02-26 12:14] feuillemorte commented on #3260
I take it :)

[2018-02-26 12:17] nicoddemus commented on #3260
Cool @feuillemorte, thanks! (In the future feel free to assign yourself to the issues if you want :wink:)

[2018-02-26 13:59] nicoddemus commented on #3256
Thanks for the report @brettcannon!

[2018-02-26 19:47] brettcannon commented on #3256
And thanks for the PR! I tried to fix it in-browser but my brain was not remembering to add `ref` so I couldn't get it to work.

[2018-02-26 19:49] #3256 closed

[2018-02-26 19:50] nicoddemus commented on #3256
I know the feeling, I only remember the syntax because I was doing some documentation work last week. 😁

[2018-02-26 20:15] nicoddemus commented on #2405
I still hope (fingers crossed) that this is related to marks so when we land the full mark refactoring this will be solved, otherwise we will need to find some time to investigate this further.

[2018-02-26 21:05] feuillemorte commented on #3260
Seems that problem is in setup.cfg file:

[code]
`[tool:pytest]` instead of `[pytest]`. If you fix it it will work fine:
[code]

The problem is here:
https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f52ae/_pytest/config.py#L1326-L1349

Code goes in the first "if" and not calls getcfg function because inifilename defined by "-c" option:
[code]
prints me
[code]
@nicoddemu

[2018-02-26 21:08] nicoddemus commented on #3236
@svuki thanks for clarifying that! I believe we can just add `platform` to that initial directory in there then, I believe `platform` is as useful as `sys`.

[2018-02-26 21:15] nicoddemus commented on #3077
@hameerabbasi thanks for the offer! 😁

Here's the code which collects a `DoctestModule` given a file:

https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f52ae/_pytest/doctest.py#L52-L58

And as can be seen here, it will always run all doctests found inside a module, regardless of any options:

https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f

[2018-02-26 21:20] nicoddemus commented on #3260
@feuillemorte thanks for the investigation! Now I see that this is actually a duplicate of #1831.

I think we should change that line to `inicfg = iniconfig["tool:pytest"]` when we are dealing with `.cfg` files, something like:

[code]

[2018-02-26 21:22] nicoddemus commented on #3241
@hevi9 indeed, would you like to contribute a PR?

[2018-02-26 21:23] feuillemorte commented on #3260
But section might be [tool:pytest] or [pytest], isn't it?

[2018-02-26 21:26] nicoddemus commented on #3231
Duplicate of the discussion in #2899

[2018-02-26 21:32] nicoddemus commented on #3220
https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f52ae/_pytest/skipping.py#L252-L253

I think if `outcome == "skipped"` you can get the reason from the `wasxfail` attribute; this is indeed far from intuitive. I assume when the `skipping` plugin was developed it was not designed to be consumed by plugins outside the pytest core, hence it doesn't really have a public and

[2018-02-26 21:34] nicoddemus commented on #3212
@bechaos unfortunately due to how `pytest_addoption` works the recommended way is to declare all options in the root `conftest.py` level, there's a note explaining that in [the docs for pytest_addoption](https://docs.pytest.org/en/latest/writing_plugins.html#_pytest.hookspec.pytest_addoption).

[2018-02-26 21:40] nicoddemus commented on #3211
IIRC your assessment is correct, here's a minimal reproducer:

[code]

[code]

I wouldn't mind adding an option and also changing to not use the `<-` indicator by default: I think it in general just confuses people.

[2018-02-26 21:41] nicoddemus commented on #3260
Oh you are right, so we need to have a list of possible sections then, and check each one.

[2018-02-26 21:42] nicoddemus commented on #1671
Any ideas how to do that @RonnyPfannschmidt? I don't think we can write anything to the byte code (I don't know the format to say that for sure though), do you suggest writing that information in a separate file perhaps?

[2018-02-26 23:31] dbeckwith commented on #3260
The [current docs on this](https://docs.pytest.org/en/latest/customize.html#builtin-configuration-file-options) are unclear or pointing towards it being `[tool:pytest]`, hence my confusion. I think they need to be updated as well to reflect whatever comes out of this.

[2018-02-26 23:50] nicoddemus commented on #3261
Just played around with `sphinx.ext.graphviz` and this code:

[code]

Produces this image:

![graphviz-45befaaca8f80d2a294cbf4685e5fc9ca1222c57](https://user-images.githubusercontent.com/1085180/36702594-85061c7c-1b36-11e8-9baf-dcae376f6318.png)

So this is definitely doable. 👍

[2018-02-27 00:00] nicoddemus commented on #3260
@dbeckwith you are right, just to be clear:

* `setup.cfg` files support `[tool:pytest]` (recommended) and `[pytest]` (deprecated, scheduled to be removed in #3086).
* `tox.ini` and `pytest.ini` support `[pytest]`.

[2018-02-27 05:48] RonnyPfannschmidt commented on #1671
we should either add the pytest version to the cache tag in the filename, or make it part of the cached pyc file and recreate on different pytest versions

[2018-02-27 07:24] RonnyPfannschmidt commented on #2405
@nicoddemus i believe its related to fixtures only

[2018-02-27 09:03] jaraco opened #3266 "Setuptools environment support logic incorrect"
I was looking at setup.py when I noticed [ranged comparison in environment markers](https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f52ae/setup.py#L73) with [older setuptools](https://github.com/pytest-dev/pytest/blob/44fa5a77d4544d22220704fab5ab494fb57f52ae/setup.py#L49). It wasn't until [setuptools 17.1](http://setuptools.readthedocs.io/en/latest/history.html#id297)

[2018-02-27 09:47] RonnyPfannschmidt commented on #3266
thanks for the note, we will try to resolve qickly

[2018-02-27 09:48] RonnyPfannschmidt commented on #3266
@jaraco the comparison there is not ranged, its a plain `<` - my understanding is that those are supported

[2018-02-27 10:31] nicoddemus commented on #2405
Hmm I see, so you think just sorting autouse fixtures by scope would be sufficient in this case?

[2018-02-27 10:33] #3203 closed

[2018-02-27 10:47] RonnyPfannschmidt commented on #2405
off hand no idea, im currently not fluent in that bit of the codebase - i recall the last time we tried to change something there ended horrible

[2018-02-27 10:47] #3149 closed

[2018-02-27 10:48] nicoddemus commented on #1671
Oh we can control the generated filename? This seems like the correct approach then. 👍

[2018-02-27 12:59] #3236 closed

[2018-02-27 17:56] nicoddemus opened #3268 "Issue warning when "[pytest]" section is used in a ".cfg" file passed with "-c""
See https://github.com/pytest-dev/pytest/pull/3267#discussion_r171010795

[2018-02-27 18:30] Sup3rGeo commented on #3261
Nice!

I would be willing to help with documentation (with graphviz) but I would just need someone who knows pytest execution flow to define in any way (text or in a tool like [draw.io](http://www.draw.io) for instance)

[2018-02-27 18:56] feuillemorte commented on #3268
I take it

[2018-02-27 18:57] feuillemorte commented on #3268
@nicoddemus But I need to merge master to features after PR will be merged

[2018-02-27 19:40] nicoddemus commented on #3261
@Sup3rGeo thanks for the offer, we appreciate it!

The hook order can be obtained by passing `--debug`, which will make pytest write a `pytestdebug.log` file with contents like this:

[code]

Which can be used as a starting point, and in any case if there are any questions we would gladly answer them over a WIP PR. 😁

[2018-02-27 19:41] #3260 closed

[2018-02-27 19:47] nicoddemus commented on #3268
Cool @feuillemorte! I'm merging `master` into `features` in #3269.

[2018-02-28 01:43] nicoddemus commented on #3268
Merged! 🙇

[2018-02-28 07:55] Sup3rGeo commented on #3261
That is really great, can't believe all this time I didn't know it!

I will try to come up with something then and create PR so you can review it.

[2018-02-28 09:18] Formartha opened #3271 "Issue with console prints"
Hi,
I have the same code with I'm using to create some connection to one of our product, the console logs different output every time I run it.

Ones't run :
[code]

2nd run :
[code]

What I'm missing here?

[2018-02-28 09:46] RonnyPfannschmidt commented on #3271
this looks like a potential issue in logging based on not flushing logging handlers

[2018-02-28 10:22] Formartha commented on #3271
@RonnyPfannschmidt - It might seem that it's related to multithreading?

The log I'm exporting seem to be OK, it's just the console..

[2018-02-28 10:55] RonnyPfannschmidt commented on #3271
i beleive its related to flushing logs, - my current idea is that the logged elements get written out to late for stdio logging

do you use threads in your code? because pytest certainly doesnt

[2018-02-28 11:10] Formartha commented on #3271
nope, I don't got any specific multithreading support ..

[2018-02-28 11:47] nicoddemus commented on #2405
@jaraco I just realized a workaround for your original problem, just change your `clean_data` fixture to:

[code]

IOW, make `data.clear()` execute during the teardown stage of the fixture (which I think is what it was intended in the first place)?

[2018-02-28 11:48] nicoddemus commented on #2405
Btw: the original assumption that higher-scoped fixtures should run before lower-scoped ones is still valid and should be fixed (I updated the title of the issue to reflect that).

[2018-02-28 12:32] thakkardharmik opened #3272 "Question: How can I import some variable from parent conftest.py when I have another conftest.py in local directory."
Lets say I have the directory structure as follow -
[code]
Is there a way I can import some variable from Parent conftest.py in test_a.py.

[2018-02-28 13:41] jaraco commented on #2405
Well, no. The intention is to ensure before a test is run that no state lingers from a previous test, possibly from another module. But probably is a better design to remove the state as a teardown operation.

I appreciate the work on this as it appears to be both subtle and tricky.

[2018-02-28 13:42] nicoddemus commented on #2405
I see thanks!

[2018-02-28 14:15] RonnyPfannschmidt commented on #3272
your in your example normal python import ruls apply

so in `test_a.py` a `from ..conftest import *` sould suffice

note that commonly its considered "bad" to do imports from conftests - if you could outline your use-case in more detail we might be able to propose a solution which is considered more elegant by the pytest developers

[2018-02-28 18:08] lukewrites commented on #363
Is [kunalbhagawati's solution](https://github.com/pytest-dev/pytest/issues/363#issuecomment-289830794) still working, or is there now another workaround? I'm having trouble implementing it in my project.

[2018-02-28 19:13] Sup3rGeo commented on #3261
I was thinking about doing something like this:
https://github.com/Sup3rGeo/pytest/blob/ace24468d336fdd4a8c2eaa3c3e9a32da961f98b/doc/en/img/Pytest%20hooks.png

However I am not sure how to do this with graphviz. Mainly to represent the fact that some hooks are executed inside the context of other hooks.

What do you think?

[2018-02-28 19:15] thakkardharmik commented on #3272
@RonnyPfannschmidt If I try to use ...conftest it throws error saying ValueError: Attempted relative import beyond toplevel package. This error is seen for with n number of dots. If I dont put the dots its says variable not found.

[2018-02-28 19:37] nicoddemus commented on #3261
I never used `graphviz` myself 🤕

I think it looks great! Also, perhaps you can write a script to generate the `graphviz` output from a `pytestdebug.log` file? Then we can automate this graph generation for each release.

[2018-02-28 20:26] nicoddemus commented on #3271
@Formartha are you using `--log_cli`?

[2018-02-28 20:30] Formartha commented on #3271
that's the logger I had created to print it. I'm using pycharm to run tests..

That's the logger code
`def logger_setup(logger_name, log_file, level=logging.INFO):
    l = logging.getLogger(logger_name)
    formatter = logging.Formatter(
        '%(asctime)s [%(levelname)s] - %(funcName)s - location=%(filename)s:%(funcName)s - %(message)s')
    fileHandler = logging.FileHandler(log_file + ".log",

[2018-02-28 20:33] nicoddemus commented on #363
@lukewrites it should still be working, nothing has changed in monkeypatch since then. Can you post the full traceback please?

[2018-02-28 20:38] nicoddemus commented on #3272
This works for me:

[code]

[code]

[code]

[code]

Can you provide a minimal reproducible example?

[2018-02-28 20:43] nicoddemus commented on #3271
Oh we have assumed you were using pytest's logging integration.

Do you have the same output if you run in the command line, or only from PyCharm?

[2018-02-28 20:49] Formartha commented on #3271
maybe the logging integ is better than what I had built :) I will be more than happy to try to adopt it.

I got no output about it, however, I will be more than happy to give it a shot - could you share the command to do it?

[2018-02-28 20:53] nicoddemus commented on #1897
Anything new related to this issue?

[2018-02-28 20:53] nicoddemus commented on #1845
Any news regarding this issue or we can close it?

[2018-02-28 20:55] nicoddemus commented on #1841
This issue was referenced by #2005 and that has been solved, should we close this as well?

[2018-02-28 20:57] nicoddemus commented on #1725
@gappleto97 this is a very old issue, is this still an issue or can we close this?

[2018-02-28 21:00] nicoddemus commented on #1694
Currently there's no way to pass parameters to fixtures from within a test function or other fixtures, by that point the fixture function has already been called.

Usually the solution to this is to make a fixture return an object or function which you can call from within a test function and does what you need.

[code]

IOW the fixture becomes a factory function that you can call at any time.

Do

[2018-02-28 21:02] nicoddemus commented on #3271
Use `-o log_cli=true -o log_cli_level=INFO` on the command line.

Btw do you need to see the log output while the tests are running, or showing the captured log when a test fails would be enough for your needs? Here's more info: https://docs.pytest.org/en/latest/logging.html

[2018-02-28 21:05] Formartha commented on #3271
Thanks buddy!

I will need to view the logs during the run (for debug only..), but, as long as it works fine I don't care if we'll see such glitches.
However, I'm worried that it's more than that .. maybe there is a hidden bug there.

[2018-02-28 22:18] blockjon commented on #2370
I'm seeing this issue again. If I pass -s, it will create a lot of output and overwhelm my CI logs. This is hard to nail down since I have thousands of tests and its not deterministic. Can some defensive logic be added around the file close statement to avoid this?

[2018-03-01 00:14] nicoddemus commented on #2370
Hi @blockjon,

I would be OK if we could reproduce the problem and understand what's happening but just adding some defensive logic in there, without knowing why, is problematic in the long term as it might be hiding some bug.

I suggest we investigate more.

I can see from the traceback that the error happens here:

https://github.com/pytest-dev/pytest/blob/9fcbf5716360655dc761fbbc38081daaa7911eb

[2018-03-01 07:47] RonnyPfannschmidt commented on #1841
based on the other issues i think so

[2018-03-01 07:47] #1841 closed

[2018-03-01 07:48] Sup3rGeo commented on #3261
That is a great idea. From what I could see, not all the hooks are shown in the log file. Is that dependent on what pytest features the test is actually using?
If that's the case, is there any test that actually outputs all the hooks, based on which we can derive the graph?

[2018-03-01 08:26] TvoroG commented on #3244
Hi! Sorry for late response :)
I'm not quite understood, you want to solve `lazy_fixture` parametrization first? For example to support this:
[code]

[2018-03-01 08:42] RonnyPfannschmidt commented on #3244
@TvoroG no, the parametrization is pretty hard to solve, and not necessarily correct that way

imagine a local override of a requested parameter fixture that changes parameter counts/values or even goes from parametrized to un-parametrized

what i would like to see solved is awareness of parametrization in such cases and early bail out + good errors in such cases because this one will bite hard ot

[2018-03-01 09:34] CaselIT commented on #2974
I can no longer reproduce the original bug with pytest > 3.4.0, Thanks for fixing it!

The logging module continues to use the mocked value though. This:
[code]
fail since the mock has the calls: `[call.handlers.__contains__(<LogCaptureHandler (NOTSET)>), call.addHandler(<LogCaptureHandler (NOTSET)>)]`

Resetting the mock with `reset_mock()` at the beginning of the test can be used as workaround
L

[2018-03-01 10:53] nicoddemus commented on #2974
Thanks @CaselIT for the feedback, I'm closing this one then.

Yeah by the time your fixture executes, `_pytest.logging` has already called `logging.getLogger`.

It is not possible to use a fixture to monkeypatch `logging.getLogger` because we need to have a logger installed already to capture logging from fixtures itself.

[2018-03-01 10:53] #2974 closed

[2018-03-01 10:57] nicoddemus commented on #3261
Not offhand, but IMHO don't worry about it too much: having the script in place generating a graph with the most common hooks and integrated with our release process is already a huge addition. We can always improve that bit later. 😁

[2018-03-01 12:37] CaselIT commented on #2974
Thanks for the clarification.
Maybe there should be a mention in the [monkeypatch documentation](https://docs.pytest.org/en/latest/monkeypatch.html) about it? I could add a pr for it to add a brief not at the bottom

[2018-03-01 13:09] nicoddemus commented on #2974
It is not really related to `monkeypatch`, but about trying to monkeypatch `logging.getLogger`... what note would you like to add?

[2018-03-01 13:32] CaselIT commented on #2974
Something like:

And maybe a reference to this issue

[2018-03-01 13:47] nicoddemus commented on #2974
Unfortunately this issue is not isolated to `logging`, there are probably a multitude of functions that could cause various problems if monkeypatched, and is not feasible to start listing them all (for example, `os.open`, `shutil.copy`, `sys.stdout.fileno` are all examples that would also cause various problems, just from the top of my head). Because of that, I think it is not very helpful to add

[2018-03-01 14:21] CaselIT commented on #2974
I was not thinking about them. I agree that this is a bit of an edge case.

Out of curiosity, premising that I'm not familiar with the internasl of pytest, wouldn't it worth considering making the logging module cache the root logger at the startup of pytest so it's not affected by patching and other modifications? And/or replace the it with a child of the original root logger?

[2018-03-01 14:25] nicoddemus commented on #2974
Good question, but we probably don't want to make any logging calls until the plugin is actually "activated" (users can disable the plugin by passing `-p no:logging` in the command line).

[2018-03-01 14:33] CaselIT commented on #2974
Yes, of course, it should take into consideration the flag `-p no:logging`. Again I'm not familiar at all with the internals of pytest, so it may be totally unfeasible doing what I suggested

[2018-03-01 16:45] thakkardharmik commented on #3272
@nicoddemus @RonnyPfannschmidt It worked for me. I had missing __init__.py in parent directory.

[2018-03-01 16:45] #3272 closed

[2018-03-01 16:52] thakkardharmik opened #3273 "Question: How can I parameterize my tests with global variable which changes values on runtime."
Question: How can I parameterize my tests with global variable which changes values on runtime.
I have a global list variable which I populate the value in one of the test and I am using this variable to parameterize another test. One way I found out was to use pickle. Is there any other way I can handle this scenario?

Example -

[code]

[2018-03-01 17:05] RonnyPfannschmidt commented on #3273
parametrization happens before any test is executed, so your example can never work

[2018-03-01 20:31] nicoddemus commented on #3244
@RonnyPfannschmidt I didn't quite get that, can you provide a minimal example that shows the problem (preferably using `pytest-lazy-fixture`)?

[2018-03-01 20:33] nicoddemus commented on #3273
(@thakkardharmik I edited your post to include syntax highlight, it greatly improves readability; for more information please take a look [here](https://guides.github.com/features/mastering-markdown/) 👍 )

[2018-03-01 20:34] nicoddemus commented on #3273
As @RonnyPfannschmidt mentioned this is not currently possible, furthermore ideally tests should not depend on one another; it is hard to recommend a solution without further details though.

[2018-03-01 21:41] Sup3rGeo commented on #3261
So basically I wrote something to parse the log file and create a tree using `anytree` module:
https://github.com/Sup3rGeo/pytest/blob/master/doc/pytesthooks.py

The result:
[code]

The challenge was to not repeat hook calls and merge internal hooks from some calls that repeat but not exactly one after the other. But it seems to be working fine.

I faced just one problem though - the last `pytest_

[2018-03-01 21:54] Sup3rGeo commented on #3261
So I ran a test again and same thing happened: One of the `pytest_runtest_setup` hooks did not have a corresponding `finish pytest_runtest_setup` line. This will confuse the script I wrote.

One possible solution is to consider the leading whitespaces to do the nesting.

[2018-03-01 22:04] Sup3rGeo commented on #3261
This might be also useful for #3113 and #2670

[2018-03-02 06:44] RonnyPfannschmidt commented on #3244
[code]

[2018-03-02 06:47] RonnyPfannschmidt commented on #3261
looks fabulous, can we add the scripts somewhere to the pytest repo so we can update in future (maybe it makes sense to put this into pluggy)

[2018-03-02 08:32] Sup3rGeo commented on #3261
@RonnyPfannschmidt nice to hear that!

Merging repeated calls inside a parent is problematic because it does not capture the fact that, for instance, pytest__runtest_makereport runs three times, after setup, call, and teardown respectively.

On the other hand, if we leave everything as is then typically you can have much useless repetition, for example many many pytest_plugin_registered and then t

[2018-03-02 08:40] RonnyPfannschmidt commented on #3261
we have a set of tools that use pluggy - all of those could benefit from a automated way to deal with hooks and their nesting ^^

this is a topic where playing and experimenting with collecting and displaying the data might give insights

[2018-03-02 10:48] thakkardharmik commented on #3273
@nicoddemus The exact thing I am trying to do it as follow.
I have multiple test modules in one directory that uses one set of data. I have different framework that runs my tests and returns to the results. I am using pytest to publish the result.

[code]
if I try to use deployDataset() as a fixture then the deployDataset is executed after generate_test() method.
if I try to put generate_test as a

[2018-03-02 11:50] RonnyPfannschmidt commented on #3273
if you run the tests using something entirely else anyway, why use pytest for reporting?

its a rather unnatural use case for a test framewrk, and depending on your needs it may be vastly better to just do direct reporting

[2018-03-02 12:13] thakkardharmik commented on #3273
the reporting is done in pytest to publish report maintaining standard. Is there any way I can achieve this? @RonnyPfannschmidt Thanks

[2018-03-02 12:22] RonnyPfannschmidt commented on #3273
@thakkardharmik what exactly is the "standard" in your case

[2018-03-02 12:33] thakkardharmik commented on #3273
@RonnyPfannschmidt We have infra build which runs pytest and publish report from pytest. Since earliar test were written in pearl this pytest just acts as a wrapper to publish results to the report whereas the actual tests are run elsewhere.

[2018-03-02 12:54] RonnyPfannschmidt commented on #3273
but pytest reports themselves are not a standard, again what is your standard

[2018-03-02 13:51] nicoddemus commented on #3273
JUnit reports perhaps?

[2018-03-02 14:08] thakkardharmik commented on #3273
I think we have local infra that aggregates the test result and publishes it to the dashboard.

[2018-03-02 15:16] nicoddemus commented on #3273
The core of our question is:

What do you mean by *report* exactly? The console output? `--junitxml` report? `--result-log`?

Regardless, pytest is really not meant to be used like this, its purpose is to actually run the tests so I'm not sure what you want is possible (although it is not really clear to me what you are trying to accomplish, TBH).

[2018-03-02 17:10] thakkardharmik commented on #3273
--junitxml report
@nicoddemus

[2018-03-02 17:13] thakkardharmik commented on #3273
Thanks @nicoddemus

[2018-03-02 17:13] #3273 closed

[2018-03-02 19:34] #3268 closed

[2018-03-02 19:37] nicoddemus commented on #3261
One idea is to manually indicate to the script a set of hooks that should appear only once, because this will vary from project to project. 😁

[2018-03-02 20:23] RonnyPfannschmidt commented on #3273
@thakkardharmik in the past i adviced people with the need to turn random test data not form pytest to junitxml, by just generating junitxml directly - it was much quicker and much less error prone than using a complete test framework to churn out junitxml for data you already have

[2018-03-03 07:31] jeffreyrack commented on #3245
I just looked into this a bit, and the test failure is occuring on tests that use tempdirs named "sub1" and/or "sub2".

The root issue appears to be from doc/en/example/costlysetup.
A quicker way to reproduce the same test failures in metafunc.py for example would be to run:
`pytest doc/en/example/costlysetup/sub1/test_quick.py testing/python/metafunc.py`

For some reason, this will then cause all

[2018-03-03 15:07] Sup3rGeo commented on #3261
Just stumbled upon this presentation which has a similar tree view of the hooks (including annotations where there is repetitions):

http://devork.be/talks/pluggy/pluggy.html

Do you guys know him? Should we contact him and see if he might have a script for that already?

[2018-03-03 15:14] nicoddemus commented on #3261
Sure we know @flub! 😁

@flub did you use a script to generate that?

[2018-03-03 15:17] nicoddemus commented on #3261
Here's the video of the presentation for those interested: https://www.youtube.com/watch?v=zZsNPDfOoHU

[2018-03-03 18:13] RonnyPfannschmidt commented on #3245
@jeffreyrack great job with the investigation, basically costlysetup gets added to pythonpath, and later tests are unable to find the module in any sane way since theirs looks the same, if there is also conftests around, then this also mismatches

this is in part a shortcoming of pytester and in part of our own setup layout

[2018-03-03 23:25] jaraco opened #3276 "Error in doctest on namespace package with Python 3.7"
There seems to be an emergent issue with pytest when running `--doctest-modules` on Python 3.7.

Here's a run of `jaraco.functools`' tests:

[code]

At the point where `inspect.getsourcefile(obj)` is called, obj is `<module 'jaraco' (namespace)>`.

Perhaps all that's needed to be done here is have pytest ignore collection on namespace packages.

[2018-03-03 23:40] jaraco commented on #3276
Interestingly, I don't encounter the issue when running tests on `backports.unittest_mock`, which suggests the issue is likely related either to the `pkg_resources`-managed namespace or fact that `jaraco.classes` (another package in the namespace) is installed in the environment.

[2018-03-03 23:47] jaraco commented on #3276
Interesting - the tests are [passing in Travis](https://travis-ci.org/jaraco/jaraco.functools/jobs/348781194), so whatever is going on seems to be isolated to my environment.

[2018-03-04 02:17] #3209 closed

[2018-03-04 04:02] jaraco commented on #3276
Also interesting - on my mac where the test is failing, the test also fails when testing jaraco.collections (which has a dependency on other jaraco.* packages) but not testing jaraco.classes (which does not).

[2018-03-04 04:03] jaraco commented on #3276
I just noticed the Travis build, although it's theoretically running a nightly build of Python, has Python 3.7.0a4+, while on my mac, I'm running 3.7.0b2.

[2018-03-04 04:09] jaraco commented on #3276
Uninstalling jaraco.classes from the environment before running the test bypasses the issue, so it is definitely related to having another package of the same namespace as the package under test present. Also, the issue seems only to affect pkg_resources-managed namespaces, as adding another 'backports' package to 'backports.unittest_mock' doesn't trigger the issue.

[2018-03-04 04:23] jaraco commented on #3276
I was able to replicate the issue without pytest, so it seems to be an upstream issue.

[code]

[2018-03-04 07:04] jeffreyrack commented on #3245
Interestingly enough, the issue seems to be that py.path is trying to import sub1.conftest, which it's unable to find in the path.

For example, in this test that currently fails in metafunc.py, if I add logic to remove __init__.py, then it will pass:
[code]

The reason is that after costlysetup is run, py.path will try to do: `__import__('sub1.conftest')`.
By removing __init__.py, it will instead

[2018-03-04 13:45] RonnyPfannschmidt commented on #3245
the main issue is python path overlaps and sys.modules, to me its not clear what other sideeffects the patch you posted wil lhave

[2018-03-04 13:49] #3241 closed

[2018-03-04 19:04] dchudz opened #3280 "pytest uses deprecated `convert` argument in attr's `attrib`"
I checked this with pytest 3.4.1 and master (3.4.2.dev42+ge980fbbe):

[code]

(That second bit of `PYTHONWARNINGS` is to avoid https://github.com/pytest-dev/pytest/issues/1403.)

This is in a fresh virtualenv after `pip install pytest`:

[code]

For context on why I care: I contribute to another project that's turning on "deprecation warnings as errors" in our CI. It's not so hard for us to specia

[2018-03-04 19:11] RonnyPfannschmidt commented on #3280
thanks for the note, this has been fixed in #3228 and will be released in the next feature release
we cant fix it in the patch release due to the shift in dependencies needed to correctly do this change in a minimal fashion

[2018-03-04 19:11] #3280 closed

[2018-03-04 20:29] dchudz commented on #3280
Thanks @RonnyPfannschmidt!

[2018-03-05 06:25] jeffreyrack commented on #3245
The issue is that when pytest initially loads the tests, it imports the doc/en/example/costlysetup/sub1 module as sub1.

Then, when the tests later on get ran that also create a sub1 module, import sub-modules fails because the import (in this case above, it ends up calling `__import__('sub1.conftest')`) fails because it's searching the costlysetup sub1 module (Although we're expecting it to use o

[2018-03-05 07:20] RonnyPfannschmidt commented on #3245
i believe in order to keep things safe in general we should have unique folders for all automated tests in some way

[2018-03-05 11:07] nicoddemus commented on #3271
![](https://github.trello.services/images/mini-trello-icon.png) [https://github.com/pytest-dev/pytest/issues/3271](https://trello.com/c/7aYXi6MN/5-https-githubcom-pytest-dev-pytest-issues-3271)

[2018-03-05 19:39] mwaskom commented on #3123
Coming back to this (sorry for the delay...)

It seems that `pytest-sphinx` might not be a current solution as the [documentation](https://github.com/thisch/pytest-sphinx) claims only that "support for testsetup and testcleanup is planned (pull-requests welcome)".

In the meantime, could I be useful in helping to determine if the current behavior is indeed unexpected and has an easy fix? I take it

[2018-03-05 22:24] nicoddemus commented on #3276
Thanks @jaraco for the detailed investigation. Should we report this upstream?

[2018-03-05 22:26] nicoddemus commented on #3245
I believe this happened by error rather than someone wanting to run tests in the `docs` folder. If this is the case, I think we can just add `docs` to be ignored by default by adding `--ignore=docs` to our `pytest.ini`.

[2018-03-05 22:37] nicoddemus commented on #3123
I did a quick investigation and it turns out I was wrong, pytest creates a single `DoctestItem` to handle all snippets in `my_function`, so it doesn't seem to be something that's easily fixable I'm afraid.

[2018-03-05 23:25] jaraco commented on #3276
Yes, I have, and meant to link back here.

It's [bpo-32991](https://bugs.python.org/issue32991).

[2018-03-05 23:31] nicoddemus commented on #3276
Great, thanks!

[2018-03-05 23:34] nicoddemus commented on #3276
I see this has been fixed in `3.8` and backported into `3.7`, so shall we close this issue?

[2018-03-05 23:58] jaraco commented on #3276
Yes.

[2018-03-05 23:58] #3276 closed

[2018-03-06 06:06] RonnyPfannschmidt commented on #3245
i#d prefer if we includes the documentation folder and actually tested it and the examples there

[2018-03-06 07:27] maximdanilchenko commented on #252
Hi! I made this workaround for this case (I cant say, that it will help everyone, but it solved such problem for me):
[code]
_prepare_database_ is a fixture, that should be executed once before all tests run.
After that we should make 2 test runs instead of one:
[code]
If you need to use this fixture in usual mode, but leave some code section inaccessible for multiprocess runs, you can write this:

[2018-03-06 07:40] Formartha commented on #3271
@nicoddemus - what is the link you had shared?

[2018-03-06 10:24] fontealpina commented on #3211
@nicoddemus I agree

[2018-03-06 10:52] nicoddemus commented on #3271
Sorry, it was posted by Trello automatically, I was trying it out to see how to manage my personal TODO's. 😁

[2018-03-06 10:54] nicoddemus commented on #3245
Sure, makes sense.

[2018-03-06 10:55] fontealpina opened #3284 "document test if style output of --collect-only output with -q"
Currently the `--collect-only` option shows the collected tests in a tree style presentation.
I was wondering if there is a way to show the collected tests list with the `-v` style, of course without the test result.
This would be useful to compare the output of `--collect-only` with the output of other runs of the tests.

[2018-03-06 11:00] nicoddemus commented on #3284
It is not quite clear to me what you mean @fontealpina, would you mind add more details? Thanks!

[2018-03-06 11:16] gaborbernat commented on #3235
@nicoddemus I like what you propose. Do you want to release it as a plugin, and let';s see where it goes, or should I?

[2018-03-06 11:17] fontealpina commented on #3284
Let's suppose to have a test:
[code]
Running the test with `pytest -v` the output is:
[code]
Running pytest with `pytest --collect-only` the output is:
[code]
I was wondering how it would be possible instead to get with `pytest --collect-only` an output like:
[code]

[2018-03-06 11:18] The-Compiler commented on #3284
That seems useful to easily copy test IDs to select individual tests too.

[2018-03-06 11:25] nicoddemus commented on #3235
@gaborbernat feel free to go for it if you have the time! 👍

[2018-03-06 13:13] RonnyPfannschmidt commented on #3284
thats supported with `-q` for just test ids and `-qq` for just test filenames

[2018-03-06 13:29] fontealpina commented on #3284
@RonnyPfannschmidt Thanks

[2018-03-06 13:29] RonnyPfannschmidt commented on #3284
closing as it seems to be answered

[2018-03-06 17:05] RonnyPfannschmidt opened #3286 ".pytest_cache is showing up in projects git repos"
i just noted that this started to happen, as far as i can tell the .cache rename was a breaking change for users

[2018-03-06 17:06] The-Compiler commented on #3286
Not sure how this would be actionable for pytest?

[2018-03-06 17:07] RonnyPfannschmidt commented on #3286
its not clear to me either, but i started to note that people are affected by our change in a negative unintended way

[2018-03-06 17:23] rth opened #3287 "Ignored --ignore flag when using --pyargs pkg"
I just discovered the `--pyargs` flag and it's very practical. However it does not seem to take into account the `--ignore` options.

Example,
[code]

running,
[code]
produces exactly identical output, while I would have expected the `develop.py` not to be tested.
Here is [another example of this same issue](https://github.com/conda-forge/gala-feedstock/blob/465804f0d9a322eca96f78c004aa370a5d7e960

[2018-03-06 17:58] JoseKilo opened #3288 "monkeypatch'ing functools.partial causes INTERNALERROR"
Hi,

I've got this test

[code]

Running pytest on a clean environment produces:

[code]

I'm not sure if this kind of patching is supported.
Note that the error only happens if the `assert` causes the test to fail, otherwise everything works.

I'm using version `3.4.2`

`pip list`:

[code]

OS: Ubuntu 16.04.4 LTS

[2018-03-06 18:21] JBKahn opened #3289 "Using pytest.set_trace with iPython's `TerminalInteractiveShell`"
Hey, I've been doing some fiddling around and haven't been able to make heads or tales of it. When looking at iPython's debugger class, I was able to find a flaw that I thought was causing it but it isn't.

I thought [this file](https://github.com/ipython/ipython/blob/b65d977c8c5f936fe35ddd96eb28a8707828f8c3/IPython/terminal/interactiveshell.py#L78-L84) was imported at the wrong time, when we were

[2018-03-06 18:30] JBKahn commented on #3289
I noticed that if I augment [this line](https://github.com/pytest-dev/pytest/blob/6bc45d158d1bd27db618a2bb18e9f9a99aeb8044/_pytest/debugging.py#L63) to be
[code]
that works

[2018-03-06 18:44] thisch commented on #3284
Thx @fontealpina for creating this ticket! Is this documented in our docs? If not, we should change that.

[2018-03-06 19:13] JBKahn commented on #3289
passing is giving me an error:
`--pdbcls=IPython.terminal.debugger:TerminalPdb`
passing this as the class
[code]
works and dumps me into a shell but then I cannot recover and it crashes when I try to end the exception
[code]

[2018-03-06 19:18] fontealpina commented on #3284
@thisch I have just checked and actually seems it is missing.

[2018-03-06 19:23] JBKahn commented on #3289
Seems this issue is somewhat similar to https://github.com/pytest-dev/pytest/issues/3170 as downgrading pytest worked. I'll have to identify which caused the failure.

[code]

worked as my pdbcls

[2018-03-06 19:31] RonnyPfannschmidt commented on #3288
without a complete traceback we literally have no idea whats happening, please provide a more complete traceback

[2018-03-06 19:32] RonnyPfannschmidt commented on #3284
in that case it should be added, thanks for going and checking

[2018-03-06 20:14] Formartha commented on #3271
Oh, LOL :) - well, let's hope it will work..

[2018-03-06 22:03] JoseKilo commented on #3288
Thank you for the quick reply. This is my trace

[code]

[2018-03-06 22:56] nicoddemus commented on #3245
#3283 added `doc` to norecursedirs, but the underlying issue still remains.

[2018-03-06 23:03] nicoddemus commented on #3286
People probably made the same mistake when we introduced `pytest-cache` into the core and hence `.cache` started to be created every time pytest executed.

[2018-03-06 23:05] nicoddemus commented on #3286
I see that `.pytest_cache` already made into GitHub's default `.gitignore` file in https://github.com/github/gitignore/commit/f651f0d3eef062a8592e017a194e703d93f3e5c9, which is good.

[2018-03-06 23:06] nicoddemus commented on #3287
Hi @rth,

`--ignore` only checks for *paths* and does not currently work with `--pyargs`, but I guess it could be made to work with it.

[2018-03-06 23:13] nicoddemus commented on #3289
Hi @JBKahn,

Can you post your failures please?

[2018-03-06 23:20] nicoddemus commented on #3288
@JoseKilo thanks for sharing the traceback, now the problem is clear.

Yet another case of users monkeypatching something which is used by pytest's internals and things blowing up horribly... same thing with `open` and `rewrite.py` IIRC.

Should we start to always import things using `from module import foo` instead of `import module; module.foo` throughout the entire code base?

[2018-03-07 07:12] RonnyPfannschmidt commented on #3288
@nicoddemus i beleive we should make a module that takes references we itnernally use so people can monkeypatch the stdlib any way they want afterwards

[2018-03-07 07:13] RonnyPfannschmidt commented on #3286
@nicoddemus that doesnt help people updating their projects however

[2018-03-07 10:14] x007007007 commented on #3171
Hi, @codingjoe ,I have same probably, Could you please tell how did you fix it .

[2018-03-07 11:07] nicoddemus commented on #3286
Indeed it does not, just thought I would mention that.

One thing that might help is to add a `.pytest_cache/README` file which explains what is the purpose of the directory and that it should not be added to version control. Of course few people will actually read that file, but other than that I'm out of ideas on how to improve the situation.

TBH I don't consider this *critical*, certainly a nu

[2018-03-07 11:09] nicoddemus commented on #3288
@RonnyPfannschmidt I see, but what's the advantage of making a separate module containing all the symbols used instead of importing each symbol directly in their own module? The latter at least linting can catch unused names, using a single module containing only symbols will require us to sprinkle `# noqa` for all names in that module.

[2018-03-07 11:50] codingjoe commented on #3171
@x007007007 I don't remember ¯\_(ツ)_/¯ But reading my comment, I guess I just updated to the latest version of pytest. Sorry I can't be of more help.

[2018-03-07 13:28] rth commented on #3287
Or maybe add another CLI option similar to `--ignore` but for regexp, e.g. `--ignore-regexp` ...

[2018-03-07 13:47] nicoddemus commented on #3287
Seems reasonable, and if we use `re.search` instead of `re.match` we probably won't even break backward compatibility.

[2018-03-07 14:05] RonnyPfannschmidt commented on #3288
im not asking for a star import, but i#d like to create a location where we can affect the internals in a controlled manner

[2018-03-07 14:05] RonnyPfannschmidt commented on #3288
also all we need is a `__all__`

[2018-03-07 14:19] nicoddemus commented on #3288
You mean we would use something like:

[code]

?

[2018-03-07 16:06] RonnyPfannschmidt commented on #3288
@nicoddemus i would call the module `safeguarded_function` and import it named `sf`

that way we could ensure we can monkeypatch the things we need to

[2018-03-07 16:27] nicoddemus commented on #3288
OK sounds good, this also gives us a place to write a docstring explaining the rationale.

Wait now you lost me, what monkeypatching are you talking about? 😁

[2018-03-07 16:31] nicoddemus opened #3290 "Create a safeguard module to import stdlib objects from"
The rationale here being that users sometimes monkeypatch functions and objects from the standard library which can break pytest itself.

@RonnyPfannschmidt's idea from https://github.com/pytest-dev/pytest/issues/3288#issuecomment-371188406.

Refs: #3288, #2180, #3352

[2018-03-07 16:34] RonnyPfannschmidt commented on #3288
@nicoddemus well - imagine needing to monkeypatch part of the stdlib for a integration test of pytest -

a module to controll that would be most beneficial and it couldb e integrated into pytester

[2018-03-07 16:47] nicoddemus commented on #3288
Oh OK, for integration testing, got it. Thanks!

[2018-03-07 20:19] ruslanoid commented on #3271
I have a similar use case.
We're using our own logging configuration to print out the tests flow which got "interrupted" by pytest's reporting of test status in a single letter ('F' for Failure, etc...).

What I ended up doing is:
`
def pytest_report_teststatus(report, __multicall__):
    res = __multicall__.execute()
    return (res[0], res[1], "\n{}\n".format(res[2])) if res[2] else res
`

this

[2018-03-07 21:17] ruslanoid commented on #3271
not yet, but plan to

[2018-03-09 09:07] thisch commented on #3284
I would expect that the test items returned by `pytest --collect-only -qq` can be passed as arguments to pytest, but it turns out that this does not work (neither `pytest "tests/test_a.py::TestXYZ::test_abc"` nor   `pytest -k "tests/test_a.py::TestXYZ::test_abc"` works)

 Do you know if this is supported by using different cmd line flags?

[2018-03-09 10:01] RonnyPfannschmidt commented on #3284
drop the `-k` and it should work, those are nto valid keywords, they are node ids

[2018-03-09 10:01] RonnyPfannschmidt commented on #3284
oh, and if it doesn't ,thats a bug

[2018-03-09 10:24] nicoddemus commented on #3284
@thisch it works for me using `-q`:

[code]

[code]

Or do you really mean `-qq`? If that's the case indeed it does not produce usable ids:

[code]

But I think supporting it through `-q` is enough.

[2018-03-09 10:51] thisch commented on #3284
In projects using unittest-style classes you have to use `-qq` (with `-q` you still see the xml-like output)

[2018-03-09 10:52] thisch commented on #3284
@RonnyPfannschmidt, no it doesn't.

[2018-03-09 10:53] RonnyPfannschmidt commented on #3284
ok, so we have a bug for interaction between collectonly and unittest classes

[2018-03-09 10:55] nicoddemus commented on #3284
@thisch can you please open a new issue with that, including a quick example? (I would but I'm short on time right now)

[2018-03-09 15:36] RazerM opened #3293 "pygit2 segfault under pytest"
- [x] Include a detailed description of the bug or suggestion
I have a test that causes a segfault when run with pytest, but doesn't when run by python. It happens when passing an empty temporary directory to `pygit2.Repository`.

[code]

- [x] `pip list` of the virtual environment you are using
[code]
- [x] pytest and operating system versions
  - macOS 10.12.6
  - Debian buster (so it has the sa

[2018-03-09 15:40] RonnyPfannschmidt commented on #3293
whats the output if the test is not running under pytest?

its possible that pygit2 does something that breaks pytests capture mechanism

[2018-03-09 15:45] RazerM commented on #3293
@RonnyPfannschmidt I have added the output to the main post

[2018-03-09 15:59] RonnyPfannschmidt commented on #3293
based on the  posted information its unclear whats at fault here

[2018-03-09 16:39] RazerM commented on #3293
Ok so `Repository.__repr__` is being called by pytest before `Repository.__init__` returns, and the C getter for `Repository.path` tries to use `self->repo` which isn't initialized. It's a pygit2 bug.

[2018-03-09 16:39] #3293 closed

[2018-03-09 16:44] RonnyPfannschmidt commented on #3293
thanks for following up with the details :+1:

[2018-03-09 20:01] thisch opened #3294 "pytest --collect-only: -q, -qq, --verbose"
For projects where `--verbose` is set in pytest.ini or on the cmd-line, you have to use `-qq` if you want to see the collected test items in a one line per item style:

[code]

(To make the output of pytest a bit better readable, I've removed the `====...` header and footer lines from the following outputs)

[code]

[code]

[code]

If `--verbose` if omitted from the cmd line (or pytest.ini) one ge

[2018-03-09 20:09] thisch commented on #3294
@pytestbot you are wrong! ;) None of your linked issues are related to this issue.

Only #3284 is related to this issue.

[2018-03-09 20:18] nicoddemus commented on #3294
Actually they work like this by design:

https://github.com/pytest-dev/pytest/blob/28df322500facab67bfa3356aebb5abb9b595be2/_pytest/terminal.py#L24-L27

One is the opposite of the other. 😉

In the end everything is working as it should, IMHO.

[2018-03-09 20:39] thisch commented on #3294
Thx @nicoddemus for having a look. This makes sense, but I don't like that the user needs to know whether a projects uses `--verbose` in the ini file or not. I don't really understand why the default output of `--collect-only` is so verbose.

[2018-03-09 21:51] thisch commented on #3294
We need a user-survey for this ;) I want to propose a change but don't know how yet. Let's keep this ticket open for a few days.

[2018-03-11 03:42] #3220 closed

[2018-03-11 18:02] Sup3rGeo commented on #3261
I updated the script to use a list of hooks to merge or to exclude from merging, but other than that I am out of ideas on the best way to do things like, for instance, indicate that `pytest_runtest_makereport` should come after setup,call and teardown.

We could define it to appear a number of times (in this case 3), or indicate that it should have one after each one of them explicitly.

But becau

[2018-03-12 04:20] blueyed commented on #3294
It might be helpful to allow for giving absolute verbosity.
See https://github.com/Vimjas/covimerage/blob/1e86ebf042b26b332e3d913edaa880a3ba2c3b7c/covimerage/cli.py#L19-L29 for an example - but I would name it `--verbosity` instead of `--loglevel` now/here.

[2018-03-12 10:02] ringods commented on #283
Is this still something which needs to be implemented in pytest?

[2018-03-12 12:10] ankostis opened #3297 "caplog.clear() removes records but leaves collected .text"
## Problem
Currently (see *pytest* versions below), method `LogCaptureHandler.clear()` removes all records from the handler, but it does not clear the collected text in it's `.stream`, leading to contradictory results:
https://github.com/pytest-dev/pytest/blob/07e768ab68ad44bdf2c441d0ba7524d646ffdbf8/_pytest/logging.py#L240-L244
https://github.com/pytest-dev/pytest/blob/07e768ab68ad44bdf2c441d0ba7

[2018-03-12 12:23] RonnyPfannschmidt opened #3298 "aceptance test match error output is awfull"
basing this on https://travis-ci.org/pytest-dev/pytest/jobs/352274477

the long trace back in such cases are usually completely useless, same goes for the match/nomatch display that's pretty much at best hard to read, we really should do better there

[2018-03-12 12:49] RonnyPfannschmidt commented on #283
yup

[2018-03-12 13:24] amosonn opened #3299 "Suggestion: KeybaordInterrupt pdb"
When debugging infinite-loop issues, it can sometimes be useful to enable dropping to debugger upon Ctrl+C. Currently `--pdb` only catches other exceptions, `KeyboardInterrupt` is specifically ignored (`runner.py:193`, `CallInfo.__init__`). It would be nice to have a switch that makes it swallow `KeyboardInterrupt`-s as well instead. It would of course make it harder to quit (although a few consec

[2018-03-12 15:46] marekbruchaty commented on #3284
@RonnyPfannschmidt Thank you!

[2018-03-12 17:37] ceridwen commented on #3219
Is `pytest.mark.skip` supposed to be allowed or disallowed in the params argument of `pytest.fixture`?

[2018-03-12 21:40] nicoddemus commented on #3261
Explicitly defining seems like a good solution to me. 👍

[2018-03-12 21:41] nicoddemus commented on #3297
This seems like a nice solution (@thisch what do you think?). @ankostis you have done some researching here, would you like to work on a PR?

[2018-03-12 21:49] nicoddemus commented on #283
To get the discussion rolling, how about this signature for a hook:

[code]

This hook receives `locals` instead of the code or traceback entry object because I don't think we should be exposing those internal objects to users.

[2018-03-12 22:06] nicoddemus commented on #3219
@ceridwen currently it works:

[code]

[code]

[2018-03-12 22:08] thisch commented on #3297
I'm for reinitializing the stream, hence not using truncate. See https://stackoverflow.com/questions/4330812/how-do-i-clear-a-stringio-object#4330829

@ankostis If you want to work on this I can unassign myself. (I'll probably not have time to work on it soon)

[2018-03-12 22:15] ankostis commented on #3297
I'll give it a try.

[2018-03-12 22:17] thisch commented on #3297
You can take a look at my commit (6b224b)

[2018-03-12 22:27] benjaminp commented on #2370
Here's a test file that reproduces it for me 100% of the time:
[code]
While this example is silly, the error can come up in practice if there's a background thread logging something at an inopportune moment during shutdown.

[2018-03-12 22:46] ankostis commented on #3297
Done

[2018-03-12 22:50] ankostis commented on #3297
Oups, i see now my changelog change is forbiden.  Rewritting history without it.

Use this if useful:

[code]

[2018-03-12 23:12] ceridwen commented on #3219
Yeah, it does work currently, I just wonder if it's going to continue to work in the future.

[2018-03-12 23:19] nicoddemus commented on #3113
Closing as a duplicate of #3261; normally we would keep the oldest issue around and close new ones as duplicates, but #3261 has a richer discussion going on.

[2018-03-12 23:19] #3113 closed

[2018-03-12 23:42] ceridwen commented on #3225
I've encountered what *may* be another manifestation of this bug, only with parametrization.  I'm doing some dynamic fixture creation based on command-line options.  An `autouse=True` session fixture takes this fixture as an argument:

[code]

I realized that I accidentally created a test that uses that same name as a parameter.

[code]

This test just so happened to be the first test in the file

[2018-03-12 23:42] nicoddemus commented on #3297
Hmm it seems your markup around *text*  has an extra backtick and failed to parse. Also don't need to add the link to #3297 because this is added automatically.

I suggested a changelog entry on my review because I did not see your comment here, so feel free to use your initial take instead of mine:

[code]

[2018-03-12 23:48] nicoddemus commented on #3219
Actually when using a string-expression it will be evaluated using the globals available where the test function executes, here's the related code:

https://github.com/pytest-dev/pytest/blob/3909225bf90866f1ffa00d6be14926c7fe32e4f3/_pytest/skipping.py#L110-L114

That's one of the reasons why using a boolean is preferred than string expressions, see [string conditions](https://docs.pytest.org/en/la

[2018-03-12 23:51] ceridwen commented on #3161
I've upgraded to 3.4.2 for @cheezman34's fix to the regression.  While trying to track down the cause of this bug, I stumbled across another bit of weirdness that may or may not be related: https://github.com/pytest-dev/pytest/issues/3225#issuecomment-372498655

[code]

The reason I was wondering if it was related is because the error message in that case suggests that pytest is incorrectly interp

[2018-03-13 08:06] ringods commented on #283
@nicoddemus I have a custom pytest plugin to run mamba tests. In the spec tests, I also use the expects library. Below you see the output with a forced error in my test suite, using the `--tb=short` output format.

[code]

For this example, could you tell me how many times the callback will be triggered and which arguments I will get for the above?

[2018-03-13 09:56] RonnyPfannschmidt commented on #283
@nicoddemus such a hook will not allow to fold framework bits

[2018-03-13 10:37] nicoddemus commented on #283
I thought this would do the trick (simplified of course):

[code]

Or even exclude everything from inside `site-packages`:

[code]

[2018-03-13 10:41] RonnyPfannschmidt commented on #283
@nicoddemus something displaying the trace-backs will not know that a framework section is being filtered, we would also be unable to show it again if needed

[2018-03-13 10:43] RonnyPfannschmidt commented on #283
@nicoddemus i understand why just throwing them away in our pretty limited painful terminal print only ux makes sense, but anything more interactive will just be really bad if its crippled by the limits of our current bad ux

[2018-03-13 10:54] nicoddemus commented on #283
Not sure I understand why those limitations are a given based on the hook proposed, after all the code which uses the hook itself might hide the tracebacks and keep them around for other purposes if needed.

As I said, we might not just throw them away, but might set an attribute "hidden" or something like that that each UX can deal with appropriately.

Another idea: it might make sense to return

[2018-03-13 14:35] assundaram opened #3302 "When "Dynamically adding command line options" is added, pytest doesn't collect any tests"
Followed the pytest documentation for "Dynamically adding command line options"

Below is the sample code and command line output.

Contents of conftest.py:

[code]

Contents of test_parallel.py:

[code]

Command Line output of `pytest`:

[code]

When I comment the args[:] line in conftest.py and pass the -n2 in command line, things work fine.

[code]
Command Line output of `pytest -n2`:
[code]

[2018-03-13 15:32] RonnyPfannschmidt commented on #3302
i just made your output readable, and its clearly collected 2 tests that failed using different devices - please describe what you expected to see, because what i see is exactly what i would expect

[2018-03-13 15:39] #3297 closed

[2018-03-13 16:32] assundaram commented on #3302
To get the 2 test collected, I have to comment out "args[:] = ["-n", str(num)] + args",  and pass -n2 as the command line option with pytest invocation.

See the first command line output, no tests were collected when the -n2 is added to pytest_cmdline_preparse().
"gw0 [0] / gw1 [0]
scheduling tests via LoadScheduling"

[2018-03-13 16:34] RonnyPfannschmidt commented on #3302
@assundaram i missed the part in between since your formatting was so messed, let me fix up the original comment again

[2018-03-13 16:57] nicoddemus opened #3303 "Update copyright year in the docs automatically"
https://github.com/pytest-dev/pytest/blob/2612d967f8da5265287231f9a10b4d653c78ff13/doc/en/conf.py#L57

We can use the same approach taken in python-trio/trio#465 and use a range:

[code]

[2018-03-13 16:59] RonnyPfannschmidt commented on #3303
please never ever do that, its a common missconception
its start year or range, you dont update !

[2018-03-13 17:02] nicoddemus commented on #3303
Oh really? I didn't know that, sounded like a good idea at first glance.

[2018-03-13 17:30] ceridwen commented on #3161
On a further look, this is definitely an ordering problem, because running --collect-only,

[code]

Unfortunately, I haven't been able to find anything resembling a minimal example.  Does anyone have suggestions as to what could be throwing off the ordering?

[2018-03-13 17:59] uhbif19 commented on #1508
Have the same bug, using prepopulated (big) test database. `--no-migrations` fix issue, but I do not understand why.

[2018-03-13 18:13] ceridwen commented on #3161
This is probably not the most minimal possible example, but it's close:

[code]

The key, it turns out, is the scope of the fixtures in test_foo.py.  If the scope is `function`, the ordering is correct.  If it's `class` or `module`, it gives the wrong order that forces the session fixture to rerun after every test.

[2018-03-13 18:19] ceridwen commented on #3219
That explains it.  Naturally, in my use-case it has to be in `conftest.py` because it's a session fixture that's used by every test but has to be configured by command-line arguments.

[2018-03-13 19:55] ceridwen commented on #3161
After spending some time staring at the reorder_items_atscope function, I still don't understand what the order it's supposed to produce is.  I would assume that the correct order is to group all the fixtures of a given scope together and otherwise preserve the order in which they're processed.  Are there more constraints than that?

[2018-03-13 20:43] nicoddemus commented on #2370
Thanks a lot @benjaminp! Using this sample I can also reproduce this on latest pytest on Windows, Python 2.7 (but not on 3.6).

Opened #3305 with a fix.

[2018-03-13 21:10] nicoddemus commented on #3302
@assundaram the problem is that you are adding `-n 2` to the command-line even for the worker processes, and they are likely blowing up right at the beginning.

You can add `-n 2` to the `master` worker only using this code:

[code]

Unfortunately you cannot use the `hasattr(config, "slaveinput")` trick at this point because of how things are initialized in the xdist remote worker: `pytest_cmdline

[2018-03-13 21:14] nicoddemus commented on #1508
@uhbif19 I suggest posting a question in the [pytest-django issue tracker](https://github.com/pytest-dev/pytest-django/issues).

[2018-03-13 21:15] nicoddemus commented on #3219
@ceridwen in that case try using `pytest.mark.skipif("not config.getoption('option')")` instead, because `config` is added by pytest itself as part of the namespace to be evaluated.

[2018-03-13 23:50] njsmith commented on #3303
You definitely don't delete years. START-{now} seems mostly defensible AFAICT, since each time you regenerate the docs you're "publishing" them...?

[2018-03-14 00:02] nicoddemus commented on #3303
Thanks @njsmith. @RonnyPfannschmidt what do you think about the solution adopted by @njsmith below?

[code]

[2018-03-14 01:40] cheezman34 commented on #3161
Look at testing.python.fixture for test_module_parametrized_ordering to get a picture of expected output.  I would try printing out "items" at the beginning of reorder_items_atscope and "items_done" at the end to figure out exactly what's happening.  You might also look at what the code was before I made my changes (it might be easier to understand).

I honestly don't know whether it's an optimal

[2018-03-14 01:50] cheezman34 commented on #3161
What would be your expected output from your previous example versus what it actually gives you?

[2018-03-14 05:38] RonnyPfannschmidt commented on #3303
looks fabulous :+1:

[2018-03-14 05:42] #2370 closed

[2018-03-14 09:26] thakkardharmik opened #3308 "Question: Can someone explain the below uses of @pytest.mark.usefixtures"
Question: Can someone explain the below two uses of @pytest.mark.usefixtures and how does each of them work. I would like to understand the difference in the marker and fixture definition/usage.

1.
[code]
2.
[code]

[2018-03-14 09:30] RonnyPfannschmidt commented on #3308
1. is not supported
2. looks like a example that should work but breaks without more context

usefixtures uses the fixture names as strings

[2018-03-14 09:53] thakkardharmik commented on #3308
@RonnyPfannschmidt I see the usage of 1 in pytest doc.
https://docs.pytest.org/en/latest/usage.html#creating-junitxml-format-files

[code]

[2018-03-14 09:57] RonnyPfannschmidt commented on #3308
@thakkardharmik thanks for pointing that out, that seems like a mistake - to be specific that code is completely incorrect

[2018-03-14 09:59] thakkardharmik commented on #3308
@RonnyPfannschmidt though if I try to use similar idea in 1 it does work for me. Can you elaborate on what its trying to do there in scenario 1 though its not supported and how its working.

[2018-03-14 10:02] RonnyPfannschmidt commented on #3308
@tareqalayan the code paths im aware of support **only** function names there - if having a function there does actually have an effect thats an accident and should actually trigger an error

[2018-03-14 10:22] thakkardharmik commented on #3308
@RonnyPfannschmidt Thanks. Also you can see there is a slight change in fixture definition. When we pass function as an argument to usesfixture, the fixture too takes an parameter. I didnt quiet really understand what is happening there.
[code]
If we dont define 'f' as an parameter to the fixture it throws an error.

[2018-03-14 10:26] RonnyPfannschmidt commented on #3308
please show that error

[2018-03-14 11:38] akr8986 commented on #3308
what is 'f' here ? is it the request object??

On 14 March 2018 at 15:56, Ronny Pfannschmidt <notifications@github.com>
wrote:

--
அன்புடன்,
பா. அருண் காளி ராசா

[2018-03-14 11:53] tareqalayan commented on #3308
@RonnyPfannschmidt  yes it should be log_global_env_facts.__name__

[2018-03-14 12:38] wolfc01 opened #3310 "Run each file containing a unit test class as subprocess"
Hello,

Consider the following very simple example in a file named test.py:
[code]

before using pytest, i used to test the above on a build server as following `python test.py` which effectively runs the test in its own process. Then each unittest is  strictly separated from other unittests, as the OS  frees up all resources after the test has run.

Because of several requirements which I don't w

[2018-03-14 12:57] The-Compiler commented on #3310
It sounds like you want the [pytest-forked](https://github.com/pytest-dev/pytest-forked) plugin.

[2018-03-14 13:25] wolfc01 commented on #3310
Thanks, I just tried it.
I have some additional questions to it.

background info:
Actually I am using python unittest to test a c++ library. This library is binded to python. The library is compiled with --coverage which effectively dumps c++ code coverage to a file _at unload time_ of the python test. I want to perform a coverage check (c++coverage should be 100%), but this is possible only afte

[2018-03-14 14:09] wolfc01 commented on #3310
Oops, accidentally closed, sorry.

[2018-03-14 14:11] RonnyPfannschmidt commented on #3310
you can just pass each file to a new py.test call if thats your issue,
alternatively some kind of plugin would be needed as py.test currently doesn't do that kind of orchestration on its own

[2018-03-14 14:12] acerv opened #3311 "Extend Config to override ini values programmatically"
Hello, I'm trying to find a way to override custom ini values defined inside pytest.ini.

My scenario is the following: I have a custom option called `--resource-enable` which is implemented inside a plugin called "resources.py". If `--resource-enable` is used, my plugin fetch the configuration from a DB (`dict` type) and it has to override the pytest.ini variables defined inside the other plugins

[2018-03-14 14:15] wolfc01 commented on #3310
Hello Ronny,

Unfortunately not. On a buildserver, i just want want to run pytest on the entire tree, that saves maintenance and lowers the chance on human errors.

I think so yes. Is it easy to write such a plugin?

Best regards
Carl.

[2018-03-14 14:17] RonnyPfannschmidt commented on #3310
@wolfc01 potentially, it depends on the use case you plan to implement - and how detailed you need your reports

[2018-03-14 14:22] wolfc01 commented on #3310
Hello Ronny,

quite simple:
* run a number of python files containing unittests classes one after the another using subprocess
* for each subprocess: sum all abs(exit codes) , collect all stdout and stderror, and dump entire output to a file.
May be it is better to create a simple runner doing the above and not using pytest, but i'm not sure what gooedies of pytest I loose then...

Best regards
Ca

[2018-03-14 14:51] RonnyPfannschmidt commented on #3310
since you want to run unittest only tests, you dont loose much of pytest
it highly likely that your reporting needs will be met better by wireing up a simple runner

[2018-03-14 15:41] nicoddemus commented on #3303
OK reopening then. 👍

[2018-03-14 15:55] tadeu opened #3312 "pytest.approx doesn't support comparison between arrays and scalars"
Sometimes we want to assert that all elements from an array are approximately equal to a single value, so this code comes naturally to mind:

[code]

the problem is that `pytest.approx` doesn't support this (the workaround is to create a second array with the same shape and filled with the scalar).

Here is a test case:

[code]

here are the outputs:

[code]

This is `pip list`, including pytest v

[2018-03-14 16:19] wolfc01 commented on #3310
Ronny,

I Agree.

Best regards,
Carl.

[2018-03-14 16:19] #3310 closed

[2018-03-14 16:27] nicoddemus commented on #3312
Thanks @tadeu!

[2018-03-14 16:56] ceridwen commented on #3161
@cheezman34, you successfully replicated the 3.2 ordering :).  I'm saying that the 3.2 order is wrong.  This is the order with class- or module-scoped fixtures in my toy example:

[code]

This is the order with function-scoped fixtures in my toy example:

[code]

The function-scoped fixtures have the right order, the class- and module-scoped fixtures have the wrong order.  It's wrong because it fo

[2018-03-14 20:34] nicoddemus commented on #3161
@ceridwen I have to take a closer look, but running your toy example with branch from #3306 I get:

[code]

The last 4 runs (with `vlan`) don't look right to me, they should have swapped the middle items like this:

[code]

[2018-03-14 20:37] nicoddemus commented on #3308
Fixed in #3309

[2018-03-14 20:37] #3308 closed

[2018-03-14 20:44] assundaram commented on #3302
@nicoddemus Thanks, that resolved the issue. pytest documentation needs to be updated.

[2018-03-14 20:45] nicoddemus commented on #3302
OK thanks for the feedback @assundaram, could you open a new issue with a proposal addition to the docs, or even a PR if you have the time? Thanks, appreciate it!

[2018-03-14 20:45] #3302 closed

[2018-03-14 21:12] cheezman34 commented on #3161
I *think* this might be your problem:

The sorting algorithm treats all fixtures of a given scope as having the same priority, which means some test configuration will have multiple valid orders.  For example, given session-scoped fixtures A1, A2, B1, and B2, and tests that run on a cartesian product of these:

(A1, B1)
(A1, B2)
(A2, B2)
(A2, B1)

...is a valid order.

(A1, B1)
(A2, B1)
(A2, B2)
(

[2018-03-14 21:16] nicoddemus commented on #3311
Hi @acerv,

Changing ini options on the fly feels brittle because you never know when another plugin is actually reading the value of a ini option, which might be earlier than you expect (or even change from one version to another). For example a certain option of `foo` plugin is read right before running the tests, so you change the value of the option in your `pytest_configure()` hook and things

[2018-03-14 22:05] acerv commented on #3311
Thank you very much for your reply.

The system is still under evaluation, but to me, I don't see many options but using the _inicache, which is scaring me a bit because of side-effects on the system for a pytest update.

The `options` fixture is probably the best choice here and I really need to check it one more time.

For now I can say that the problem release on a particular case, which is the

[2018-03-14 22:08] ceridwen commented on #3161
@nicoddemus, The last 4 runs are the ones that are wrong, yes.

@cheezman34, The algorithm doesn't care about the ordering of session fixtures, and neither do I.  Either of the two orders you give are valid, if only session fixtures are involved.  The problem is when you add a class or module fixture, it effectively receives priority over one of the session fixtures in ordering.  If I pick the fir

[2018-03-15 00:09] nicoddemus commented on #3311
Indeed this will be a problem, I'm afraid.

Perhaps @RonnyPfannschmidt can share his opinion here?

[2018-03-15 05:01] benjaminp commented on #2370
On Tue, Mar 13, 2018, at 13:43, Bruno Oliveira wrote:

Yeah, the Python 3 IO stack does not share this quirk.

[2018-03-15 06:06] RonnyPfannschmidt commented on #3311
i would suggest to put everything that configures the values and data elements into a singe plugin object, which can be looked up by the other plugins just fine from the config

that way you have a custom object that provides the values you need exactly in the way you need without needing to mess with any of pytests config values

[2018-03-15 07:26] acerv commented on #3311
Thanks @RonnyPfannschmidt for your suggestion.

That was a plan, but I figured out that placing all configurations, which are mostly specific for other plugins, in one since configuration plugin causes major issues and a sort of "circular dependency" between plugins.

I would like to have many plugins placing their own ini configuration inside pytest, and then one single plugin overriding these co

[2018-03-15 07:58] RonnyPfannschmidt commented on #3311
as far as i understood, that plugin need to be aware of all configuration, so i should bear the responsibility for all of those as well, that way the configuration values are managed by a singular plugin you can then use as source of truth of the other plugins

with what i know so far i believe anything else will be more hackish and more fragile

[2018-03-15 08:15] acerv commented on #3311
Each ini value is well documented and exposed to the users. Then the `resources` plugin fetches data from a DB getting data in the json format, which is translated into a dict.

The idea is that configuring the DB correctly (with the same key name of the ini values) the plugin automatically updates these values, overriding the values coming from pytest.ini.

[2018-03-15 10:25] acerv commented on #3311
After a deeper analysis, I guess the solution provided by @nicoddemus using the `options` fixture is the most elegant and it's not causing major issues or circular dependencies.

Still, I need to figure out how to handle the execution of a particular operation using fixtures inside the `pytest_runtestloop`.

I also thought that it's maybe possible to create a custom test, which is going to be exec

[2018-03-15 13:29] fkromer commented on #916
Could we summarize the current suggestions how to use hypothesis with pytest somehow? Probably in some followup article for ["How do I use pytest fixtures with Hypothesis?"](https://hypothesis.works/articles/hypothesis-pytest-fixtures/). This could help ["Seeking funding for deeper integration between Hypothesis and pytest"](https://hypothesis.works/articles/pytest-integration-sponsorship/) as wel

[2018-03-15 15:04] #1713 closed

[2018-03-15 15:04] #3229 closed

[2018-03-15 21:00] nicoddemus commented on #3311
Can you provide more details of what you have to do there? How things work now, no fixture will have been created at this point yet: fixtures are created when tests *request* them.

It is not clear to me what that test would do, set some global variable which would then be accessed during `pytest_runtestloop`?

[2018-03-16 01:01] jaraco opened #3314 "TypeError in test collection when sys.stdin isn't an iterator"
In [this build](https://travis-ci.org/jaraco/jaraco.financial/jobs/354002885), I found that because of the construction of a `csv.DictReader(sys.stdin)` during import, the file can't be collected.

Looking a `--pdb` trace on it, I see:

[code]

Obviously, I could refactor the code to bypass the error, but since the code runs, I feel it should be supported for pytest collection.

Perhaps `DontReadF

[2018-03-16 01:07] jaraco commented on #3314
I thought maybe adding `__next__` to DontReadFromInput would make it an iterator:

[code]

but it didn't:

[code]

[2018-03-16 01:14] jaraco commented on #3314
[Here's the code where csv.reader detects an iterator](https://github.com/python/cpython/blob/d6e140466142018ddbb7541185348be2b833a2ce/Modules/_csv.c#L9660). It uses [PyObject_GetIter](https://docs.python.org/3/c-api/object.html#c.PyObject_GetIter), which according to the docs is equivalent to `__iter__`.

Aha! and `f.__iter__()` raises OSError. I think I know the fix.

[2018-03-16 01:18] jaraco commented on #3314
This patch fixes the failure:

[code]

It does it by making DontReadFromInput an iterable and only raising the OSError when something attempts to consume the iterator.

[2018-03-16 10:21] tikon93 commented on #2237
Have somebody workarounds to avoid this issue?
The only idea I got is to catch all of exceptions at fixtures with scope higher than function, but I don't think that it's good enough - I may loose some usefull information.

[2018-03-16 10:52] KKoukiou commented on #2237
@tikon93 unfortunately I don't have WA.

[2018-03-16 13:05] #3314 closed

[2018-03-16 16:26] acerv commented on #3311
Thank you @nicoddemus . After a deeper analysis and implemented the `options` fixture, I realized that probably the best way to approach this problem is to use an external tool, which converts DB data into a pytest.ini file. After running pytest the tests will be configured correctly, without messing up with configuration overwriting.

One limitation I found in the pytest execution, is the number

[2018-03-16 17:16] nicoddemus commented on #3311
Hi @acerv,

Currently pytest only supports loading from a single ini file and I don't think there are hooks in place to make it load more than one file.

But if you plan to use a tool to generate a `pytest.ini` file, you might then consider to generate a `pytest.generated.ini` file instead, which contains a mix of the options from the original `pytest.ini` file and the options obtained from the da

[2018-03-16 18:20] DRMacIver commented on #916
There isn't really a current suggestion for how to use Hypothesis with pytest because there's nothing to suggest. Hypothesis works fine with pytest as long as you don't use function scoped fixtures, so "How to use Hypothesis with pytest" is "use Hypothesis normally and don't use function scoped fixtures"

[2018-03-16 20:07] untitaker commented on #916
@fkromer I still use pytest-subtesthack, https://github.com/pytest-dev/pytest/issues/916#issuecomment-170288348

[2018-03-17 07:29] acerv commented on #3311
@nicoddemus thank you very much for your support, the trick worked perfectly!
Eventually, if I want to create this file inside a pytest plugin, what's the right pytest_ method where I can do this?

[2018-03-17 13:29] aviral1701 commented on #3303
Hey everyone! I am new here and would love to contribute to this project. So can I take up this issue?

[2018-03-17 19:39] nicoddemus commented on #3303
@avirlrma sure go ahead! Thanks!

[2018-03-17 19:44] nicoddemus commented on #3311
I'm afraid reading configuration from `ini` files happens way before hooks are called, so it's not possible under the current design.

[2018-03-18 00:11] andrermarques commented on #3112
Hello Everybody,

I had a similar error. I'm using Windows 10 with Anaconda. I'm a new user. I tried first of all to install anaconda and then i created an environment and wrote conda install pandas.

Thank you all for the help!
Andre

(base) C:\Users\marqu\Desktop\Scripts-Python>python
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)] on win32
Type "help",

[2018-03-18 03:37] tonybaloney commented on #3180
Help needed? (pleeeease can I implement this!)

[2018-03-18 04:39] neiljp opened #3319 "capsys fails for subprocess calls"
On attempting to test external (subprocess) calls, I noticed unexpected failures, even though the output is shown in the 'captured' stdout output area. I have reduced my example code to something like:
[code]

My understanding is that pytest should have the marked `xfail` cases above pass (without the marks).

attrs (17.4.0)
pip (9.0.1)
pkg-resources (0.0.0)
pluggy (0.6.0)
py (1.5.2)
pytest (3.4.2

[2018-03-18 06:03] nicoddemus commented on #3180
@tonybaloney sure, please go ahead! 😁

[2018-03-18 06:33] tonybaloney commented on #3180
This is my thinking:

* Check for existence of breakpoint in builtins to determine if version of Python implements PEP553 https://www.python.org/dev/peps/pep-0553/#implementation this means that if PyPy/PyPy3 etc. later decide to do so we're not coupling to CPython. Add a "supports_breakpoint_builtin" module-level attribute in pytest.debugging
* Set the breakpoint sys.breakpointhook to the custom

[2018-03-18 13:51] avirlrma commented on #3303
@nicoddemus I'll be updating within a few days after I've gone through the code base and have more understanding of the same.I hope that's fine with you. :smile:

[2018-03-18 14:29] flub commented on #3180
Sounds good.  One thing to look out for is probably check that external plugins like pytest-ipdb will keep working, bonus points if they automatically support breakpoint as well.

[2018-03-18 15:04] RonnyPfannschmidt commented on #3319
capsys unlike capfd does not capture usage of the underlying FD, this is per design

[2018-03-18 15:04] #3319 closed

[2018-03-18 16:42] Formartha opened #3320 "[question] Multithreaded support in a function"
Hello,

I got some usecase where I will need some multithreaded support.
Basically, I got some implementation of a Rest API call which loades some .zip files.

The implementation basically scans a given directory and than it pushes the file to one API.

The main issue is that the time it takes to load a file is about 30 sec and I want to cut it down.
Multithreading this request might help, as it w

[2018-03-18 19:00] neiljp commented on #3319
capfd does not appear to do so either. I ended up using a `subprocess.Popen` and capturing the stdout using `PIPE`.

[2018-03-19 08:31] RonnyPfannschmidt commented on #3320
pytest itself is unaware of thread and not designed to support working with threads inside of itself

on the same page there is also zero issue with spinning up a thread pool and submitting work to it

for the use-case as you described, i believe just having a thread pool is more than sufficient,

[2018-03-19 08:46] RonnyPfannschmidt commented on #3319
if capfd doesnt do it then thats a bug

[2018-03-19 11:11] assundaram opened #3322 "[Question]How the fixture can communicate that it is terminating so that the master can re-schedule the tests to other workers"
I tried sys.exit() in a session scope fixture but even then the test is marked as Error. Also the same worker was allocated with more tests and they also end up in error. What I am trying to achieve is if a worker terminates then the master should re-schedule the tests to other workers.

Contests of conftest.py:
[code]

Contents of test_parallel.py:

[code]

Command line with output:
[code]

[2018-03-19 11:18] RonnyPfannschmidt commented on #3322
currently thereis no supported way to stop execution - i beleive it could work to set a session.shouldstop in xdist workers, but i feat that they will jsut restart

[2018-03-19 13:15] andreyv1978 opened #3323 "MemoryError from xmlgen for a big number of tests"
Hi

I've not executed this test for a long time, maybe 6 month, but it was running and not failing. The PC was updated multiple times with Win10 updates.
I've updated all pytest packages to make this problem disappear, but still it  is failing somewhere I can't find

This is my pytest packages:
This is pytest version 3.4.2, imported from c:\python27\lib\site-packages\pytest.pyc
setuptools register

[2018-03-19 13:25] RonnyPfannschmidt commented on #3323
is this a 32 bit python or a 64 bit python?

[2018-03-19 14:12] andreyv1978 commented on #3323
I am using 32bit python on Win10
platform win32 -- Python 2.7.14, pytest-3.4.2, py-1.5.2, pluggy-0.6.0
plugins: xdist-1.22.2, progress-1.2.1, metadata-1.6.0, html-1.16.1, forked-0.2, base-url-1.4.1

[2018-03-19 17:08] Formartha commented on #3320
Thank you for your response Ronny. I will deep dive into what you suggested.

Any plans to have some native threading support?

Plus,
Do you know any way to let Pycharm know I'm using an imported fixture? It shows that my module isnt being used (while importing it), however, it is used.

[2018-03-19 17:15] RonnyPfannschmidt commented on #3320
@Formartha as far as i understand the pytest support of pycharm is simply unaware of key features of pytest, so no idea how to add it

[2018-03-19 17:16] RonnyPfannschmidt commented on #3320
as for adding native threading support to pytest - thats highly unlikely as it very likely requires a complete rewrite of key parts

[2018-03-19 20:03] satishmovvar commented on #3227
After reinstalling the Ananconda package I didn't have any issue so closing this for now

[2018-03-19 20:03] #3227 closed

[2018-03-19 20:15] satishmovvar opened #3324 "how can I dynamically remove a marker?"
I am creating an User interface to select and deselect tests after test collection. I am considering item.add_marker(pytest.mark.skip) to achieve that; But I didn't find remove_marker option in pytest collected item. Why is so? Is there a way I can dynamically remove marker from the collected item?

Below is the custom plugin I developed to show the tests after it gets collected in a UI which has

[2018-03-19 20:33] satishmovvar commented on #3324
After further investigation I found item maintains its markers under "keywords._markers" dictionary.

[2018-03-19 20:33] #3324 closed

[2018-03-20 02:26] kchawla-pi commented on #1453
I am facing a similar issue. I am just starting out with pytest, and the function I wrote to establish the root path of my project becomes all lowercase and errs. If you wish I can try and push the files to my repo and share the link for you to study.

[2018-03-20 06:45] RonnyPfannschmidt commented on #3324
@satishmovvar there is no support to dynamically remove markers, and the data structures in the keywords mapping are polymorphic meaning its very likely you will end up with a broken code unless you are really really carefull

in addition markers and their handling will soon moved to a own internal structure meaning your code wont work with the next pytest feature release

both the new storage and

[2018-03-20 07:02] RonnyPfannschmidt commented on #1453
please take a look if `py.test --pyargs nengo` works for your usage
i suspect a issue with path normalization

[2018-03-20 09:25] andreyv1978 commented on #3323
It might be I found what is a problem the xml unit (junitxml) was flooded with a huge amount of data 8000*1000 at least line of text +20%. I guess if the xml can hold such big amount of text. Disabling xmlunit (junitxml) or reducing the output sorts the problem

[2018-03-20 09:31] RonnyPfannschmidt commented on #3323
@andreyv1978 i see, a 32 bit process on windows can at most use 2gb of memory, 3gb in special setups,
so i presume that easyly hit the limit as the junitxml plugin currently stores the sorted report data in text fragments,
while pytests also keeps full reports, i beleive we should elevate this in 2 ways

a) have junitxml write out the reports as they complete
b) have items and reports drop more de

[2018-03-20 09:37] andreyv1978 commented on #3323
yes, for me I can minimize output that writes to junitxml  like 1 line per test, which will not exceed about 200000 + 25% lines in total

[2018-03-20 15:39] merwok commented on #1872
Thanks for removing a misleading example.  What is the new way of monkey-patching in a session-scoped fixture?  Do we have to patch and restore e.g. os.environ directly, can we use an instance of the MonkeyPatch class, or something else?

[2018-03-20 16:56] RonnyPfannschmidt commented on #1872
currently not, so far we haven't been able to bring it back

[2018-03-20 22:17] #3139 closed

[2018-03-20 22:17] nicoddemus commented on #3139
Fixed in #3295

[2018-03-20 23:21] nicoddemus commented on #3178
Closing this for now as I think we've concluded the discussion here.