[2020-07-04 17:13] nicoddemus commented on #7342
I also have thought about this issue in the past, but never really had the time to make it take off.

I like the idea given here of having a separate repository which runs pytest `master` against a curated list of plugins. Probably it makes sense to run one job per plugin, in a Python version of their choosing.

But I see other issues though, because some plugins might need to install system wide

[2020-07-04 21:55] gnikonorov commented on #7447
I like the idea. Definitely +1 from me

[2020-07-05 03:56] urishalit opened #7450 "Cannot initiate abstract base test class"
Hi,
I am using pytest version 4.6.9. With pypy 2.7 on Mac. But this issue replicates on our unix based Jenkins machine as well. On my machine it happens both in PyCharm and in the terminal.

The problem I am having is when creating an abstract test class it tries to initiate the base class ignoring it being abstract. As follows:

[code]

In the example above pytest  tries to run tests both for `Ba

[2020-07-05 13:51] #3342 closed

[2020-07-05 14:05] bluetech commented on #7433
@gnikonorov Can you describe what problem did this cause? I followed the link to #7428 but couldn't quite figure it out.

[2020-07-05 14:12] gnikonorov commented on #7433
@bluetech - in my case I just split a function, and it redefined `type`. When I ran mypy, mypy complained about how I was using `type` in my new function.

There is no real problem going on with mypy or the code. It is dangerous to override builtins though, and for developer santity/peace of mind we shouldn't do it IMO. I remember it really confused me at first that we were overriding type ( to us

[2020-07-05 14:13] bluetech commented on #7441
I suspect `-q` is used here just to keep the output brief. So what do you think about the following?

[code]

[2020-07-05 14:26] nicoddemus commented on #7450
Hi @urishalit,

Indeed pytest doesn't try to verify if a class is abstract or not.

What happens if you execute this with plain unittest?

Also, which Python version and OS are you using locally? I can't reproduce this on my computer using 4.6.9 and Python 3.7.

[2020-07-05 14:28] bluetech commented on #7433
Ah thanks for explaining. So I think it's a tradeoff. Using the name of a builtin can cause confusion as you describe. But some arguments against it:

- I still do it sometimes because builtins occupy a lot of useful names like `id`, `type`, `min`, `max`, `dir`, `input`, `compile` and coming up with alternative names can be annoying.
- mypy should catch most misuses.
- Adding a flake8 plugin cause

[2020-07-05 14:35] gnikonorov commented on #7433
I agree it's a trade off, and definitely requires broader buyer than just myself

Some responses to your concerns:
- The names are useful, but overriding them at best is confusing to people unfamiliar with the code and at worst a future bug
- The plugin doesn't slow down the linting target that much, maybe a few seconds
- We'd only need to noqa the existing code, any new code added should never be

[2020-07-06 07:16] amitbeka opened #7451 "tmp_path fixture fails when run as root"
Hi there,

I'm trying to use `tmp_path` fixture under a docker container in our own Gitlab deployment, so I don't know all the details of the system.

When trying to create the `tmp_path` fixture, it somehow picks up the name `/root` as the current user, and tries to create "/tmp/pytest-of-/root" and fails.

A minimum example is:

[code]

This is the full output:

[code]

I don't know why "/root"

[2020-07-06 07:21] bluetech commented on #7451
pytest uses `getpass.getuser()` to get the user name. What is the output of this command on the container?

[code]

The code of `getpass.getuser()` is

[code]

So check these environment variables and `pwd.getpwuid(os.getuid())[0]` as well if you can.

[2020-07-06 07:45] urishalit commented on #7450
Locally I am using Mac OS 10.14.6 and Python:

[code]

This reproduces in unitest and nosetests as well....

[2020-07-06 07:53] akozyreva commented on #7446
@nicoddemus thanks a lot for your answer! Works for me perfect now! Was this feature somewhere documented?

[2020-07-06 08:25] mciepluc commented on #7445
@RonnyPfannschmidt

Thanks. I have missed the part that the code after ```yield``` in the session-scoped fixture will be executed after all tests have finished. Now it is clear.

[2020-07-06 08:25] #7445 closed

[2020-07-06 08:32] amitbeka commented on #7451
Thanks for the quick reply!

My output of `getuser()` is actually "/root", which is also what is set as my USER env var (I don't have LOGNAME).

I can set the USER var for the process and it will fix it, but I wonder maybe it's worth asserting/fixing in pytest too.

---- On Mon, 06 Jul 2020 10:21:56 +0300 Ran Benita <notifications@github.com> wrote ----

pytest uses getpass.getuser() to get the us

[2020-07-06 08:44] bluetech commented on #7451
I suggest checking why the container sets `USER` to `/root` instead of the expected `root`, as that may cause other issues for you in the future.

We can maybe escape the username for a file name, but it's not so straightforward due to windows/unix differences.

Overall unless it happens more often, I think pytest shouldn't try to workaround a system misconfiguration.

[2020-07-06 09:11] rswarbrick commented on #7441
Ah, good point. Sounds good to me.

[2020-07-06 10:32] Czaki opened #7452 "Conftest executed even in ignore directory"
I would like to ignore part of my test when running inside docker container (manylinux image). Everything work perfect when using `--ignore` flag until I extract common part to `conftest.py`. Then it shows that `conftest.py` content is executed even if whole directory is ignored.

In my case problem is connected with Qt. To use it I need to setup xvfb, which is not nice on centos6 system.

I think

[2020-07-06 13:56] amitbeka commented on #7451
Found the copy-paste bug somewhere. The user is indeed root (as evident from running `id`) but the env var is wrong.
Closing, thanks!

[2020-07-06 13:56] #7451 closed

[2020-07-06 18:02] nicoddemus commented on #7447
OK, I plan to make a release candidate tomorrow then.

I'll leave this open so we can evaluate how this will pan out once 6.0 is out, with two outcomes:

1. We have a few release candidates with many reports, making the 6.0 release smoother. Success!
2. Nobody reports anything for the first release candidate, so we release 6.0 and a ton of regressions show up. So the experiment failed.

So let's l

[2020-07-06 23:21] nicoddemus commented on #7444
Thanks @kchomski!

Closing as duplicate of https://github.com/pytest-dev/pytest/issues/7331. 👍

[2020-07-06 23:21] #7444 closed

[2020-07-07 00:13] nicoddemus commented on #7450
If we reproduce the `unittest` behavior, then I don't think this is a bug. Weird that I cannot reproduce it on Windows though... 🤔

[2020-07-07 08:35] George3d6 opened #7455 "Sudden crash with no obvious reason"
`pytest` suddenly broke on my machine (can't run any tests) with no apparent reason for what caused the issue. It works perfectly on e.g. travis.

When I attempt to run the tests (via just cd-ing in the test dir and running `pytest`) it just spends a very long time at the "collecting" bit and then crashes with the error: `ValueError: I/O operation on closed file`

The full logs are:

[code]

[2020-07-07 08:39] mciepluc opened #7456 "Overriding @parameterize with no action at collect phase"
Hi,

I am overriding the ```@parameterize``` decorator, so I can add some pre-parameterization functionality:

[code]

It works OK, but even if I run only one single test, ```pre_parameterize``` is called for all the tests (guess it is because it is called at the collect phase). Is it possible to avoid it?

[2020-07-07 10:12] chbndrhnns opened #7457 "How can I activate log_cli dynamically?"
I am trying to activate `log_cli` for a single test where I am interested in seeing the output during the run. However, it seems to me like it is not possible to set this option at runtime using the `request` fixture.

Am I maybe missing something?
Is it possible?

[2020-07-07 11:58] nicoddemus commented on #7455
Probably something to your local folder... is `/home/george/mindsdb_native` a project folder? I suggest taking a look if there are any folders which might contain trash (say old backups or such), or perhaps making a fresh clone of your project somewhere else and try that.

[2020-07-07 12:12] skripnik-bogdan opened #7458 "Incorrect color of indicators in the test summary after test failed"
From version PyTest **5.3.0+** (looks like due to https://github.com/pytest-dev/pytest/issues/6097) when one of @parametrize test fail, the others “[…%]” indicators in the test summary have red (failed) color.

<img width="1022" alt="Color_issue" src="https://user-images.githubusercontent.com/33843702/86779081-cd7c6b80-c063-11ea-85fe-501619705f8f.png">

**Instance:**
[code]
**Pip:**

[code]

[2020-07-07 20:40] nicoddemus commented on #7433
I'm also leaning a bit against it, mostly because of the huge number of noqa's needed even for those cases that IMHO don't cause any problems, such as methods and attribute names.

An argument which I didn't consider but do agree with is that mypy should catch most/all of such errors.

@asottile @RonnyPfannschmidt what are your takes on this?

Also @The-Compiler might chime in, as I take he uses f

[2020-07-07 21:57] asottile commented on #7433
personally I think mypy is sufficient to catch these flavor of issues -- I didn't consider it before agreeing with the plugin approach but think it's best to leave it alone (or only enable the local variable flavor of check)

[2020-07-08 02:41] UmBottesWillen opened #7460 "Incorrect parsing of indented steps"
When indenting one `And` step definition after a `Given` step definition, pytest will incorrectly parse both steps as one.

Example - feature file:
[code]
The given example will trigger the following error when the file is parsed:
[code]

`pip list` output:
[code]
PyTest version:
[code]
Operating system/IDE:
 - Ubuntu 20.04 LTS
 - PyCharm 2020.1.2 (Professional)

[2020-07-08 06:06] hugovk commented on #7443
Yep, this happens with pre-commit too, and many, many other tools. The problem is GitHub Actions does not provide a tty: https://github.com/actions/runner/issues/241. This issue mentions pytest, and GitHub say it's low in their backlog and they have no plans to fix it (https://github.com/actions/runner/issues/241#issuecomment-580480162).

If you run pytest via tox, a similar workaround is to put i

[2020-07-08 07:43] fschulze opened #7461 "--lf skips tests in classes since 5.4.x"
In devpi we have many tests in classes. When using --lf those tests are skipped. This happens in ``LFPluginCollWrapper.pytest_make_collect_report`` in the ``elif isinstance(collector, Module):`` branch. The ``filtered_result`` list comprehension removes the tests in classes. The nodeid from ``res.result`` is for example ``test_devpi_server/test_replica.py::TestChangelog`` and the nodeid in ``self.

[2020-07-08 08:07] blueyed commented on #7461
Please try master (d530d7012).

[2020-07-08 08:19] fschulze commented on #7461
That seems to fix it. I had something weird on first try, but couldn't reproduce. Might have been caused by old cache data.

So I guess this ticket can be closed with the next release.

[2020-07-08 08:56] hugovk commented on #7443
Please see PR https://github.com/pytest-dev/pytest/pull/7462.

[2020-07-08 09:13] RonnyPfannschmidt commented on #7456
without more context, all i can say that this is a python question not a pytest question

[2020-07-08 10:01] The-Compiler commented on #7458
As far as I know, this is intended - for longer testsuites with a lot of output, it's quite nice to see whether something failed but already scrolled off the screen.

[2020-07-08 10:10] The-Compiler commented on #7433
Disclaimer: I *love* linters. I run pylint, flake8 + plugins, mypy and others (like [vulture](https://github.com/jendrikseipp/vulture/)) myself.

From a quick look at #7449, the reason for most (or at least some) of the "noqa" comments is that we have such names exposed via our API. We definitely should *not* use built-in Python names as argument values, because it e.g. leads to confusing syntax h

[2020-07-08 11:41] eine commented on #7443
IMHO, envvars to force colouring are VERY inconsistent. This is true even in the Python ecosystem. For example, see this issue, tartley/colorama#230 (/cc @jhol @tartley), tox-dev/tox#1468 (/cc @gaborbernat)... I believe it would be desirable if the community could talk and agree on a couple of envvars.

I like @jhol's `FORCE_COLOR` and `NO_COLOR`.

[2020-07-08 11:50] The-Compiler commented on #7443
@eine True, but this seems unrelated to this issue?

[2020-07-08 11:57] Zac-HD commented on #7272
Closing this as I think @SalmonMode's advice is a nice and idiomatic way to write the tests you need :slightly_smiling_face:

[2020-07-08 11:57] #7272 closed

[2020-07-08 12:03] Zac-HD commented on #7408
There's just not much that we can do (beyond speculation!) without a reproducing example.  Can you point us to a repo which demonstrates this behaviour?

[2020-07-08 12:11] Zac-HD commented on #7458
Yep, this is the intended behaviour... though it does look a little odd in verbose mode :sweat_smile:

[2020-07-08 12:11] #7458 closed

[2020-07-08 12:12] Zac-HD commented on #7461
Glad to hear it's been fixed - the release should be soon(ish)!

[2020-07-08 12:12] #7461 closed

[2020-07-08 12:29] eine commented on #7443
@The-Compiler, I believe it does! Should pytest work with `FORCE_COLOR` (and tox and colorama too), `PYTEST_ADDOPTS` or `--color=yes` would not be required. At the same time, if checking `TERM` or asking GitHub to define `FORCE_COLOR` is the way to go, all projects (including pytest) could benefit from it. #7462 is a legit workaround, but an ad-hoc fix after all.

[2020-07-08 13:11] #7331 closed

[2020-07-08 13:29] jhol commented on #7443
`NO_COLOR` is a [community standard environement](https://no-color.org/ ) variable.

The general behavior is:
* A command line application emits colour when attached to a TTY, but no colour otherwise e.g. when attached to a pipe.
* `NO_COLOR` stops the application from emitting colour even when attached to a TTY
* My extension to the standard is to add `FORCE_COLOR` which forces the application to

[2020-07-08 14:09] karrtikr opened #7463 "Is pytest output guaranteed to contain test file paths to relative to cwd"
For instance, in my case I had run the following command and got this output

[code]

[code]

`Tests\steve\hello_test.py` is not the absolute path here, but the path relative to my current working directory. Is it guaranteed to contain relative paths always?

[2020-07-08 14:24] nicoddemus opened #7464 "Support NO_COLOR to disable colored output"
`NO_COLOR` is a [community standard environement](https://no-color.org/ ) variable.

The general behavior is:
* A command line application emits colour when attached to a TTY, but no colour otherwise e.g. when attached to a pipe.
* `NO_COLOR` stops the application from emitting colour even when attached to a TTY
* My extension to the standard is to add `FORCE_COLOR` which forces the application to

[2020-07-08 14:25] nicoddemus commented on #7443
Thanks @jhol and @eine for bringing this up. I've created #7464 to track adding this support to pytest. 👍

[2020-07-08 14:26] nicoddemus commented on #7464
`PY_COLOR` is also pytest specific, so I think if it happens that both are set, we should give preference over `PY_COLOR` over `NO_COLOR`.

[2020-07-08 14:34] nicoddemus commented on #7463
Hi @karrtikr,

Those paths are actually related to [the `rootdir`](https://docs.pytest.org/en/stable/customize.html?highlight=rootdir#initialization-determining-rootdir-and-configfile). You can see the rootdir in the header.

The best way to make sure you have the same `rootdir` always is by creating a `pytest.ini` in the location you want.

[2020-07-08 14:57] karrtikr commented on #7463
Ah I see, but it'll always be relative to the `rootdir`, correct?
Given this assumption, in case of windows, our extension had made the assumption that the relative path cannot contain `":"` - do you think that's fair?
There's some users who I suspect might be seeing absolute paths there. (https://github.com/microsoft/vscode-python/issues/12403)

I will get back here as soon as I can once the user

[2020-07-08 16:04] #7348 closed

[2020-07-08 16:36] nicoddemus commented on #7463
I think it is possible, if the rootdir and the test file reside in different drives.

So you are one of the vscode developres? Cool! You guys are doing great work.

Btw, why are you interested in parsing the terminal output? I ask because for integration usually the best approach are hooks instead.

[2020-07-08 17:02] asottile commented on #7464
fwiw, I think `NO_COLOR` is ~slightly flawed in that `NO_COLOR=` (empty environment variable) is treated as `NO_COLOR=1`.  this diverges from standard expected posix behaviour where an empty environment variable should be treated as absent

[2020-07-08 17:10] karrtikr commented on #7463
Thanks, Python extension VSCode dev here 👋

That's fair. But for our extension, we force the rootdir to be the workspace root, and only support running test files inside the workspace root, so they should be on the same drive.

I am not entirely sure, we were parsing output long before I joined the team. Maybe because hooks were not there earlier, or were not sufficient? I can consult with my team

[2020-07-08 17:12] asottile commented on #7446
@akozyreva this isn't really a feature of pytest, but of python itself! [PEP 3107](https://www.python.org/dev/peps/pep-3107/),  [PEP 484](https://www.python.org/dev/peps/pep-0484/)

[2020-07-08 17:14] asottile commented on #7447
I'm down for trying this out, it does add a bit of work to releasing (and in practice, sadly very few utilized the pre-releases I did for flake8, pycodestyle -- most of the release bugs were found after final).

[2020-07-08 17:22] asottile commented on #7456
@mciepluc to discover tests, the module must be imported -- the decorator is run at import time so I believe it is unavoidable

[2020-07-08 17:29] karrtikr commented on #7463
@nicoddemus Can you please point to these hooks which we can use to run pytest where we won't need to parse the result?

[2020-07-08 18:09] nicoddemus commented on #7463
Cool 👋

Oh I see. I remember @brettcannon tweeting something along the lines of parsing the output as an early implementation, but that is brittle because we don't treat our output as stable, but he was aware that hooks were the way to go.

They were introduced quite a long time ago, in 2010. I believe they should be more than enough to get any information you need from a pytest run, and they are

[2020-07-08 18:17] kjaymiller opened #7465 "flag to cleanup generated tmp_path objects"
When using the tmp_path factory, the path remains until:

- The system is restarted
- The number of tmp_path objects is greater than the limit (currently 3)
- a basepath is given (This will just overwrite the existing basepath, but will not provide any cleanup).

I propose a flag that cleans up `tmp_path` objects on completion of the test.

Usage would look like

`python -m pytest --autocleanup`

[2020-07-08 20:33] hugovk commented on #7464
Please see PR https://github.com/pytest-dev/pytest/pull/7466.

[2020-07-08 21:20] nicoddemus opened #7467 "--log-file should create subdirectories"
If you provide a path with a subdirectory, which does not exist, it crashes with.
For example execute `pytest --log-file=subtest/test.log` produces something like this:
`INTERNALERROR> FileNotFoundError: [Errno 2] No such file or directory: '/tmp/test/subtest/test.log' `

Maybe someone want to add something like this
[code]
However, there is the possibility to say that someone is not supposed to p

[2020-07-08 21:20] nicoddemus commented on #7467
I agree, `--junitxml` works the same way. 👍

[2020-07-08 21:23] symonk commented on #7467
Sorry ive been busy the past little while, I am doing some work in and around --log-file so I'm happy to build in support here also

[2020-07-08 21:24] nicoddemus commented on #7467
Thanks @symonk, and no need to be sorry, we all are busy at times!

Feel free to tackle this in #7350 if you like then. 👍

[2020-07-08 21:46] Hardy7cc commented on #7467
@nicoddemus Thanks for creating this new issue.
@symonk Thanks to take this up into your work around --log-file. I'm looking forward to see it ready, but take your time. I had this comment on my list for some days, so it does not hurry.

[2020-07-08 21:51] symonk commented on #7377
@joshuatbadger try using pytester and the testdir fixture to invoke by test and assert against the stdout when running with --collect-only for example

[2020-07-08 22:02] nchammas commented on #4112
Just for reference, here is the code @dtomas linked to in their original comment:  https://github.com/pytest-dev/pytest/blob/3.9.0/src/_pytest/python.py#L418-L421

Posting this link here since @dtomas's [original comment](https://github.com/pytest-dev/pytest/issues/349#issuecomment-428680193) didn't pin the code link to a specific git version or hash. It now points to some unrelated code.

[2020-07-08 23:16] symonk commented on #7465
IIRC tmp_path is a function scoped fixture, we could just tear them down if a new flag exists post-yielding.  Thoughts on something like that @nicoddemus - if we feel some merit in the idea of providing this, please assign it to me.

[2020-07-09 03:45] chintanvadgama commented on #3457
Is the hook still available?

I am using `pytest-5.4.1` and this seems to be not working

[2020-07-09 04:14] gnikonorov commented on #7433
It looks like the plugin exposes the following based on the source:
[code]

I've no qa'ed  as follows:
- `A001` 5 times
- `A002` 8 times
- `A003` 29 times

I didn't realize mypy can catch most of these errors. @bluetech is there a setting we have to enable for this?

[2020-07-09 04:41] RonnyPfannschmidt commented on #7465
May we know the surrounding use case that makes the current auto cleanup misfit?

The folders intentionally stay around to do post mortem analysis

[2020-07-09 07:41] The-Compiler commented on #7433
As far as I'm aware, mypy can catch "hey, you did `print = True` but now used print("Hello World")`. I don't think it can catch "hey, your argument happens to be named the same as a built-in, this is probably a bad idea".

[2020-07-09 14:27] kjaymiller commented on #7465
Any type of image manipulation and processing could result in having to test the performance metrics of large amounts of hi-res files.

I do understand that this would be an edge case. Perhaps it should be handled by the end-user.

I do wonder about those testing on smaller systems (raspberry pi and other devices of this type).

[2020-07-09 14:57] nicoddemus commented on #3457
That's by design @chintanvadgama: pytest only rewrites `asserts` if they don't include a message (`assert [expr]`). If they do include a message (`assert [expr], [msg]`) then the assertion rewriter intentionally doesn't try to rewrite it.

[2020-07-09 15:40] mciepluc commented on #7456
Thanks, that is what I expected. The decorator that is not calling ```parametrize``` can be done quite easily, by adding one more function layer in the example that I provided, but in that case simply no test will be discovered as it is not called again anymore...

[2020-07-09 15:40] #7456 closed

[2020-07-09 15:47] mciepluc commented on #7404
I am thinking about possible workarounds that would not require additional pytest functionality, a few of question that I have in mind that my help me:
- is it possible to discover the tests "gradually"? I understand that all tests are discovered at the very beginning, before any of them is running. Is there any way to impact this behavior?
- is it possible to skip (or to break) the test that is a

[2020-07-09 17:03] George3d6 commented on #7455
Test works alright in other projects, I did try cloning the project anew but I get the same error.

There's no __pycache__ files or any .ide specific file to speak of that may cause issues.

Potential debugging info I have is: `platform linux -- Python 3.7.5, pytest-5.4.3, py-1.8.1, pluggy-0.13.1`

[2020-07-09 17:04] George3d6 commented on #7455
Strangely enough, I found out that I can get it to work by adding `-s`

[2020-07-09 18:12] asottile commented on #7465
if full cleanup is needed you could always write your own wrapper fixture

[code]

[2020-07-09 19:48] nicoddemus commented on #7455
Strange. `-s` disables stdout/stderr capturing, if that helps figuring out the problem.

[2020-07-09 20:00] nicoddemus commented on #7465
@asottile's suggestion is on point, and in fact you might even overwrite the builtin fixture into your root `conftest.py`:

[code]

I'm closing because I believe this should be enough to fix OP's problem without changing anything in pytest.

[2020-07-09 20:00] #7465 closed

[2020-07-09 20:10] #7392 closed

[2020-07-09 22:56] bluetech opened #7469 "Typing and public API"
pytest's "official" public API is exported by the `pytest` package, and everything else is defined in the `_pytest` package.

Currently, `pytest` only contains APIs that users need to use directly: functions to be called, decorators, classes to be instantiated or subclasssed, globals. Other objects, which the user doesn't interact with *directly*, are not exported.

Typing extends the range of cas

[2020-07-09 22:57] bluetech commented on #7469
Here are my thoughts on the questions:

Yes; otherwise users can't utilize types in these cases. Also, if we don't, people will be importing from `_pytest` anyway, which we don't want to happen.

More generally, I think it will be really good for us to clearly delineate what we consider public API and what is private. Currently it is somewhat murky which makes internal refactorings difficult.

I t

[2020-07-09 23:41] nicoddemus commented on #7469
Thanks @bluetech for writing up this issue with so much details. :+1:

My thoughts:

I agree that we don't want to allow instantiation and subclassing, specially because we might want to change `__init__` methods later to include additional parameters to support new features.

An idea would be to implement declare ABCs, and only export the ABCs. This I believe would remove the need to export the a

[2020-07-10 06:55] bluetech commented on #7433
@The-Compiler is correct, mypy doesn't want about the shadowing itself, only if you then try to use it as the builtin you'd (probably) get a type error. So it catches the misuses themselves.

[2020-07-10 07:20] The-Compiler commented on #7455
FWIW the stacktrace does point to pytest's capturing:

[code]

So I guess it makes some sense that disabling capturing would fix things. @George3d6 are you running the same version of pytest on Travis as well?

[2020-07-10 09:28] bluetech opened #7471 "Preferred docstring style"
pytest uses various docstring styles, which also leaks to the documentation, and I'm starting to develop an OCD from this!

I propose we use this style:

[code]

After we agree on a style I'll make a sweep over the code (possibly gradual) to update to it.

[2020-07-10 10:17] bluetech commented on #7469
Doing this would be nice in that it would really highlight public vs. private. However I don't think we want to go this way for these reasons:

1. It doesn't prevent subclassing; in fact an ABC probably encourages it.
2. It requires a lot of duplication, scattered code and funny-looking "Impl" classes. I fear our code will look more like Java than Python :)
3. I'm not sure it's very practical beca

[2020-07-10 11:47] nicoddemus commented on #7469
All good points, I had a hunch it was a lot of work but hand't thought through the details, but you confirmed it. 😁

[2020-07-10 11:49] #7464 closed

[2020-07-10 11:50] nicoddemus commented on #7443
I think based on the discussions on https://github.com/pytest-dev/pytest/pull/7462, we can close this as "wontfix" because pytest can't reliably detect this in GitHub actions. What do you think @The-Compiler ?

[2020-07-10 11:55] RonnyPfannschmidt commented on #7469
How about having a export module for types which has an explicitly spec that anything not exported somewhere else is only intended for type declaration and won't have public constructors for now

[2020-07-10 12:10] eine commented on #7443
Agree. As @The-Compiler commented in https://github.com/pytest-dev/pytest/pull/7462#issuecomment-656068713, I think that the following is the way to go:

[code]

[2020-07-10 12:15] The-Compiler opened #7473 "pytest 6: pylint shows not-callable error for builtin pytest marks"
With the current versions of pylint (2.5.3) and the underlying astroid (2.4.2), running pylint against a simple pytest 6.0.0rc1 test:

[code]

results in:

[code]

which isn't the case with pytest 5.4.3. I was able to bisect this to b3fb5a2d47743a09c551555da22da27ce9e73f41 (#7379, "Type annotate pytest.mark.* builtin marks" by @bluetech).

Note that to my knowledge, pylint doesn't know about type

[2020-07-10 12:19] gnikonorov commented on #7433
Thanks @bluetech and @The-Compiler

[2020-07-10 12:56] The-Compiler commented on #7447
I gave 6.0.0rc1 a try with qutebrowser and ran into an issue, not sure if pylint or pytest is to blame though :sweat_smile:: #7473.

I thought I had found another issue related to logging, but it's qutebrowser rather than pytest to blame for that one: https://github.com/qutebrowser/qutebrowser/commit/e206d346ced90aa4d8d8411baa1f9cc92406f16c (it's #7231 which made it show up, it was there before).

[2020-07-10 12:57] RonnyPfannschmidt commented on #7404
Gradual discovery was abandoned to sort out setup /teardown reordering

There is no built-in way to break the current test, you'd have to make one matching your framework

 Parameterisation can be done with symbolic /standin values and the fixtures creating the objects will have to do the rest

[2020-07-10 13:00] The-Compiler commented on #7443
Sounds reasonable!

[2020-07-10 13:00] #7443 closed

[2020-07-10 13:33] nicoddemus commented on #7471
Wholeheartedly agree, this has also always annoyed me.

I agree with everything in the style except duplicating the type information when it we already have native type annotation, because Sphinx picks those up correctly.

So I would prefer this:

[code]

[2020-07-10 13:34] The-Compiler opened #7475 "pytest 6 (?): UnicodeEncodeError in terminalwriter on Windows"
Just got this on GitHub Actions with the pytest 6 rc:

[code]

This is the test using pytest-bdd in qutebrowser:

[code]

I can't reproduce this consistently - if I'm reading the traceback right, the test failed (probably flaky?) and then pytest failed while printing the traceback... Note that I also have pytest-instafail installed and it shows up in the stacktrace.

Not sure if this is actually r

[2020-07-10 14:38] nicoddemus commented on #7475
Hmmm at first glance doesn't seem related to pytest 6 and this is a bug which has always been there, but I might be wrong of course.

Can you try to make a test which always fails and outputs that emoji? Also would help if you can try with and without instafail.

[2020-07-10 15:14] The-Compiler commented on #7475
Will do so, but might be next week until I get to it, as I'm giving a pytest training on Mon/Tue/Wed :slightly_smiling_face:

[2020-07-10 15:22] nicoddemus commented on #7475
No problems! 👍

[2020-07-10 15:55] bluetech commented on #7475
From the stacktrace it looks like the stdout encoding is `cp1252` which I think even for Windows is pretty limited. Looks like [since Python 3.6](https://www.python.org/dev/peps/pep-0528/) the Windows Console encoding is supposed to be UTF-8, and you are running on Python 3.7 so I wonder why that is.

[2020-07-10 17:58] criswell commented on #7475
Hi there, we're also seeing this issue in builds under Linux and Mac.

For us, it's complaining about the unicode checkmark:

[code]

and it's doing it when a plugin we're using ([pytest-it](https://pypi.org/project/pytest-it/) ) is reporting success (and using the unicode checkmark).

I was going to make a test repo isolating the problem, but it'll basically just be what I said here. Would you li

[2020-07-10 18:56] nicoddemus commented on #7475
This is an important confirmation, thanks!

[2020-07-10 18:57] nicoddemus commented on #7475
Also if someone can provide a simple reproducible example/repo on Windows I will be happy to take a look since I'm on Windows. 👍

[2020-07-10 19:12] bluetech commented on #7475
@criswell I tried to reproduce locally but it works OK here. Under which environment does this happen?

[2020-07-10 19:28] The-Compiler commented on #7475
I can reproduce something similar on Linux:

[code]

with

[code]

and `PYTHONIOENCODING=ascii pytest test_unicode.py`. Slightly contrived, but I suspect the real-world cases we're seeing are similar: Python probably doesn't have an Unicode terminal on GitHub Actions (since it's not a real TTY) and I'm guessing @criswell is using Python < 3.7 before [PEP 538](https://www.python.org/dev/peps/pep-05

[2020-07-10 19:33] criswell commented on #7475
Aha! Yes, this is happening on CircleCI... it very easily could be a misconfigured locale.

I've been trying to reproduce it in my own test repo, https://github.com/criswell/pytest-tests/pull/1 , and it's been working fine. But there, it's GitHub actions so it could be getting correct locale settings.

Let me try with some of our internal repos where we encountered this issue and see.

[2020-07-10 19:36] bluetech commented on #7473
Thanks for testing @The-Compiler! I do think ideally this will be fixed in pylint but it's understandable that it gets confused by this, so I posted a fix in #7476.

[2020-07-10 19:57] bluetech commented on #7475
Thanks for bisecting @The-Compiler! The commit makes perfect sense, I already forgot about it!

So that commit message is a bit misleading in that it does two things:

1. Remove support for writing `bytes` directly -- this is good, pytest doesn't do it.

2. Removed this logic which handles various levels of brokenness in the console:

[code]

I believe what that code did for you and @criswell is:

[2020-07-10 20:20] The-Compiler commented on #7475
IMHO, this is a clear bug in pytest. A test runner definitely should not fail with an internal error (which is quite confusing if you don't know what's going on) when a test fails. We handle quite some esoteric cases (with `safe_repr` and all), this one seems rather common in comparison.

[2020-07-10 20:26] #7473 closed

[2020-07-10 20:58] bluetech commented on #7475
Do you mean that the bug is that the error message is unclear (we can probably improve on that), or that the error happens at all?

To me the previous behavior is actually buggy - some unicode character is printed, but something else is displayed instead.
I think pytest should defer to whichever way Python configured stdout (e.g. `strict` error handler), and I think pytest shouldn't try to workaro

[2020-07-10 21:07] nicoddemus commented on #7477
I can reproduce this using the zip file, thanks. This is what I get:

[code]

This is what we should be seeing instead:

[code]

It is somehow not collecting `tests` even thought it contains an `__init__.py` file:

[code]

[2020-07-10 21:39] The-Compiler commented on #7475
But it's pytest printing that string, not my code/test... If that was the case I would agree.

[2020-07-10 22:11] criswell commented on #7475
Internally our docker images which run our pytest code are apparently setting the locale settings to `POSIX`, which, I would argue, doesn't necessarily mean it's incapable of printing unicode (in fact, they can and have done so with previous versions of pytest). I'll be working to get them set to something more PEP-538 friendly to harden them against similar issues in the future.

That being said,

[2020-07-11 00:11] mikecormier opened #7478 "pytest stop working with FileNotFoundError"
- [x] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] minimal example if possible

pytest randomly stopped working with the following error:
[code]

I have not needed tox.ini before and I cannot set the path for tox.ini now.

My previous rootdir, according to pytest output was:
[c

[2020-07-11 05:17] archibate opened #7479 "Is that possible to skip some of the fixture params on specific tests?"
- [x] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [ ] pytest and operating system versions
- [x] minimal example if possible

Related = https://github.com/taichi-dev/taichi/issues/1458

Sometimes it's useful to skip some params in fixture for some **specific** test.
I know that using `pytest.param(..., pytest.mark.skip)` s

[2020-07-11 06:41] George3d6 commented on #7455
@The-Compiler I'm unsure to be honest, but I've got people running the exact same tests using the same pytest version on Ubuntu linux.

Does pytest do anything odd with stdin/stdout which might break given some custom environment setup ? Then again, I'd doubt this is the case since they *kind of* started breaking randomly.

Could it be an issue if the program being tested messes with the stdin/std

[2020-07-11 07:04] asottile commented on #7478
the version of pytest you're using is very old and no longer supported -- can you try on a newer version of pytest please?

[2020-07-11 07:12] asottile commented on #7479
you can access markers in fixtures via request, try this on for size!

[code]

[code]

[2020-07-11 07:18] asottile commented on #7475
~generally the best way to handle this is to either use `io.TextIOWrapper(..., encoding='UTF-8')` or directly write to `file.buffer` with bytes -- here's (for example) [how pre-commit handles this](https://github.com/pre-commit/pre-commit/blob/2f1d4d10e0918c07935ae53ae743efbc9e9bd4eb/pre_commit/output.py#L8-L10)

without `LANG` set (on posixlike platforms), python will default to `US-ASCII` encodi

[2020-07-11 07:19] asottile commented on #7471
we ~could enforce this if we want, though I usually find `flake8-docstrings` to be more annoying than it is worth

[2020-07-11 08:45] The-Compiler commented on #7475
@asottile Note that pytest still needs to run on Python 3.5 on Windows (i.e. pre-[PEP 528](https://www.python.org/dev/peps/pep-0528/)). No idea what happens if you output raw utf-8 there, but I bet that's not going to go well.

I still think the previous `"unicode-escape"` encoding was a great solution, even more so in scenarios like my test above where pytest tries to print `text: '...'`. For the

[2020-07-11 08:49] The-Compiler commented on #7455
It might well be a combination of:

1) What your code under test does
2) Your environment
3) A change in pytest

But it's hard to say more without either seeing what commit (or at least pytest version) introduced this (e.g. via `git bisect`), or a minimal reproducer.

[2020-07-11 09:42] archibate commented on #7479
Cool! Thank for your quick response! I know how to do now, sorry about disturbing you with this simple question :heart:

[2020-07-11 09:42] #7479 closed

[2020-07-11 11:41] nicoddemus commented on #7477
Actually I get the same behavior on `1.8.1`, which leads me to believe the problem is not clear (at least to me).

This is what I get in `5.4.3`:

[code]

And here in `6.0.0`/`master`/`py-1.8.0`:

[code]

And I get the exact same output in `6.0.0`/`master` and `py-1.8.1`, `py-1.8.2`, and `py-1.9.0`.

(My comment in https://github.com/pytest-dev/pytest/issues/7477#issuecomment-656891323 was incorre

[2020-07-11 11:44] #7389 closed

[2020-07-11 13:12] mikecormier commented on #7478
I have updated to the latest version, 5.4.3, and still get the same error.

On Sat, Jul 11, 2020 at 1:04 AM Anthony Sottile <notifications@github.com>
wrote:

[2020-07-11 13:32] RonnyPfannschmidt commented on #7478
Can you retry with setting the option `--confcutdir=$PWD`

For whatever reason a tox.ini in the home folder seems to completely confuse part of pytest, i hope the cut option can help that case

[2020-07-11 14:05] mikecormier commented on #7478
`pytest --confcutdir=$PWD` results in the same error

[2020-07-11 14:34] nicoddemus commented on #7471
I see. I would keep it simple at first, I think have a general directive is better than what we have now.

I think most people agree then. @bluetech would you like to add this to the docs somewhere? I'm not sure were to place it though, we might consider creating a new document with development guidelines.

[2020-07-11 15:01] nicoddemus opened #7480 "Change deprecation mechanism to use a function"
As discussed in https://github.com/pytest-dev/pytest/pull/7362#issuecomment-649800119_, let's change our warnings mechanism to include a new `PytestExpiredDeprecationWarning` exception which is chosen at runtime depending on the current pytest version.

This will simplify our side because we won't need to change `PytestDeprecationWarning`s into errors anymore before each major release.

[2020-07-11 15:04] nicoddemus commented on #7480
Also, `test_deprecation_warning_as_error` will probably be removed.

[2020-07-11 15:22] nicoddemus commented on #7475
While I can sympathize with @bluetech's sentiment of exposing the misconfiguration, unfortunately I think we should get back escape strings here. This example by @The-Compiler nails it down for me:

[code]

The user is not even printing to the console, so it is not helpful that pytest breaks because it is writing to the console, and worse only when the test fails, making the problem possibly go si

[2020-07-11 15:28] nicoddemus commented on #7478
The code in question is this one:

https://github.com/pytest-dev/pytest/blob/b322004047774f4b0992bfc8b9b1123069a6d0f1/src/_pytest/config/findpaths.py#L40-L45

So the question is how `/home/tox.ini` exists but is not a file or directory.

@mikecormier can you `ls -la /home/tox.ini` and show the output?

[2020-07-11 15:33] mikecormier commented on #7478
[code]

[2020-07-11 15:34] nicoddemus commented on #7433
So as per our discussion here, what should we do regarding #7449?

I vote 👎 as is, but change my vote to -0.5 if we ignore `A003`. 😁

[2020-07-11 15:39] bluetech commented on #7475
OK, I'll bring back the escaping, especially because I failed to mention this change it in the commit/changelog.

(Note: I changed the issue title `UncodeDecodeError` -> `UnicodeEncodeError`).

[2020-07-11 15:50] nicoddemus commented on #7478
That's really strange... 😕

@mikecormier can you please execute this:

[code]

Also if possible, can you install `6.0.0rc1` and give it a try? That code has changed quite a bit since then:

[code]

[2020-07-11 15:51] asottile commented on #7479
no problem!  this wasn't that simple fwiw -- took me a good 15-20 minutes to get that example working :)

[2020-07-11 16:03] mikecormier commented on #7478
Results:
[code]

Installing `pytest==6.0.0rc1` seemed to have fix the problem.

However, I am not sure what was causing the previous problem. I was able to run pytest one minute, then the next it gave me the error. I have never had this problem with pytest in the past.

[2020-07-11 16:10] asottile commented on #7478
hmmm it seems you ran `mkdir ~/tox.ini` **somehow** -- if you `rmdir ~/tox.ini` it should fix it as well

[2020-07-11 16:24] mikecormier commented on #7478
Is there a way to ignore tox.ini?

[2020-07-11 16:25] asottile commented on #7478
you have a **directory** named `tox.ini` -- do you actually need that directory that looks like the conventional file?

[2020-07-11 16:26] mikecormier commented on #7478
It is on a share filed system, and I don't own toxi.ini.

[2020-07-11 16:28] asottile commented on #7478
I'd suggest reaching out to your sysadmin or whoever created the file accidentally -- or upgrade to pytest 6 where this is fixed

[2020-07-11 16:40] #7467 closed

[2020-07-11 16:44] bluetech commented on #7471
I'll find some place to document this when I do the sweep.

@asottile I used `pydocstyle` in some old project, but there were too many false positives and I removed it. Though there might be some subset of warnings that may be useful. But I suggest we wait until we see if a lot review comments are needed for this before we try to add it.

[2020-07-11 16:47] bluetech commented on #7471
@nicoddemus

From I remember in some previous PR sphinx doesn't linkify the type in an annotation, but I'll check again. Might not be worth the duplication even if it doesn't.

[2020-07-11 16:47] nicoddemus commented on #7478
Yeah, very likely it was created by accident, but it is weird that `ls -la /home/tox.ini` did not show up anything, that it was a directory was my suspicion initially.

The current version fixes it because we changed the check to `p.isfile()` instead.

Closing then. 👍

[2020-07-11 16:47] #7478 closed

[2020-07-11 16:49] mikecormier commented on #7478
Thanks for your help

[2020-07-11 16:54] nicoddemus commented on #7478
As a workaround, creating a `pytest.ini` (even empty) in your project directory should prevent pytest from trying to go further up in the file system looking for a configuration file.

[2020-07-11 17:08] mikecormier commented on #7478
Thanks for the idea

[2020-07-11 18:17] nicoddemus commented on #7480
I'll be reverting these entries from the CHANGELOG:

[code]

[2020-07-11 18:27] aklajnert commented on #7471
IIRC I was using [sphinx-autodoc-typehints](https://pypi.org/project/sphinx-autodoc-typehints/) extension to show the annotations correctly. Not sure if it will fit here, but might be worth checking.

[2020-07-11 19:01] #7475 closed

[2020-07-11 20:05] nolash opened #7483 "Missing requirements for building docs"
- [x] a detailed description of the bug or suggestion

Trying to use `python setup.py build_sphinx` fails with missing modules.

IIRC the problem modules were:

* attr/attrs
* more-itertools
* pluggy
* py

- [x] output of `pip list` from the virtual environment you are using

[code]

- [x] pytest and operating system versions

commit b322004047774f4b0992bfc8b9b1123069a6d0f1 (HEAD, tag: 5.4.3)

- [

[2020-07-11 21:37] asottile commented on #7483
you need to also install pytest, so in your minimal reproduction you're missing `pip install .` or `pip install -e .`

[2020-07-11 21:37] #7483 closed

[2020-07-12 00:30] mdmintz commented on #7477
@nicoddemus You might also want to ask the Microsoft VS Code people who ran into the issue here: https://github.com/microsoft/vscode-python/issues/12372

[2020-07-12 02:59] gnikonorov commented on #7433
I think it would make sense to disable A003

I’ll defer to @bluetech, @The-Compiler, @asottile

[2020-07-12 12:02] eplodn opened #7484 "Order of fixtures and hooks changes depending on if there's one or more tests"
- [ V ] a detailed description of the bug or suggestion
I have an `autouse` fixture and use `pytest_sessionfinish` hook.
I use a `-k` flag to run a subset of tests.
I use a `-x` flag to end after first failure.
The order of the execution of fixture and hook depends on whether one or more tests were collected.

- [ V ] output of `pip list` from the virtual environment you are using
[code]
$ mkdir h

[2020-07-12 12:13] The-Compiler commented on #7245
It looks like the `pytest-bdd` plugin is incompatible with this change:

[code]

[Relevant code](https://github.com/pytest-dev/pytest-bdd/blob/be94d2e55a92bf728d129e596e5d78aa50cb1ce8/pytest_bdd/scenario.py#L320-L330):

[code]

Any idea why this could be happening?

[2020-07-12 12:27] The-Compiler commented on #7479
FWIW I also added something explaining this technique to the docs recently: https://docs.pytest.org/en/latest/fixture.html#using-markers-to-pass-data-to-fixtures

[2020-07-12 12:36] eplodn commented on #7484
As per [documentation](https://docs.pytest.org/en/stable/reference.html#_pytest.hookspec.pytest_sessionfinish),
[code]
This is not what's happening in the first example.

[2020-07-13 11:02] hroncok opened #7485 "6.0.0rc1 documentation: AttributeError: module '_pytest' has no attribute 'python'"
Hello. I am trying to build pytest 6.0.0rc1 as a Fedora package. When we build the documentation, it fails:

[code]

[code]

[code]

It worked fine with pytest 5.4.3.

[2020-07-13 13:32] TomAugspurger opened #7486 "Pytest 6: Dynamically adding xfail marker in test no longer ignores failure"
## Description

With pytest 5.x, we can dynamically add an xfail to a test `request` object using `request.node.add_marker(mark)` (see example below). In 5.x this treated the failing test like a a test marked statically with an `xfail`. With 6.0.0rc0 it raises.

## Versions

<details>

[code]

</details>

- [ ] pytest and operating system versions

Pytest 6.0.1rc0 and MacOS 10.14.5

[code]

With 5

[2020-07-13 13:45] ionelmc opened #7487 "Circular import problem in 6.0?!"
So I'm getting this incredibly vague error for some tests in pytest-cov:
[code]
Only happens with xdist on.

Hoping this is enough clue to the problem, if not I guess I'll look some more and make a simple reproducer ...

[2020-07-13 14:20] bluetech commented on #7486
Thanks for testing the release candidate! This is probably a regression in c9737ae914891027da5f0bd39494dd51a3b3f19f, will fix.

[2020-07-13 14:25] blueyed commented on #7487
Looks related to https://github.com/pytest-dev/pytest/pull/6981#issuecomment-606496652.

[2020-07-13 15:17] symonk commented on #7447
I think this ticket has been a great success thus far, I've been very busy for a while but it seems the current rc is flagging a few serious issues with some users who chose to roll up to try it out.

[2020-07-13 15:20] simonjayhawkins opened #7488 "6.0.0rc1 pytest.mark.xfail mypy error: No overload variant"
- [ ] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [ ] pytest and operating system versions
- [x] minimal example if possible

using example from https://docs.pytest.org/en/documentation-restructure/how-to/skipping.html#raises-parameter

[code]

running mypy

[code]

should the type annotation for raise in _XfailMarkDecorat

[2020-07-13 15:23] nicoddemus commented on #7245
I think `bdd.scenarios` assumes the module given as arguments are available in `sys.path`, which is not the case when `--import-mode=importlib`.

Perhaps this will work (untested):

[code]

[2020-07-13 15:24] nicoddemus commented on #7487
Thanks @ionelmc,

Just to confirm, are you using pytest-xdist's option `rsyncdirs`?

If so this PR should fix it: https://github.com/pytest-dev/pytest-xdist/pull/558

[2020-07-13 15:31] asottile commented on #7485
your packaging appears to be broken (missing a dependency) -- in this case I believe it's `iniconfig` (and sphinx's error message is hot garbage)

[code]

[2020-07-13 15:40] Lewiscowles1986 opened #7489 "suggestion: improve raises confusing message when matching"
- [x] a detailed description of the bug or suggestion
  I would like `pytest.raises` to check if strings have parenthesis in them when match is not None, so that people have that lightbulb moment, rather than head-scratching when it presents two identical strings as not matching.

[code]

- [ ] output of `pip list` from the virtual environment you are using
  I believe this is not applicable right

[2020-07-13 15:42] hroncok commented on #7485
I figured out the missing dependency when attempting to run the tests but never assumed it also causes this. If so, the tracebacks are indeed very confusing. Testing...

[2020-07-13 15:46] hroncok commented on #7485
Indeed, this was the cause. Sorry for the noise.

[2020-07-13 15:46] #7485 closed

[2020-07-13 18:09] #7487 closed

[2020-07-13 18:17] asottile commented on #7488
yep, this annotation is indeed incorrect, would you like to send a patch to correct it?

also pytest seems to raise a confusing internal error if non-types are passed into `raises`:

[code]

[2020-07-13 18:23] asottile commented on #7489
Perhaps the messaging can be changed from "Pattern" to "Regex" or "Regex pattern" to make it more clear?  I'm not sure a warning for strings is appropriate here (unless we want to remove that functionality) since the api allows strings

[2020-07-13 18:26] RonnyPfannschmidt commented on #7489
A check for exact equality + a value error on forgotten regex escape may prevent some headscratching

[2020-07-13 18:45] Lewiscowles1986 commented on #7489
It's not about disallowing strings, or warning for all strings. It's more that because it is a pattern library, any string using parenthesis needs to have them escaped, unless they are deliberate regex strings. It should also only be before the failed assertion.

[2020-07-13 18:46] Lewiscowles1986 commented on #7489
I did understand the message eventually. It is more that the display of the message showing two identical strings gave me pause for thought.

Having two kwargs was something I looked for, but didn't find anything about. One for strings, one for patterns as that would have allowed me to avoid the escaping altogether.

[2020-07-13 18:53] asottile commented on #7489
parens are valid in regexes as grouping so they can't be warned on / banned outright

I usually find an exact match better anyway:

[code]

[2020-07-13 21:19] Lewiscowles1986 commented on #7489
Please re-read what I am proposing. This is not about banning

1. > It's not about disallowing strings, or warning for all strings.
2. >  It's more that because it is a pattern library, any string using parenthesis needs to have them escaped, unless they are deliberate regex strings.
    this agree's with your statement @asottile
3. >  It should also only be before the failed assertion.
  So in th

[2020-07-13 21:35] Lewiscowles1986 commented on #7489
Other things I am not suggesting

* Checking exceptions for details is a particularly good method of exception usage. I far prefer specific exception classes with internal logging.
* This is the only solution.
  * I saw the suggestion https://github.com/pytest-dev/pytest/issues/7489#issuecomment-657717070, but think it is still very wordy
  * I've proposed an alternative above

I'm merely attempti

[2020-07-13 21:48] RonnyPfannschmidt commented on #7489
@asottile What i was suggesting is a better error when the is value equal to the regex but would not match it

[2020-07-13 21:54] bluetech commented on #7489
I don't think this is a good idea, because I may want to pass an actual regex which happens to be string-equal but not regex-match.

I think we can improve in these ways:

1. If string-equal, but not regex-match, show a "Did you mean" help message (as suggested by @RonnyPfannschmidt).
2. Change "Pattern ..." to "Regex pattern ..." (as suggested by @asottile).
3. Prefix `r` to the regex pattern, as

[2020-07-13 22:16] Lewiscowles1986 commented on #7489
Looking at the code

https://github.com/pytest-dev/pytest/blob/master/src/_pytest/python_api.py

I don't see the error message. Is it calling a matcher from within pytest which is wrapped around the exception somewhere I'm not glancing?

[2020-07-13 22:22] bluetech commented on #7489
@Lewiscowles1986, yes, the check is done here:

https://github.com/pytest-dev/pytest/blob/7f7a36478abe7dd1fa993b115d22606aa0e35e88/src/_pytest/_code/code.py#L605-L616

[2020-07-13 22:23] stanwest opened #7491 "Cleaning up temporary directories occasionally raises PermissionError"
On Windows, I'm finding that *pytest* occasionally raises an exception starting with `PermissionError: [WinError 5] Access is denied` while cleaning up its temporary directories.  Below is an example of the output of a test session in which the exception arises.  The test file contains only the function `test_temp` shown in the output.  A necessary condition for the exception is that *pytest*'s ba

[2020-07-13 22:43] bluetech commented on #7488
Thanks for testing the release candidate @simonjayhawkins. You identified the problem correctly. Since I want to make sure this is fixed for 6.0.0 I submitted a fix for this myself in #7492.

[2020-07-13 23:46] #7488 closed

[2020-07-14 03:11] asottile commented on #7489
everything else I agree with but this is 🙅‍♂️ -- (1) raw strings have nothing to with regexes despite both starting with the letter `r` -- please don't conflate them (2) it's not a trivial task to convert a string variable into a representation of a raw string literal

[2020-07-14 07:38] simonjayhawkins commented on #7488
Thanks @bluetech . It took me a while to get the environment setup with conda on Windows yesterday to get the tests running before submitting a PR. In pandas, we have some other mypy failures that i'll work through today, so may have some more changes.

[2020-07-14 08:33] serjb9 opened #7493 "Question: Ability to skip teardown execution and stop tests"
Hello,

This a classic situation when we have a codebase and we want to approach or have the functionality that other product/plugin has but we can't with current functionality.

So I was wondering, is there a functionality that can skip the current test teardown (and fixture teardown) and kinda stop execution of the whole session in PyTest or is there an any possible approach for this?

Comparing

[2020-07-14 08:46] Lewiscowles1986 commented on #7489
I never suggested the `r` prefix would make a regex valid or make a string a regex... Why the hot-takes?

The `r` modifier is specifically so that the invalid escape code message is avoided and PEP is not violated when dealing with a string that is used by this. I've not suggested it magically makes regexes and I've not authored a library that takes a string and decides it's a regex based on some

[2020-07-14 09:40] simonjayhawkins opened #7494 "6.0.0rc1 pytest.fixture mypy error: Value of type "object" is not indexable"
- [ ] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [ ] pytest and operating system versions
- [x] minimal example if possible

[code]

[code]

[code]

the type annotation for `ids` in `fixture` is

[code]

i believe that the Callable should accept Any.

[2020-07-14 10:09] simonjayhawkins commented on #7494
This also affects pytest.mark.parametrize

[code]

gives error: "object" has no attribute "\_\_name__"; maybe "\_\_ne__" or "\_\_new__"?

the type annotation for _ParametrizeMarkDecorator is also

[code]

[2020-07-14 10:32] simonjayhawkins commented on #7494
from https://docs.pytest.org/en/stable/fixture.html#parametrizing-fixtures

so the return type should be Optional[str]

[2020-07-14 10:38] simonjayhawkins commented on #7494
although maybe safer to use Any (or keep as object), since OP returns int and works OK.

[2020-07-14 10:56] simonjayhawkins opened #7495 "6.0.0rc1 pytest.skip mypy error: Attribute function "__call__" ... does not accept self argument"
- [ ] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [ ] pytest and operating system versions
- [x] minimal example if possible

[code]

[code]

[code]

`skip` is decorated with `@_with_exception(Skipped)`, will look soon but assuming decorator is not preserving signature

[2020-07-14 11:55] bluetech commented on #7494
Yes, I think this should be `Any`. I sent #7496 for this.

[2020-07-14 11:57] bluetech commented on #7495
There is some trickery there but I can't reproduce it here, `pytest.skip` is type-checked correctly.

If you can provide steps for creating a standalone venv which reproduce this (package versions + configs) that'd be great.

[2020-07-14 12:01] bluetech commented on #7495
In particular, I suspect it's maybe an older mypy version -- which versions are you using, and if using an older version, can you reproduce with latest mypy?

[2020-07-14 13:00] simonjayhawkins commented on #7495
Thanks @bluetech for looking into this. we are pinned to mypy 0.730 at the moment. I'll get back to you on using different versions

[2020-07-14 16:32] pandichef opened #7497 "Question: How to use the "doctest+fixture" feature in a non-test file?"
I want to use the doctest+fixtures feature of pytest as documented [here](https://docs.pytest.org/en/stable/doctest.html#using-fixtures).

Unfortunately, `pytest --doctest-modules` doesn't seem to find fixtures in the file unless the file name is prefixed with `test_`.  I realize I can set `python_files = *.py` in `setup.cfg`, but this would presumably slow down the test runner in general.

Is the

[2020-07-14 16:52] asottile commented on #7489
@Lewiscowles1986 I wasn't replying to you, sorry if the quote wasn't clear

[2020-07-14 17:02] DenKos363 opened #7498 "Question. Is it possible to get 1 "unified" test result for parametrized test?"
Hello guys.

I searched everywhere but didn't find an answer, so would ask you for help here.

I have manual "Test case" in Jira, and automated test in pytest.
With help of hooks, after running automated test, it will send to Jira test result status, like, "pass" or "fail", so the manual test case will get correct status.

Automated test is using parametrization with about 300-1600 test combinatio

[2020-07-14 19:22] joshua-badger commented on #6936
Hello all, just chiming in to say we are still seeing this in pytests 5.4.3. Has there been any movement on this? Is there help we can provide?

[2020-07-14 19:40] nicoddemus commented on #7498
Hi @DenKos363,

The suggestion in https://github.com/pytest-dev/pytest/issues/230#issuecomment-402580536 is how I would implement it if I wanted to stay inside pytest.

But you might consider simpler to postprocess pytest results instead: run pytest normally with `--junitxml=tests.xml`, then process the generated `tests.xml` file to aggregate the tests results and post that to Jira.

[2020-07-14 22:11] nicoddemus commented on #7493
Hi @serjb9,

I'm afraid not at the moment; at first glance the `pytest_runtest_teardown` could be used for that, but it is not really a `firstresult` hook (btw @RonnyPfannschmidt shouldn't it be? as it stands one cannot override the current behavior, just add to it).

Can't think of a workaround either at the moment, but others might suggest something.

[2020-07-14 22:31] nicoddemus commented on #7447
I agree! After 6.0 is out, I plan to write an workflow for future pre-releases.

[2020-07-14 22:49] nicoddemus commented on #7497
Hi @pandichef,

Strange, it should work. Where are your functions defined? And your `*.py` files?

[2020-07-14 22:57] nicoddemus commented on #7491
Hi @stanwest,

The order should not really matter in that situation, what might be happening is that by first cleaning up the `garbage-*` directories, this is giving more time for whatever is holding the locked directories to release that lock (say a background process), and then it might appear to solve the problem.

I believe the proper solution is to explicitly catch errors around that `exists`

[2020-07-14 23:08] pandichef commented on #7497
@nicoddemus I was defining the fixture function in the same file as the doctest... but I think you answered elsewhere that it should be done in a conftest.py file.  `python_files = *.py` is always an option.

[2020-07-14 23:13] nicoddemus commented on #7497
Ahh indeed, because the normal python files are not scanned for fixtures.

[2020-07-14 23:22] nicoddemus commented on #7497
Opened #7501 improving the docs a bit, thanks!

[2020-07-14 23:22] #7497 closed

[2020-07-14 23:29] brettcannon commented on #7463
So we use the hooks for discovery, but we don't for execution (yet; we plan to, but no clue on an ETA).

[2020-07-14 23:34] Lewiscowles1986 commented on #7489
@asottile you'll be happy to know the `r` from the strings has been removed.

[2020-07-15 01:21] LuckJMG opened #7502 "When importing a file as it is done in python 3.8, in python it works correctly but in pytest it doesn't"
## Introduction

Hi! I have been doing a small project in which everything worked well, but when I came back today it no longer worked for me taking pytest, now I explain it to you.

---

## Description

First, this is a simplified version of the structure of my project

[code]

In mypkg/__init__.py
`
from core import Addition
`

In mypkg/core.py
[code]

There is nothin in tests/__init__.py

And i

[2020-07-15 05:05] asottile commented on #7502
running a file inside a module is **not** equivalent to how that module will act when used as a library

you'll want to use `python -m mypkg` and not `python mypkg/__init__.py` -- the latter assumes `__init__.py` is a script and will execute it (ignoring your package layout, and [adding `mypkg` at the beginning of sys.path](https://github.com/asottile/scratch/wiki/PythonPathSadness))

the second w

[2020-07-15 06:33] The-Compiler opened #7503 "Make --strict imply --strict-config / xfail_strict?"
With pytest 4.5.0 (May 2019), we introduced `--strict-markers` as a replacement for `--strict`, and [said](https://docs.pytest.org/en/latest/changelog.html#pytest-4-5-0-2019-05-11):

With #7286, now we also have `--strict-config`. Yet, `--strict` is still an alias for `--strict-markers`.

Given that pytest 6 is allowed to do breaking changes, wouldn't it make sense for `--strict` to imply both `--

[2020-07-15 07:25] #7486 closed

[2020-07-15 07:25] #7494 closed

[2020-07-15 09:14] DenKos363 commented on #7498
Hi @nicoddemus I also thought about working with report AFTER running the tests, but wanted to be sure, that there is no easier way to do so right away after test finishing.
Thank you for suggestion!!!

[2020-07-15 10:25] webknjaz commented on #7503
I think it's a good idea to have some `--strict-all-the-things` that would imply enabling all strictness-related things. What I'm not sure about is how it should be called. I'm okay with just `--strict` but Bruno mentioned earlier that it used to mean just "strict-markers" for a while so such semantics change may be confusing. OTOH personally I can live with that and I'm not really concerned about

[2020-07-15 10:26] webknjaz commented on #7503
The only thing I want to add is that I'd probably expect it to also be a config value rather than just a CLI option.

[2020-07-15 10:26] symonk commented on #7417
I'm gonna make an effort to focus on the plugin: logging plugin over the coming weeks. would like to start here - cheers @RonnyPfannschmidt

[2020-07-15 10:29] Zac-HD commented on #7503
I like the idea of `--strict` or `strict = True` implying all the strictness options.

Whether we still need it with the warnings system or not, I think we should keep it until pytest 7 rather than scrambling to make such a large change now.

[2020-07-15 10:39] DahlitzFlorian commented on #7503
I really like the idea of using `--strict` to activate all `--strict`* options. However, I would suggest adding a note to the documentation that `--strict` will have that behavior in version x.x and people should be aware of it. Of course, we already add a note that it might happen, but an explicit note that it is going to happen in version x.x is highly preferred.

IMHO we can discuss whether we

[2020-07-15 11:05] symonk commented on #7503
Should we consider giving the user the option?

`--strict=all | --strict=marker | --strict=config`

Im just wondering if we add future 'strictness' but have then coupled the user into all or none situations.

[2020-07-15 11:45] The-Compiler commented on #7503
@symonk We already have `--strict-markers` and `--strict-config`, I don't think we should have a second way to do the same thing.

[2020-07-15 12:01] DahlitzFlorian commented on #7503
Totally agree with @The-Compiler. In fact, `--strict` should be a shortcut for using all `--strict`* options.

[2020-07-15 12:23] gdhameeja commented on #7378
I'd like to work on this.

[2020-07-15 12:25] #7491 closed

[2020-07-15 12:31] nicoddemus commented on #7498
OK @DenKos363, glad it was helpful!

[2020-07-15 12:31] #7498 closed

[2020-07-15 12:37] gnikonorov commented on #7503
No objections from me at all. `--strict` should imply all strict flags IMO, as @DahlitzFlorian mentions above.

[2020-07-15 18:51] flub commented on #5044
I think I remember some conversations about this.  If I understand right this proposes that when `pytest.fail.Exception` is raised in either the setup or teardown that it is considered a test failure and not an error.  The problem with that is that the `pytest.fail()` call now inhibits other teardown behaviour, so you need to be really deliberate about how your invoke `pytest.fail()` from your tea

[2020-07-15 19:26] #7489 closed

[2020-07-15 20:21] Lewiscowles1986 commented on #349
Would the alternative not be making a factory fixture, that uses other fixtures and based on a simple parameter returns the fixture needed? or is this also inferring that that would have problems with mutually exclusive fixtures (which seems like an issue of poor design).

It is a lot of work, when a fixture could hashmap an internal key to a value of many fixtures it uses internally. It's then do

[2020-07-15 20:23] LuckJMG commented on #7502
Aaaaah, thank you very much then you must run the module like this `python -m mypkg .__ init__`.
Thanks for your attention and sorry for the inconvenience, I am still learning python.
Have a nice day.

[2020-07-15 20:23] #7502 closed

[2020-07-15 20:47] RonnyPfannschmidt commented on #349
Right now it's trivial doable for non-parameterized fixtures but it requires covariant parameterization for parameterized fixtures

That one is something really tricky, and the internals of the fixture system currently make it harder

There easily is quit the amount of hard work and a number of refactoring missing before we can hope to do it

It's certainly not something doable easily with the cur

[2020-07-15 22:25] toonarmycaptain commented on #349
Question: why not make it work for non-parameterized fixtures in the shorter term? I'm sure there are many use cases not needing parameterization, and a lot that do which frequently use particular parameters such that creating specific fixtures for those common cases isn't an undue burden (particularly over crafting every case by hand) eg `my_parameterized_fixture_case_one`, `my_parameterized_fixt

[2020-07-16 00:19] Lewiscowles1986 commented on #349
@RonnyPfannschmidt I apologize if you took my words as an attack. They were not meant as such. Pytest is very awesome.

[2020-07-16 07:31] RonnyPfannschmidt commented on #349
@Lewiscowles1986 I did not take your message as attack, i believe i just stated the issues surrounding the problem

@toonarmycaptain personally I haven't gotten into that because getfixturevalue works for that use case already, same goes for @smarie made pytest-cases (if i recall correctly)

And it safes a support burden, if we only implement the trial case the feature will ruin the day off many u

[2020-07-16 08:52] hugovk commented on #7471
Looks good!

Suggestion: (and no strong opinion either way from me :) using an existing style would mean some are already familiar with it, there's no need to define the style here, and there may be tooling already available (for [example](https://cjolowicz.github.io/posts/hypermodern-python-05-documentation/#validating-docstrings-against-function-signatures-with-darglint), but I've no experience

[2020-07-16 10:48] hugovk commented on #7447
Curious about the process:

When 6.0.0 final comes out, will it be from `master`, or from `6.0.0rc1` plus cherry picks?

[2020-07-16 11:22] simonjayhawkins commented on #7495
@bluetech I can confirm that I don't get this error from mypy 0.750 onwards but not sure which mypy commit fixed this. maybe as a result of 'more powerful self types'. What confuses me is that this issue looks a bit like https://github.com/python/mypy/issues/6910 which is still open.

Looking at the pytest code the annotation for \_\_call__ in `_WithException` is annotated as `_F` which doesn't ac

[2020-07-16 11:37] simonjayhawkins commented on #7495
ahh, just noticed the code comment

[code]

that's interesting. in pandas we normally just add an ignore for these cases. maybe https://github.com/python/mypy/issues/2087#issuecomment-589575186 is relevant.

[2020-07-16 12:57] nicoddemus commented on #7477
Managed to understand the problem, but not sure how to proceed: https://github.com/microsoft/vscode-python/issues/12372#issuecomment-659392819

[2020-07-16 13:10] bluetech commented on #7477
I did not think of this possibility, that explains why no matter what I tried I couldn't reproduce it.

It will be interesting to bisect this, not sure I will get to it myself though (maybe).

[2020-07-16 13:24] bluetech commented on #7471
@hugovk Thanks, the Sphinx docstring format looks like what we want. I will probably link to it and add some extra details.

---

Here are some more nitpick details I'm changing, let me know if you feel different.

- Should we use

[code]

  or

[code]

  I prefer "Return ..." (imperative mood).

- How to format the `:param` etc.:

[code]

  or

[code]

  I prefer the capital-letter version.

- Ho

[2020-07-16 15:44] nicoddemus commented on #7471
1. I usually prefer imperative too, but don't have strong feelings either.
2. Capital letter and period. This is important when you need more than one phrase to explain a parameter.
3. Also prefer the last one: easier to maintain.
4. Agreed, same: aim for around 80 chars.

[2020-07-16 15:45] nicoddemus commented on #7477
Closing for now as this has been fixed in `master` already. Let's see if this becomes a more serious problems to warrant a 5.4.4 release.

[2020-07-16 15:45] #7477 closed

[2020-07-16 17:05] ilyakamens commented on #3039
A bit late to the party, but: I understand this works as intended, but if I try to grab fixtures in a niece/nephew `conftest.py` file (so to speak) via `pytest_plugins`, what's the downside to making that work?

At the very least:
- The fact that `pytest --fixtures` tells me the fixture has been picked up even though it can't actually be used in the test is a bit misleading.
- A caveat here might

[2020-07-16 18:33] RonnyPfannschmidt opened #7504 "hande tmpdir cleanup in shutdown"
https://github.com/pytest-dev/pytest/commit/bde0ebcda91637366d84fa2c526acb33663c9d22#commitcomment-40657856

Seems we miss warnings as in atexit we are beyond the warning handling life cycle

[2020-07-16 19:17] RonnyPfannschmidt commented on #6936
I do not get to it @nicoddemus can you pick up the removal?

[2020-07-16 19:21] nicoddemus commented on #6936
Sure, no problem.

[2020-07-16 19:26] toonarmycaptain commented on #349
@RonnyPfannschmidt Interesting, I didn't know about `getfixturevalue`, thanks, I'll look into it. Currently I've got a fixture that returns a function that takes args for the desired db backend, and any data to configure/populate it with.

With respect to "sorry we only have it halfway" - that's how the idea of fixtures that can only be passed as direct test arguments, and not via parametrize feel

[2020-07-16 19:35] RonnyPfannschmidt commented on #349
Parametrize is a mechanism to declare parameter sets for tests

Fixtures consume those

For parameters without fixture to consume them, a fixture is made up

It's that way because of history (funcarg hooks and generate tests where very different in the early stages, combinatorial parameterization was easily added, however covariant parameterization is rather hard,

[2020-07-16 20:09] nicoddemus commented on #6936
I was about to remove this for 6.0, but then thought it was better to just wait to remove this in 6.1: I don't see much reason to bypass our usual deprecation/removal process.

[2020-07-17 03:32] wanwan905 opened #7505 "init error : No such file or directory: '{csspath}"
I use pytest in embedded linux
and python version is 3.5.9

when running "pytest " ：

Traceback (most recent call last):
  File "/mnt/python/python35/bin/pytest", line 11, in <module>
    load_entry_point('pytest==5.4.3', 'console_scripts', 'pytest')()
  File "/mnt/python/python35/lib/python3.5/site-packages/pytest-5.4.3-py3.5.egg/_pytest/config/__init__.py", line 105, in main
    config = _prepar

[2020-07-17 10:51] vnatasha opened #7506 "Pytest fails to run with pytest-xdist inside debian docker container"
I'm running pytest with pytest-xdist `pytest -n auto` inside Docker container and it fails
[code]

Versions:
pytest: 5.4.3
pytest-xdist: 1.33.0
base docker image: python:3.7(3.7.8-buster)

Note:
Downgrading the version of pytest to 5.3 fixes the issue.

[2020-07-17 13:37] nicoddemus opened #7507 "Use new GH actions manual triggers for preparing releases"
As seen in: https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch

It should be simple to adapt our current script to use this new mechanism instead.

[2020-07-17 15:11] throwable-one opened #7508 "Rerun failed tests broken in 5.4.3"
[code]

Run pytest. Two tests should fail. Run with `` --last-failed``. Only one test launched.
Try latest 5.3: it works as expected

[2020-07-17 15:23] The-Compiler commented on #7508
Bisected to 1b30514783d8ed4225a59af3f9f3fa668ab56f67 ("LFPlugin: use sub-plugins to deselect during collection (#6448)") which is a fix for #5301 - cc @blueyed

[2020-07-17 15:31] The-Compiler commented on #7506
How to reproduce this? Works fine here:

[code]

[2020-07-17 17:42] pradyunsg commented on #7507
Please @-mention me in the PR, I'd like to copy ideas into pip's release process.

[2020-07-17 19:48] blueyed commented on #7508
Likely fixed by https://github.com/pytest-dev/pytest/pull/6991, was not backported (https://github.com/pytest-dev/pytest/pull/7219).

[2020-07-18 16:41] pandichef commented on #5794
I second this.  For example, I'd like to mark a doctest as `@pytest.mark.slow`.  Is there any way to do this currently?

[2020-07-18 23:27] okken opened #7513 "pytest 6: How to have a pytest plugin depend on a version of pytest?"
- [x] a detailed description of the bug or suggestion

Is there a way to specify a pytest version dependency, so new versions of a plugin support pytest 6, while if pytest 5 is around, a previous version of the plugin is used?

I know this is more of a Python dependency management thing. But since pytest relies on and welcomes the plugin community, this seems like it should be documented in the "w

[2020-07-18 23:46] okken commented on #7513
Also, is there a way to check the version of pytest at runtime to use as a behavior switch?

[2020-07-19 05:27] Zac-HD commented on #7513
Yep, `install_requires=["pytest>=6.0.0", ...]` in your plugin's `setup.py` (or whatever packaging tool you prefer) will do the usual thing.

Personally I also add a runtime check on `pytest.__version__` though, because `pip` is still quite capable of installing package versions that don't work togther - for example by installing your plugin and then downgrading `pytest` afterwards.  The ongoing re

[2020-07-19 11:52] ankostis opened #7514 "Mutation in parameterized value is seen across repeated calls of the test-case"
(couldn't find any relevant issue but #237)
I'm running a parameterized test-case with a mutable parameter `param_dict` that gets modified in the test-case code
(the param has a single value, for simplicity).
The test-case runs twice due to some other parameter, `run_twice`.
The modification leaks to the next test-case run;
is that on purpose?

[code]
...which passes only the 1st time:
[code]

##

[2020-07-19 14:27] asottile commented on #7514
yes this is on purpose -- the values are passed as-is to tests (and if you mutate them, the mutations will be reflected afterwards).  pytest doesn't do any copying of the values (which would put constraints on the possible parametrizable values and/or potentially cause unexpected behaviour for broken copy/deepcopy / etc.)

[2020-07-19 14:51] #7514 closed

[2020-07-19 14:52] nicoddemus commented on #7514
@asottile answer is on point. Hope that clarifies the issue. 👍

[2020-07-19 15:10] ankostis commented on #7514
Shouldn't this point make it into the documentation?

[2020-07-19 16:19] nicoddemus commented on #7514
A PR in that sense is welcome, sure. 👍

[2020-07-19 19:44] mdebi commented on #7441
Hi. This is my first time attempting a PR in this project. Please review and let me know if any update is needed. Thank you.

[2020-07-19 19:57] gnikonorov commented on #7433
What do we think? Do we want to close this, or add in the checks so long as we ignore `A003`

[2020-07-20 07:09] #7441 closed

[2020-07-20 07:36] The-Compiler commented on #7433
FWIW I still think it's worthwhile to add the checks and fixes with A003 ignored. That means we'd have 13 "noqa" comment (which seems quite reasonable across the entire codebase) and we'd avoid introducing new arguments in our API which shadow builtins.

[2020-07-20 07:46] bluetech commented on #7433
I'm not sure about this one either. For example, from `argparse`'s docs:

[code]

I don't consider `type` and `help` to be bad API. I think they are the most obvious names for what they do, even though they happen to shadow builtins (which is an internal detail).

[2020-07-20 08:03] The-Compiler commented on #7508
Indeed fixed via #6991 in master already - sorry, I missed that! Closing this then.

[2020-07-20 08:03] #7508 closed

[2020-07-20 08:04] The-Compiler commented on #7513
Closing this as I think @Zac-HD's answer is spot on!

[2020-07-20 08:04] #7513 closed

[2020-07-20 09:27] vnatasha commented on #7506
Seems it was my bad. I had a problem of incompatibility of isort and pylint. Once I've solved it, the issue went away, even tho I don't quite understand the root cause of that. I guess you can close the issue. Thank you for the help

[2020-07-20 09:28] The-Compiler commented on #7506
Glad to hear that's resolved! No idea what would be related in isort/pylint either, though.

[2020-07-20 09:28] #7506 closed

[2020-07-20 10:43] hroncok opened #7517 "pytest 6.0.0rc1: capfd.readouterr() converts \r to \n"
I am testing pytest 6.0.0rc1 with Fedora packages. This is the first failure I get, from borgbackup 1.1.13.

[code]

I've distilled a reproducer:

[code]

pytest 5:

[code]

pytest 6:

[code]

This is Fedora 32 with Python 3.8 (the original failure in borgbackup is Fedora 33 with Python 3.9).

I could have not found anything about this change in the changelog nor at https://docs.pytest.org/en/late

[2020-07-20 10:47] The-Compiler commented on #7517
Bisected to 29e4cb5d45f44379aba948c2cd791b3b97210e31 (#6899 / "Remove safe_text_dupfile() and simplify EncodedFile") - cc @bluetech

[2020-07-20 11:18] The-Compiler opened #7518 "Tests on Windows started failing since WSL was made available on GitHub Actions"
See e.g. https://github.com/pytest-dev/pytest/pull/7516/checks?check_run_id=889498913#step:7:172 from #7516.

That smells like a change in the GitHub Actions environments, as the error message reads (with a couple of NUL-bytes in between):

[code]

Probably due to this: https://github.com/actions/virtual-environments/pull/1081.
Not sure what to do here. Should we just skip that test on Windows? Or

[2020-07-20 11:56] bluetech commented on #7517
Thanks for trying the rc @hroncok and @The-Compiler for the bisection (which is very helpful). It does look like a regression to me, i.e. the previous behavior seems better. I'll take a look soon.

[2020-07-20 12:25] bluetech commented on #7518
From the log it looks like `bash` is in PATH in Windows, but is not actually bash, but some wrapper script which fails...

Maybe in addition to the `which` we can also skip if `bash --version` fails, or some other safe check to verify this is actually bash.

[2020-07-20 12:43] The-Compiler commented on #7518
Yeah, I suppose something like running `bash --version` and checking that the output starts with `GNU bash` would be better. I won't have time to submit a PR right now I'm afraid, so feel free to go ahead if you have the time.

[2020-07-20 14:24] #7518 closed

[2020-07-20 15:50] asottile commented on #7517
I've got a fix for this, PR incoming!

[2020-07-20 18:48] #7517 closed

[2020-07-20 18:50] hroncok commented on #7517
Thanks fro the fix @asottile!

Side note: I'm slowly going trough the Fedra failures in https://src.fedoraproject.org/rpms/pytest/pull-request/17#comment-50314 and below.

[2020-07-20 20:30] asmeurer commented on #7374
I'm sorry, but I'm not interested in trying to push a change into CPython itself. If you want to do it, feel free. Libraries like pytest can move much faster than the standard library, so it makes sense to make changes like this in them first, then backport them into the upstream later if that becomes feasible. It doesn't make sense to block movement on an issue like this on something happening in

[2020-07-20 22:29] okken commented on #7513
Thanks @Zac-HD @The-Compiler

[2020-07-20 22:43] webknjaz commented on #7327
The issue I faced today (https://github.com/pytest-dev/pytest-forked/issues/44) made me rethink this a bit.

1. I think that this mechanism should also include `skip`, not only `xfail` (and maybe something else too).
2. Markers should have priorities (maybe based on the decoration order or something else).
3. Built-in "native" markers should be priorities over third-parties. So, for example, if th

[2020-07-21 02:59] Zac-HD opened #7523 "NameError in `exec()` when `from`-imported objects referenced in class scope"
This is a bizzare issue, best explained by example:

[code]

[code]

- Running the test function directly works
- Placing the same `exec` call at module level, so it is executed at import-time when the test is collected, also works
- *Only* running the test via `pytest` fails
- I've already checked that the `exec` function is not being replaced - `id(exec)` is the same at module level and inside t

[2020-07-21 07:13] The-Compiler commented on #7523
I can reproduce this outside of pytest by just calling the function:

[code]

[code]

[2020-07-21 07:20] The-Compiler commented on #7523
From what I understand, what's happening is that the import is just an assignment. Because `exec` runs the code in your current scope, you end up with a `match` name in the `test_exec_nameerror` function scope, but the `match` inside your `class` expects to find one at global scope.

Running `exec` with `{}` or `globals()` as second argument will work, and so will adding a `global match` before th

[2020-07-21 07:20] #7523 closed

[2020-07-21 07:32] RonnyPfannschmidt commented on #7327
It is a problem that forked does move the complete evaluation into a subprocess

So the pytest parts that ought to handle marker trigger in the subprocess instead of the parent.

This flaw is part of why I'd like to see a forked alike that's based running a complete pytest session in the subprocess and not just forking inside the runtestprotocol hook

[2020-07-21 07:34] webknjaz commented on #7327
Interesting... Though, this should be somehow documented too.

[2020-07-21 07:46] webknjaz commented on #7507
/me subscribes

[2020-07-21 08:09] webknjaz opened #7524 "[UX?] Facilitate weird DeprecationWarning implementations"
Yesterday cryptography published an update that injects a `DeprecationWarning` right into their package `__init__`. Their `DeprecationWarning` is custom and is declared in their own project, in `cryptography.utils` submodule.

So adding
[code]
makes pytest explode:
[code]

To be fair, it's the behavior of the interpreter:
[code]

Does pytest try to import the ignored category on its own on startup

[2020-07-21 08:32] webknjaz opened #7525 "[FR] Support for env-dependent `filterwarnings` entries"
For example, if I want to add ignore for the deprecation warning that only happens on Python 3.5 and POSIX, I want some entries to only apply to that. The example pseudosyntaxL
[code]
(that is completely made up after the env markers but hopefully, you've got the idea)

[2020-07-21 10:29] RonnyPfannschmidt commented on #7524
this is a structural issue

the setoption in python is ignored because cryptography is not yet importable
in pytest the setoption blows up because cryptography is importable

[2020-07-21 10:31] RonnyPfannschmidt commented on #7524
i believe you need the ignore line twice, first to trigger the import before the error spec then after the error spec to ensure it works

its unfortunate the warning triggers directly on import

[2020-07-21 12:41] gaborbernat commented on #7469
What about using protocols instead of ABCs? And we only expose the protocols publicly 🤔 That could even be separated into a typing module:

[code]

This way the fixtures have a very explicit public API, however the implementation does not have to inherit from it.

[2020-07-21 14:52] gnikonorov commented on #7433
I’m in agreement with @The-Compiler but will defer to someone else regarding @bluetech’s comment

[2020-07-21 15:16] bluetech commented on #2269
@nicoddemus I think `--import-mode=importlib` fixes this, right?

[2020-07-21 15:33] nicoddemus commented on #2269
Indeed, good catch, thanks!

`--import-mode=importlib` will prevent pytest from messing with `sys.path` at all. 👍

(This will be released in `6.0.0`, but `6.0.0rc1` can be used to test this already).

[2020-07-21 15:33] #2269 closed

[2020-07-21 21:09] nicoddemus commented on #7433
FWIW I'm still -0.5, for the reasons mentioned by @bluetech, specially given `mypy` will catch any errors.

[2020-07-21 22:21] stanwest commented on #7491
Thank you; your changes resolved the issue.

[2020-07-22 01:00] tekumara opened #7527 "Show namedtuple field name in assertion error message"
[code]

pytest failure message:
[code]

It would nice if the field name was shown in the assertion failure message, rather than an index, eg:
[code]

Python 3.6.10
Pytest 5.4.3

[2020-07-22 02:00] #7422 closed

[2020-07-22 02:05] nicoddemus commented on #7447
Hi @hugovk, sorry for the delay.

I think it will come from `master` directly, I don't think there's anything which is on `master` at the moment that wouldn't be ported to 6.0.0 anyway.

But for the next releases probably it makes sense to follow normal protocol and create a `7.0.x` at the time `7.0.0rc1` gets released?

[2020-07-22 07:59] The-Compiler opened #7528 "Remaining issues for pytest 6"
From https://github.com/pytest-dev/pytest/pull/7362#issuecomment-662201013 by @nicoddemus:

I think there are some more things to be done first. Here's a checklist from the top of my head:

- [x] #7362 ("Change pytest deprecation warnings into errors for 6.0 release") obviously
- [x] #7503 ("pytest 6: Make --strict imply --strict-config?") - should be a rather easy change and I'd rather do this no

[2020-07-22 08:05] hroncok commented on #7528
Yes. It was very tedious, so I've taken a break. Will try to continue soon.

[2020-07-22 08:11] Zac-HD commented on #7523
Huh, this is bizzare: it works *if and only if* I pass the same dict for globals and locals!  The two-dict form of `exec` fails :shrug:

Anyway, I have it working now - thanks for the help.

[2020-07-22 08:28] The-Compiler commented on #7523
The [docs for `exec()` say](https://docs.python.org/3/library/functions.html#exec):

Which might be what's influencing this?

[2020-07-22 08:31] Zac-HD commented on #7523
Woah, yep:

[code]

gets a `NameError` without any `exec` involvement at all :grimacing:

[2020-07-22 09:09] The-Compiler commented on #7503
I opened a PR: #7529

[2020-07-22 09:18] graingert commented on #7503
Can we flip the default here so markers default to strict in v6?

What about xfail_strict

[2020-07-22 09:24] The-Compiler commented on #7503
We already have a warning for that since 4.5.0, so it should be quite clear what's going on even without `--strict-markers`. -1 on making that the default now, that seems a bit late.

That one is much more controversial and I'm not sure if starting the discussion again will produce a different outcome. See #1299 and #814.

[2020-07-22 09:31] graingert commented on #7503
From @nicoddemus seems like this is exactly that future release

[2020-07-22 09:32] graingert commented on #7503
I think if we  add strict-markers and strict-config to `--strict` we should also have it cover `xfail_strict`

[2020-07-22 10:15] The-Compiler commented on #7503
While I love `xfail_strict` (and enable it in all my projects), I think it's fine for `--strict` to imply any strict commandline arguments, but not anything outside of that. If it was an `--xfail-strict` flag I'd agree, but since it's a setting in the config, I don't think we should do this now (and after the RC is out already).

[2020-07-22 10:22] webknjaz commented on #7503
Having `xfail_strict` stand aside makes me puzzled... Honestly, it's weird that some of the strict options are config-only and others are CLI-only (https://github.com/pytest-dev/pytest/issues/7233). They are all part of the same settings category IMHO and it'd be great to treat them in the same way, w/o special-casing things...

[2020-07-22 10:29] graingert commented on #7503
In that case I think we should just drop the `--strict` alias in v6.0 to make it semver-available as a comprehensive flag for all 3 modes in V6.1

[2020-07-22 11:02] the-wondersmith commented on #6936
I don't know if anyone else is still experiencing this issue, but as far as I can tell it's pretty much exactly what @bluetech said - the issue stems from something in one of the JetBrains plugins trying to access the `writer` attribute of `TerminalReporter`.

I have no idea what the "correct" fix is, and I'm personally more willing to patch the *plugin* than I am to patch the local instance of Py

[2020-07-22 11:09] The-Compiler commented on #6936
@the-wondersmith That seems unrelated to plugin tests using pytester/testdir (which this issue is about). That one should probably be reported to JetBrains if that hasn't happened yet.

[2020-07-22 11:56] nicoddemus commented on #7528
Thanks for putting up this list @The-Compiler. 👍

[2020-07-22 12:16] nicoddemus commented on #7503
Indeed I believe this is the safest option: the breaking change in 6.0 then becomes the fact that `--strict` gets removed, and then we can reintroduce it in a minor release (6.1 for example). This seems better to me than changing the behavior of an existing option, because a missing option is a hard error, the former is a change in behavior which might be harder to track down if one does not read

[2020-07-22 13:34] webknjaz commented on #7503
Could also introduce `--xfail-strict`...

[2020-07-22 13:50] The-Compiler commented on #7503
Can we remove `--strict` in pytest 6.0 without actually having it deprecated (as in, not just discouraged but showing a warning)?

[2020-07-22 14:37] Zac-HD commented on #7495
As [noted in the changelog](https://docs.pytest.org/en/latest/changelog.html#pytest-6-0-0rc1-2020-07-08), our type hints are developed against mypy 0.780 - and I think it's reasonable to require a recent version of mypy to use with the forthcoming major version of pytest.

@The-Compiler @nicoddemus I suggest that we close this without action, save perhaps noting in the changelog that mypy versions

[2020-07-22 15:29] nicoddemus commented on #7503
I don't see much value in it being a command-line value, TBH. To me it feels like a test-suite wide configuration rather something you want to switch on/off in the command-line.

Hmm good point! Indeed we just discouraged it in the docs.

To follow proper protocols we should:

`6.0.0`: formally deprecate `--strict` with `PytestDeprecationWarning`.
`7.0.0`: remove `--strict` altogether.
`7.x.0`: re

[2020-07-22 15:34] nicoddemus commented on #7495
@Zac-HD I agree we should only support a version >=X of mypy, and need to make that explicit somewhere (changelog is fine for now).

WDYT @bluetech?

[2020-07-22 15:36] The-Compiler commented on #7503
Okay, so I suppose let's only deprecate `--strict` for 6.0 then? I don't see the point in removing it in a release just to reintroduce it again, that just makes things more confusing for everyone.

I'd be glad if someone else could take over here though, as I should take care of some other things at the moment.

[2020-07-22 15:45] graingert commented on #7503
Time for a plugin: pytest-strictest to introduce "--strictest" as a command that enables all 3 strict options

[2020-07-22 15:47] graingert commented on #7503
fwiw I like the `--strict=all`  option

[2020-07-22 15:50] nicoddemus opened #7530 "Deprecate `--strict`"
I don't see the point in removing it in a release just to reintroduce it again, that just makes things more confusing for everyone.

_Originally posted by @The-Compiler in https://github.com/pytest-dev/pytest/issues/7503#issuecomment-662524793_

[2020-07-22 15:51] nicoddemus commented on #7503
I think so yes. Created https://github.com/pytest-dev/pytest/issues/7530 for that.

Thanks everyone for participating in the discussion. I've moved this issue to the 7.1 milestone.

[2020-07-22 15:57] The-Compiler commented on #7503
I suppose this could be closed as a duplicate of #7233 then?

[2020-07-22 16:05] simonjayhawkins commented on #7495
i'm OK with that from pandas perspective.

[2020-07-22 18:37] bluetech commented on #7525
This seems a bit too specialized, i.e. I am not sure the usefulness is worth the maintenance/documentation overhead.

It can be implemented in code though by throwing the following in a conftest.py:

[code]

Though it's not as nice as having everything in the ini file.

[2020-07-22 19:21] #7495 closed

[2020-07-22 20:03] BeyondEvil commented on #6936
I can confirm this is 100% unrelated to JetBrain.

[2020-07-22 21:01] KKomarov commented on #3130
@raphaelcastaneda thank you for your contribution! Do you plan to make it compatible with pytest-xdist?
https://github.com/pytest-dev/pytest-xdist/issues/538

[2020-07-22 21:24] webknjaz commented on #7525
Ah, I didn't think about that... Thanks!
OTOH yeah, spreading this across multiple places may be confusing but should be easily fixable by adding a comment with pointers to the ini file...

Though, I do think that documenting such recipe would be beneficial.

[2020-07-22 21:52] raphaelcastaneda commented on #3130
I do not plan on implementing this. Though looking through the history of the project, I imagine a similar conversion is needed as was done for `record_property` (formerly `record_xml_property`). : https://github.com/pytest-dev/pytest/commit/8b49ddfa585e8dee77ba3aeef654598e0052237e

[2020-07-22 21:52] #3130 closed

[2020-07-22 22:42] the-wondersmith commented on #6936
Apologies for the off topic comment then. It's been a recurring issue for me personally and I'd not been able to find a workable solution for it.

[2020-07-23 00:36] #5584 closed

[2020-07-23 00:39] nicoddemus opened #7532 "Check 6.0.0rc1 against Fedora packages"
That makes it simple to just look at the milestone and see the outstanding issues for the release.

_Originally posted by @nicoddemus in https://github.com/pytest-dev/pytest/issues/7528#issuecomment-662411170_

Fedora PR with comments: https://src.fedoraproject.org/rpms/pytest/pull-request/17

[2020-07-23 00:40] nicoddemus commented on #7528
Took the liberty of going ahead and creating https://github.com/pytest-dev/pytest/issues/7532 to track the fedora packages, assigning it to @hroncok.

I'm closing this parent issue as I think each individual issue has been tracked/resolved now.

Thanks again @The-Compiler for compiling this list! 👍

[2020-07-23 00:40] #7528 closed

[2020-07-23 00:42] nicoddemus commented on #7532
@hroncok as I mentioned, just created this issue to give this some visibility regarding the 6.0 milestone. Please don't take this creating pressure of any kind from our side, take your time or even go ahead and close this if you are OK with 6.0.0rc1 or won't have the time to continue testing other Fedora packages. We definitely appreciate all your efforts on testing pytest and helping out the proj

[2020-07-23 01:46] nicoddemus commented on #7503
Good point, but I think we should rather close #7233 and keep this one open, as I believe this discussion is more through and brought more ideas on how to move things forward. 👍

[2020-07-23 01:47] nicoddemus commented on #7233
Closing this in favor of https://github.com/pytest-dev/pytest/issues/7503.

Thanks again @webknjaz!

[2020-07-23 01:47] #7233 closed

[2020-07-23 02:01] nicoddemus commented on #6936
Just for clarification, the cause is outlined in https://github.com/pytest-dev/pytest/issues/6936#issuecomment-600369633: basically when listing all members of `TerminalReporter`, we access the `writer` attribute to inspect if it is a fixture, which triggers the warning.

We could implement a somewhat convoluted fix to bypass descriptor/properties from that check, but we decided that it is worth i

[2020-07-23 04:32] asottile commented on #7527
I believe this is pytest noticing this is a `tuple` and comparing it as a sequence -- there can probably be some special casing if it looks like a namedtuple (isinstance of `tuple`, has `_fields`, etc. -- it's actually difficult to know exactly whether something is a namedtuple) and special case the assertion messaging (similar to what is done for attrs classes, etc.)

[2020-07-23 07:59] holi-ampx opened #7533 "When a parametrized fixture is present, even unrelated tests (not using the fixture) are being run twice."
Having a two fixtures in conftest, one parameterized (two params), unused, one unparameterized forces all present tests to be run twice.

MWE:
[code]

Running on Ubuntu 18.04.4 LTS.

My pip list:
[code]

[2020-07-23 08:08] manum45 commented on #5826
A similar issue occurs on RAM disks (O:\ in this case):

[code]

This behavior seems to be described here: [https://bugs.python.org/issue31842](https://bugs.python.org/issue31842)

[2020-07-23 09:43] RonnyPfannschmidt commented on #7533
Autouse enforces to use the fixture for all tests, take out the autouse to keep the fixture to only the relevant tests

[2020-07-23 09:57] The-Compiler commented on #7533
Closing this as I agree this is intended behavior with an autouse fixture. Feel free to follow up if you have any remaining questions, though!

[2020-07-23 09:57] #7533 closed

[2020-07-23 12:14] hroncok commented on #7532
What I'd like to see addressed before the final 6.0.0 release:

https://github.com/pytest-dev/pytest-xdist/pull/554#issuecomment-660981785
https://github.com/pytest-dev/pytest-forked/issues/45
https://github.com/pytest-dev/pytest-xdist/pull/558 release

[2020-07-23 12:16] The-Compiler opened #7534 "pytest 6: Traceback in pytest.raises contains repr of py.path.local"
The [werkzeug](https://github.com/pallets/werkzeug) tests fail with pytest 6:

[code]

This is because of 2ee90887b77212e2e8f427ed6db9feab85f06b49 (#7274, "code: remove last usage of py.error") - it removed the `str(...)`, but the format string uses `%r`, so now we get the repr of the `py.path.local` object instead of the repr of a string.

I believe this should continue to use `"%r" % str(self.pa

[2020-07-23 12:20] hroncok commented on #7532
The analysis is basically [done](https://src.fedoraproject.org/rpms/pytest/pull-request/17). I can dig deeper if you think so.

[2020-07-23 12:31] The-Compiler commented on #7532
I'd be interested in what happened for the [python-sphinxcontrib-programoutput failure](https://src.fedoraproject.org/rpms/pytest/pull-request/17#comment-51236) ([logs](https://download.copr.fedorainfracloud.org/results/@python/pytest6/fedora-rawhide-x86_64/01574417-python-sphinxcontrib-programoutput/builder-live.log.gz)). I can't reproduce it locally (and I note upstream seems to [not use pytest

[2020-07-23 12:32] hroncok commented on #7532
Note that running the tests on `build/lib/sphinxcontrib` is a hack.

[2020-07-23 13:01] ZhukovGreen commented on #3037
Just a little more handy version which extends the proposed from @FanchenBao .
This allows using caplog to capture the messages

[code]

[2020-07-23 13:11] ZhukovGreen commented on #3037
@nicoddemus I think this issue might be reopened since there is no straightforward solution found to use the caplog for logs from different processes.

[2020-07-23 13:51] bluetech commented on #7196
Generally pytest's own testsuite is assumed to run in a pristine environment, such as created by `tox -e py`. Other plugins being installed might interfere with it, as we assume the pristine environment.

[2020-07-23 13:51] #7196 closed

[2020-07-23 14:42] symonk commented on #7527
@asottile it is indeed hard to determine! (surprisingly actually - tho namedtuple appears to be a factory function, rather than a class).  instance checking on tuple / hasattr _fields seems like one of the _best_ ways to go, but even that has no absolute guarantee (e.g custom class with such attr etc).

[2020-07-23 19:51] RonnyPfannschmidt commented on #7527
i believe tuple sub classes with `_fields` can be reasonably considered similar to attrs/dataclasses

[2020-07-23 21:50] webknjaz opened #7537 "[junit] Add a file attribute to xunit2"
Currently linked schema https://github.com/jenkinsci/xunit-plugin/blob/xunit-2.3.2/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd#L127 allows a file attribute in `<testsuite>` nodes. It's currently missing but would be very useful.

AFAICS junitxml plugin dumps everything under a single testsuite node. It was probably fine with xunit1 that allowed per-testcase file att

[2020-07-24 07:46] bluetech commented on #7537
Disclaimer: I don't actually use junitxml.

This sounds good to me, it does look like some indication of where the test comes from is missing.

The `testsuite` attributes we might want to use for it are `file`, `package`, `id`, `group`.

Do you happen to have an example of file from another project/language (e.g. Java) which uses it? I'd be interested to see the granularity in which they define th

[2020-07-24 11:30] #7534 closed

[2020-07-24 11:32] The-Compiler commented on #7532
One down, three to go:

- [ ] Deprecation warning with xdist: https://github.com/pytest-dev/pytest-xdist/pull/554#issuecomment-660981785 (causing failures for some testsuites using xdist and `-Werror`)
- [ ] xdist release after the above and pytest-dev/pytest-xdist#558
- [ ] pytest-dev/pytest-forked#46 (and release?)

Should we wait a bit more until those are taken care of before releasing the fin

[2020-07-24 11:49] hroncok commented on #7532
Since many CI setups ignore prereleases and will start to pick up 6.0.0 once released, I'd advise to hold on with the release until the issues are fixed (and released).

[2020-07-24 16:33] maspe36 opened #7538 "[junit] Expose the ability to write trait tags in testcase nodes"
Since record_property is incompatible with the xunit2 family, we should add a fixture or some mechanism to do something similar with the supported [trait](https://xunit.net/docs/format-xml-v2#trait) tag.

Especially now that xunit2 is the default family with the 6.0 release, it would be a useful addition.

Example usage
[code]

Example output in testcase node
[code]

[2020-07-24 17:26] nicoddemus commented on #7532
Agreed, thanks for the list @hroncok!

I will try to get to those this weekend. 👍

[2020-07-24 17:57] yaccz commented on #3730
Hi, I think I am looking at the same problem right now. I described it it more detail here: https://stackoverflow.com/questions/63063722/how-to-create-a-parametrized-fixture-that-is-dependent-on-value-of-another-param.

What i'd like to achieve is stacking parametrized fixtures as described at the SO link (can reproduce here if the link is an issue) and I think it would be solution for other peopl

[2020-07-24 19:28] asmeurer opened #7539 "pytest -k is picking all hypothesis tests"
I originally opened this issue in hypothesis, but they told me to open it here https://github.com/HypothesisWorks/hypothesis/issues/2508.

When I run `pytest -k name`, and `name` only matches hypothesis tests, pytest runs all hypothesis tests, not just the ones that match. When name matches a non-hypothesis test, it only picks the tests that contain name as expected.

I am using pytest 5.4.3 and h

[2020-07-24 20:20] simpletonDL opened #7540 "applymarker doesn`t work for custom marks"
Hello, I have parameterized fixture and I want to mark function invocaions differently. So, for example:
[code]
But when I try to run marked test function, pytest doesn`t find them:
[code]
The solution that uses ```pytest.mark.parametrize``` decorator won`t suite me, because I need to get parameters in runtime.
The second question is how to create markers using python string? So, I want to achive

[2020-07-24 20:25] RonnyPfannschmidt commented on #7540
unfortunately fixtures run **after** test selection is done, so the markers you want to use for selection get added only after selection

[2020-07-24 20:26] RonnyPfannschmidt commented on #7540
but there is a trick i jsut remembered `pytest.param(2, marks=pytest.mark.slow)` should allow you to set the marker in the parameters (untested, please crosscheck the docs)

[2020-07-24 20:31] simpletonDL commented on #7540
Oh, it is interesting! Do you know, can I build array of such parameters in runtime? Exactly, I need to extract some file paths and I don't really want to hardcode them.

[2020-07-24 20:46] RonnyPfannschmidt commented on #7540
its possible to do the building of parameter lists in hooks, but it has to happen at collect time

it helps to create a pytest plugin that manages the related resources to both the `pytest_generate_tests` hook and fixtures can share some objects with metadata

[2020-07-24 20:52] RonnyPfannschmidt commented on #7538
if traits behave the same as properties in junit1, then we should just use the new nodes on the new version

[2020-07-24 20:53] simpletonDL commented on #7540
Okey, thank you very much) I try to parametrize tests with ```os.listdir``` and it has worked. In future I also will try hook, that you suggested. Can you please tell me how create mark with string (like ```pyteset.mark.some_function(str)```) or it is not possible?

[2020-07-24 20:56] RonnyPfannschmidt commented on #7540
im not sure what you mean by that, `pytest.mark.something("astring")` can work just fine
if thats still not clear, please make up a example so that i can better understand what you try

[2020-07-24 21:11] simpletonDL commented on #7540
To be honest I am newbie in pytest, so I dont know what exactly means parameter ```"astring"``` (as I understand you mark function with ```something```, but I don`t understand the parameter you passed). I want something like ```getattr(pytest.mark, some_variable_marker)```, and surprisingly it worked. So I think this isse can be closed. Thank you very much for the answers and quick response!)

[2020-07-24 23:19] asottile commented on #7469
I like the idea of protocols as a public api, it gives us a little bit more flexibility on the implementation

the tricky parts become though:

(1) how to ensure we stay in line with the protocols (typing tests?)
(2) if we use the protocols internally, we'd probably have to cast to the concrete types occasionally to use the internal methods? this feels like it defeats some of the purposes of typin

[2020-07-24 23:24] gaborbernat commented on #7469
I don't think you need to cast protocols, they should be replaceable automatically. You can test it by merging the protocol and implementation via retype into a temporary folder 🤔and running type check on that 🤔

[2020-07-24 23:31] asottile commented on #7469
@gaborbernat the problem would be if we internally defined things like:

[code]

that would not type check because `other_internal_method` is not on the public protocol

[2020-07-24 23:35] gaborbernat commented on #7469
So we just internally always type as implementation? 🤷‍♂️

[2020-07-25 05:13] RonnyPfannschmidt commented on #7540
Thanks, astring ist literally Just a random String without meaning

[2020-07-25 05:13] #7540 closed

[2020-07-25 06:23] Zac-HD commented on #7538
That would be lovely, and much nicer for downstream plugins... for example https://github.com/HypothesisWorks/hypothesis/issues/1975 would just be solved :smile:

[2020-07-25 06:31] asottile commented on #7539
hypothesis is attaching additional attributes to the test function which is triggering this:

[code]

`repr` is matching `_hypothesis_internal_use_reproduce_failure`

[2020-07-25 08:00] asmeurer commented on #7539
Is there a way to make -k only match function names? I don't care about that other stuff.

[2020-07-25 16:16] nicoddemus commented on #7538
Agreed, and it is trivial to implement: 73172b88d21e0e07757844ceaaae897444cae706

I didn't open a PR just because I couldn't find a schema for that version (TBH I didn't spend too much time searching because I'm short on time now). @maspe36 do you happen to have one handy?

[2020-07-25 16:49] nicoddemus commented on #7539
Hi @asmeurer, I'm afraid not at the moment with the `-k` flag, it always matches partially against node names and "keywords".

[2020-07-25 23:26] webknjaz commented on #7524
If I understand you correctly, you're suggesting that I do this:
[code]

It does work (tried under pytest 4.6.11 because this is related to Python 2). But then, it also works if I don't have that second ignore, as in:
[code]

I assume that is because the imported modules are cached and the following imports don't emit warnings because the module is not interpreted for the second time.

[2020-07-26 01:02] jadchaar opened #7542 "Invocation error on PyPy3 on Windows"
- [x] a detailed description of the bug or suggestion

Recently, our PyPy3 Windows builds on GitHub actions have been failing due to a Pytest invocation error. These invocations errors began to occur recently and seem to be random (they sometimes occur and sometimes don't). These are the logs from a recent failing run (https://github.com/arrow-py/arrow/pull/813/checks?check_run_id=910292318):

[co

[2020-07-26 05:03] RonnyPfannschmidt commented on #7524
Exactly

[2020-07-26 11:58] webknjaz commented on #7524
Looks like there's no way to improve this programmatically.
The action items here may be:
1) Document this quirk
2) Try detecting the chicken-egg cases and print out something explanatory

[2020-07-26 17:03] maspe36 commented on #7538
Just took another look at this, is xunit2 the same as xunit.net v2? I found a link to a supposed full schema here https://github.com/pytest-dev/pytest/issues/7537 but this schema has properties/property in it instead of traits/trait😕

[2020-07-26 19:15] RonnyPfannschmidt commented on #7538
Junit and xunit seem to be distinct

[2020-07-26 20:16] gnikonorov opened #7543 "Quesiton on best way to duplicate a `nodes.py` `Item` object"
Hi everyone,

I want to be able to create a duplicate of an `Item` object ( defined AFAIK in `nodes.py` ). When I try to deep-copy it, I get the following error:

[code]
I am trying to create a duplicate so that I can rerun a set of tests after all tests have run ( in this case I am rerunning all failed tests ). If I just save it on the `session` object, It looks like it's status is duplicated. So

[2020-07-26 20:55] RonnyPfannschmidt commented on #7543
Currently there is no good way to duplicate nodes, its horrendously error prone and should be avoided

Can you outlined the actual use case in more detail (as it sounds similar to rerunfailures)

[2020-07-26 21:03] gnikonorov commented on #7543
Sure @RonnyPfannschmidt. It is similar but there are 2 key differences.

I am trying to rerun failed tests on a dynamic interval ( so you could say if error x occurs, rerun the failing test at the start of the hour ). This is different from rerun failures which attempts to rerun after a predefined time interval ( y seconds ).

I want to defer rerunning tests instead of immediately attempting to re

[2020-07-26 21:11] RonnyPfannschmidt commented on #7543
that sounds like a combination of lastfailed and a custom delay - is there any reason for not just starting a new pytest run with `--lastfailed` at/after the controlled interval,

in any case, i would strongly suggest to use the builtin lastfailed plugin and to manage the scheduling at pytest execution instead of having pytest fail

[2020-07-26 21:15] gnikonorov commented on #7543
Thanks @RonnyPfannschmidt let me try that. Closing for now

[2020-07-26 21:15] #7543 closed

[2020-07-26 21:50] maspe36 commented on #7538
So if that schema is the correct xunit2 schema, why are we warning when using record_property?

[2020-07-26 21:54] RonnyPfannschmidt commented on #7538
good question ,at first glance it seems the "Junit" plugin maintains a number of xunit versions and no junit versions

[2020-07-26 22:46] asottile commented on #7542
googling the error code: https://stackoverflow.com/q/24106139/812183

likely meaning something is causing a segfault in your testsuite

you may want to try running with `faulthandler` enabled?

[2020-07-26 22:49] asottile commented on #7539
this behaviour has existed since pytest 2.4.0 but as far as I can tell is undocumented (and wasn't called out in the changelog)

I think at least this should be documented and improved to avoid underscored names (this would solve this particular issue, but I think would be a reasonable baseline expectation)

[2020-07-26 22:49] jadchaar commented on #7542
But this seems to be occurring on the collection state before our test suite even runs. Doesn't that eliminate the possibility of a segfault in our test suite?

[2020-07-26 22:50] asottile commented on #7542
collection will still import your modules and access attributes (and even garbage collect some objects)

also github actions is not the most reliable about output displaying, it's entirely possible that it progresses beyond collection before faulting

[2020-07-26 23:02] jadchaar commented on #7542
The weird thing about this entire issue though is that it only seems to occur on PyPy3 and Windows, not any other OS/Python combo. Making me think it might be an issue with PyPy.

[2020-07-26 23:03] asottile commented on #7542
that's certainly a possibility -- I've not had much luck with pypy on windows myself (especially pypy3) and I suspect it's the least tested platform combination

[2020-07-26 23:06] webknjaz commented on #7537
@bluetech unfortunately I don't have better examples from other languages. I've only tried it with pytest and those CIs that I listed earlier. btw xunit2 reports seem to be less usable there but I haven't checked closer.

Thanks for pointing to `record_testsuite_property`, I haven't thought about it.
FWIW I solved my immediate problem by downgrading to xunit1 (that the referenced GHA supports, app

[2020-07-27 08:27] smarie commented on #349
@RonnyPfannschmidt , @toonarmycaptain , @Lewiscowles1986

That one is something really tricky, and the internals of the fixture system currently make it harder
There easily is quit the amount of hard work and a number of refactoring missing before we can hope to do it
It's certainly not something doable easily with the currently available volunteer time

This feature is implemented in `pytest-case

[2020-07-27 12:44] RonnyPfannschmidt commented on #349
Pytest cases looks nicely along the road we also want to have in pytest core

Im still heavily invested in the idea to clean up fixtures internals before integration of your good work to core

[2020-07-27 13:29] nicoddemus opened #7546 "Better document -k partial matching and what 'keyword' means"
_Originally posted by @asottile in https://github.com/pytest-dev/pytest/issues/7539#issuecomment-664050187_

I think at least this should be documented and improved to avoid underscored names (this would solve this particular issue, but I think would be a reasonable baseline expectation)

The relevant docs are here: https://docs.pytest.org/en/latest/example/markers.html#using-k-expr-to-select-test

[2020-07-27 13:30] nicoddemus commented on #7539
Created #7546 to track this.

[2020-07-27 13:42] webknjaz commented on #7537
FTR here's an example of how AppVeyor reporting of xunit1 vs xunit2 differ:
1) **xunit1** https://ci.appveyor.com/project/njsmith/trustme/builds/34322432/job/rygsb2do5tkmtmxc/tests
2) **xunit2** https://ci.appveyor.com/project/CherryPy/cheroot/builds/34315268/job/yosp77mbywt35urh/tests

They use the `junit_suite_name` value instead of the filename when processing xunit2 while with xunit1 they disp

[2020-07-27 15:09] ikedaosushi commented on #7546
I'll take it!

[2020-07-27 15:26] ikedaosushi commented on #7546
I'll take it.

[2020-07-27 16:38] Lewiscowles1986 commented on #349
I'll try to grab some time to play with that. Thanks so much @smarie and the pytest team.

[2020-07-27 16:54] maspe36 commented on #7538
Oops, yup. Looks like this was my mistake - I got the schemas confused. After looking at the linked schema, it seems that you can only [add properties under the testsuite tags](https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd#L111) and traits is something _specific_ for xunit.net v2 as it is missing from the junit sch

[2020-07-27 16:54] #7538 closed

[2020-07-27 18:06] nicoddemus commented on #7538
Hmm bummer, but thanks @maspe36 for the follow up!

[2020-07-27 20:04] webknjaz commented on #7532
Fixed

[2020-07-27 20:09] The-Compiler commented on #7532
Yay! So I think the only thing left is a pytest-xdist release now, correct?

[2020-07-27 22:54] nicoddemus commented on #5826
This will be fixed in pytest 6.0 because we are no longer resolving paths. 👍

[2020-07-27 22:54] #5826 closed

[2020-07-27 23:09] nicoddemus commented on #7532
`pytest-xdist-1.34.0` released. 😄

Closing this then, thanks everyone!

[2020-07-27 23:09] #7532 closed

[2020-07-27 23:10] nicoddemus opened #7547 "Prepare release 6.0.0"
@pytestbot please prepare release from master

[2020-07-27 23:13] nicoddemus commented on #7547
Argh will need to update the script to be able to generate major releases. 😁

[2020-07-28 08:21] The-Compiler commented on #7447
I think this was a great success, especially given that @hroncok [rebuilt all Fedora packages](https://src.fedoraproject.org/rpms/pytest/pull-request/17) and went through the failing logs - thanks a lot again for that, there was a lot we could fix that way before things broke apart for everyone.

[2020-07-28 10:16] sp-ricard-valverde commented on #3655
Sorry to reopen this, but I might actually found a use case for the multiple naming of a single fixture:

[code]

In this case `match_files` and `unmatch_files` could easily be the same fixture with different appropriate names, but the alternate solution:

[code]

Won't work as the `request` context is lost and cannot be passed from `unmatch_files` to `match_files`.

[2020-07-28 11:05] smarie commented on #349
Thanks @RonnyPfannschmidt for your kind words. Sure, the cleaner the internals are, the easier evolutions can be made !

[2020-07-28 11:41] The-Compiler commented on #7547
@nicoddemus Do the thing! :laughing:

[2020-07-28 11:41] nicoddemus commented on #7547
@pytestbot please prepare major release from master

[2020-07-28 11:49] nicoddemus commented on #7447
Agree on all fronts. 😁

Let's leave this open, I plan to close this once I open a PR for docs about the pre-release process. 👍

[2020-07-28 11:56] nicoddemus opened #7551 "Update release-on-comment script to handle release candidates"
As discussed in https://github.com/pytest-dev/pytest/pull/7548#issuecomment-664988552

[2020-07-28 13:35] tirkarthi commented on #7527
Detecting a namedtuple was raised to CPython. Checking for tuple subclass and `_fields` attribute is the suggested way. See : https://bugs.python.org/issue7796

I have implemented this feature with https://github.com/tirkarthi/pytest/commit/726450b2bdba2d7bf1955b8963207f9d808055a1

[2020-07-28 13:41] The-Compiler commented on #7527
@tirkarthi Looks great from a quick look! :+1: Do you want to open a pull request?

[2020-07-28 13:47] graingert commented on #7527
a less elegant approach, but with lower chance of false positives:

[code]

FWIW, I like the "._fields" approach but I think it should fallback to regular tuple comparison if the attributes are not exhausted

[2020-07-28 17:59] mattreex opened #7554 "Document --basetemp directory-clearaing behavior better"
[Edit by @bluetech:] The [`--basetemp` documentation](https://docs.pytest.org/en/stable/tmpdir.html#the-default-base-temporary-directory) does not mention the fact that it clears the directory. The user should be aware of this. Also, the `--help` output of `--bastemp` can be improved.

Original issue:

---

To make temporary directories in locations other than /tmp you can use the --basetemp flag

[2020-07-28 18:14] The-Compiler commented on #7554
FWIW `pytest --help` says:

[code]

Also see #7119 for some more discussion. With pytest 6 and #7170, it also tries to prevent accidents:

So I believe the only thing left would perhaps be a warning in the [tmpdir docs](https://docs.pytest.org/en/stable/tmpdir.html#the-default-base-temporary-directory) - is that the part of documentation where you looked, @mattreex?

[2020-07-28 18:33] mattreex commented on #7554
@The-Compiler Correct. If this is expected behavior, it should be referenced in the documentation. Intuitively, you would expect only the documents and directories created by pytest to be removed. However, as a non-expert on this, I am not sure it is necessary to delete all the contents in the specified directory.

As aside note this is warning is not, strictly speaking, correct
[code]
Since it is

[2020-07-28 18:39] RonnyPfannschmidt commented on #7554
i do wonder if pytest should maintain a number of backup dirs it renames the basetmp into before dropping files

[2020-07-28 19:18] bluetech commented on #7554
I edited the title, added some text to the top of the issue and applied the `status: easy` label. Hopefully someone will help with a PR for this.

[2020-07-28 21:00] dgilland opened #7558 "pytest 6: pylint still shows not-callable error for builtin pytest marks even after #7473 and #7476"
I'm experiencing #7473 after the fix in #7476 with the following:

[code]

Where pylint still shows `not-callable` for `pytest.mark.parametrize`:

[code]

Environment:

- Python 3.8
- pytest==6.0.0
- pylint==2.5.3

FYI @bluetech

[2020-07-28 21:07] The-Compiler commented on #7558
Hmm, I can confirm: https://github.com/qutebrowser/qutebrowser/pull/5630/checks?check_run_id=920677338#step:8:18

[2020-07-28 21:15] mdmintz opened #7559 "INTERNALERROR when skipping a test if using ``--html=report.html`` (pytest 6.0.0)"
``INTERNALERROR> AttributeError: 'tuple' object has no attribute 'rsplit'``

Here's the file I was running with pytest: (``skip_test.py``)

[code]

The run command (environment is a Bash shell on a MacBook Pro running macOS Mojave):

[code]

Here's the pip list:
[code]

CC @nicoddemus

[2020-07-28 21:19] The-Compiler commented on #7559
Can you please show the full traceback?

[2020-07-28 21:24] mdmintz commented on #7559
@The-Compiler

[code]

[2020-07-28 21:46] will8211 commented on #7559
I'm facing the same issue:
Running command:
`python -m pytest -s -v -rs --junitxml=reports/results.xml --html=reports/report.html tests/sabre_pool/get_and_release_session_test.py`

[code]

[2020-07-28 23:17] jack1142 opened #7560 "pytest 6.0.0 raises a lot of errors related to importing"
Hi,
I don't really know what happened here, but I tried to update to pytest 6.0.0 (from pytest 5.4.3) and running tests now ends up in 13MB log of errors. Only other info I can give is that using `--import-mode=importlib` flag fixes it.
I know this isn't incredibly helpful description, but I honestly have no idea what happened there, I can answer any follow up questions if needed.

Logs of failing

[2020-07-28 23:24] nicoddemus commented on #7559
Thanks folks for the report!

I tracked down the issue:

On 5.x we use `TerminalWriter` from `py`, with this implementation of the `write` method:

[code]

We vendored `TerminalWriter` into pytest 6, and removed that `if not isinstance(msg, (bytes, text)):` check which was intended to support `bytes`:

https://github.com/pytest-dev/pytest/blob/38029828d1d6bdc15b63a873142b1e91265e1a1c/src/_pytest/_

[2020-07-28 23:24] sivel commented on #7560
cc @relrod @nitzmahone

[2020-07-28 23:59] nicoddemus commented on #7559
Working on it, PR coming up.

[2020-07-29 00:08] nicoddemus commented on #7559
PR up: https://github.com/pytest-dev/pytest/pull/7561

Thanks again for the report and easy reproducer. 👍

[2020-07-29 01:16] dimaqq opened #7562 "Return value for `--last-failed-no-failures none`"
More of a question / maybe behaviour change request:

[code]

Should `pytest` return `0`, truthy to shell when no tests are ran as a result of `--last-failed-no-failures none` ?

[2020-07-29 01:17] nitzmahone commented on #7560
For Ansible, it was https://github.com/pytest-dev/pytest/commit/ab6dacf1d1e1ff0c5be70a3c5f48e63168168721 that broke us - the hack for locating test modules under PEP420 packages was broken by the impl change away from `py.path` (since we were monkeypatching it ala https://stackoverflow.com/questions/50174130/how-do-i-pytest-a-project-using-pep-420-namespace-packages/50175552#50175552). Ansible can

[2020-07-29 02:09] jack1142 commented on #7560
Thanks for commenting @nitzmahone, this made me look if we have any usage of `_pytest` ourselves and... We do! Apparently we've done this awful monkey-patching on `pathlib.Path.relative_to()`; technically it's been done using `monkeysession` fixture, but it must have "leaked" out of tests it was meant for therefore causing this issue.
We weren't actually using this monkey-patching anymore so I was

[2020-07-29 02:21] nitzmahone commented on #7560
Ditto, we know we're doing a Bad Thing, but I haven't looked to see if we could get the same result with something like a custom collector...

[2020-07-29 04:49] gdhameeja commented on #7484
I'd like to work on this.

[2020-07-29 06:44] gaborbernat opened #7564 "pytest calls the deprecated writter in itself"
within virtualenv test suite 👍 pytest 6.0.0

[code]

[code]

Seems the warning is triggered when pytest is registering the TerminalReporter plugin, which checks if any of the attributes are of type ``FixtureFunctionMarker`` 🤔

[2020-07-29 06:52] andy-maier commented on #7558
I can confirm that too, using pytest 6.0.0 and pylint 2.4.4 (we pinned pylint to <2.5.0 for now due to some issues with it).
Travis run on Python 3.8: https://travis-ci.org/github/pywbem/pywbem/jobs/712820311

[2020-07-29 07:08] The-Compiler commented on #7564
Duplicate of #6936

[2020-07-29 07:08] #7564 closed

[2020-07-29 07:24] The-Compiler commented on #7560
From a quick look at the logs @jack1142 posted, it seems like pytest is trying to import a module called `/.home.runner.work.Red-DiscordBot.Red-DiscordBot.tests.core` which (obviously) fails with `ModuleNotFoundError: No module named '/'`. Note it only happens after a couple of tests, and the rootdir is correct:

[code]

The code tested by `tests/core/test_cog_manager.py` (where things start falli

[2020-07-29 07:44] bluetech commented on #7558
I submitted a fix in #7565, will be backported to pytest 6.0.1 if merged.

Since I botched the previous attempt, would be good if any of the reports can confirm the fix. As a quick check you can just temporarily edit `venv/lib/python3.8/site-packages/_pytest/mark/structures.py` to match the PR, run pylint and see if it complains.

[2020-07-29 07:48] #7394 closed

[2020-07-29 08:49] #7558 closed

[2020-07-29 09:01] #1218 closed

[2020-07-29 09:01] #4970 closed

[2020-07-29 09:47] The-Compiler commented on #7291
I'm a bit late to the party, but is there a good reason that pytest really needs a hand-rolled ini-parser rather than `configparser` in the Python stdlib? Didn't notice this before the 6.0 release, but that additional dependency probably caused quite a bit of additional work across various Linux distributions packaging pytest.

[2020-07-29 10:00] RonnyPfannschmidt commented on #7291
@The-Compiler i vaugely recall that back when holger and me experimented with debugging/configuration/parsing/behaviors of various config parsers (for both pytest and tox) there where shortcomings in default behaviors and debugging, so we created a own variant

i would take a while before i can get at digging up the exact technical details from that time, i imagine the situation is a bit different

[2020-07-29 10:19] dbalabka opened #7568 "Allow list of dictionaries for @pytest.mark.parametrize"
Right now it is only allowed list of tuples to pass into `@pytest.mark.parametrize` decorator:
[code]

The large test data is complicated to manage `testdata` and it became less readable. To overcome this issue I proposing pass `testdata` as a list of dictionaries and keep arguments names only in `testdata`:
[code]

[2020-07-29 10:24] adamtheturtle commented on #3342
Nice work!

I have no type errors in my project but I'm a little confused by something.
Please let me know if there is a better place for this (including nowhere).

I was (perhaps wrongly) expecting after seeing this closed to be able to add a type for the `request` parameter in the following sample without `import _pytest`:

[code]

Is that possible?
If not - should I make an issue?

[2020-07-29 10:29] #7446 closed

[2020-07-29 10:51] Zil0-eo opened #7569 "caplog fixture doesn't restore log level after test"
From the documentation at https://docs.pytest.org/en/6.0.0/logging.html#caplog-fixture, "The log levels set are restored automatically at the end of the test".
It used to work, but looks broken in new 6.0 release. Minimal example to reproduce:

[code]

It prints "0" for pytest<6, "42" after.

[2020-07-29 11:35] bluetech commented on #7569
This probably regressed in fcbaab8b0b89abc622dbfb7982cf9bd8c91ef301. I will take a look.

[2020-07-29 11:35] jitendrs opened #7570 "pytest 6.0.0 INTERNALERROR with python version 3.8.2"
pytest==6.0.0
python=3.8.2
OS:- centos/Mac/redhat

I am having error while running pytest cases with **@pytest.mark.skip** decorator for my test class.
It's seems this issue appears only for pytest version 6.0.0. I am able to run same test case with pytest version 5.4.3

example code:-
[code]
Error log:

[code]
pip list from my machine:-

Package                                           Version
-

[2020-07-29 11:37] bluetech commented on #7570
This is a duplicate of #7559. Should be fixed in 6.0.1 (not released yet).

[2020-07-29 11:37] #7570 closed

[2020-07-29 12:08] bluetech commented on #3342
Hi @adamtheturtle,

This is something that might be nice to have eventually, but is not supported as of now. In any case there is no way to achieve this in Python itself, so would require a mypy plugin at least. Some previous discussion on this here: #5981.

For now we are working on a prerequisite for this, which is making *explicit* annotations for (builtin) fixtures possible: #7469.

[2020-07-29 12:14] The-Compiler commented on #7568
I'd love to have something like this, but the problem is that there isn't really an agreement what dictionaries *mean* exactly when passing them to `parametrize` - for a different take (which ended up being rejected) and some previous discussion, see #5487 and #5850.

I was wondering whether it'd make more sense for `pytest.param` to accept keyword arguments, i.e.:

[code]

But the problem with th

[2020-07-29 12:33] dgilland commented on #7558
I've confirmed that #7565 fixed the issue. Thanks @bluetech 👍

[2020-07-29 12:37] #7569 closed

[2020-07-29 12:47] #7559 closed

[2020-07-29 12:56] The-Compiler commented on #3342
@bluetech I assume explicit annotations is what @adamtheturtle meant with "I was expecting [...] to be able to add a type for the `request` parameter" above. To clarify, no mypy plugin would be needed for that (only #7469), but a mypy plugin could be used to make mypy aware of the type of fixtures without needing an explicit annotations.

[2020-07-29 12:58] #7547 closed

[2020-07-29 13:09] adamtheturtle commented on #3342
Thanks @bluetech , @The-Compiler for your quick and thorough responses - I believe that #7469 is the issue which will resolve what I'm interested in.

[2020-07-29 13:10] Zac-HD commented on #7562
See #2393 - failing (exit code 5) when no tests are run is the intended behaviour, to avoid 'missed alarms' where tests should fail but were not collected.  We considered adding an option to disable this, but concluded that the complexity was better left to the invoking user or script - pytest has a lot of options already!

[2020-07-29 13:10] #7562 closed

[2020-07-29 13:11] adamtheturtle commented on #7469
I believe `_pytest.fixtures.SubRequest` is what I would like to import for https://github.com/pytest-dev/pytest/issues/3342#issuecomment-665579927:

[code]

[2020-07-29 13:55] dbalabka commented on #7568
@The-Compiler thanks for a quick reply. As I understood, previous discussion (#5487 and #5850) are mostly about test cases' descriptions/ids, which are also required to improve the developer experience (DX).

I will add more explanation to what I have written above. Probably, the most frustrating issue at the moment is that the developer should support a list of arguments that duplicates already d

[2020-07-29 14:03] The-Compiler commented on #7568
Sometimes, explicit is better than implicit :wink: Arguments can also refer to fixtures, so having an explicit list of arguments to parametrize helps to get e.g. sensible error messages when there is a typo.

I also don't think it makes sense to have yet another "magic" data structure API for how to use parametrize, there are already various things in there (specifying a list of items for a single

[2020-07-29 14:17] graingert commented on #7568
I actually do this:

[code]

[2020-07-29 14:23] graingert commented on #7568
something that would help my usacase is a PytestParam abc so I can do:

[code]

[code]

and pytest.mark.parametrize can special case registered instances of `PytestParam`

[2020-07-29 14:36] pranav165 opened #7576 "Upgrading to pytest:6.0.0 version is causing internal error ."
After upgrading pytest to 6.0.0 from 5.4.3 , tests are failing causing the following error. I believe it occurs whenever a test marked as skipped is encountered.
We are running tests in parallel using pytest-xdist package. Reverting just pytest version to 5.4.3 solves the below error

INTERNALERROR> Traceback (most recent call last):
[14:00:43]INTERNALERROR>   File "/home/e2e/venv/lib/python3.7/si

[2020-07-29 14:41] bluetech commented on #7576
This is a duplicate of #7559, will be fixed in 6.0.1 which should be released soon.

[2020-07-29 14:41] #7576 closed

[2020-07-29 14:58] #7554 closed

[2020-07-29 15:00] Pilen opened #7579 "pytest.raises not working with suppressing context manager"
I have found a weird edge case regarding context managers and expected exceptions.

[code]

In the above snippet I create a contextmanager that expects to be exited by raising an `ExitException` that will then be suppressed.
In test_foo I use the contextmanager as intended, but I have thrown in a `pytest.raises` for an entire unrelated exception.

[code]
Pytest seem to be happy no matter happens i

[2020-07-29 15:06] bluetech commented on #7579
I think what's going on is this (haven't verified): `pytest.raises` fails using an `assert`. When the `assert` fails, it raises an `AssertionError` exception. This then reaches your context manager, which suppresses it (because of the unconditional `return True`).

[2020-07-29 15:27] nicoddemus commented on #7433
@The-Compiler and @gnikonorov do you still think this is worthwhile? If you don't have a strong conviction I think we can close this then (I count -2.5 from @asottile, @bluetech and myself vs +2 from @gnikonorov and @The-Compiler).

[2020-07-29 15:28] gnikonorov commented on #7433
I’d be ok with whatever wins out. I’m +1

[2020-07-29 15:37] The-Compiler commented on #7433
I suppose let's close this then.

[2020-07-29 15:37] #7433 closed

[2020-07-29 15:42] nicoddemus commented on #7433
Thanks everyone.

Sorry @gnikonorov that this didn't pan out in the end, I'm sure it was a lot of work, but thanks anyway! We definitely appreciate the effort.

[2020-07-29 15:44] gnikonorov commented on #7433
No worries @nicoddemus! Glad we discussed this and came to a consensus

[2020-07-29 16:11] nicoddemus commented on #7560
Thanks @The-Compiler!

Seems however that https://github.com/pytest-dev/pytest/issues/7560#issuecomment-665388730 found the solution due to a monkeypatch of `Path.relative_to`... not sure there's anything else to do on our side and we can close this?

[2020-07-29 16:23] jack1142 commented on #7560
IMO it can be closed, but I didn't want to make that decision for the maintainers of pytest in case I missed some other issue here.

[2020-07-29 16:29] The-Compiler commented on #7560
Ah, sorry, I missed that comment. It's too hot to think today :sweat_smile:

Agreed that this can be closed then, I don't think we can protect much against builtins/stdlib being patched. Also see the note at the bottom of https://docs.pytest.org/en/stable/monkeypatch.html#global-patch-example-preventing-requests-from-remote-operations.

[2020-07-29 16:29] #7560 closed

[2020-07-29 19:59] asottile commented on #7579
yep, nothing that can be done here -- the failure mode of `raises` is raising an exception, so if you ignore that exception then you're out of luck!

[2020-07-29 19:59] #7579 closed

[2020-07-29 20:04] asottile commented on #7568
fwiw, I'm still -1 on this as per the previous (duplicate) discussions.  `parametrize` is already type-complicated enough without introducing yet-another-way to do this by accepting mapping types

[2020-07-29 20:19] vkomarov-r7 opened #7580 "Inconsistent `self` instances for class scoped fixtures"
- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] minimal example if possible

Hello,

It appears that it's possible to have class fixtures assign to the `self` value for later use in subsequent tests (usually for setup purposes). While I'm aware that rewriting them to use fix

[2020-07-29 21:25] The-Compiler commented on #7580
This is intended and what unittest.py does as well. Also see #6890 as well as the [relevant docs](https://docs.pytest.org/en/stable/getting-started.html#group-multiple-tests-in-a-class).

[2020-07-29 21:25] #7580 closed

[2020-07-29 22:37] graingert commented on #7568
I'm -1 on this as well, as it seems fairly easy to do in user code:

[code]

[2020-07-30 07:51] Pilen commented on #7579
@asottile
Hmm I see, it is definitely simpler to build pytest.raises by just propagating the exception.
It means that you should ensure no code interferes with the exception then, I am not sure that I particularly like that.

If the code looks like
[code]

It is clear that we have done something in the test*ing* code that catches the exception from pytest.raises, that I am actively ignoring it.\
B

[2020-07-30 07:58] dbalabka commented on #7568
@The-Compiler

In this case, it is too explicit because as I already said: "...developer should support a list of arguments that duplicates already declared function/method parameters method next to it..."

Unfortunately, I multiple times forgot to add parameters into this list and got an error that does not have relation to broken code or incorrect test logic. So I can conclude that the duplicate

[2020-07-30 08:29] RonnyPfannschmidt commented on #7568
Stacked decorator are not the only source of parameterization, any fixture as well as custom plugins can participate

It's a well used feature so your proposal doesn't exactly help/work for the project.

[2020-07-30 09:02] webknjaz commented on #6369
FTR it should be possible to request the missing interpreters from GH for GHA by opening an issue in their setup-python repo

[2020-07-30 09:31] The-Compiler commented on #6369
I guess the other question is how far away we are from dropping 3.5.0/.1 (see e.g. #5751) or just 3.5 entirely (upstream support [ends this September](https://devguide.python.org/#status-of-python-branches)). Perhaps we should start showing deprecation warnings for Python 3.5 with pytest 5.1 or so? I think I'd rather just keep Travis around until we dropped it instead of investing time (both ours

[2020-07-30 10:40] dbalabka commented on #7568
I’m appreciate everyone’s input into this ticket’s discussion.  I'm closing this ticket because it discussed.

[2020-07-30 10:40] #7568 closed

[2020-07-30 11:14] nicoddemus commented on #7579
I'm not sure it is possible: pytest calls the functions and checks for assertion errors to evaluate if the test passed or not; if any code along the way prevents the exception from happening, there's not anything pytest can do.

[2020-07-30 11:47] nicoddemus opened #7583 "Release 6.0.1"
@pytestbot please prepare release from 6.0.x

Given we didn't have any new reported regressions, let's get 6.0.1 out. 🎉

[2020-07-30 12:13] The-Compiler opened #7585 "Shared pytest-dev PyPI account/token?"
To push releases, @nicoddemus added a PyPI token with 1d3f27cef076df028ef6434b2d3bd29358c421c3 (which is stored in the `PYPI_TOKEN` secret in this repo).

Is this your personal account, @nicoddemus? Wouldn't it make sense to create a `pytest-dev` PyPI user, and then have a token which we can configure as [organisation-scoped token](https://github.com/organizations/pytest-dev/settings/secrets) for

[2020-07-30 12:47] #7583 closed

[2020-07-30 15:53] mdmintz commented on #7559
Thank you for releasing pytest ``6.0.1`` with the fix to this issue! ✅ 🚀
I set SeleniumBase v1.45.0 to use ``pytest==6.0.1``, and now everything works.
(https://github.com/seleniumbase/SeleniumBase/releases/tag/v1.45.0)
Thank you @nicoddemus and the rest of the pytest team!

[2020-07-30 16:11] asottile commented on #7579
@Pilen I'm not sure what's surprising to you here, if you could elaborate that would be helpful.  failed assertions raise exceptions and if your tests are bad and catch those exceptions then you're going to silently ignore them.  perhaps when writing tests you should ensure they fail first and then pass when you implement the code? (mini-TDDish) this would help you avoid writing tests which do not

[2020-07-30 16:12] squaresmile commented on #3342
With pytest 6.0.1, mypy doesn't complain about pytest anymore but I'm still getting untyped decorator for `@pytest.mark.parametrize` from mypy. I'm checking with `disallow_untyped_decorators = True`. Is this a problem with my setup or not in the scope of the typing PR?

[code]

[Here](https://github.com/atlasacademy/fgo-game-data-api/blob/2b19d9/tests/test_raw.py#L70) is the test file and [here](h

[2020-07-30 17:45] bluetech commented on #3342
Hi @squaresmile,

I can't reproduce this:

[code]

gives

[code]

If you can create a standalone reproduction, please open a new issue with it and I'll take a look.

[2020-07-30 18:05] bluetech commented on #7484
Interesting. I believe this happens because pytest itself uses the `pytest_sessionfinish` hook to teardown some leftover (presumably session-scoped) fixtures. So as a quick fix you can ask your hookimpl to run last:

[code]

This still doesn't explain the difference between the two cases, which is worth investigating.

[2020-07-30 18:20] squaresmile opened #7589 "Mypy checking fails with --disallow-untyped-decorators"
It looks like the `@pytest.mark.parametrize` decorator can't pass mypy with `--disallow-untyped-decorators`. mypy works without the flag.

Following [my comment](https://github.com/pytest-dev/pytest/issues/3342#issuecomment-666497058), I made this [reproduction repo](https://github.com/squaresmile/pytest-mypy-test). I can reproduce this with pytest 6.0.1 and Python 3.6.9 on Linux or Python 3.8.5 o

[2020-07-30 18:36] nicoddemus commented on #4871
https://github.com/pytest-dev/pytest/pull/7511 touches on one of the problems highlighted here.

[2020-07-30 21:52] JonathanBrouwer opened #7590 "pytest-asyncio breaks"
System information:
Manjaro Linux with 5.7 kernel
Python 3.8.3
pip 20.1.1

I am using pytest with pytest-asyncio.
I am not sure if this repo or the pytest-asyncio repo is the best place to report this bug, forgive me if I chose wrongly.

I am running the following test:
[code]

Using pytest 5.4.1 and pytest-asyncio 0.14.0 this test fails (as it should)
Using pytest 5.4.2 and pytest-asyncio 0.14.0

[2020-07-30 21:53] andy-maier opened #7591 "Since pytest 6.0.0, pylint complains about unimplemented abstract methods in custom collector"
Hi, we have implemented a custom pytest collector that takes testcases from YAML files. Starting with pytest 6.0.0, pylint reports the following about that collector:

[code]
The collector has worked fine for a long time, and it still works fine.

The line pylint reports this on is the class definition of a collector class that is based on pytest.File:

[code]
The whole source code is here: https:

[2020-07-31 02:18] tylerjereddy opened #7592 "pytest 6.0.0 + Windows + 64-bit integer backend for SciPy"
SciPy started observing two types of tracebacks when `pytest` `6.0.0` was released and starting getting used in our CI. The issue was isolated to Azure CI Windows platform runs that use 64-bit integer OpenBLAS backend (ilp64).

I'll paste the tracebacks below the fold. For a reference to some of the example PRs where we saw this--see here: https://github.com/scipy/scipy/pull/12638. For now, pinnin

[2020-07-31 09:22] bluetech commented on #7589
This is a mypy bug. I proposed a fix here: https://github.com/python/mypy/pull/9232.

I'm afraid there isn't a simple workaround for this in pytest. Hopefully the mypy fix will be merged and released, but until then I suggest turning off `disallow-untyped-decorators` (at least in your test modules) are adding `type: ignore` comments.

[2020-07-31 09:22] #7589 closed

[2020-07-31 09:42] bluetech commented on #7592
It's possible something in pytest 6.0.0 started consuming more memory, though I can't remember anything obvious.

Some way to pinpoint the issue would be good. Are you able to run the scipy test suite under a tool like [memory_profiler](https://github.com/pythonprofilers/memory_profiler) perhaps? Or use [tracemalloc](https://docs.python.org/3/library/tracemalloc.html)?

[2020-07-31 10:07] bluetech commented on #7591
None of these methods are abstract (as in `abc.abstractmethod`) which led to some head scratching, but it seems that pylint considers any method which raises `NotImplementedError` to be abstract.

`get_closest_marker` is only marked such because we use `raise NotImplementedError()` in `@overload`ed functions. Given how pylint treats these, we can change these to just use `pass  # pragma: no cover`

[2020-07-31 12:20] symonk opened #7594 "[Question] Applying marks dynamically from parametrize with args?"
This is a bit of a small edge case, something we use in work:

[code]

Is it at all possible to parametrize the above scenario to apply this example marker with a range of value(s) per iteration?

Expected outcome:

Generate this test 4 times, where variable = [10, 9, 8,7] for example.

We use the marker along with arguments to do some logic upfront for all test(s). I have looked at the parametriz

[2020-07-31 12:39] DenKos363 opened #7595 "Long texts during AssertionError rising are cut in stdout"
Hello guys, I have one more question related to pytest which I can't sort out by myself.

Below you may find example of 2 programs - 1 test and 1 program:

**TEST:**
[code]

**PROGRAM** output - prints as expected (full list is printed)

**Question** - is there any way to use long texts as AssertionError explanation?

Configuration information (if might help):
pytesseract           0.3.4
pytest

[2020-07-31 12:48] webknjaz opened #7596 "[docs][404] "Not found" setup"
I navigated to https://pytest.org/latest/capture.html#capturing-of-the-stdout-stderr-output from somebody else's notes on the Internet.
I understand that it's a "404 Not Found" page but it looks broken.

It's probably minor but I think the styles and pictures should be fixed at least. Ideally, some redirects would be useful too.

[2020-07-31 12:50] symonk commented on #7596
Thanks for reporting @webknjaz

[2020-07-31 15:21] asottile commented on #7595
have you tried running pytest with increased verbosity (`-vvv`)

[2020-07-31 16:45] iwanb opened #7597 "iter_markers order is top-to-bottom at module node/scope"
Not entirely sure if it would be considered a bug, but it surprised me. I expect `iter_markers` to return the markers in bottom-to-top order (outwards from the test), but for the `pytestmark` variable this is not the case, it returns them in the list order.

[code]
[code]

[2020-07-31 17:11] iwanb commented on #7594
See this in the doc:
https://docs.pytest.org/en/latest/parametrize.html#pytest-mark-parametrize-parametrizing-test-functions

[code]

Replacing `pytest.mark.xfail` by `pytest.mark.example(variable=10)`. AFAIK it should work the same from the `pytest_generate_tests` hook.

[2020-07-31 19:06] Traktormaster commented on #5147
Today I updated pytest to 6.0.1 and it broke my testing. After a small dig I've found the culprit. The new method `_pytest.pathlib.resolve_package_path` does not respect the PEP420 namespaces.

Quick example:
[code]
I have imports in my code like `from abc import x` which is supposed to import from the dependency package. When pytest imports the conftest it adds its directory to the import paths:

[2020-07-31 20:07] The-Compiler commented on #7594
@iwanb I don't think this answers the question @symonk was asking. As far as I understood, the goal was to run the test multiple times with different values passed to the *marker*.

[2020-07-31 20:18] iwanb commented on #7594
Isn't this what this does? (The input can be ignored.)

[code]

[2020-07-31 20:33] The-Compiler commented on #7594
Ah, right - I suppose that works, even if a bit unorthodox.

[2020-07-31 20:48] #7594 closed

[2020-08-01 01:22] renzhentaxi opened #7599 "Type hints for pytest.raises causes pylance to report partial type error"
The code is in `_pytest/python_api.py`
[code]

Details:
IDE: vscode
extensions:
* python: v2020.7.96456
* pylance: v2020.7.4 (with type checking set to strict)

Error/Warning Message: Type of "raises" is partially unknown.

Looks like pylance is not happy with the fact that we didn't specify the generic parameters for Pattern and Callable.

### Match
[code]
for this, I suggest that we change Patte

[2020-08-01 01:51] larsoner opened #7600 "BUG?: faulthandler seems to only give its output with -s"
I've noticed with some segfaulty tests that if I don't have the `-s` switch, it seems like I don't get the `faulthandler` output. I'm not 100% sure if this is the case because the segfaults tend to [occur on CI services like Travis](https://travis-ci.org/github/mne-tools/mne-python/jobs/713759891#L5651) and [Azure](https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=8453&view=logs&j=

[2020-08-01 04:41] asottile commented on #7599
if that guess is right, we probably have quite a bit to fix:

[code]

(that's with `disallow_any_generics = True`

[2020-08-01 09:37] bluetech commented on #7600
The faulthandler's plugin [code](https://github.com/pytest-dev/pytest/blob/a1ba8dfe2a8c347f5d438409fb58ec152547ad2c/src/_pytest/faulthandler.py) does try handle this issue, but perhaps it doesn't work?

I'm curious if this happens also with `--capture=sys` (instead of `-s`; the default is `--capture=fd`).

[2020-08-01 09:43] bluetech commented on #7597
Can you explain a bit more why you expect this?

[2020-08-01 09:45] bluetech commented on #7599
I think adding `disallow_any_generics` is probably a good idea at this point. Let's see how hard that's going to be...

[2020-08-01 10:00] The-Compiler commented on #7600
Always worked fine for me FWIW. Probably not much we can do without having a way to reproduce it.

[2020-08-01 10:23] iwanb commented on #7597
I see `pytestmark = [x, y]` as equivalent to `x(y(module))`, like the marker decorators at the test level, so it would seem more consistent to use the same ordering.

It's also to align with the "closest" marker terminology of the API, it seems that the bottom marker in `pytestmark` is closer to the test than the top one (at least visually). And I expect the last marker in the list to "win" so to

[2020-08-01 12:15] larsoner commented on #7600
Indeed with `--capture=sys` I get the full traceback:
[code]
I'll work on whittling this down to a minimal example.

[2020-08-01 12:18] nicoddemus commented on #6369
(I guess you mean pytest 6.1)

Not sure, we did this in the past with Python 2.7 support and a lot of people complained that they were sick of tools telling them all the time about Python 2.7 deprecation.

I don't think we need to explicitly tell users about the upcoming Python 3.5 support drop, due to `python_requires` Python 3.5 users will still get a supported version with `pip install`.

I'm c

[2020-08-01 12:18] #6369 closed

[2020-08-01 12:20] nicoddemus commented on #4807
No longer applies.

[2020-08-01 12:20] #4807 closed

[2020-08-01 12:36] nicoddemus commented on #6492
Closing as per: https://github.com/pytest-dev/pytest/pull/6496

There's a new attempt at tackling the original problem again at https://github.com/pytest-dev/pytest/pull/7511 in case anybody is interested.

Thanks for everyone who participated in this thread.

[2020-08-01 12:36] #6492 closed

[2020-08-01 12:54] larsoner commented on #7600
Okay, the segfault is actually easy to reproduce via a Qt abort trap. Hooray!

The tricky part was recognizing that the problem is when some other module does `faulthandler.enable()` (effectively within a test) -- it seems to wipe out whatever magic `pytest` does. On Qt 5.13.2 on macOS this snippet:
[code]
causes
[code]
The try/except is necessary because `faulthandler` emits this warning when you

[2020-08-01 13:09] nicoddemus commented on #7600
Hmm sorry, which `try/except`?

I can reproduce the problem on Windows too.

[2020-08-01 13:13] larsoner commented on #7600
Sorry, example updated. It was missing the `faulthandler` business that's necessary to make the capture behave as I reported above (forgot I had changed the example a bit).

[2020-08-01 13:15] larsoner commented on #7600
The naive workaround/fix here is just to monkey-patch `faulthandler` such that `faulthandler.enable()` is a no-op.

[2020-08-01 13:20] The-Compiler commented on #7600
I'm not sure pytest can (or should) protect against users re-enabling faulthandler.

[2020-08-01 13:24] larsoner commented on #7600
Fair enough, the `sys` is a sufficient workaround for me in any case. Thanks for the help!

[2020-08-01 13:24] #7600 closed

[2020-08-01 14:32] #7471 closed

[2020-08-01 14:37] RonnyPfannschmidt commented on #7597
It's a structural bug missed since quit early

Marker applications append to the pytestmark list, they really should use prepend instead

[2020-08-01 14:54] webknjaz commented on #6369
LOL this reminds me of https://github.com/pyca/cryptography/issues/5335#issuecomment-663747001. OTOH I think emitting a deprecation is the right thing to do.

[2020-08-01 16:57] nicoddemus commented on #7597
Agreed.

Is this OK for 6.1 or do we consider a serious breaking change and wait for 7.0?

[2020-08-01 17:45] RonnyPfannschmidt commented on #7597
We can consider adding a config option to control the behaviour, before 7.0, we can't change the default for 6.€

[2020-08-01 17:55] #7599 closed

[2020-08-01 18:12] doerwalter opened #7608 "Use unicode box drawing characters for horizontal rules in pytest output"
It would be great to have the option to use proper unicode box drawing characters for the horizontal rules output by pytest.

I.e. instead of the output:
[code]

have:

[code]

I'm working on a patch for this.

[2020-08-01 21:24] lschmelzeisen commented on #3342
@bluetech Saving the code you provided to a file `test.py` and running the following reproduces this:

[code]

[2020-08-01 21:26] lschmelzeisen commented on #3342
Additionally, methods of capture classes do not seem to be type-annotated:

[code]

[code]

How is this case supposed to be resolved?

[2020-08-02 02:15] asottile commented on #3342
@lschmelzeisen I believe you're meant to `import _pytest.capture` to make that symbol available

[2020-08-02 07:09] bluetech commented on #3342
There were two issues here: #7589 and #7593. The first be fixed in the next mypy release, and the second in pytest 6.1.

[2020-08-02 07:11] bluetech commented on #3342
Right. I would also add that if you import from `_pytest` we do not guarantee stability. It's OK as long as you are willing to adapt if/when it breaks. We are working on a stable solution for this for pytest 6.1: #7469.

[2020-08-02 07:35] lschmelzeisen commented on #3342
Great, looking forward to 6.1 then. And by the way, big thanks to you and others that are working on integrating typing into pytest!

Sorry, I meant to report the following, but was to quick for myself when copying code:
[code]

[code]

And yes, I am willing to use the internal `_pytest` API and adapt on changes until a stable solution is available.

[2020-08-02 07:42] bluetech commented on #3342
Due to internal implementation difficulties, `CaptureFixture` is not properly typed yet. Among other things, `capsys` yields strings, while `capsysbinary` yields bytes, so at a minimum `CaptureFixture` will need to have a `bytes`/`str` type parameter. It needs some work to sort out.

[2020-08-02 18:16] nicoddemus commented on #7597
I would rather we just change it for 7.0 instead of adding an option because I don't think an option would be useful, probably just confusing. 👍

[2020-08-03 06:07] Swaleha-12 commented on #7546
Can I take this one?

[2020-08-03 06:33] asottile commented on #7546
@Swaleha-12 it looks like #7610 is already started

[2020-08-03 10:07] DenKos363 commented on #7595
no I didn't. Will check and return with result, thanks!

[2020-08-03 11:28] DenKos363 commented on #7595
What should be expected output with this flag `-vvv` ?

`python3 -m pytest src/test/resources/test_for_tests.py -vvv`

With it result of assertion failure is the same

[2020-08-03 11:34] marincandenza opened #7612 "PytestConfigWarning for log_print, flake8-ignore, flake8-max-line-length"
Executing our tests with PyTest 6.1 on Windows leads to PytestConfigWarning when parsing pytest.ini
Installed packages and pytest.ini is attached.

**Thank you for providing powerful PyTest!**

[code]
[code]
[code]

[2020-08-03 12:40] The-Compiler commented on #7612
Why do you have flake8 configuration in a pytest.ini file? At least according to https://flake8.pycqa.org/en/latest/user/configuration.html that's not a place flake8 reads its config from.

[2020-08-03 12:55] boweeb commented on #3778
How does this relate to the documentation?
https://docs.pytest.org/en/stable/xunit_setup.html?highlight=class#class-level-setup-teardown

At face value it seems contradictory.  Should the docs be updated or am I missing something?

[2020-08-03 14:08] #7408 closed

[2020-08-03 14:09] Zac-HD commented on #7457
Hi @chbndrhnns - unfortunately nobody has answered here and I don't know, but maybe you could ask on StackOverflow?

[2020-08-03 14:09] #7457 closed

[2020-08-03 14:10] Zac-HD commented on #7377
Closing this as the question seems to be answered or at least inactive.  I hope we helped!

[2020-08-03 14:10] #7377 closed

[2020-08-03 14:15] Zac-HD commented on #7404
The exact workflow described is out of scope even for Hypothesis - I'm working on a "fuzzing mode" which will keep running tests and prioritize whichever is most likely to cover new branches, but that's a completely different runtime environment to pytest-style "run these tests and then stop".

So your best option for the workflow you've described is to implement it *inside* a test function, so th

[2020-08-03 14:15] #7404 closed

[2020-08-03 14:16] Zac-HD commented on #7455
Closing this issue becase we cannot reproduce it without more information.

[2020-08-03 14:16] #7455 closed

[2020-08-03 14:17] #7493 closed

[2020-08-03 14:18] Zac-HD commented on #7463
Hey all :wave:

It looks like we've answered this question so I'm closing the issue; feel free to open another if you have more questions.

[2020-08-03 14:18] #7463 closed

[2020-08-03 16:31] asottile commented on #7595
hmmm that is weird, I wonder why that gets cut off even in verbose mode

either way, you can work around it by formatting your list in the messaging:

[code]

[code]

a tip for the future, when writing code in a github issues, surround it in triple-ticks like so:

[code]
    code
    here
[code]

[2020-08-03 16:37] DenKos363 commented on #7595
ohh..... Yes, `str` works as workaround. Shame on me I didn't try to change output format
About inserting code... Sorry, completely forgot that many ``` enable formatting for multi-strings
[code]
So, this workaround is ok for my case. I don't strongly need "list" in error message, so closing this issue

[2020-08-03 16:37] #7595 closed

[2020-08-03 16:39] asottile commented on #7595
you could also probably use `pprint.pformat(list_of_errors)` as your assertion message as well if you wanted to keep the list

[2020-08-03 16:49] nicoddemus commented on #4439
Closing in favor of https://github.com/pytest-dev/pytest/issues/6681 (which contains more details).

[2020-08-03 16:49] #4439 closed

[2020-08-03 16:53] pllim commented on #6681
I started seeing this too with `pytest` 6.0.0 that also cannot be ignored with `filterwarnings`:

[code]

The config is added just in case someone has `pytest-qt` installed but it is not installed in any circumstances in the project itself. So we know it is not used and we just want to silence the warning. Thanks.

[2020-08-03 17:53] marincandenza commented on #7612
We are using a pytest Plugin for flake8.
https://stackoverflow.com/questions/59718826/how-to-add-flake8-configuration-file-in-pytest

The Warnung about log_print is confusing since the Doc states it is
supported by pytest.
https://docs.pytest.org/en/stable/reference.html#confval-log_print

Florian Bruhin <notifications@github.com> schrieb am Mo., 3. Aug. 2020,
14:40:

[2020-08-03 18:00] The-Compiler commented on #7612
You don't have `pytest-flake8` installed according to your `pip list` though, so those warnings make sense.

`log_print` was removed in pytest 6.0.0: 3f8200676f12846b74289f9b2e35747623fc768a - in other words, I think the only problem here is that it's still in the docs.

[2020-08-03 20:50] RonnyPfannschmidt opened #7615 "allow any warning in Node.warn"
i noted that Node.warn specifically wants a pytest related warning,

however for a non-pytest project that wants to put its own warnings onto a Node thats a unnecessary limitation

we should allow any warning there

[2020-08-04 05:22] marincandenza commented on #7612
@The-Compiler
I removed log_print. THan
You are right, flake8 is not locally installed.
Could you help me suppressing the error messages?

I have tried
[code]

but then, pytest does not recognize PytestConfigWarning:

  File "venv\lib\site-packages\_pytest\warnings.py", line 113, in catch_warnings_for_item
    warnings.filterwarnings(*_parse_filter(arg, escape=False))
  File "venv\lib\site-package

[2020-08-04 06:51] The-Compiler commented on #7612
Try `pytest.PytestConfigWarning` instead (it needs to be the fully qualified name of a warning class Python has builtin or can import).

[2020-08-04 11:45] bluetech opened #7616 "CI fails with "AttributeError: type object 'Callable' has no attribute '_abc_registry'""
Something broke on CI:

[code]

See https://github.com/pypa/pip/issues/8272

_Originally posted by @The-Compiler in https://github.com/pytest-dev/pytest/pull/7614#issuecomment-668434776_

[2020-08-04 11:55] bluetech commented on #7616
I think what happens is:

1. The `windows-py38` CI job installs `twisted`
2. `twisted` depends on `hyperlink`
3. `hyperlink` just released a version with type annotation support: https://github.com/python-hyper/hyperlink/blob/master/CHANGELOG.md#2000
4. `hyperlink` depends on the `typing` backport package with `typing ; python_version<"3.5"`
5. pip has the mentioned bug pypa/pip#8272 which causes

[2020-08-04 13:06] tekumara opened #7617 "Cannot set log capture format"
In pytest 5.4.3 it was possible to configure log capture to format logs the same way as our application, like this:
[code]

In pytest 6.0.1 the above no longer has an effect.

[2020-08-04 13:24] Colin-b opened #7618 "caplog fixture is not setting the requested level per logger"
Hi,

Since pytest 6.0.1 (running on Windows 7 with Python 3.8.2 64 bits) , it seems that caplog fixture is not handling set_level properly anymore.

I wrote a quick sample to reproduce the issue I am facing, when setting levels on loggers, it seems that only the last one is taken into account without even looking at the related logger.

As you can see in the following sample (working with pytest 5

[2020-08-04 16:04] The-Compiler commented on #7617
Do you have a complete, runnable example I could use to bisect this?

[2020-08-04 16:37] nicoddemus commented on #7596
In this case I'm not sure there's much we can do, the proper URL is https://pytest.org/en/latest/capture.html#capturing-of-the-stdout-stderr-output (note `/en`), and has always been like this since I've known the project. Probably the source where you got this was incorrect?

Closing this for now, but thanks anyway @webknjaz for the report!

[2020-08-04 16:39] #7612 closed

[2020-08-04 17:57] webknjaz commented on #7596
Well, my point is that setup of the page 404 could be improved. This probably requires some fix for the Sphinx Jinja2 templates.

[2020-08-04 18:30] #7546 closed

[2020-08-04 18:37] #7447 closed

[2020-08-04 18:43] nicoddemus commented on #7596
Ahh indeed I missed that, thanks!

[2020-08-04 20:15] bluetech commented on #7618
Since fcbaab8b0b89abc622dbfb7982cf9bd8c91ef301, `set_level` also affects the level of the log capturing handler. I think we might want to reconsider that, but this is already discussed in #7162, so I'll close this as a duplicate.

A workaround for your specific issue for now is to swap the order of the two `set_level` lines; the last call affects the rest of the test.

[2020-08-04 20:15] #7618 closed

[2020-08-05 00:09] tekumara commented on #7617
Thanks @The-Compiler for your response... I've been digging into this a little.

Here what`logging.root.handlers` contains in pytest 5.4.3:
[code]

And in pytest 6.0.1:
[code]

Looks like the solution is to select the second to last log handler, rather than the last, eg:

[code]

[2020-08-05 00:55] nicoddemus commented on #7162
we need to set the TBD above to some constant level (e.g. WARNING). But
due to how things work (as explained above), this will affect all of the
others as well. And this wreaks havoc to the tests at least.

Thanks @bluetech. Yeah, I'm not sure how to proceed either.

[2020-08-05 05:47] marincandenza commented on #7612
@The-Compiler With pytest.PytestConfigWarning the INTERNALERROR is gone but I still get the warnings. I have event tried to ignore all PytestConfigWarning but with no success.
[code]

This means, filterwarnings does nothing in my case. How can I suppress these warnings?

============================== warnings summary ===============================
venv\lib\site-packages\_pytest\config\__init__.p

[2020-08-05 07:27] bluetech commented on #7616
This has been fixed in hyperlink.

[2020-08-05 07:27] #7616 closed

[2020-08-05 08:35] The-Compiler commented on #7616
For the curious, here's the hyperlink issue: https://github.com/python-hyper/hyperlink/issues/133

[2020-08-05 08:38] The-Compiler commented on #7617
Closing this then, as I don't think there's any guarantee about which log handlers pytest uses internally.

[2020-08-05 08:38] #7617 closed

[2020-08-05 08:49] Colin-b commented on #7618
Thanks, @bluetech I confirm it works by changing the order of the calls.

I don't know how many people will encounter the same issue but you might want to add this change in the `Breaking Changes` section of the 6.0.0 changelog to avoid issues to popup or people simply sticking to pytest 5

[2020-08-05 09:25] The-Compiler opened #7620 "PytestConfigWarning about unknown keys can't be suppressed"
@The-Compiler With pytest.PytestConfigWarning the INTERNALERROR is gone but I still get the warnings. I have even tried to ignore all PytestConfigWarning but with no success.

[code]

This means, filterwarnings does nothing in my case. How can I suppress these warnings?

[code]

[2020-08-05 09:25] The-Compiler commented on #7620
I can reproduce with:

[code]

I'm guessing the warning gets emitted before pytest's warning filtering is initialized, which is a bit unfortunate...

[2020-08-05 09:35] bluetech opened #7621 "Automating backporting on comment"
It will be nice to be able be able to ask pytestbot to backport a PR to a target branch, right now it's a bit tedious.

I've started an attempt here: https://github.com/bluetech/pytest/commits/backport-on-comment
It completely rips off @nicoddemus's work on release-on-comment and adapts it to backporting.

I'm too lazy ATM to actually set up all the necessary bits for testing it without actually m

[2020-08-05 09:47] The-Compiler commented on #7621
Why a comment rather than a "needs backport" label? Would be nice IMHO if the backport was done automatically if there was such a label, and then the label gets removed (if the bot was able to open a PR without conflicts).

Also makes me wonder if we can reuse what CPython does: https://github.com/python/miss-islington

[2020-08-05 10:09] bluetech commented on #7621
I don't have a preference really, it was easier to copy from release-on-comment but can probably be changed if we prefer to do it with labels.

This needs a server, if I understand correctly.

[2020-08-05 10:48] The-Compiler commented on #7621
I suppose we could also use an existing GitHub Actions, such as https://github.com/Gaurav0/backport

[2020-08-05 14:40] nicoddemus commented on #7621
Thanks for tackling this @bluetech! This is something I had in the back of my mind for a good time now but didn't find the time to work on.

Cool! I was planning to investigate this a bit before going with a custom implementation, thanks for finding it.

https://github.com/tibdex/backport seems like a good fit, although it doesn't seem to require a public API token, it uses a secret, so it seems i

[2020-08-05 15:04] altendky opened #7623 "testdir.runpytest_subprocess() fails with UnicodeDecodeError in Windows"
This seems similar to #298.

Original issue code: https://github.com/altendky/qtrio/tree/72863a1e769d9f942e2062904c9b6f3fb077d3b8
CI (GitHub Actions Windows): https://github.com/altendky/qtrio/pull/2/checks?check_run_id=947483753
[code]

[code]

The Trio source being included in the context resulting in the `\x96`: https://github.com/python-trio/trio/blob/15facd95379a496b234cc762c4ae69bf4fcdd0bf/t

[2020-08-05 15:12] The-Compiler commented on #7621
To clarify: The Gaurav0 fork which I linked initially requires making your API token public - I first thought it improved some things compared to the original tibdex action, but that clearly is a no-go. The tibdex one seems fine.

[2020-08-05 15:24] bluetech commented on #7621
Isn't it preferable to have something we can adjust ourselves? Looking at the code of the tibdex action https://github.com/tibdex/backport/blob/master/src/backport.ts there isn't any magic there, it does about the same as the python script, but in javascript...

Also I noticed the code says

I think it means it doesn't support merged PRs with multiple commits which is our usual merging method.

[2020-08-05 15:35] altendky commented on #7623
Setting `PYTHONIOENCODING='utf-8'` did address the issue in this case.

[2020-08-05 18:12] nicoddemus opened #7624 "test_plain_unittest_does_not_support_async failing on PyPy3"

[2020-08-06 05:31] #7624 closed

[2020-08-06 06:06] bluetech commented on #7623
The internal pytest frames are hidden in the traceback, so to understand the problem, can you find out exactly where the crash happens? I'm pretty sure it will be here:

https://github.com/pytest-dev/pytest/blob/aa9905d72e2e63f63f628b1c390e62fbdcb186e9/src/_pytest/pytester.py#L1312

but want to make sure before giving my assessment.

[2020-08-06 08:04] Ojasvi-97 commented on #5623
@agnelvishal I changed the order too and it worked. Could you tell me the reason behind this ?

[2020-08-06 23:09] altendky commented on #7623
@bluetech, looks like you predicted accurately.

[code]

https://github.com/altendky/qtrio/pull/138/checks?check_run_id=956028330
https://gist.github.com/altendky/7564bae4d644549a9f5f2d4b3cd21bc1#file-gistfile1-txt-L1056-L1139
<details> <summary>full stack trace</summary>

[code]
</details>

[2020-08-06 23:12] altendky commented on #7623
And for completeness...  the pytest source in v6.0.1 that matches the reported line number.

https://github.com/pytest-dev/pytest/blob/6.0.1/src/_pytest/pytester.py#L1269
https://github.com/pytest-dev/pytest/blob/92af2e22d276d6f9b6aca4435ec19af81ffaea49/src/_pytest/pytester.py#L1269

[2020-08-07 02:51] mcsitter commented on #1477
I had a look into the `faq.rst`. Except for very minor changes the FAQ is more then half a decade old. There are a lot of things that could be changed, updated, removed. Previous versions of the docs will still be available anyways. BTW: the link in the original post is broken due to the missing `en/` in the url and does not redirect.

Some of the things I noticed:
1. Nose has nose2 as a successor

[2020-08-07 05:47] nvdeepa opened #7626 "terminal writer error when pytest is called with pytest.main(pytest_args, plugins=[pytest_finish_plugin(), pytest_start_plugin()])"
- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [ ] minimal example if possible

terminal writer exception, calling pytest as `pytest.main(pytest_args, plugins=[pytest_finish_plugin(), pytest_start_plugin()])`

relevant pytest pip list:
[code]

system host: macOSx , catalina

`A

[2020-08-07 07:04] RonnyPfannschmidt commented on #7626
based on the output my guess would be that `pytest-tldr` is broken,
it works by accident when `report.longrepr` is a string attribute and it should use `report.longreprext`

i believe this started t break when pytest got more serious about types and longrepr was more often something concrete isntead of something else

[2020-08-07 12:15] bluetech commented on #7623
I submitted #7627 to fix this, if you can test it that would be great. You can install the PR like this:

[code]

[2020-08-07 16:26] naugustin opened #7628 "pytest-6.0.1 does not find custom fixtures, test filename incorrect (just ..\..\)"
[code]

- [ ] output of `pip list` from the virtual environment you are using
[code]

 Python 3.7.0, pytest-6.0.1
OS Name:                   Microsoft Windows Server 2008 R2 Enterprise
OS Version:                6.1.7601 Service Pack 1 Build 7601

The same test work with pytest-5.3.2

[2020-08-08 05:40] RonnyPfannschmidt commented on #7626
Upstream fixed this in the latest pytest-tldr releases

[2020-08-08 10:21] hroncok commented on #7447
One feedback: I would prefer if the "error on deprecated stuff" switch happened at rc, not at final. It basically changes the behavior and stuff that "worked" with rc1 no longer "work" with final. Ideally, rc would behave like final in all ways predictable. WDYT?

[2020-08-08 11:49] nicoddemus commented on #7447
Definitely agree! That really was a slip up on my part.

The process described by the new docs about the prereleases should prevent that from happening in the future, because the maintenance branch will be created immediately before the first prerelease, so any change needs to be backported from now on, and only bugfixes are included in backports by definition.

[2020-08-08 11:52] hroncok commented on #7447
Glad to hear that there is an agreement on that part for future releases. Thanks.

[2020-08-08 14:44] Nitin4994 commented on #5724
Where is solution??

[2020-08-08 14:51] Nitin4994 opened #7630 "OSError: [WinError 87] The parameter is incorrect"
[code]

[code]

- [x] a detailed description of the bug or suggestion
- [x] output of `pip list` from the virtual environment you are using
- [x] pytest and operating system versions
- [x] minimal example if possible

[2020-08-08 18:15] nicoddemus commented on #5724
See here: https://github.com/pytest-dev/pytest/issues/5724#issuecomment-524429916

[2020-08-08 18:18] nicoddemus commented on #7630
Hi @Nitin4994,

Can you please post your `pip list`, as was noted in the template description?

n general try to acknowledge the template description, not only for pytest but open source projects in general, as that list is there for a reason. 👍

[2020-08-09 00:45] Amithab commented on #7408
I get something similar to this while trying to add fixture. Here's my directory structure coming from (https://stackoverflow.com/a/50610630):
[code]
Repo is at: https://github.com/Amithab/pytest_issue
I've tried various combinations of \_\_init\_\_.py and conftest.py plus the `--import-mode` flag.
pytest version - 6.0.1
I keep getting a `ModuleNotFoundError` for either mypkg or eggs
I want to cre

[2020-08-09 01:46] Nitin4994 commented on #7630
C:\Users\hp>pip list
Package                Version
---------------------- ---------
appdirs                1.4.4
atomicwrites           1.4.0
attrs                  19.3.0
certifi                2020.6.20
cffi                   1.14.1
click                  7.1.2
colorama               0.4.3
cryptography           3.0
distlib                0.3.1
Django                 2.2.7
ecdsa

[2020-08-09 05:54] Zac-HD commented on #7628
Hi @naugustin - can you share a reproducing example that we can run?  The test output helps, but being able to replay your problem locally is a lot better :slightly_smiling_face:

[2020-08-09 22:31] sjjessop opened #7632 "Lambda in multi-line assert statement in test is incorrectly reported as "didn't finish" by coverage tool"
# Summary

When an assert statement has multiple lines, and one of the lines has a lambda in it, then even if the lambda is called I get a partial miss reported, with the message "line X didn't finish the lambda on line X". I discovered this using pytest-cov, but it happens under pytest without pytest-cov so I figure I should report it here.

It doesn't happen when running the same code under cove

[2020-08-09 22:37] sjjessop commented on #7632
You might ask why I'm bothering to run coverage on my test code, to which the answer is it occasionally helps me find bugs in the tests, since I have no skipped tests in this project and I never intend to write test code that won't run! I know how to workaround the issue by marking the offending lines ``# pragma: no cover``, which for test code isn't scaring me ;-)

[2020-08-10 01:34] altendky commented on #7623
@bluetech, thanks for the quick response and PR and sorry for the delayed response.  Some family stuff came up.  After a quick look, the results look fairly similar.  I have not had a chance yet to go through your PR.

https://github.com/altendky/qtrio/pull/138/checks?check_run_id=964765802

https://gist.github.com/altendky/bda0c3f59f9ace5e7432c464b5fe4355#file-gistfile1-txt-L871
[code]

https://g

[2020-08-10 02:19] altendky commented on #7623
with: https://github.com/pytest-dev/pytest/pull/7627/files#r467657738
looks ok: https://github.com/altendky/qtrio/pull/138/checks?check_run_id=964937422

[2020-08-10 09:39] YYYGH opened #7633 "why pytest log has arrow symbol when out put log to file?"
- This is my logs, I got it from the report directory xxx-attachment.txt file. Where do those arrow symbols come from?
[code]

- python version: 3.8.4
pytest==5.4.3
- system version: windows7
- log config:
[code]

[2020-08-10 13:42] nicoddemus commented on #1477
I agree that updating it seems more trouble than it is worth, because that same information is already available in other places.

👍 for removing it then.

[2020-08-10 14:03] zerfuy opened #7634 "Access violation with pytest >= 5.0.0 and windows 10"
## A detailed description of the bug or suggestion:

So, I used to run tests on windows 10 using pytest 3.x.x and custom plugins but I recently upgraded to pytest 5.x.x.
Since then, each time I run a test featuring a call to a DLL using pythonnet 2.5.1, I get a generic windows access violation error.
Even though I found similar cases online, each time accepted fix seemed to be to downgrade pytest

[2020-08-10 14:05] The-Compiler commented on #7632
Can you try with newer versions of pytest and coverage? I can't reproduce with pytest 6.0.1, coverage 5.2.1 and Python 3.8.5 on Linux:

![image](https://user-images.githubusercontent.com/625793/89791252-571bcf00-db23-11ea-8316-4796e32a104a.png)

[2020-08-10 14:08] The-Compiler commented on #7632
Actually I can reproduce this in the same environment with coverage 4.5.4, but not 5.2.1. Thus, I don't think there's anything for pytest to do here.

[2020-08-10 14:08] #7632 closed

[2020-08-10 14:13] Zac-HD commented on #7633
Looks like a problem with ANSI escape codes for colored output.

Related links: https://en.wikipedia.org/wiki/ANSI_escape_code , https://no-color.org/ , https://docs.pytest.org/en/stable/reference.html#envvar-PY_COLORS

[2020-08-10 19:59] naugustin commented on #7628
Thank you.

I mimicked my fixture order with simple script. I am able to reproduce it. please find attached the script. Simply unzip under c:\ and run below command.
[test.zip](https://github.com/pytest-dev/pytest/files/5053060/test.zip)

pytest -s -v --show-capture=no \test\test\tests\dummy_test.py
============================= test session starts =============================
platform win32 -- P

[2020-08-11 00:27] sjjessop commented on #7632
Thanks, upgrading for coverage fixes with my versions of everything else. I'm guessing this is too minor to justify bumping the version limit for pytest-cov's dependency on coverage? Or is this the wrong repo to decide that?

[2020-08-11 01:02] nicoddemus commented on #7632
Hi @sjjessop, you can bring that up in https://github.com/pytest-dev/pytest-cov. 👍

[2020-08-11 06:20] RonnyPfannschmidt commented on #7628
can you try with pytest master, i recall that @bluetech just recently landed some enhancements for path handling that might help that (i don't have a windows box)

[2020-08-11 09:07] tim-oh commented on #349
Does [pytest-lazy-fixture](https://github.com/TvoroG/pytest-lazy-fixture) provide a solution to the original issue?

[2020-08-11 09:15] The-Compiler commented on #349
@tim-oh See https://github.com/pytest-dev/pytest/issues/349#issuecomment-457355792 and https://github.com/pytest-dev/pytest/issues/349#issuecomment-478915992

[2020-08-11 11:48] smarie commented on #349
@tim-oh : see https://github.com/pytest-dev/pytest/issues/349#issuecomment-501796965 , I updated it a bit so that it contains all information at once.

[2020-08-11 11:55] tim-oh commented on #349
Thanks @The-Compiler @smarie

TLDR; [pytest-lazy-fixture](https://github.com/TvoroG/pytest-lazy-fixture) works for un-parametrised fixtures (it did the job nicely for me) whereas [pytest-cases](https://smarie.github.io/python-pytest-cases/) can handle more complex scenarios.

[2020-08-11 12:18] The-Compiler commented on #7634
Not much we can do without having a way to reproduce this... However, something that might help to find the issue (whether that's in pytest or in your DLL) is a [git bisect](https://git-scm.com/docs/git-bisect). This tells us which commit in pytest exactly introduces the issue, by letting git always test the middle between two commits.

To do so, run something like this (untested):

- `git clone h

[2020-08-11 13:05] nicoddemus commented on #7628
I can reproduce the problem even with current `master`. The key to make this fail is to use an absolute path but without the drive letter:

[code]

Including the drive letter the test passes:

[code]

I can investigate this later. 👍

[2020-08-11 13:06] nicoddemus commented on #7628
Quick hunch in case somebody wants to investigate this before me:

[code]

[2020-08-11 13:48] nicoddemus commented on #7628
@naugustin meanwhile a workaround is to pass the full path including the drive letter.

[2020-08-11 17:16] naugustin commented on #7628
Thank you.

Yes. it works if i specify the test file starting with C:\

[2020-08-11 20:29] mcsitter commented on #7628
I ran the code from above in Python 3.8.5 and could not reproduce the results. Both comparisons result in False. I ran this in the context of my C: drive.
[code]
Also running `pytest` in the directory of the extracted `test.zip` provided above discovers a test in `tests\dummy_test.py` which passes.

[2020-08-11 21:18] mcsitter commented on #7596
I would happily pick this up! I also came across links with broken pages in the past for example on #1477 in which i also noted the missing `en` in the link. There are other examples as well!

Sadly I have no idea how to tackle this. The only thing i know is that the `404.html` created from the tox test renders as expected.
The browser console reports that on the linked broken pages the imports fr

[2020-08-11 21:21] webknjaz commented on #7596
@mcsitter normally, base Jinja templates are part of the theme that is pip-installed. Try looking it up.

[2020-08-11 21:26] webknjaz commented on #7596
This is the theme used: https://github.com/pallets/pallets-sphinx-themes/tree/master/src/pallets_sphinx_themes/themes/flask. That in turn inherits https://github.com/pallets/pallets-sphinx-themes/tree/master/src/pallets_sphinx_themes/themes/pocoo.

And so here it is: https://github.com/pallets/pallets-sphinx-themes/blob/master/src/pallets_sphinx_themes/themes/pocoo/static/version_warning_offset.js

[2020-08-12 07:44] zerfuy commented on #7634
Hello, and thanks a lot for your help.

Git bisect was able to pinpoint the "broken" commit, which in the end was the following:

[code]

which makes me think it could be related to the issue #7059 and/or #7022.
The nice thing about this is that I now have a workaround, but as stated in the issue #7059 "it would be nice to understand why commit a37b902 causes such a problem".

Thanks in advance fo

[2020-08-12 09:09] The-Compiler commented on #7634
The faulthandler integration is just what's printing the "Windows fatal exception: access violation" output. If I had to guess, I'd say the access violation was already happening earlier (In a thread, hence why it's not aborting pytest itself?), it's just that nothing ever told you about it?

What happens if you run with pytest 4.6.11 but run `python -X faulthandler -m pytest ...` instead?

[2020-08-12 09:31] zerfuy commented on #7634
When running that command, I do not get any unexpected output.

[code]

[2020-08-12 09:54] RonnyPfannschmidt commented on #7634
To me this looks like the memory layout may be part of the trigger for the fault

I suspect an issue in the c library causes the issue, on Linux one would use a memory debugger now, I'm unfamiliar with the tools to use on Windows for such a issue

[2020-08-12 11:02] The-Compiler commented on #7634
Some more things that might be interesting:

- 4.6.11 and `python -X faulthandler -m pytest -s tmp.py` (I forgot that pytest would capture the default faulthandler output...)
- 5.x and `pytest -p no:faulthandler tmp.py` (I assume that works fine?)
- 5.x and `python -X faulthandler -m pytest -p no:faulthandler -s tmp.py` (newer pytest, Python faulthandler instead of pytest's integration)

What abou

[2020-08-12 11:08] mcsitter commented on #7596
I had a look into this. Thank you for pointing me there! I was only familiar with the django template language, so this was useful. Hoewever putting full urls into the links for css and js in the head of the html seems clunky, complicated and unflexible. Since the styling is also served on the same domain.

The issue is not the html i believe. It is that people land on pages with broken links, whe

[2020-08-12 11:22] 7xMind opened #7636 "How to Run the Tests of Django Third-Party apps Using Pytest"
How can I run the tests of third party apps? With the default Django test runner, it would be as trivial as issuing: `./manage.py <name_of_the_installed_app>`

But this seems not to be the case with pytest. If I install a third-party app and put it inside the istalled_app, how can I run the app's tests using pytest?

If I install my desired app using pip, and I add it to the list of installed apps

[2020-08-12 12:13] zerfuy commented on #7634
outputs :

**pytest 4.6.11**
**python -X faulthandler -m pytest -s tmp.py**
[code]
**pytest 5.4.3**
**python -X faulthandler -m pytest -p no:faulthandler -s tmp.py**

[code]

**pytest 5.4.3**
**pytest -p no:faulthandler tmp.py**
[code]

So yeah... that seems conclusive, I will happily settle with saying the issue is in the DLL, and that pytest actually suffered no regression (on the contrary).

[2020-08-12 13:15] The-Compiler commented on #7634
Yep, definitely looks like this isn't pytest fault, only that the faulthandler introduction made you aware of an issue in your DLL. Closing this then!

[2020-08-12 13:15] #7634 closed

[2020-08-12 17:47] #1477 closed

[2020-08-12 20:12] nicoddemus opened #7638 "get_dirs_from_args() breaks on Windows with options that include full paths"
pytest-xdist rsync feature uses options in the command line that looks like files, but can themselves point to full paths:

[code]

(From https://ci.appveyor.com/project/pytestbot/pytest-xdist/build/job/r7el1489cu4ipfmp).

Preparing a PR shortly. 👍

[2020-08-12 21:34] asmeurer opened #7640 "Showing stack traces on KeyboardInterrupt"
Right now, the default behavior of pytest when you keyboard interrupt it is to hide the traceback, and print a message saying that you can show it with --full-trace.

I would like to suggest that it should instead always show the full traceback by default. Sometimes a test will randomly get stuck in an infinite loop. My only hope of debugging it is if I interrupt and see a traceback. I can't alway

[2020-08-12 22:34] nicoddemus commented on #7628
You need to be in the same drive as the drives of the paths being used. If you are on the C: drive, you should use `C:` paths, because `absolute()` will use the current directory to construct the full path. In the examples above, just replace `d:` by `c:` and you will see the same results.

It is important to pass the *full path without a drive letter* to pytest, so if you extracted that zip to `C

[2020-08-13 10:38] kydbakep commented on #3216
[gw4] [ 96%] PASSED tests/warehouse/test_warehouse_supplier_refunds.py::TestDeleteSupplierRefund::test_delete_refund_after_delete_cell
10:32:56
  [gw5] [ 96%] PASSED tests/warehouse/test_warehouse_supplier_refunds.py::TestDeleteSupplierRefund::test_delete_refund_after_good_has_become_serial
10:32:56
  [gw3] node down: Not properly terminated
10:32:56
  [gw3] [ 96%] FAILED tests/warehouse/test_ware

[2020-08-13 20:41] iakremnev opened #7642 "Specify fixture parameter in test function."
## Problem

Suppose I have a parametrized fixture function defined in `conftest.py`, parameter types are classes defined in `conftest.py` as well. All this fixture does is instantiating class objects. I run several tests against all fixture instances, and then there's also a test I want to run against only one fixture specialization. What is the designed way to do this?

Original [question](https:

[2020-08-13 21:17] iwanb commented on #7640
I concur that having a traceback on KeyboardInterrupt by default would be handy, as typically you see that your test is stuck for too long, you type Ctrl+C and have nothing to debug further. It could be a reduced traceback if we want to avoid cluttering the output.

[2020-08-14 07:21] bluetech commented on #7640
I am -1 on this particular point. I think in the majority of cases the Ctrl-C is used to just stop pytest once the relevant information has been gleaned, not to debug a particular test.

As for the other suggestions, maybe we can do them, depends on the details. Best would be to avoid a flag, pytest already has enough of those!

BTW, what I usually do in these cases is re-run the testsuite with `p

[2020-08-14 07:36] bluetech commented on #7636
Can you give a particular example of a 3rd-party app which allows you to run tests in this way?

[2020-08-14 09:37] The-Compiler commented on #7640
FWIW to debug hanging tests, you can also set e.g. `faulthandler_timeout = 30` in the config, which will show you a stacktrace when a test hangs for more than 30 seconds.

[2020-08-14 14:52] bobobox opened #7646 "Documentation error in Getting Started, re. grouping tests in classes"
In the "Getting Started" document, in section "Group multiple tests in a class" (https://github.com/pytest-dev/pytest/blob/master/doc/en/getting-started.rst#group-multiple-tests-in-a-class), the document states:

However, in what is shown below, **both** tests are demonstrated to share the same instance of the class, at `0xdeadbeef`.

This seems to demonstrate the opposite of what is stated (that

[2020-08-14 18:54] RonnyPfannschmidt commented on #7646
@bobobox thanks for bringing this to attention, we have a script that makes those auto generated output sections snippets more diff-friendly replacing all addresses with 0xdeadbeef as of now, we ought to investigate if we can get it changed to something like `0xfake{someindex}`

[2020-08-14 19:28] asmeurer commented on #7640
But I don't understand what the problem is with showing the traceback, even if you aren't interested in seeing it. If it's there but you don't want to see it, that's not a big deal, but if it's hidden but you wanted to see it, it is a problem.  And already when you Control-C it shows the failures up to that point, so it's not like interrupting the tests is a clean operation in terms of not printin

[2020-08-15 12:17] #7638 closed

[2020-08-15 13:57] nicoddemus commented on #7620
Yeah a bit, what happens is:

We want to issue warnings during the configure stage. Unfortunately at that stage, it might happen that the `warnings` plugin has not even been configured yet, so warnings issued using `warnings.warn` would not be captured at all.

The workaround devised at the time was to call `_issue_warning_captured`, which calls `warnings.warn` but also manually triggers `pytest_w

[2020-08-15 15:27] nicoddemus commented on #7620
Actually for this specific warning it seems it is possible, see #7649.

[2020-08-15 15:29] nicoddemus commented on #7630
Not really sure how to investigate this, I cannot reproduce the problem.

[2020-08-15 16:37] organicnz opened #7650 "ImportError: cannot import name 'console_main' on Docker"
Yo folks,

I've tried to run a few tests including py.test on Docker, but it shows an error.
Could you help me out pls to handle this one? :)

[code]

Dockerfile
[code]

docker-entry.sh
[code]

[2020-08-15 16:43] nicoddemus commented on #7650
Hi @organicnz,

That docker image seems to have a pytest installed in `/usr/bin/py.test`, is that the same `pytest` you installed?

I suggest changing `py.test --alluredir...` to `python3 -m pytest --alluredir...` in your `docker-entry.sh` file to make sure you are using the pytest you are installing.

For context:

Older pytest versions defined `main` as the entry point function, but we have rena

[2020-08-15 22:48] mje-nz opened #7652 "Can't use relative imports from conftest.py in test package with --import-mode=importlib"
- [ ] a detailed description of the bug or suggestion
- [ ] output of `pip list` from the virtual environment you are using
- [ ] pytest and operating system versions
- [ ] minimal example if possible

With tests outside application code in a tests package containing conftest.py, `pytest --import-mode=importlib` doesn't import conftest as part of the package.

## Example
Files:
[code]
Repro:
[code